/*

  Booking box

*/

.booking-box {
  background-color: #fff;
  border: $light-grey 1px solid;
  @include border-radius(5px);
  border-radius: 5px;
  width: 300px;
  float: left;
  padding: 20px;
  text-align: center;
  color: $dark-grey;

  .icon{
    margin: auto;
  }

  .profile-lg {
    margin: -140px auto 10px auto;
  }

  #people {
    width:47px;
  }

  #date {
    width:110px;
  }

  #time {
    width:100px;
  }

  #experience_price {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
  }

  .row {
    text-align: center;
    margin: auto;
  }

  .box-heading {
    font-weight: normal;
    border-bottom: 1px solid $light-grey;
    padding-left: 0;
  }

  .box-row {
    height: 40px;
  }

  .box-cell {
    position: relative;
    text-align: left;
    padding-top: 8px;
  }

  select {
    border: 1px solid $light-grey;
    border-radius: 3px;
    height: 30px;
  }

  input {
    height: 30px;
  }

  .box-section {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 10px 0;
  }

  .btn-lg {
    font-size: 14px;
    height: 50px;
    border-radius: 2px;
    margin: 10px auto;
  }

  .badge {
    background-color: white;
    border: 1px solid $light-grey;
    color: $dark-grey;
    font-weight: normal;
    float: right;
  }

  .option {
    width: 100%;
    height: 35px;
    padding: 10px 0;
    vertical-align: middle;
  }

  .option-name {
    float: left;
    line-height: 25px;
    display: inline-block;
  }

  .option-price, 
  .option-amount {
    float: right;
    margin-left: 10px;
    line-height: 25px;
    display: inline-block;
  }

  .option-amount {
    height: 25px;
  }

  .weather {
    display: inline-block;
  }
}

.date-box {
  position: relative;
  width: 100px;
}



.collapse-group-toggle {
  color: $dark-grey;
  text-align: left;
  display: block;
  &:hover,
  &:active,
  &:focus {
    color: $dark-grey;
    text-decoration: none;
  }
}

.booking-tip {
  width: 100%;
  height: 50px;
  position: relative;
  display: block;
  img {
    position: absolute;
    left: 0;
  }
  p {
    position: absolute;
    left: 50px;
    top: 10px;
    line-height: 1.2;
    font-size: 12px;
    text-align: left;
  }
}

.save-to-wishlist {
  border: 1px solid $light-grey;
  color: $dark-grey;
  height: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 3px;
  padding: 5px 55px;

  .description {
    display: inline;
    float: right;
    text-align: left;
  }

  h3 {
    margin: 4px 4px 0 0;
    padding-bottom: 0;
  }

  p {
    font-size: 12px;
    color: $light-grey;
  }
}

.save_to_wishlist_not_added {
  background-image: url("../img/heart_large_red.svg");
}

.save_to_wishlist_added {
  background-image: url("../img/heart_large_filled.svg");
}
