/*

  Experience box

*/

.exp-box {
  float: left;
  width: 100%;
  margin: 20px 20px 20px 0px;
  text-align: left;

  @include media('>tablet') {
    width: 300px;
    height: 350px;
  }

  h3 {
    font-size: 14px;
    color: $slate-grey;
    font-weight: 500;
    @include media('<tablet') {
      margin-left: 30px;
    }
  }
  p {
    color: $dark-grey;
    font-size: 12px;
    @include media('<tablet') {
      margin-left: 30px;
    }
  }

  .profile-frame-sm {
    width: 66px;
    height: 66px;
    float: right;
    margin-left: 15px;
    @include media('<tablet') {
      margin-right: 30px;
    }
  }

  .profile-sm {
    width: 60px;
    height: 60px;
    border: 1px solid $light-grey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .listing-description {
    height: 70px;
    margin-bottom: 15px;
    overflow: hidden;
  }

  .listing-img {
    height: 200px;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0;
    text-align: center;
    @include media('>tablet') {
      width: auto;
    }

    h1, h2 {
      color: white;
      font-weight: normal;
      margin-top: 0;
    }
  }

  .listing-img-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .listing-footer {
    border-top: $light-grey solid 1px;
    font-size: 12px;
    padding-top: 5px;
    color: $dark-grey;
    @include media('<tablet') {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

.exp-type {
  padding-bottom: 10px;

  @include media('<tablet') {
    margin-left: 20px;
  }

  img {
    display: inline-block;
  }
  h3 {
    display: inline-block;
    color: $dark-grey;
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
  }
}

.price-box-sm {
  width: 120px;
  border: 1px solid #ccc;
  text-align: center;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin: 0 10px 0 10px;
  border-radius: 3px;
}

.price-box-sm p {
  font-weight: normal;
  margin-left: 0;
}
