/*
  Footer
*/

.footer {
  clear: both;
  background-color: #333;
  padding-bottom: 20px;
  padding-top: 50px;

  h5 {
    color: white;
    margin-top: 0;
    font-size: 18px;
  }

  a {
    color: $medium-grey;
    margin-bottom: 4px;
    &:hover {
      color: #ddd;
    }
  }

  .caret {
    float: right;
    position: relative;
    top: 7px;
  }

  .container {
    @include media('<tablet') {
      width: 300px;
    }
  }
}

.footer-head {
  text-align: center;
  @include media('<tablet') {
    padding-bottom: 20px;
    padding-left: 0;
  }
  select {
    height: 50px;
    width: 210px;
    margin: auto;
    border-radius: 0;
  }
}

.footer-logo {
  background-size: 210px;
  background-repeat: no-repeat;
  margin: auto;
  background-position: 45% 45%;
  height: 175px;
  @include media('<=tablet') {
    display: none;
  }
}

.footer-body {
  float: right;
  width: 500px;
  margin-left: 50px;
  text-align: center;
}

.footer-line {
  border-top: 1px $medium-grey solid;
  clear: both;
  margin: auto;
  padding: 20px;
  text-align: center;
  p {
    color: $medium-grey;
  }
}

.social {
  @include media('<tablet') {
    display: none;
  }
}

.footer-col {
  padding-left: 0;
}

.footer-col li:first-child {
  margin: 0 0 13px;
}

.footer-col li {
  margin: 6px 0;
}
