/*

  Forms

*/


// Search-form

.field-header {
  font-size: 14px;
  color: $dark-grey;
  display: inline-block;
  font-weight: normal;
  margin: 0;
  margin-right: 20px;
}

label {
  font-weight: normal;
}

.input-sm {
  width: 105px;
  border: 0;
  border-radius: 0;
  border-left: $light-grey 1px solid;
  height: 40px !important;
  padding: 0;
  text-align: center;
}
.input-group-addon {
  display: none;
}

.form-control:focus {
  border-color: $primary-color;
}

// Tags
.tag-box {
  float: left;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  border: 1px solid white;
  height: 30px;
  vertical-align: middle;
  padding-top: 3px;
  padding-left: 10px;

  .tag-selected, .tag-non-selected {
    font-weight: normal;
    text-transform: lowercase;
    margin: 0;
    vertical-align: middle;
  }

}

.tag-box-selected {
  border: 1px solid #ccc;
  background-color: white;
}

.tag-button {
  border: 0;
  background-color: transparent;
  margin: 0 5px;
  background-size: contain;
  height: 10px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

// Image upload
.placeholder {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: inline-block;
  img {
    margin-right: 10px;
    margin-bottom: 2px;
  }
}

// Phone number boxes
.phone-box {
  position: relative;

  .dropdown {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .dropdown-toggle {
    border-color: transparent;
    background-color: transparent;
    &:hover,
    &:active {
     border-color: transparent;
     background-color: transparent;
     color: $medium-grey;
    }
  }
  input {
    padding-left: 50px;
  }
  .flag {
    color: white;
  }
}
