/*

  Header

*/

.navbar {
  background-color: white;
  margin: 0;
  font-size: 14px;
  color: $dark-grey;
  height: 51px;
  text-align: center;
  border-bottom: 1px solid $light-grey;
  a {
    color: $dark-grey;
  }

  .btn-primary, .btn-secondary, .btn-clear {
    min-width: 75px;
  }

  .navbar-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .main-menu {
    font-weight: 500;
    display: inline-block;
    float: none;
    vertical-align: top;

    @include media('<tablet') {
      display: none;
    }
    a {
      padding: 15px 0 0 0;
      margin: 0 20px 12px 20px;
      border-bottom: 3px solid white;
    }
    a:hover, a:focus, .current {
      background-color: white;
      border-color: $primary-color;
    }
    @include media('<desktop') {
      a {
        margin: 0 10px 12px 10px;
      }
    }
  }



  .navbar-brand {
    display: block;
    padding: 8px 15px 5px 15px;
    @include media('<tablet') {
      margin-left: auto;
      margin-right: auto;
      width: 115px;
      float: none;
      padding-left: 0;
    }
  }

  .navbar-right {
    margin-right: 5px;
    margin-left: 5px;
    @include media('<tablet') {
      display: none;
    }
  }

  .navbar-text {
    margin-left: 15px;
    margin-right: 10px;
  }
  .caret {
    margin-left: 10px;
  }

  .navbar-toggle {
    color: $light-grey;
  }
}

.navmenu {
  text-align: left;
  background-color: white;
  color: $dark-grey;
  padding-left: 15px;
  padding-top: 20px;
  width: 250px;
  z-index: 2050;
}

.navbar-default, .navbar-collapse {
  background-color: white;
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin: 0;
  }
}
