/*

  User settings pages
  eg. mylisting, mytrip, myprofile, myaccount, etc.

*/

.content-area {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Menu bar
.tab_area {
  background-color: white;
  border-top: solid 1px $light-grey;
  height: 45px;
  border-bottom: solid 1px $light-grey;
  .container {
    @include media('<phone') {
      padding: 0;
    }
  }
}

.tab_item {
  margin-top: 10px;
  a {
    color: $dark-grey;
    margin: 10px;
    &:hover {
      color: $primary-color;
    }
  }
}

.form-width-lg {
  width: 280px;
  margin-right:20px;
  @include media('<phone') {
    width: 100%;
  }
}

#active-tab {
  color: $primary-color;
}

// My Profile form
.rightInterface {
  float: right;
  width: 700px;
  background-color: white;
  border: $light-grey 1px solid;
  @include border-radius(5px);
  padding: 20px;
  margin-bottom: 20px;
  @include media('<desktop') {
    display: block;
    float: none;
  }
  @include media('<tablet') {
    width: 90%;
    margin: 15px auto;
  }
  p {
    margin-bottom: 10px;
  }
}

.leftsubMenu {
  width: 220px;
  float: left;
  background-color: white;
  border: $light-grey 1px solid;
  @include border-radius(5px);
  padding: 15px;
  @include media('<desktop') {
    display: block;
    float: none;
    margin-bottom: 20px;
  }
  @include media('<tablet') {
    width: 30%;
    margin: 0 auto 20px auto;
  }
  a {
    color: $dark-grey;
    &:hover {
      color: $primary-color;
    }
  }
}
