/*

  Sticky items

*/

.stickem-container {
  position: relative;
}

.stickit {
  position: fixed;
  top: 0;
  padding-top: 200px;
}

.stickit-end {
  bottom: 80px;
  position: absolute;
}

@include media('<desktop') {
  .stickit {
    position: relative;
    padding-top: 0;
  }
}
