{% extends "app/layout.html" %}

{% block head %}
    {% load i18n %}
    {% load account %}
    {% load url from future %}
    {% load staticfiles %}
    <link href="{% static 'app/content/signup_login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<section class="modal--fade is-active" id="modal-fade" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="inner">
        <div class="content">
            {% if socialaccount.providers  %}
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                <canvas id="myCanvasOne"></canvas>
                <div class = "loginOption"><p>or</p></div>
                <canvas id="myCanvasTwo"></canvas>
                <script>
                  var canvasOne = document.getElementById('myCanvasOne');
                  var context = canvasOne.getContext('2d');
                  context.beginPath();
                  context.moveTo(0,50);
                  context.lineTo(1000,50);
                  context.stroke();
                  var canvasTwo = document.getElementById('myCanvasTwo');
                  var contextTwo = canvasTwo.getContext('2d');
                  contextTwo.beginPath();
                  contextTwo.moveTo(0,50);
                  contextTwo.lineTo(1000,50);
                  contextTwo.stroke();
                </script>
                {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}

            <form id="login_form" class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <p>{{ form.login }}</p>
                <p id="id_login_error" style="color:#FF5E5E"></p>

                <p>{{ form.password }}</p>
                <p id="id_password_error" style="color:#FF5E5E"></p>

                <p>{{ form.remember }} {% trans "Remember me"%}<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <p><button id="login_button" class="btn btn-primary btn-lg" type="submit">{% trans "Log In" %}</button></p>
                <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>{% endblocktrans %}</p>
            </form>
        </div>
    </div>
</section>
{% if form.errors%}
<script charset="utf-8" type="text/javascript">
    $("#id_password_error").text("{% trans "Wrong email or password" %}");
</script>
{%endif%}
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp( /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
    return pattern.test(emailAddress);
};

function checkEmail()
{
    email=$('#id_login').val().trim();
    if(email==""){
        $("#id_login_error").text("{% trans "This can not be empty" %}");
        return false;
    }else if(!isValidEmailAddress(email)){
        $("#id_login_error").text("{% trans "Please enter a valid email" %}");
        return false;
    }
    else{
        $("#id_email_error").text("");
        $("#id_login_error").text("");
        return true;
    }
}

function checkInput(id_put, id_error)
{
    input = $('#'+id_put).val().trim();
    if(input==""){
        $("#"+id_error).text("{% trans "This can not be empty" %}");
        return false;
    }else{
        $("#"+id_error).text("");
        return true;
    }
}

//validate email
    $("#id_login").blur(function(){
        //checkEmail();
    });

//validate password
    $("#id_password").blur(function(){
        //checkInput("id_password", "id_password_error");
    });

$(function(){
    $(document).ready(function(){
        {% if socialaccount.providers  %}
        $("#id_Facebook").attr("class", "socialaccount_provider facebook");
        $("#id_Facebook").attr("role", "button");
        {% endif %}

        $("#id_login").attr("autofocus", "autofocus");

        $("#id_login").attr("placeholder", "{%trans "Email"%}");
        $("#id_password").attr("placeholder", "{%trans "Password"%}");

        $("#login_button").bind("click", function(e){
            e.preventDefault();

            if(checkEmail() && checkInput("id_password", "id_password_error"))
            {
                mixpanel.people.set({"$last_seen": new Date().toString()});
                mixpanel.identify($("#id_login").val());
                if ($(window).width() < 768) {
                  mixpanel.track("signed in via mobile site");
                } else {
                  mixpanel.track("signed in via website");
                }
                $("#login_form").submit();
            }
        })
    })
})
</script>
{% endblock %}
