{% block head %}
    {% load i18n %}
    {% load account %}
    {% load url from future %}

    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <link href="{% static 'app/content/tripalocal.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/tripalocal.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/modal.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/reset_password.css' %}" rel="stylesheet"/>
    {% if form %}
        {{ form.media }}
    {% endif %}
{% endblock %}

{% block content %}
<section class="modal--fade is-active" id="modal-fade" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="modal-inner">
        <div class="modal-content">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="." class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary btn-lg" name="action" value="{% trans "change password" %}"/>
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
