{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <title>{% trans "Change Password" %}</title>
    <link href="{% static 'app/content/reset_password.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="tab_area">
        <div class="fixCenter">
            <div class="tab_item">
                <a href="{{ GEO_POSTFIX }}mylisting">{% trans "My Listing" %}</a>
                <a href="{{ GEO_POSTFIX }}mytrip">{% trans "My Trip" %}</a>
                <a href="{{ GEO_POSTFIX }}myprofile">{% trans "My Profile" %}</a>
                <a href="#" id="active-tab">{% trans "My Account" %}</a>
            </div>
        </div>
    </div>

    <div class="row row-area">
        <div class="content-area fixCenter">
            <div class="leftsubMenu">
                <p>{% trans "Setting" %}</p>    
            </div>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <div class="rightInterface">
                    <p id="right_box">{% trans "Change Your Password" %}</p>
                    <hr>

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.message == user.id|stringformat:"s"|add:"_PasswordChanged" %}{% trans "You have successfully changed your password." %}{% endif %}
                        {% endfor %}
                    {% endif %}

                    <table>
                        <tr>
                            <td>
                                <div>
                                    <p>{% trans "Old Password" %}</p>
                                    <div class="form-group">
          		                        {{ form.oldpassword}}
        	                        </div>
                                    {% if 'oldpassword' in form.errors%}
                                    <p>{{form.oldpassword.errors.as_text}}</p>
                                    {%endif%}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <p>{% trans "New Password" %}</p>
                                    <div class="form-group">
          		                        {{ form.password1}}
                                    </div>
                                    {% if 'password1' in form.errors%}
                                    <p>{{form.password1.errors.as_text}}</p>
                                    {%endif%}
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>{% trans "Repeat Password" %}</p>
                                    <div class="form-group">
                                        {{ form.password2}}
                                    </div>
                                    {% if 'password2' in form.errors%}
                                    <p>{{form.password2.errors.as_text}}</p>
                                    {%endif%}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p></p>
                    <button class="btn btn-primary btn-sm" type="submit" name="action">{% trans "Update Password" %}</button>
                </div>  
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
    $(document).ready(function(){
        $("#id_oldpassword").attr("class", "form-control form-width-lg");
        $("#id_password1").attr("class", "form-control form-width-lg");
        $("#id_password2").attr("class", "form-control form-width-lg mg-r-20");
    })
</script>
{% endblock %}
