{% block head %}
    {% load i18n %}
    {% load account %}
    {% load url from future %}

    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <link href="{% static 'app/content/tripalocal.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/tripalocal.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/modal.css' %}" rel="stylesheet">
    {% if form %}
        {{ form.media }}
    {% endif %}
{% endblock %}

{% block content %}

<section class="modal--fade is-active" id="modal-fade" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="modal-inner">
        <div class="modal-content">
            <h1>Reset Password</h1>
            <p>Enter the email address associated with your account, and we'll email you a link to reset your password.</p>
    
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="input-group">
                {{ form.email }}
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="{% trans "Send Reset Link" %}" />
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
        $("#id_email").attr("type", "text");
        $("#id_email").attr("class", "form-control");
        $("#id_email").attr("placeholder","Email address");
    </script>
{% endblock %}
