{% extends "app/layout.html" %}

{% block head %}
    {% load i18n %}
    {% load account %}
    {% load url from future %}
    {% load staticfiles %}
    <link href="{% static 'app/content/reset_password.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<section class="modal--fade is-active" id="modal-fade" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="resetPassword-inner">
        <div class="content">
            <form method="POST" action="{% url 'account_reset_password' %}" id="password_reset_form">
                {% csrf_token %}
                <span class = "resetTitle">Reset Password</span>
                <p class = "resetintro">Enter the email address associated with your account, and we'll email you a link to reset your password.</p>
                {% if form.email.errors %}
                    {% with error=form.email.errors.0 %}
                        <p id="id_email_error">{{ error|escape }}</p>
                    {% endwith %}
                {% endif %}
                <p>{{ form.email }}</p>
                <p><input id="reset_button" type="submit" value="{% trans "Send Reset Link" %}" /></p>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
        $("#id_email").attr("type", "text");
        //$("#id_email").attr("class", "form-control");
        $("#id_email").attr("placeholder","Email address");
    </script>
{% endblock %}
