{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <title>{% trans "Change Password" %}</title>
    <link href="{% static 'app/content/reset_password.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="tab_area">
        <div class="container">
            <div class="tab_item">
                <a href="{{ GEO_POSTFIX }}mylisting">{% trans "My Listing" %}</a>
                <a href="{{ GEO_POSTFIX }}mytrip">{% trans "My Trip" %}</a>
                <a href="{{ GEO_POSTFIX }}myprofile">{% trans "My Profile" %}</a>
                <a href="#" id="active-tab">{% trans "My Account" %}</a>
            </div>
        </div>
    </div>

    <div class="row row-area">
        <div class="content-area container">
            <div class="leftsubMenu">
                <p>{% trans "Setting" %}</p>
            </div>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <div class="rightInterface">
                    <h2 id="right_box">{% trans "Change Your Password" %}</h2>
                    <hr>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.message == user.id|stringformat:"s"|add:"_PasswordChanged" %}{% trans "You have successfully changed your password." %}{% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                      <label>{% trans "Old Password" %}</label>
                      {{ form.oldpassword}}
                      {% if 'oldpassword' in form.errors%}
                      <p>{{form.oldpassword.errors.as_text}}</p>
                      {%endif%}
                    </div>
                      <div class="form-group" style="display:inline-block;">
                        <label>{% trans "New Password" %}</label>
                        {{ form.password1}}
                        {% if 'password1' in form.errors%}
                        <p>{{form.password1.errors.as_text}}</p>
                        {%endif%}
                      </div>
                      <div class="form-group" style="display: inline-block;">
                        <label>{% trans "Repeat Password" %}</label>
                        {{ form.password2}}
                        {% if 'password2' in form.errors%}
                        <p>{{form.password2.errors.as_text}}</p>
                        {%endif%}
                      </div>
                    <button class="btn btn-primary btn-sm" type="submit" name="action">{% trans "Update Password" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
    $(document).ready(function(){
        $("#id_oldpassword").attr("class", "form-control form-width-lg");
        $("#id_password1").attr("class", "form-control form-width-lg");
        $("#id_password2").attr("class", "form-control form-width-lg mg-r-20");
    })
</script>
{% endblock %}
