{% extends "app/layout.html" %}

{% block head %}
    {% load i18n %}
    {% load account %}
    {% load url from future %}
    {% load staticfiles %}
    <link href="{% static 'app/content/signup_login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="modal--fade is-active" id="modal-fade" tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">
    <div class="signup-inner">
        <div class="content">
            {% if socialaccount.providers  %}
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                <canvas id="myCanvasOne"></canvas>
                <div class = "loginOption"><p>or</p></div>
                <canvas id="myCanvasTwo"></canvas>
                <script>
                  var canvasOne = document.getElementById('myCanvasOne');
                  var context = canvasOne.getContext('2d');
                  context.beginPath();
                  context.moveTo(0,50);
                  context.lineTo(1000,50);
                  context.stroke();
                  var canvasTwo = document.getElementById('myCanvasTwo');
                  var contextTwo = canvasTwo.getContext('2d');
                  contextTwo.beginPath();
                  contextTwo.moveTo(0,50);
                  contextTwo.lineTo(1000,50);
                  contextTwo.stroke();
                </script>
                {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <!--<p>{{ form.username }}</p>-->
            <p>{{ form.email }}</p>
            <p id="id_email_error"></p>

            {% if 'email' in form.errors%}
            <div class="warning-sign" style="width:340px; display:inline-block; margin-bottom:8px">
                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                <p style="display: inline; position:relative; top: 6px; font-size:12px;">{{form.email.errors.as_text}}</p>
            </div>
            {%endif%}
            <p>{{ form.password1 }}</p>
            <p id="id_password1_error"></p>

            {% if 'password1' in form.errors%}
            <div class="warning-sign" style="width:340px; display:inline-block; margin-bottom:8px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:0px; left:5px;">
                            </td>
                            <td>
                                <p style="display: inline; position:relative; top: 6px; font-size:12px;">{{form.password1.errors.as_text}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {%endif%}
            <p>{{ form.first_name }}</p>
            <p id="first_name_error"></p>

            {% if 'first_name' in form.errors%}
            <div class="warning-sign" style="width:340px; display:inline-block; margin-bottom:8px">
                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                <p style="display: inline; position:relative; top: 6px; font-size:12px;">{{form.first_name.errors.as_text}}</p>
            </div>
            {%endif%}
            <p>{{ form.last_name }}</p>
            <p id="last_name_error"></p>

            {% if 'last_name' in form.errors%}
            <div class="warning-sign" style="width:340px; display:inline-block; margin-bottom:8px">
                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                <p style="display: inline; position:relative; top: 6px; font-size:12px;">{{form.last_name.errors.as_text}}</p>
            </div>
            {%endif%}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <p class = "tellme"><input id="id_tellme"type="checkbox" /> Tell me about Tripalocal news</p>
            <p class="help-message">By signing up, I agree to Tripalocal's <a href="/termsofservice">Terms of Service</a>, <a href="/privacypolicy">Privacy Policy</a>, <a href="/refundpolicy">Guest Refund Policy</a></p>
            <button id="id_signup_submit_button" class="btn btn-primary btn-lg" type="submit">Sign up</button>
        </form>
        <p>{% blocktrans %}Already a Tripalocal member? <a href="{{ login_url }}">Log in</a>{% endblocktrans %}</p>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
//signup validation
function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp( /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
    return pattern.test(emailAddress);
};

function checkEmail()
{
    email=$('#id_email').val().trim();
    if(email==""){
        $("#id_email_error").text("This can not be empty");
        return false;
    }else if(!isValidEmailAddress(email)){
        $("#id_email_error").text("Please enter a valid email");
        return false;
    }
    else{
        $("#id_email_error").text("");
        return true;
    }
}

function checkInput(id_put, id_error)
{
    input = $('#'+id_put).val().trim();
    if(input==""){
        $("#"+id_error).text("This can not be empty");
        return false;
    }else{
        $("#"+id_error).text("");
        return true;
    }
}

//validate email
    $("#id_email").blur(function(){
        checkEmail();
    });
    
//validate password
    $("#id_password1").blur(function(){
        checkInput("id_password1", "id_password1_error");   
    });

//validation firstname
    $("#id_first_name").blur(function(){
        var regexp = /^[a-zA-Z0-9-_.]+$/;
        if($("#id_first_name").val().search(regexp) != -1)
        {
            checkInput("id_first_name", "first_name_error"); 
        }
        else
        {
            $("#first_name_error").text("Invalid first name");
            return false;
        }
    });
    
//validate last name 
   $("#id_last_name").blur(function(){
        var regexp = /^[a-zA-Z0-9-_.]+$/;
        if($("#id_last_name").val().search(regexp) != -1)
        {
            checkInput("id_last_name", "last_name_error");
        }
        else
        {
            $("#last_name_error").text("Invalid last name");
            return false;
        }
    });

$(function()
{
    var country, region, city, ip, longitude, latitude;
    $(document).ready(function(){
        $("#id_Facebook").attr("class", "socialaccount_provider facebook");
        $("#id_Facebook").attr("role", "button");

        //$("#id_email").attr("class", "form-control");
        //$("#id_password1").attr("class", "form-control");
        //$("#id_first_name").attr("class", "form-control");
        //$("#id_last_name").attr("class", "form-control");

        /*
        $.getScript('http://www.geoplugin.net/javascript.gp', function() 
        {
            country = geoplugin_countryName();
            region = geoplugin_region();
            city = geoplugin_city();
            ip = geoplugin_request();
            latitude = geoplugin_latitude();
            longitude = geoplugin_longitude();
        });
        */

        $("#id_signup_submit_button").bind("click", function(e){
            e.preventDefault();

            if(checkEmail() && checkInput("id_password1", "id_password1_error") 
                && checkInput("id_first_name", "first_name_error")
                && checkInput("id_last_name", "last_name_error"))
            {
                if($("#id_email").val().trim().toLowerCase().indexOf("@tripalocal.com") >= 0)
                {
                    alert("Please use a different email account. Thank you.");
                }
                else
                {
                    if (navigator.geolocation) {
                        /*
                        navigator.geolocation.getCurrentPosition(function(position)
                        {
                            mixpanel.people.set({"Latitude":position.coords.latitude, "Longitude":position.coords.longitude});
                            mixpanel.identify($("#id_email").val());   
                        });
                        */
                    }
                    var now  = new Date().toString();
                    //mixpanel.people.set({"$country":country, "$region":region, "$city":city, "IP":ip, "Latitude":latitude, "Longitude":longitude});
                    mixpanel.people.set({"$email": $("#id_email").val(),"$first_name": $("#id_first_name").val(),"$last_name": $("#id_last_name").val(),
                                        "$browser":navigator.userAgent, "$os":navigator.platform, "$initial_referrer": document.referrer,
                                        "$created":now, "$last_seen":now
                                        });
                    //mixpanel.track("has signed up via email");   
                    mixpanel.identify($("#id_email").val());

                    ga('send','event','sign up','click');
                    $("#signup_form").submit();
                }
            }
        })
    })
})
</script>
{% endblock %}