/*fix responsitive bug on about us page*/
.support_about_us{width: 100%;}
@media (max-width: 767px){
.support_about_us{background-image: url(/images/support_logos_s.jpg); height: 191px; background-repeat: no-repeat; background-position-y: 55px; background-position-x:center;}
}
@media (min-width: 768px){
.support_about_us{background-image: url(/images/support_logos_l.jpg); height: 200px; background-repeat: no-repeat; background-position-y: 80px; background-position:0px;}
}