/* experience listing page*/
.confirm{border: 1px solid #A8E206;background-color:#A8E206;border-radius:2px;color:#FFF;position:relative;top:7px;margin-left:20px;width:80px;}
.confirm_topic{margin-left:20px;position:relative;top:7px;}
.blank{border:1px solid #000000;width: 300px;}
.map_box{border:1px solid rgb(207,207,207);color:#858585;border-radius:2px;width:370px;position:relative;left:284px;padding-left:10px;}
#map_button{background:#FFF;border: 1px solid #FFF;margin-left:80px;}
.request{border: 1px solid #2BABAB;background-color:#2BABAB;border-radius:2px;color:#FFF;position:relative;top:7px;margin-left:20px;width:80px;}
.cancel{border: 1px solid #A7A7A7;background-color:#A7A7A7;border-radius:2px;color:#FFF;position:relative;top:7px;margin-left:20px;width:80px;}
.text_grey{color:#CCCCCC;font-size:11px;}
.listedItem{border-bottom: 1px solid #DFDEDF; height: 100px;}
.listedItem img{margin: 20px;}
.listing-status{float: left; margin-top: 25px;}
.edit-draft{background-color: #F6F5F6}
.update-listing{background-color: #FFF;}
#not-pub{color:#FD6D71;}
#published{color:#8DC300;}
#edit-draft{background-color: #045B5B; color: #FFF; float: right; width: 100px; margin: 35px;}
#update-listing{background-color: #30C4C4; color: #FFF; float: right; width: 100px;margin: 35px;}
.tab_item .firstTabItem{margin-left: 20px;}
.thumbnail{width: 99px; height: 60px; padding: 0px; margin-right: 0px; float: left; }
.non-thumbnail{width: 99px; height: 60px; background-color: #C5C5C5; float: left; border-radius: 3px;}