/*reset password*/
.content {
  width: auto;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}
#id_email {
  width: 100%;
}
.resetPassword-inner{width:30vw;height:auto;margin-left:35vw;margin-top:10vh;margin-bottom: 12vh;background-color: white;border: 1px solid #cccccc;border-radius: 3px;}
#reset_button{width: 25vw;height: 6.5vh;background-color: #33cbcc;color: white;font-size: 14px;border-radius: 3px;border: none;}
.resetTitle{font-size: 22px;display: block;padding-top: 1.5vh;padding-bottom: 1.5vh;}
.resetintro{line-height: 16px;width: auto;border: 0;font-size: 14px;color: #9b9b9b;}
.mg-r-20{margin-right:20px;}
