/*Global css settings*/
/*GLobal tags setting*/
.hamburger{position: absolute;left: 20px;top: 23px;}
body{
    -webkit-text-size-adjust : none ;
    -moz-text-size-adjust : none ;
    -ms-text-size-adjust : none ;
    text-size-adjust : none;
    margin: 0px auto;
    background-color: #f7f7f7;
    border: none;
    padding: 0px;
    font-family: "Helvetica", sans-serif;
    box-sizing: content-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #6CC;
}
h1 {
  font-size: 32px;
}
*, *:before, *:after {
   -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Global css*/
.navBox {background-color: #fff;width: 100%; z-index: 10;height:62px}
.starter-template {  padding: 40px 15px;  text-align: center;}
.brand{float:left; margin-left:10px;}
.jumbotron{height: 590px; margin-bottom: 0px;}
.jumbotron p {font-size: 14px; color: #FFF;}
.jumbotron h1 {font-family: 'EXO', Helvertica, sans-serif;color:#FFF; margin-bottom:70px; font-size:32px;}
.jumbotron .input-lg { border:none; color:#CCC; height:44px;}
.jumbotron .form-control {color:#333;}
.jumbotron p {color:#FFF; font-size:16px;}

.container {text-align: center; width:100%; padding:0;}
.container h1{font-family:'EXO', Helvertica, sans-serif;}
th h3{margin: 2px}
.header{padding-top:10px;height:55px}
.menu{margin-top:6px; margin-right:10px;}
.menu li {float: right;margin-left: 10px;list-style: none;}
.home-menu-bar {height: 50px;position: absolute;width: 100%;background: rgba(0,0,0,0.8);background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(100%, rgba(0,0,0,0)));background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );}
.content{width: auto;margin-left: 2.5vw;margin-right: 2.5vw;padding-top: 3vh;}
.content input{max-width: none;}
.content-area{width:960px; padding-top:30px;}
.btn-primary {background-color: #3cc;}
.btn-default {height: 30px;}
.input-group {margin-bottom:0px;}
.input-sm{width: 100px; border: 0; border-left: #CCC 1px solid;	height: 44px !important;padding: 0px;text-align:center; border-radius:0px;}
.input-group-addon{visibility: hidden;position: absolute;top:0;}
.experienceImg { background-size: cover; background-position:center; height:400px; background-color:#CCC;}
.experience {background-color:#f7f7f7;}
.fixCenter {width:960px; margin:auto;}
.carousel-indicators li{width:12px;height:12px;margin:0 5px;background-color:#CCC;border-radius:15px;border-color: transparent;}
.carousel-indicators .active{width:12px;height:12px;margin:0 5px;background-color:#3ECCCB}
.gradientMask{background-image: url(/images/gradientMask.png);width: 100%;position: absolute;bottom:0px;height:46px;}

.checkoutBox {width:560px; background-color:#FFF; border:#CCC 1px solid;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px; padding:15px;}
.checkoutBox .row{border-top:#CCC 1px solid; padding:15px 0px;}
.checkoutBox p{margin-bottom:0px;}
.checkoutBox {padding: 0px;width: 550px;}
.checkoutBox .row {padding-left: 20px;color: rgb(87,87,87);}
.checkoutBox td{display: inline-block}
#id_promo_code ,#id_card_number ,#id_country{width: 222px}
#id_phone_number,#id_roaming_number{width: 145px}
#id_expire_on > span > select {width: 100px;margin-right: 10px}
#id_cvv {width: 100px}
#traveller_detail #id_first_name, #traveller_detail #id_last_name {width: 222px;height: 34px}

.checkoutInfo {width:300px; margin-top: 20px; padding: 15px;}

.warning-sign {border: 1px #FF5E5E solid;	background-color:#FFC7C7;	border-radius:3px;	color:#FF5E5E;height: 30px;margin-top: 8px;min-width: 222px;margin-right: 20px;}
.warning-sign p{display: inline-block;position: relative;top: 4px;left: 10px;padding-right: 20px;}



.profile-lg {width: 150px;height: 150px;margin: 30px auto 10px auto; overflow: hidden;}
.profile-lg img{height:200px;}
.profile-md {width: 98px;height: 98px; float:left; overflow:hidden;}
.profile-md img{height: 130px;}
.profile-sm {width: 80px;height: 80px; float:right; overflow:hidden;}
.profile-sm img{height: 100px;}
.profile-xs {width:35px;height:35px; float:left; margin-top:-7px; overflow:hidden;}
.profile-xs img{height:50px;}
.profile-lg, .profile-md, .profile-sm, .profile-xs, .profile-featured{background-color: #FFF;-moz-border-radius: 100px;-webkit-border-radius: 100px;-khtml-border-radius: 100px;border-radius: 100px; overflow: hidden; position: relative;}
.profile-lg img, .profile-md img, .profile-sm img, .profile-xs img, .profile-featured img{border-radius: 100px;-moz-border-radius: 100px;-webkit-border-radius: 100px;-khtml-border-radius: 100px;border: #CCC solid 1px;}

.autosize-profile-img{height: 140px;width: 140px;border-radius: 100px;background-size: cover;border:1px #CCC solid;position: relative;top: 5px;left: 5px;}
.btn-lg, .btn-group-lg>.btn { font-weight:bold; font-size: 14px;line-height: 1.33;border-radius: 3px; width:100%;}
.experience, .review, .bio, .also {padding:30px 0px}
.priceBox{background-color:rgba(10,10,10,0.8); height:40px; margin-top:150px; position:absolute; color:#FFF; padding:0px 20px; padding-top:5px; }
.priceBox span{font-size:28px; padding:5px; margin-top:10px; font-weight:bold;vertical-align: text-top; line-height:23px;}
.listingFooter{border-top: #CCC solid 1px; font-size:12px; padding-top:5px; color:#666;}

/*conflict on border-radius*/
.modal-content {border:none;border-radius:0px;}
.modal-content{
	border-radius:3px;
	margin: 0 auto;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:0px;
	max-width: 500px;
	max-height: 400px;
	opacity:1;
	z-index:1000;
	overflow:scroll;
}
.modal-inner{
	float:none;
	margin: 0 auto;
}
.modal-fade{
	z-index:10;
}
.modal-content{padding-left: 0px; padding-right: 0px; max-height:500px;}
.btn-facebook, .btn-facebook:hover, #id_Facebook {background-color: #3B5998;}
.input-group {margin-bottom:0px;}
.form-control {border-radius:3px; width:100%;}
.modal-content p{margin-top:10px;}
.checkout-profile{margin-left: -50px;left: 50%;position: relative;margin-top: -30px;}
.checkoutBox{float:left;}
.checkoutDetails{float:right;}
.navbar-form{padding:0px 15px 0px 0px; margin-left:0px;}
.dropdown{padding-right:10px;}
input[type=checkbox] { margin: 2px 10px 0 0; float: left;}


.home-search {margin:auto; width:580px;background-color:rgba(0,0,0,0.5);    height:55px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;margin-bottom: 20px; padding:5px;}
.home-search li{float:left;}
.home-search-button{margin-left:5px; font-size:14px;}
.btn-primary {background-color: #3cc;}
.btn-default {height: 30px;}
.exp-brief{padding:70px 0px;}

.home-language{border:1px #fff solid; padding:5px; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.menu-language{border:1px #999 solid;  padding:5px; -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
#slideshow {    margin: auto;    position: relative;      height: 200px;    padding: 10px; background-color:#fff;}
#slideshow > div {    position: absolute;    top: 10px;    left: 10px;    right: 10px;    bottom: 10px; }
#slideshow div{background-repeat:no-repeat; background-position:center;}

.book-tease p {color:#ccc; font-size:16px; margin-bottom:30px;}
.book-tease h1{color:#3CC;}

.footer{clear: both;}
.footer-head{float:left;width: 300px; list-style: none; text-align:left; margin-left:50px;}
.footer-col{float:left;width: 180px; list-style: none; text-align:left;}
.footer-line{width:940px; border-top:1px #999 solid; clear:both; margin:auto; padding:20px;}
.footer{background-color:#333333; padding-bottom:20px; padding-top: 70px;}
.footer h5{color:#FFF; margin-top:0px; font-size:18px;}
.footer a{color:#aaa; margin-bottom:4px; }
.footer a:hover{color:#ddd; }
.footer{padding-top: 50px;}

.footer-wrapper{margin: auto;}
.footer hr{display: block; height: 1px; border: 0; border-top: 1px solid #858585; margin: 1em 0; padding: 0;}
.footer .caret{float:right; position:relative; top:7px;}
.footer-logo{background-size: 210px;margin:auto;background-position: 45% 45%; height: 175px;}
.footer-col li:first-child {margin:0 0 13px 0;}
.footer-col li{margin:6px 0;}
.notOnDesktop {display: none;}

@media all and (min-width: 768px) {
.jumbotron {background-repeat:no-repeat; background-size:cover; padding:130px 0px 150px 0px; }
.tease-box{margin:auto; width: 665px; height: 425px;background-repeat: no-repeat;background-position:center;}
.support {height: 200px;background-repeat: no-repeat; background-position-y: 80px;background-position-x: center;background-position: center;}
.homepage-logo{height: 240px;background-repeat: no-repeat;background-position: center;}
.book-tease{  background-repeat:no-repeat; background-size:cover;}
.footer-logo{height: 200px;width: 240px;background-position: center;background-repeat: no-repeat;}
.melbourne, .sydney{display:none;float:left;}
.footer-logo{background-image: url(/images/footer_logo.png)}
.menu li a{ color:#999;}
.book-tease{  background-repeat:no-repeat; background-size:cover;}
.menu{margin-top:6px; margin-right:10px;}
.menu li{float:right; margin-left:10px; list-style:none;}
.home-menu { color:#fff; margin:20px 20px 0px 0px;}
.home-menu li a {color: #fff;}
}
.listingImg {height: 200px;background-position: center;background-size: cover;}
#your-reservation{padding-left: 6px; padding-right: 6px;}
#save-and-exit-top{background:none;border:none;color:white;}
#section-add-location{height:400px;}
@media all and (min-width:768px) and (max-width:1000px){
	.expBox{width: 800px; margin: auto;}
	}
@media all and (max-width: 767px) {
    .notOnMobile {display: none;}
    .notOnDesktop {display: block;}
    .header{text-align: center}
    .brand{margin: auto;float: none;}
	.jumbotron {background-repeat:no-repeat; background-size:cover; padding:30px 0px 40px 0px; }
	.tease-box{margin:auto; width: 100%; height: 290px;background-repeat: no-repeat;background-position:center;}
	h1 {font-size:24px;}
	.exp-brief{padding:30px 0px;}
	.jumbotron p {font-size: 12px;}
	.support {height: 191px;background-repeat: no-repeat; background-position-y: 55px;background-position-x: center;}
	.homepage-logo{height: 200px;background-repeat: no-repeat;background-position: center;}
	.home-menu { color:#fff; margin:20px 20px 0px auto;}
	.book-tease{display:none;}
	.footer{padding-top: 50px;}
	.footer-head{margin: 0 auto 30px auto;}
	.social{display:none;}
	.footer-line {width: 100%;}
	.footer-col {width: 145px;}
	.company{margin:0px 0px 30px 0px;}
	.footer-wrapper{width: 300px;margin: auto;}
	.search-from, .search-to, .home-search-button, .search-location{display:none;}
	.home-search{width: 220px; height: 98px;}
	.melbourne{color: #858585;border: 2px #000 solid;width: 210px;text-align: center;padding: 10px;border-radius: 0px;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom: 1px #000 solid;background-color: #fff;margin: 5px 0px 0px 5px;float: left;}
	.sydney{color: #858585;border: 2px #000 solid;width: 210px;text-align: center;padding: 10px;border-radius: 0px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background-color: #fff;margin: 0px 5px;float: left;}
	.melbourne a, .melbourne a:hover, .sydney a, .sydney a:hover{color:#333;}
	.menu li{float:right; margin-left:10px; list-style:none;}
	.menu li a{ color:#999;}
	.expList h3 {font-size: 13px;}
	.navbar-collapse {padding-right: 10px;padding-left: 0px;}
	.experienceImg {height:150px;}
	.fixCenter{width:100%;}
	.bookingBox{float:none; margin:auto;}
	.desBox, .reviewBox{float:none; margin:auto; width:80%;}
	.desBox img {width: 100%;height: 100%;}
	.desBox li {padding-bottom: 0px}
	.desBox h1{margin-top:20px;}
	.reviewBox h2{margin:0  20px auto 20px;}
	.reviewList .profile-md{float:none;margin:auto;}
	.reviewText{width:90%; float:none; margin:auto; text-align:center;font-size: 12px;margin-top: 5px;}
	.bioBox {float:none; width:85%; margin:auto;}
	.bioBox .profile-lg{float:none; margin:auto;}
	.bioText{float:none; width:100%;font-size: 12px;}
	.expBox{margin:auto;width:85%;}
	.expList .checkoutBox{padding: 10px; width: 90%;}
	.menu{margin-right:0px; margin-top:12px;}
	.checkoutBox{width:90%; float: none;margin-left: 5%;}
    .checkoutBox td{display: inline-block;margin-right: 15px}
	.form-control {width: 95%;}
	.checkoutDetails {margin-top: 50px;}
	/*.billingAddress{display:none;}*/
	.checkoutDetails {float: none;}
}
.search-location{padding-left:5px}
.home-search-button{padding-right:5px;padding-left: 5px;}

.searchbar .btn{width: 250px;height: 50px;}
.row-area{background-color:#F7F7F7; height:auto;padding-bottom:180px; border-top: 0px;}

.row-area{border-top: #ccc 1px solid;}

.left-nav-box {margin-top: 30px;width: 220px;border: rgb(207,207,207) 1px solid;border-radius: 5px;float: left;padding-bottom: 5px;background-color:#fff;padding:20px}
.left-nav-box a{color:#333;}
.left-nav-box a:hover{color:#111;}
.right-content-box {margin-top: 30px;border: rgb(207,207,207) 1px solid;border-radius: 5px;width: 720px;height: auto;padding: 0px;float: right;background-color:#fff;padding:20px;}
.right-content-box-header{background-color: transparent;}
.right-content-box-heading{padding-left: 15px; padding-top: 15px;}
#right_box{color:#858585;}
.leftsubMenu{width: 220px;float:left;background-color: #FFF;border: #CCC 1px solid;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;padding: 15px;}
.rightInterface{float: right;width: 700px;background-color: #FFF;border: #CCC 1px solid;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;padding: 20px;}
.rightInterface p{margin-bottom:10px}
.social-icon{width:65px;-moz-border-radius: 100px;-webkit-border-radius: 100px;-khtml-border-radius: 100px;border-radius: 100px;}
.social-icon span {width:30px; height:30px; background-size:120px 60px; display:block; margin: 0px -5px;}

.stickem-container {  position: relative;}
.stickit {    position: fixed;    top: 0px;    padding-top: 150px;}
.stickit-end {    bottom: 50px;    position: absolute;}
.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.fileUpload {	position: relative;	overflow: hidden;	margin: 0px 5px 0px 5px;  padding-top:5px;  width:140px;    height:40px;}
.fileUpload input.upload {	position: absolute;	top: 0;	right: 0;	margin: 0;	padding: 0;	font-size: 20px;	cursor: pointer;	opacity: 0;	filter: alpha(opacity=0);}
.fileUpload span {}
input.uploadImage {    width:150px;    height:35px;}

.tab_area{background-color: #fff;border-top: solid 1px #ccc;height: 45px;border-bottom: solid 1px #ccc;}
.tab_item{margin-top:10px;}
.tab_item a{color:#858585; margin: 10px;}
.tab_item a:link{	text-decoration: none;}
.tab_item a:active{	color: rgb(130,202,202);}
#active-tab{color: rgb(130,202,202);padding-left:0px;padding-right:6px;}

.leftsubMenu{width: 220px;float:left;background-color: #FFF;border: #CCC 1px solid;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;padding: 15px;}
.rightInterface{float: right;width: 700px;background-color: #FFF;border: #CCC 1px solid;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;padding: 20px;}
.rightInterface p{margin-bottom:10px}

#paymentLogo{	width:43px;	height:25px;	background-color:#FFFFFF;	background-repeat: no-repeat;	background-size: 100% auto;display: inline-block; margin-top: 5px;
border: 1px solid #c6c6c6;}

.footer-col li{
    margin: 6px 0;
}
.footer-col li:first-child{
    margin:0 0 13px 0;
}
.footer-logo {
    background-size: 210px;
    margin: auto;
    background-position: 45% 45%;
    height: 175px;
}
.footer-head{
    text-align: center;
    margin:0 50px 0 0;
    padding:0;
}
.footer{
    padding: 45px 0 0 0;
}

/*newly added*/
.hr-mg-both{
	margin-top:0px;
	margin-bottom:10px;
	border-top:#CCCCCC 1px solid;
	width: 100%;
}
.hr-mg-tp{
	margin-top:10px;
	margin-bottom:0px;
	border-top:#CCCCCC 1px solid;
}
input[type=radio],input[type=checkbox]{margin:4px 0 0;margin-top:1px \9;line-height:normal}
input[type=checkbox] { margin: 2px 10px 0 0; float: left;}
input[type=checkbox].css-checkbox {
	  position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px;
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
.css-label{
	background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.lite-cyan-check{background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);}
.lite-x-cyan{background-image:url(http://csscheckbox.com/checkboxes/lite-x-cyan.png);}

.experience, .review, .bio, .also {padding:30px 0px}


.is_fade{
	background: #616161;
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: none\9;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    width: auto;
    height: auto;
    opacity: 0.7;
	z-index: 10;
}
.modal-content{
	border-radius:3px;
	margin: 0 auto;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:0px;
	max-width: 500px;
	max-height: 400px;
	opacity:1;
	z-index:1000;
	overflow:scroll;
}
.modal-inner{
	float:none;
	margin: 0 auto;
}
.modal-fade{
	z-index:10;
}
.modal-content{padding-left: 0px; padding-right: 0px; max-height:500px;}

.homepage-city {
  color: #858585;
  border: 2px #000 solid;
  width: 240px;
  height: 44px;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 1px #000 solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/images/dropdown-button.png) no-repeat;
  float: left;
  background-position: 200px 10px;
  background-color: #FFF;
  border-radius: 5px;
}
#id_language_select {
  width: 215px;
  height: 50px;
  color: #858585;
  text-align: left;
  border-radius: 0px;
  border-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/images/dropdown-button.png) no-repeat;
  background-color: #FFF;
  background-position: 170px 13px;
  text-align: -moz-left;
}
.container {
  text-align: center;
  width: 100%;
  padding: 0;
}
.back_button {
  border-top: 1px solid #CCCCCC;
  background-color: #666666;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 10;
  clear: both;
}
.left-side-bar {
  float: left;
  background-color: #FFF;
  padding-right: 20px;
  position: relative;
  width: 189px;
}
.list-menu {
  padding-left: 40px;
  color: #999999;
  padding-top: 30px;
  color: #AAAAAA;
}
#active-tab {
  color: rgb(130,202,202);
  padding-left: 0px;
  padding-right: 6px;
}
.list-tab {
  color: #666666;
  margin-left: 40px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.modify-icon {
  float: right;
  position: relative;
  top: -30px;
}
#steps-remaining {
  color: #AAAAAA;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  margin-left: 40px;
  width: 105px;
  margin-top: 15px;
}
.info-bar {
  float: left;
  background-color: #FFF;
  padding-right: 20px;
  left: 869px;
  padding-top: 40px;
  width: 300px;
  padding-left: 30px;
  padding-bottom: 50px;
}
.info-bar img {
  float: left;
  padding-right: 20px;
  padding-top: 10px;
}
#instant-booking-text {
  float: left;
  padding-top: 10px;
}
.info-bar span {
  color: #999999;
}
#unavailable-dates-text {
  float: left;
  padding-top: 10px;
}
.back_button{border-top: 1px solid #CCCCCC; background-color: #666666; padding-top: 10px; padding-bottom: 10px; width: 100%; z-index: 10; clear: both;}
.back_button a{background-color: transparent; color: #FFF; padding-left: 30px;}
.left-side-bar{float: left; background-color: #FFF; padding-right: 20px; position: relative; width: 189px;}
.calendar{background-color: #F7F7F7; border-left: 1px solid #D3D3D3; border-right: 1px solid #D3D3D3; height: 100%; width: 645px; z-index: 0; float: left;}
#list-calendar{background-color: #FFF;}
.list-menu{padding-left: 40px; color: #999999; padding-top: 30px; color: #AAAAAA;}
.list-tab{color: #666666; margin-left: 40px; padding-bottom: 10px; margin-bottom:0px;}
.list-tab-button{background-color: white; border:none; margin-left: 40px; padding-bottom: 10px;}
a:hover{text-decoration: none;}
#steps-remaining{color: #AAAAAA; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; border: 1px solid #AAAAAA; border-radius: 5px; margin-left: 40px; width: 105px; margin-top: 15px;}
#submit-for-review{color: #FFF; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; border: 0px; border-radius: 3px; margin-left: 40px; width: 105px; margin-top: 15px; background-color: #32CBCC;}
.modify-icon{float: right; position: relative; top: -30px;}
#calendarIcon{text-align: center;}
#calendarIcon img{padding-top: 50px; padding-bottom: 20px;}
#calendarText{text-align: center; color: #838383; font-size: 20px; padding-left: 100px; padding-right: 100px; padding-bottom: 40px;}
#understand{padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; font-size: 15px;}
.fixHeader{position: fixed; width: 100%;}
.info-bar{float: left; background-color: #FFF; padding-right: 20px; left: 869px; padding-top: 40px;width:300px; padding-left: 30px; padding-bottom: 50px;}
.info-bar img{float: left; padding-right: 20px; padding-top: 10px;}
#instant-booking-text{float: left; padding-top: 10px;}
#unavailable-dates-text{float: left;padding-top: 10px;}
#hint-msgs{float: left;padding-top: 25px;}
.info-bar strong{color: #676767;}
.info-bar span{color: #999999;}
.section{border-bottom: 1px solid #D3D3D3; height: 100%;}
#section-1{height: 55px;}
#section-2{height: 465px;}
#location {
  float: left;
}
#photo-heading {
  color: #666666;
  padding-top: 30px;
  padding-left: 30px;
  float: left;
}
#location-details {
  color: #999999;
  padding-left: 30px;
}
#save-and-exit {
  margin-right: 170px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #3ECBCB;
  color: #FFF;
  border-radius: 3px;
  border: 1px solid #3ECBCB;
  text-align: center;
  height: 35px;
}
#next-step {
  margin: 10px;
  float: right;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #666666;
  padding: 5px 10px 5px 10px;
  color: #999999;
  text-align: center;
}
#last-step {
  margin: 10px;
  float: left;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #666666;
  padding: 5px 10px 5px 10px;
  color: #999999;
  text-align: center;
}
#characters-left{float: right;}
.booking_form_people{-webkit-appearance:none;-moz-appearance:none;text-align: -moz-left;background: url(/images/dropdown-button.png) no-repeat;background-position: 22px 2px;width: 44px;padding-left: 10px;}


.loading {
  width:100%;
  height: 1600px;
  z-index:1000;
  background-color: rgb(247,247,247);
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}
