.icon{background-image:url(../img/icons.gif);}
.searchbar{background-image:url(/images/searchbar.jpg);}
.custom-itinerary{ background-image: url(../img/homepage_banner_cn.jpg);}
.custom-itinerary-searchpage{background-image: url(../img/searchpage_banner_cn.jpg);}

@media all and (min-width: 768px) {
.jumbotron {background-image:url(/images/melbourne.jpg);}
.tease-box{background-image:url(../img/exps_l.jpg);}
.support {background-image: url(../img/support_logos_l.jpg);}
.homepage-logo{background-image:url(../img/homepageLogo_cn.png);}
.book-tease{ background-image:url(../img/stars.jpg);}
.footer-logo{background-image: url(../img/footer_logo.png);}
.rev01{background-image:url(../img/rev01.jpg)}
.rev02{background-image:url(../img/rev02.jpg)}
.rev03{background-image:url(../img/rev03.jpg)}
}
@media all and (max-width: 767px) {
.jumbotron {background-image:url(/images/melbourne_s.jpg);}
.tease-box{background-image:url(../img/exps_s.jpg);}
.support {background-image: url(../img/support_logos_s.jpg);}
.homepage-logo{background-image:url(../img/homepageLogo_cn.png);}
.rev01{background-image:url(../img/rev01_s.jpg)}
.rev02{background-image:url(../img/rev02_s.jpg)}
.rev03{background-image:url(../img/rev03_s.jpg)}
}

#twitter span { background-image:url(../img/icons_social.png); background-position: 0px -30px;}
#facebook span{ background-image:url(../img/icons_social.png); background-position: -30px -30px;}
#linkedin span{ background-image:url(../img/icons_social.png); background-position: -90px -30px;}

/*search_page*/
#add_day_1_div .date-exp{color: #676767; margin-left: -1px; padding-top: 30px;}
#guest_number_div .people-exp{color: #676767; margin-left: -1px; padding-top: 30px;}
#language_div .language-exp{color: #676767; margin-left: -1px; padding-top: 30px;}
.interests-exp{color: #676767; padding-top: 35px; margin-left: -1px;}
