{% extends "app/layout.html" %}

{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
    <title>Add a new experience -- Overview</title>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ wizard.management_form }}
{{ wizard.form.id }}
{{ wizard.form.changed_steps }}
    <div class="back_button">
        <button name="wizard_save_exit_overview" type="submit" val="" id="save-and-exit-top">Save and Exit</button>
    </div>
{%if not edit%}
    <!-- left-side menu -->
    <div class="left-side-bar">
    <!-- Essential -->
   	    <p class="list-menu">Essential</p>
	
   	    <p class="list-tab"><strong>Calender</strong></p>
        <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
   	    <p class="list-tab"><strong>Pricing</strong></p>
   	    <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
    
        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <p class="list-tab" id="active-tab"><strong>Overview</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Details</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Photos</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Location</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>

        <!-- Steps Remaining -->
        <p id="steps-remaining">4 more steps<br>until publish!</p>
    </div>
    <!-- left-side menu ends -->
{%else%}
    <!-- left-side menu -->
    <div class="left-side-bar">
    <!-- Essential -->
   	    <p class="list-menu">Essential</p>
	
   	    <button name="wizard_next_step" type="submit" value="calendar" class="list-tab-button"><strong>Calender</strong></button>
   	    <button name="wizard_next_step" type="submit" value="price" class="list-tab-button"><strong>Pricing</strong></button>
    
        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <p class="list-tab" id="active-tab"><strong>Overview</strong></p>
	    <button name="wizard_next_step" type="submit" value="detail" class="list-tab-button"><strong>Details</strong></button>
	    <button name="wizard_next_step" type="submit" value="photo" class="list-tab-button"><strong>Photos</strong></button>
	    <button name="wizard_next_step" type="submit" value="location" class="list-tab-button"><strong>Location</strong></button>
    </div>
    <!-- left-side menu ends -->
{%endif%}
    <div class="calendar">
        <ul id="myTab" class="nav nav-tabs">
            {%if language == "cn" %}
            <li class="active"><a id="overview_tab" role="button" data-toggle="tab">中文（简体）</a></li>
            <li><a id="overview_other_tab" role="button" data-toggle="tab">English</a></li>
            {%else%}
            <li class="active"><a id="overview_tab" role="button" data-toggle="tab">English</a></li>
            <li><a id="overview_other_tab" role="button" data-toggle="tab">中文（简体）</a></li>
            {%endif%}
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="english">
                <div class="section" id="section-overview">
                    <div id="location">  
                        <p id="photo-heading"><strong>Overview</strong></p>
                        <br><br><br>
                        <p id="location-details">
                            <span>A title and summary</span><br>
                            <span>displayed on your</span><br>
                            <span>public listing page.</span><br>
                            <br>
                            <span>This will also be vis-</span><br>
                            <span>ible on the search</span><br>
                            <span>page.</span><br>
              
                        </p>
                    </div>
                    <div id="title_div" class="title-instruction">
                        <p id="meet-up-heading">Title</p>
                        {{ wizard.form.title }}
                        <br>
                        <p id="characters-left"><label id="id_overview_title_limit"></label></p>
                    </div>
                    <div id="other_title_div" class="title-instruction" style="display:none;">
                        <p id="meet-up-heading">Title</p>
                        {{ wizard.form.title_other }}
                        <br>
                        <p id="characters-left"><label id="id_overview_title_limit_other"></label></p>
                    </div>
                    <div id="summary_div" class="title-instruction">
                        <p id="meet-up-heading">Summary</p>
                        {{ wizard.form.summary }}
                        <br>
                        <p id="characters-left"><label id="id_overview_summary_limit"></label></p>
                    </div>
                    <div id="other_summary_div" class="title-instruction" style="display:none;">
                        <p id="meet-up-heading">Summary</p>
                        {{ wizard.form.summary_other }}
                        <br>
                        <p id="characters-left"><label id="id_overview_summary_limit_other"></label></p>
                    </div>
                </div>

                <div class="section" id="section-language">
                    <div id="location">  
                        <p id="photo-heading"><strong>Language</strong></p><br><br><br>
                        <p id="location-details">
                            <span>What language do</span><br>
                            <span> you speak?</span><br>
                        </p>
                    </div>

                    <div id="language-bar">
                        {{wizard.form.language}}
                        <input id="language_english" type="checkbox" class="css-checkbox" disabled><label for="language_english" name="checkbox2_lbl" class="css-label lite-cyan-check">English</label>
                        <input id="language_mandarin" type="checkbox" class="css-checkbox"><label for="language_mandarin" name="checkbox2_lbl" class="css-label lite-cyan-check">普通话</label>
                        <input id="language_cantonese" type="checkbox" class="css-checkbox"><label for="language_cantonese" name="checkbox2_lbl" class="css-label lite-cyan-check">粤语</label>
                        <input id="language_japanese" type="checkbox" class="css-checkbox"><label for="language_japanese" name="checkbox2_lbl" class="css-label lite-cyan-check">日本語</label>
                    </div>
                </div>
<!--
                <div class="section" id="section-translation">
                    <div id="location">  
                        <p id="photo-heading"><strong>Translation</strong></p>
                        <br><br><br>
                        <p id="location-details">
                            <span>We currently offer free</span><br>
                            <span>translation service for</span><br>
                            <span>Mandarin speaking</span><br>
                            <span>travellers.</span><br>
                        </p>
                    </div>
                    <div id="translation-y">
                        <input id="need-translation-y" type="radio" name="need-translation">
                        <p>
                            <span>Yes, I need a translator for Mandarin speaking travel-</span><br>
                            <span>lers and I can have an extra translator tagging along</span><br>
                            <span>to this experience.</span>
                        </p>
                    </div>
                    <div id="translation-n">
                        <input id="need-translation-n" type="radio" name="need-translation" checked>
                            <p>
                                <span>No, I don't need a translator or I can't have an extra</span><br>
                                <span>person tagging along to this experience.</span>
                            </p>
                    </div>
                </div>
-->
                <div class="section" style="text-align:right;">
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" id="last-step">Last Step</button>
                    <button name="wizard_save_exit_overview" type="submit" value="" id="save-and-exit">Save and Exit</button>
                    <input type="submit" value="Next Step" id="next-step" />
                </div>
            </div>
        </div>
    </div>

    <!-- Info bar -->
    <div class="info-bar" style="width:300px;">
        <img src="/images/bubble-icon.png" alt="">
        <div id="hint-msgs">
            <p>
                <span><strong>A great title</strong></span><br>
                <span>A great title is unique and</span><br>
                <span>descriptive! It should high-</span><br>
                <span>light the main attractions of</span><br>
                <span>your experience, and it</span><br>
                <span>should use the most relevant</span><br>
                <span>keyword at the beginning of</span><br>
                <span>the title.</span><br>
            </p>
        </div>
        <img src="/images/bubble-icon.png" alt="">
        <div id="hint-msgs">
            <p>
                <span><strong>Summary</strong></span><br>
                <span>Travellers will see your sum-</span><br>
                <span>mary on the search page so</span><br>
                <span>please highlight the value</span><br>
                <span>your offer. Think about what</span><br>
                <span>type of travellers will appre-</span><br>
                <span>ciate your offering.</span><br>
            </p>
        </div>
<!--
        <img src="/images/bubble-icon.png" alt="">
        <div id="hint-msgs">
            <p>
                <span><strong>Translator</strong></span><br>
                <span>If your experience occurs</span><br>
                <span>additional 3rd party cost, it's</span><br>
                <span>probably not a good idea to</span><br>
                <span>have a translator tagging</span><br>
                <span>along.</span><br>
            </p>
        </div>
-->
        <br>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
    function updateLanguage()
    {
        $("#id_overview-language").val("");
        lan = ["english","mandarin","cantonese","japanese"]
        for(i=0;i<lan.length;i++)
        {
            if($("#language_"+lan[i]).is(" :checked"))
            {
                new_lan = $("#id_overview-language").val() + lan[i] + ";"
                $("#id_overview-language").val(new_lan);
            }
        }
        //put translation as the last one if needed
        if($("#need-translation-y").is(" :checked"))
        {
            $("#id_overview-language").val($("#id_overview-language").val() + "translation");
        }
    }

    function countChar(object, limit, hint) {
        var len = object.val().length;
        if (len >= limit) {
          object.val(object.val().substring(0, limit));
        } else {
          hint.text(limit - len + ' characters left');
        }
    };

    $(document).ready(function(){
        $('body').attr('id','background-white');
        $("#id_overview-changed_steps").val($("#id_overview-changed_steps").val()+'overview,');
        if($("#id_overview-language").val()!= "")
        {
            lans = $("#id_overview-language").val().toLowerCase().split(';');
            if(lans.indexOf("english") >= 0)
            {
                $("#language_english").prop("checked", true);
            }
            if(lans.indexOf("mandarin") >= 0)
            {
                $("#language_mandarin").prop("checked", true);
            }
            if(lans.indexOf("cantonese") >= 0)
            {
                $("#language_cantonese").prop("checked", true);
            }
            if(lans.indexOf("japanese") >= 0)
            {
                $("#language_japanese").prop("checked", true);
            }

            if(lans.indexOf("translation") >= 0)
            {
                $("#need-translation-y").prop("checked", true);
            }
            else
            {
                $("#need-translation-n").prop("checked", true);
            }
        }
        else
        {
            //new experience, choose english by default
            $("#language_english").prop("checked", true);
            $("#id_overview-language").val("english;");
        }
    })

    $("#language-bar").click(function(e) {
        updateLanguage();
    })

    $("#need-translation-y").click(function(e) {
        updateLanguage();
    })

    $("#need-translation-n").click(function(e) {
        updateLanguage();
    })

    $("#overview_tab").click(function(e) {
        $("#title_div").attr("style","");
        $("#summary_div").attr("style","");

        $("#other_title_div").attr("style","display:none;");
        $("#other_summary_div").attr("style","display:none;");
    })

    $("#overview_other_tab").click(function(e) {
        $("#title_div").attr("style","display:none;");
        $("#summary_div").attr("style","display:none;");

        $("#other_title_div").attr("style","");
        $("#other_summary_div").attr("style","");
    })

    $("#id_overview-title").keyup(function() {
        countChar($("#id_overview-title"), 40, $("#id_overview_title_limit"));
    });

    $("#id_overview-title_other").keyup(function() {
        countChar($("#id_overview-title_other"), 40, $("#id_overview_title_limit_other"));
    });

    $("#id_overview-summary").keyup(function() {
        countChar($("#id_overview-summary"), 500, $("#id_overview_summary_limit"));
    });

    $("#id_overview-summary_other").keyup(function() {
        countChar($("#id_overview-summary_other"), 500, $("#id_overview_summary_limit_other"));
    });
</script> 
{% endblock %}