{% extends "app/layout.html" %}

{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{wizard.form.type}}<br>

    {{wizard.form.start_datetime}}<br>
    {{wizard.form.end_datetime}}<br>
    {{wizard.form.blockout_start_datetime_1}}<br>
    {{wizard.form.blockout_end_datetime_1}}<br>
    {{wizard.form.blockout_repeat_1}}<br>
    {{wizard.form.blockout_repeat_cycle_1}}<br>
    {{wizard.form.blockout_repeat_frequency_1}}<br>
    {{wizard.form.blockout_repeat_extra_information_1}}<br>
    {{wizard.form.blockout_start_datetime_2}}<br>
    {{wizard.form.blockout_end_datetime_2}}<br>
    {{wizard.form.blockout_repeat_2}}<br>
    {{wizard.form.blockout_repeat_cycle_2}}<br>
    {{wizard.form.blockout_repeat_frequency_2}}<br>
    {{wizard.form.blockout_repeat_extra_information_2}}<br>
    {{wizard.form.blockout_start_datetime_3}}<br>
    {{wizard.form.blockout_end_datetime_3}}<br>
    {{wizard.form.blockout_repeat_3}}<br>
    {{wizard.form.blockout_repeat_cycle_3}}<br>
    {{wizard.form.blockout_repeat_frequency_3}}<br>
    {{wizard.form.blockout_repeat_extra_information_3}}<br>
    {{wizard.form.blockout_start_datetime_4}}<br>
    {{wizard.form.blockout_end_datetime_4}}<br>
    {{wizard.form.blockout_repeat_4}}<br>
    {{wizard.form.blockout_repeat_cycle_4}}<br>
    {{wizard.form.blockout_repeat_frequency_4}}<br>
    {{wizard.form.blockout_repeat_extra_information_4}}<br>
    {{wizard.form.blockout_start_datetime_5}}<br>
    {{wizard.form.blockout_end_datetime_5}}<br>
    {{wizard.form.blockout_repeat_5}}<br>
    {{wizard.form.blockout_repeat_cycle_5}}<br>
    {{wizard.form.blockout_repeat_frequency_5}}<br>
    {{wizard.form.blockout_repeat_extra_information_5}}<br>
    {{wizard.form.instant_booking_start_datetime_1}}<br>
    {{wizard.form.instant_booking_end_datetime_1}}<br>
    {{wizard.form.instant_booking_repeat_1}}<br>
    {{wizard.form.instant_booking_repeat_cycle_1}}<br>
    {{wizard.form.instant_booking_repeat_frequency_1}}<br>
    {{wizard.form.instant_booking_repeat_extra_information_1}}<br>
    {{wizard.form.instant_booking_start_datetime_2}}<br>
    {{wizard.form.instant_booking_end_datetime_2}}<br>
    {{wizard.form.instant_booking_repeat_2}}<br>
    {{wizard.form.instant_booking_repeat_cycle_2}}<br>
    {{wizard.form.instant_booking_repeat_frequency_2}}<br>
    {{wizard.form.instant_booking_repeat_extra_information_2}}<br>
    {{wizard.form.instant_booking_start_datetime_3}}<br>
    {{wizard.form.instant_booking_end_datetime_3}}<br>
    {{wizard.form.instant_booking_repeat_3}}<br>
    {{wizard.form.instant_booking_repeat_cycle_3}}<br>
    {{wizard.form.instant_booking_repeat_frequency_3}}<br>
    {{wizard.form.instant_booking_repeat_extra_information_3}}<br>
    {{wizard.form.instant_booking_start_datetime_4}}<br>
    {{wizard.form.instant_booking_end_datetime_4}}<br>
    {{wizard.form.instant_booking_repeat_4}}<br>
    {{wizard.form.instant_booking_repeat_cycle_4}}<br>
    {{wizard.form.instant_booking_repeat_frequency_4}}<br>
    {{wizard.form.instant_booking_repeat_extra_information_4}}<br>
    {{wizard.form.instant_booking_start_datetime_5}}<br>
    {{wizard.form.instant_booking_end_datetime_5}}<br>
    {{wizard.form.instant_booking_repeat_5}}<br>
    {{wizard.form.instant_booking_repeat_cycle_5}}<br>
    {{wizard.form.instant_booking_repeat_frequency_5}}<br>
    {{wizard.form.instant_booking_repeat_extra_information_5}}<br>
    
    {{wizard.form.duration}}<br>
    {{wizard.form.min_guest_number}}<br>
    {{wizard.form.max_guest_number}}<br>
    {{wizard.form.price}}<br>
    {{wizard.form.price_with_booking_fee}}<br>
    {{wizard.form.included_food}}<br>
    {{wizard.form.included_food_detail}}<br>
    {{wizard.form.included_transport}}<br>
    {{wizard.form.included_transport_detail}}<br>
    {{wizard.form.included_ticket}}<br>
    {{wizard.form.included_ticket_detail}}<br>

    {{wizard.form.title}}<br>
    {{wizard.form.summary}}<br>

    {{wizard.form.activity}}<br>
    {{wizard.form.interaction}}<br>
    {{wizard.form.dress_code}}<br>

    {%if wizard.form.initial.experience_photo_1%}
    <input id="uploadImage_1" placeholder="{{wizard.form.initial.experience_photo_1.name}}" class="uploadImage" disabled="disabled" />
    {%else%}
    <input id="uploadImage_1" placeholder="No file chosen" class="uploadImage" disabled="disabled" />
    {%endif%}
    <div class="fileUpload btn btn-primary">
        <span>Choose File</span>
        {{wizard.form.experience_photo_1}}
    </div>
    <br>
    {%if wizard.form.initial.experience_photo_2%}
    <input id="uploadImage_2" placeholder="{{wizard.form.initial.experience_photo_2.name}}" class="uploadImage" disabled="disabled" />
    {%else%}
    <input id="uploadImage_2" placeholder="No file chosen" class="uploadImage" disabled="disabled" />
    {%endif%}
    <div class="fileUpload btn btn-primary">
        <span>Choose File</span>
        {{wizard.form.experience_photo_2}}
    </div>
    <br>
    {%if wizard.form.initial.experience_photo_3%}
    <input id="uploadImage_3" placeholder="{{wizard.form.initial.experience_photo_3.name}}" class="uploadImage" disabled="disabled" />
    {%else%}
    <input id="uploadImage_3" placeholder="No file chosen" class="uploadImage" disabled="disabled" />
    {%endif%}
    <div class="fileUpload btn btn-primary">
        <span>Choose File</span>
        {{wizard.form.experience_photo_3}}
    </div>
    <br>
    {%if wizard.form.initial.experience_photo_4%}
    <input id="uploadImage_4" placeholder="{{wizard.form.initial.experience_photo_4.name}}" class="uploadImage" disabled="disabled" />
    {%else%}
    <input id="uploadImage_4" placeholder="No file chosen" class="uploadImage" disabled="disabled" />
    {%endif%}
    <div class="fileUpload btn btn-primary">
        <span>Choose File</span>
        {{wizard.form.experience_photo_4}}
    </div>
    <br>
    {%if wizard.form.initial.experience_photo_5%}
    <input id="uploadImage_5" placeholder="{{wizard.form.initial.experience_photo_5.name}}" class="uploadImage" disabled="disabled" />
    {%else%}
    <input id="uploadImage_5" placeholder="No file chosen" class="uploadImage" disabled="disabled" />
    {%endif%}
    <div class="fileUpload btn btn-primary">
        <span>Choose File</span>
        {{wizard.form.experience_photo_5}}
    </div>

    <br>
    {{wizard.form.suburb}}<br>
    {{wizard.form.meetup_spot}}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
{% if wizard.steps.current == wizard.steps.last %}
<input type="submit" value="Submit" id="id_submit"/>
{% else %}
<input type="submit" value="Next" id="id_next"/>
{% endif %}
</form>
{% endblock %}

{%block scripts%}
<script charset="utf-8" type="text/javascript">

    $(document).ready(function(){
        $("#id_summary-experience_photo_1").attr("class", "upload");
        $("#id_summary-experience_photo_2").attr("class", "upload");
        $("#id_summary-experience_photo_3").attr("class", "upload");
        $("#id_summary-experience_photo_4").attr("class", "upload");
        $("#id_summary-experience_photo_5").attr("class", "upload");

        $("#id_submit").bind("click", function(e){
            e.preventDefault();
            var input, file;
            var valid = true;

            if (window.FileReader) {
                for(i=1;i<6;i++)
                {
                    input = document.getElementById('id_summary-experience_photo_'+i);
                    if (input && input.files && input.files[0]) 
                    {
                        file = input.files[0];
                        if(file.size > 2097152)
                        {
                            valid = false;
                            break;
                        }
                        str = file.name.split(".");
                        if(['jpg', 'jpeg', 'png', 'bmp'].indexOf(str[str.length-1]) < 0)
                        {
                            valid = false;
                            break;
                        }
                    }
                }
            }

            if(valid) 
            {
                $("form").submit();
            }
        })
    })


    $("#id_summary-experience_photo_1").change(function(){
        string = $("#id_summary-experience_photo_1").val();
        index=-1;
        index = string.lastIndexOf("\\");
        if(index==-1)
        {
            index = string.lastIndexOf("/");
        }

        $("#uploadImage_1").val(string.substring(index+1));
    })

    $("#id_summary-experience_photo_2").change(function(){
        string = $("#id_summary-experience_photo_2").val();
        index=-1;
        index = string.lastIndexOf("\\");
        if(index==-1)
        {
            index = string.lastIndexOf("/");
        }

        $("#uploadImage_2").val(string.substring(index+1));
    })

    $("#id_summary-experience_photo_3").change(function(){
        string = $("#id_summary-experience_photo_3").val();
        index=-1;
        index = string.lastIndexOf("\\");
        if(index==-1)
        {
            index = string.lastIndexOf("/");
        }

        $("#uploadImage_3").val(string.substring(index+1));
    })

    $("#id_summary-experience_photo_4").change(function(){
        string = $("#id_summary-experience_photo_4").val();
        index=-1;
        index = string.lastIndexOf("\\");
        if(index==-1)
        {
            index = string.lastIndexOf("/");
        }

        $("#uploadImage_4").val(string.substring(index+1));
    })

    $("#id_summary-experience_photo_5").change(function(){
        string = $("#id_summary-experience_photo_5").val();
        index=-1;
        index = string.lastIndexOf("\\");
        if(index==-1)
        {
            index = string.lastIndexOf("/");
        }

        $("#uploadImage_5").val(string.substring(index+1));
    })

    $("#id_summary-price").keyup(function()
    {
        var price = parseFloat($("#id_summary-price").val());
        if(typeof price === 'number')
        {  
            $("#id_summary-price_with_booking_fee").val((price*1.429*1.000+0.0).toFixed(2));
        }
    })


    $("#id_summary-price_with_booking_fee").keyup(function()
    {
        var price = parseFloat($("#id_summary-price_with_booking_fee").val());
        if(typeof price === 'number')
        {
            $("#id_summary-price").val(((price-0.0)/(1.429*1.000)).toFixed(2));
        }
    })
</script>
{%endblock%}