{% extends "app/layout.html" %}
{% load mathfilters %}

{% block head %}
    {% load staticfiles %}
    <script language="javascript" type="text/javascript" src="{% static 'app/scripts/jquery.stickem.js' %}"></script>
    <title>Custom Itinerary</title>
    <link href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    <form id="itinerary_form" action="" method="post">
        {% csrf_token %}

        <div class="itinerary-back-button"> 
            <button type="button" class="itinerary-return-button"></button> 
        </div> 

        <div id="criteria_div">
            <div id="date_destination_div" style="float:left;width:500px;">
                <!--<button id="add_day_button" type="button" style="float:left;width:75px;">Add</button>-->
                <div id="add_day_1_div">
                    <div class="data-icon"> 
                        <p class="date-exp">Dates</p>
                    </div>
                    <select id="destination_city_1" style="display:inline-block;float:left;">
                        <option value="Melbourne">Melbourne</option>
                        <option value="Sydney">Sydney</option>
                        <!--<option value="Brisbane">Brisbane</option>
                        <option value="Adelaide">Adelaide</option>
                        <option value="Tasmania">Tasmania</option>-->
                    </select>
                    <div class="input-group date" id="id_start_datetime_picker_day_1" style="float:left;width:150px;">
                        <input class="form-control" id="id_start_datetime_day_1" name="start_datetime" type="text" value="">
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                    <script>
                        $(function() {
                            $("#id_start_datetime_picker_day_1").datetimepicker({"format": "YYYY-MM-DD", "language": "en-au"});
                        });
                    </script>
                    <div class="input-group date" id="id_end_datetime_picker_day_1" style="float:left;width:150px;">
                        <input class="form-control" id="id_end_datetime_day_1" name="end_datetime" type="text" value="">
                        <span class="input-group-addon">
                            <span class="glyphicon-calendar glyphicon"></span>
                        </span>
                    </div>
                    <script>
                        $(function() {
                            $("#id_end_datetime_picker_day_1").datetimepicker({"format": "YYYY-MM-DD", "language": "en-au"});
                        });
                    </script>
                </div>
                {{form.start_datetime}}
                {{form.end_datetime}}
                {{form.city}}
            </div>

            <div id="guest_number_div" style="float:left;width:150px;">
                <div class="people"> 
                    <p class="people-exp">People</p>
                    <p class="people-descri">We offer private group only</p>
                </div>
                {{form.guest_number}}
            </div>

            <div id="language_div" style="float:left;">
                <div class="language-icon">
                    <p class="language-exp">Language</p>
                </div> 
            </div>
            <div class="language-choice-checkbox"> 
                {{form.language}} 
                <input id="language_English" type="checkbox" value="English" class="css-checkbox" name="checkbox-eng"><label for="checkbox-eng" name="checkbox2_lbl" class="css-label lite-cyan-check">English</label>
                <br> 
                <input id="language_Chinese" type="checkbox" value="Chinese" class="css-checkbox" name="checkbox-cn"><label for="checkbox-cn" name="checkbox2_lbl" class="css-label lite-cyan-check">中文</label> 
            </div>

            <div id="more-filters-button">
                <button id="more_filters" type="button" value="More Filters">More Filters</button> 
            </div>

            <div id="tags_div" style="display:none;">
                {{form.tags}}
                {{form.all_tags}}
            </div>

            <div id="itinerary-search-button">
                <input id="itinerary-search" type="submit" value="Search" name="Search">
            </div>
<!--
            <div id="share-link-button">
                <button>Share Link</button>
            </div>

            <div id="save-itinerary-button">
                <button>Save Itinerary</button>
            </div>
-->

            {{form.itinerary_string}}
        </div>

        {% if itinerary %}
        <div id="checkout-bar">
            <p class="checkout-info">
	            <span id="id_item_selected" class="large-cyan-font"></span>
	            <span class="normal-font">Items selected</span>
	            <span id="id_price_per_person" class="large-cyan-font"></span>
	            <span class="normal-font">Per Person</span>
	            <span id="id_total_price" class="large-cyan-font" id="sum-of-itinerary"></span>
                <span class="normal-font">Selected Total</span>
                <input id="itinerary-preview" type="button" value="Preview" name="Preview" class="checkout-button">
            </p>
        </div>

        <div id="select-all-bar"> 
            <div id="select-all-checkbox" style="display:none;"> 
         		<input id="select-all" type="checkbox" value="English" class="css-checkbox" name="checkbox-eng"><label for="checkbox-eng" name="checkbox2_lbl" class="css-label lite-cyan-check">Select all</label> 
         	</div> 
         	<p id="fix-interface-itinerary"> 
         		<span>Price PP</span> 
        		<span>Group Size</span> 
        		<span>Subtotal</span> 
         	</p> 
        </div> 


        <div id="itinerary_div">
            <table id="itinerary_table" style="width:800px; border:1px solid; margin:20px;">
                <tbody>
                {%for day in itinerary%}
                    <tr style="border:1px solid;">
                        <td style="display:inline-block;">Day {{forloop.counter}} {{day.date}}</td>
                        {% for experience in day.experiences %}
                        {% if forloop.counter <= 3 %}
                        <td style="height:100px;display:inline-block;">
                        {% else %}
                        <td style="height:100px;display:none;">
                        {% endif %}
                            <div style="width: 700px; overflow: hidden; height:100px; float: left;">
                                <div style="width: 140px; float: left;">
                                    <p style="display:none;">{{experience.id}}</p>
                                    <p style="display:none;">{{experience.duration}}</p>
                                    <p style="display:none;">{{experience.host}}</p>
                                    <p style="display:none;">{{experience.host_image}}</p>
                                    <input type="radio" value="yes">
                                    <a href="/experience/{{experience.id}}" target="_blank">
                                        <img src="{{MEDIA_URL}}thumbnails/experiences/experience{{experience.id}}_1.jpg" alt="{{experience.title}}" height="80" width="120"/>
                                    </a>
                                </div>
                                <div style="margin-left: 150px;">
                                    <a href="/experience/{{experience.id}}" target="_blank"><p style="width:250px;display:inline-block;">{{experience.title}}</p></a>
                                    <select style="display:inline-block; position:absolute; left:400px;">
                                        <option value="None">Please select time</option>
                                    {% for slot in experience.timeslots%}
                                        <option value="{{slot.time_string}}" instant_booking="{{slot.instant_booking}}">{{slot.time_string}}:00 - {{slot.time_string|add:experience.duration|mod:24}}:00{%if slot.instant_booking%}(I){%else%}{%endif%}</option>
                                    {%endfor%}
                                    </select>
                                    <p style="display:inline-block; position:absolute; left:550px;">{{experience.price}}</p>
                                    <p>{{experience.meetup_spot}}</p>
                                </div>
                            </div>
                            <div style="height:100px; margin-left: 700px;">
                                <input type="radio" value="no">Remove
                            </div>
                        </td>
                        {%endfor%}
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>

        <div id="preview_div" style="display:none;">
            <div id="preview_content"></div>
            <div>
                <button type="button" id="preview_change">Change</button>
                <input type="submit" value="Confirm" id="preview_confirm"/>
            </div>
        </div>
        {%endif%}
    </form>
</div>
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
    function hideexperience(i, j)
    {
        $("#day_"+i+"_exp_"+j).hide();
        $("#day_"+i+"_exp_"+j).attr("not-interested","yes");
        //$($(experience.children()[0]).children()[0]).hide();
        //$($($(experience.children()[0]).children()[1]).children()[1]).hide();
        //$(experience.children()[1]).hide();
        j++;
        while($("#day_"+i+"_exp_"+j).length && ($("#day_"+i+"_exp_"+j+"_choice_no").is(':checked') || $("#day_"+i+"_exp_"+j).attr("style").split(" ").join("").indexOf("display:none")<0))
        //skip exps that (1)with "no" checked or (2)already shown
        {
            j++;
        }
        if($("#day_"+i+"_exp_"+j).length)
        {
            //$("#day_"+i+"_exp_"+j).show();
            $("#day_"+i+"_exp_"+j).css('display', 'inline');
        }
    }

    function addNewDay(id)
    {
        new_div="<div id=\"add_day_" + id + "_div\">"+
                    "<button id=\"delete_day_button_" + id + "\" type=\"button\" style=\"float:left;width:75px;\">Delete</button>"+
                    "<select id=\"destination_city_" + id + "\" style=\"display:inline-block;float:left;\">"+
                        "<option value=\"Melbourne\">Melbourne</option>"+
                        "<option value=\"Sydney\">Sydney</option>"+
                        //"<option value=\"Brisbane\">Brisbane</option>"+
                        //"<option value=\"Adelaide\">Adelaide</option>"+
                        //"<option value=\"Tasmania\">Tasmania</option>"+
                    "</select>"+
                    "<div class=\"input-group date\" id=\"id_start_datetime_picker_day_" + id + "\" style=\"float:left;width:150px;\">"+
                        "<input class=\"form-control\" id=\"id_start_datetime_day_" + id + "\" name=\"start_datetime\" type=\"text\" value=\"\">"+
                        "<span class=\"input-group-addon\">"+
                            "<span class=\"glyphicon-calendar glyphicon\"></span>"+
                        "</span>"+
                    "</div>"+
                    "<script>"+
                        "$(function() {"+
                            "$(\"#id_start_datetime_picker_day_" + id + "\").datetimepicker({\"format\": \"YYYY-MM-DD\", \"language\": \"en-au\"});"+
                        "});"+
                    "<\/script>"+
                    "<div class=\"input-group date\" id=\"id_end_datetime_picker_day_" + id + "\" style=\"float:left;width:150px;\">"+
                        "<input class=\"form-control\" id=\"id_end_datetime_day_" + id + "\" name=\"end_datetime\" type=\"text\" value=\"\">"+
                        "<span class=\"input-group-addon\">"+
                            "<span class=\"glyphicon-calendar glyphicon\"></span>"+
                        "</span>"+
                    "</div>"+
                    "<script>"+
                        "$(function() {"+
                            "$(\"#id_end_datetime_picker_day_" + id + "\").datetimepicker({\"format\": \"YYYY-MM-DD\", \"language\": \"en-au\"});"+
                        "});"+
                    "<\/script>"+
                "</div>";
        $(new_div).insertAfter("#add_day_" + (id-1) + "_div");
    }

    function updatePrice()
    {
        var table = $("#itinerary_table")[0];
        items = 0;
        total_price = 0;
        guest_number = parseInt($("#id_guest_number option:selected").text());
        for (var i = 0, row; row = table.rows[i]; i++) {
            for (var j = 0, col; col = row.cells[j]; j++) {
                if($("#day_"+(i+1)+"_exp_"+j+"_choice_yes").length && $("#day_"+(i+1)+"_exp_"+j+"_choice_yes").is(':checked'))
                {
                    items++;
                    price = parseFloat($("#day_"+(i+1)+"_exp_"+j+"_price").text());
                    total_price += price;
                }
            }
        }
        $("#id_item_selected").text(items);
        $("#id_price_per_person").text("$"+total_price.toFixed(2));
        $("#id_total_price").text("$"+(total_price*guest_number).toFixed(2));
    }

    $(document).ready(function(){

        city = $("#id_city").val().split(",");
        if(city.length>0)
        {
            distinct_city = 1;
            $("#id_start_datetime_day_1").val($("#id_start_datetime").val());
            start = new Date(Date.parse($("#id_start_datetime").val(),"YYYY-MM-DD"));
        }

        for(i=1;i<city.length && city[i]!="";i++)//i starts from 1
        {
            if(city[i]!=city[i-1])
            {
                distinct_city++;
                addNewDay(distinct_city);
                $("#delete_day_button_"+(distinct_city)).click(function(e){
                    $(this).parent().remove();
                });
                $("#destination_city_"+distinct_city).val(city[i]);

                $("#id_end_datetime_day_"+(distinct_city-1)).val((new Date(start.getTime() + (i-1)*24*60*60*1000)).toISOString().substring(0, 10));

                $("#id_start_datetime_day_"+distinct_city).val((new Date(start.getTime() + i*24*60*60*1000)).toISOString().substring(0, 10));
            }
        }
        if(city.length>0)
        {
            $("#id_end_datetime_day_"+distinct_city).val($("#id_end_datetime").val());
        }

        language = $("#id_language").val().split(",");
        for(i=0;i<language.length;i++)
        {
            $("#language_"+language[i]).prop('checked','true');
        }

        all_tags = $("#id_all_tags").val().split(",");
        tags = $("#id_tags").val().split(",");
        for(i=0;i<all_tags.length>0;i++)
        {
            if($.inArray(all_tags[i], tags)<0)
            {
                new_tag = "<label id=\"tag_" + (i+1) +"\" class=\"tag-non-selected\">" + all_tags[i] + "</label><button type=\"button\" id=\"tag_button_" + (i+1) +"\" class=\"tag-button\">&#10003</button>";
            }
            else
            {
                new_tag = "<label id=\"tag_" + (i+1) +"\" class=\"tag-selected\">" + all_tags[i] + "</label><button type=\"button\" id=\"tag_button_" + (i+1) +"\" class=\"tag-button\">&#10007</button>";
            }

            $("#tags_div").append(new_tag);

            $("#tag_button_"+(i+1)).click(function(e){
                id = e.target.id.split("_")[2];
                if($("#tag_"+id).attr("class") == "tag-selected")
                {
                    $("#tag_button_"+id).html("&#10003");
                    $("#tag_"+id).attr("class", "tag-non-selected");
                }
                else
                {
                    $("#tag_button_"+id).html("&#10007");
                    $("#tag_"+id).attr("class", "tag-selected");
                }
            });
        }

        var table = $("#itinerary_table")[0];

        if(table)
        {
            for (var i = 0, row; row = table.rows[i]; i++) {
                for (var j = 0, col; col = row.cells[j]; j++) {
                    if(j==0)//i==0
                    {
                        //col.id="day_"+(j+1);
                        col.id="day_"+(i+1);
                    }
                    else
                    {
                        day_index = i+1;//j+1;
                        exp_index = j;//i;
                        col.id="day_"+day_index+"_exp_"+exp_index;
                        $($($(col).children()[0]).children()[0]).children()[0].id="day_"+day_index+"_exp_"+exp_index+"_id";
                        $($($(col).children()[0]).children()[0]).children()[1].id="day_"+day_index+"_exp_"+exp_index+"_duration";
                        $($($(col).children()[0]).children()[0]).children()[2].id="day_"+day_index+"_exp_"+exp_index+"_host";
                        $($($(col).children()[0]).children()[0]).children()[3].id="day_"+day_index+"_exp_"+exp_index+"_host_image";
                        $($($(col).children()[0]).children()[0]).children()[4].id="day_"+day_index+"_exp_"+exp_index+"_choice_yes";
                        $($($(col).children()[0]).children()[0]).children()[4].name="day_"+day_index+"_exp_"+exp_index+"_radio";

                        $($($(col).children()[0]).children()[1]).children()[0].id="day_"+day_index+"_exp_"+exp_index+"_title";
                        $($($(col).children()[0]).children()[1]).children()[1].id="day_"+day_index+"_exp_"+exp_index+"_timeslot";
                        $($($(col).children()[0]).children()[1]).children()[2].id="day_"+day_index+"_exp_"+exp_index+"_price";
                        $($($(col).children()[0]).children()[1]).children()[3].id="day_"+day_index+"_exp_"+exp_index+"_meetup_spot";

                        $($(col).children()[1]).children()[0].id="day_"+day_index+"_exp_"+exp_index+"_choice_no";
                        $($(col).children()[1]).children()[0].name="day_"+day_index+"_exp_"+exp_index+"_radio";

                        $("#day_"+day_index+"_exp_"+exp_index+"_choice_yes").click(function(e){
                            i = e.target.id.split('_')[1];
                            j = e.target.id.split('_')[3];
                            if($("#day_"+i+"_exp_"+j+"_timeslot option:selected").val() == "None")
                            {
                                alert("Please select the time first. Thank you :)");
                                $(this).prop('checked', false);
                            }
                            else
                            {
                                //hideexperience(i, j);
                                $("#day_"+i+"_exp_"+j).css('background-color', 'white');
                                updatePrice();
                            }
                        });

                        $("#day_"+day_index+"_exp_"+exp_index+"_choice_no").click(function(e){
                            i = e.target.id.split('_')[1];
                            j = e.target.id.split('_')[3];
                            hideexperience(i, j);
                            updatePrice();
                        });
                    }
                }  
            }
        }
    });

    $("#add_day_button").click(function(e){
        id = $("#date_destination_div").children().length-4;
        addNewDay(id+1);
        $("#delete_day_button_"+(id+1)).click(function(e){
            $(this).parent().remove();
        });
    });

    $("#itinerary-preview").click(function(e){
        var table = $("#itinerary_table")[0];
        var itinerary = [];
        for (var i = 0, row; row = table.rows[i]; i++) {
            for (var j = 0, col; col = row.cells[j]; j++) {
                if($("#day_"+(i+1)+"_exp_"+j+"_choice_yes").length && $("#day_"+(i+1)+"_exp_"+j+"_choice_yes").is(':checked'))
                {
                    dict={"id":$("#day_"+(i+1)+"_exp_"+j+"_id").text(),"title":$("#day_"+(i+1)+"_exp_"+j+"_title").text(),
                          "date":$("#day_"+(i+1)).text().split(" ")[2],"time":$("#day_"+(i+1)+"_exp_"+j+"_timeslot option:selected").text(),
                          "price":$("#day_"+(i+1)+"_exp_"+j+"_price").text(),"host":$("#day_"+(i+1)+"_exp_"+j+"_host").text(),
                          "host_image":$("#day_"+(i+1)+"_exp_"+j+"_host_image").text(),
                          "duration":$("#day_"+(i+1)+"_exp_"+j+"_duration").text(),
                          "guest_number":$("#id_guest_number option:selected").text()};
                    itinerary.push(dict);
/*
                    host = $("#day_"+(i+1)+"_exp_"+j+"_host").text();
                    host_image = "/images/" + $("#day_"+(i+1)+"_exp_"+j+"_host_image").text();
                    price = (parseFloat($("#day_"+(i+1)+"_exp_"+j+"_price").text())).toFixed(2);
                    sub_total = price * parseInt(dict['guest_number']);
                    duration = $("#day_"+(i+1)+"_exp_"+j+"_duration").text();

                    new_item = "<div class=\"expList\">" +
                                    "<div class=\"listingImg\" style=\"background-image:url(/images/thumbnails/experiences/experience" + dict['id'] + "_1.jpg)\">" +
                                        "<div class=\"profile-md checkout-profile\">" + 
                                            "<img src=\"" + host_image + "\" width=\"40\" height=\"40\">" +
                                        "</div>" + 
                                    "</div>" +
                                    "<div class=\"checkoutBox checkoutInfo\">" +
                                        "<h3 style=\"height:30px;\">" + dict['title'] + " with " + host + "</h3>" +
                                        "<p>Reservation for <strong>" + dict['guest_number'] + " person(s)</strong><br>" +
                                           "on <strong>" + dict['date'] + "</strong> from <strong>" + dict['time'] + "</strong><br>" +
                                        "<hr style=\"margin-bottom:10px;\">" +
                                        "<p>Rate: $" + price +" per person for " + duration + " hours * " + dict['guest_number'] + " = $" + sub_total + "</p>" +
                                    "</div>" +
                                "</div>";

                    $("#preview_content").html($("#preview_content").html() + new_item);
                    $("#itinerary_div *").prop("disabled", true);
                    $("#itinerary_div").css('opacity', '0.1');
                    $("#preview_div").show();
*/
                }
                else
                {
                    $("#day_"+(i+1)+"_exp_"+j).css('display','none');
                }
            }
        }
        if(itinerary.length==0)
        {
            alert("You have not selected any experience.");
        }
        else
        {
            $("#id_itinerary_string").val(JSON.stringify(itinerary));
            $("#itinerary_div *").prop("disabled", true);
            $("#preview_div").show();
        }
    });

    $("#preview_change").click(function(e){
/*
        $("#itinerary_div").css('opacity', '1.0');
        $("#preview_content").empty();
*/
        $("#itinerary_div *").prop("disabled", false);
        $("#preview_div").hide();

        var table = $("#itinerary_table")[0];
        var itinerary = [];
        for (var i = 0, row; row = table.rows[i]; i++) {
            counter = 0;
            for (var j = 0, col; col = row.cells[j]; j++) {
                if(counter<4 && $("#day_"+(i+1)+"_exp_"+j).attr("not-interested")!="yes") //4 instead of 3: the title takes up one
                {
                    $("#day_"+(i+1)+"_exp_"+j).css('display','inline-block');
                    counter++;
                }
                if(counter>4)
                {
                    break;
                }
            }
        }
    });

    $("#preview_confirm").click(function(e){
/*
        $("#itinerary_div *").prop("disabled", false);
        $("#itinerary_div").css('opacity', '1.0');
        $("#preview_content").empty();
*/
        $("#preview_div").hide();
    });

    $("#itinerary-search").click(function(e){
        //e.preventDefault();
        $("#id_start_datetime").val($("#id_start_datetime_day_1").val());
        $("#id_city").val("");
        for(i=1;$("#destination_city_"+i).length>0;i++)
        {
            city = $("#destination_city_"+i+" option:selected").text();
            start = new Date(Date.parse($("#id_start_datetime_day_"+i).val(),"YYYY-MM-DD"));
            end = new Date(Date.parse($("#id_end_datetime_day_"+i).val(),"YYYY-MM-DD"));

            days = Math.round((end-start)/(1000*60*60*24))+1;
            for(j=0;j<days;j++)
            {
                $("#id_city").val($("#id_city").val()+city+",");
            }
        }
        $("#id_end_datetime").val($("#id_end_datetime_day_"+(i-1)).val());

        city = $("#id_city").val();
        city = city.substring(0,city.length-1);
        $("#id_city").val(city);

        $("#id_tags").val("");
        for(i=1;$("#tag_"+i).length>0;i++)
        {
            if($("#tag_"+i).attr("class") == "tag-selected")
            {
                $("#id_tags").val($("#id_tags").val() + $("#tag_"+i).text() + ",");
            }
        }
        tags = $("#id_tags").val();
        tags = tags.substring(0,tags.length-1);
        $("#id_tags").val(tags);

        $("#id_language").val("");

        language = ['Chinese','English'];
        for(i=0;i<language.length;i++)
        {
            if($("#language_"+language[i]).prop('checked') == true)
            {
                $("#id_language").val($("#id_language").val() + language[i] + ",");
            }
        }
        l = $("#id_language").val();
        l = l.substring(0,l.length-1);
        $("#id_language").val(l);

        //$("#itinerary_form").submit();
    });

    $("#more_filters").click(function(e){
        tags_div = $("#tags_div");
        if(tags_div.css("display")=="none")
        {
            tags_div.css("display", "inline-block");
            $("#more_filters").text("Less Filters");
        }
        else
        {
            tags_div.css("display", "none");
            $("#more_filters").text("More Filters");
        }
    });
</script>
{% endblock %}
