{% load staticfiles %}

<div id='detail-form' class="form-body">
    <ul id="myTab" class="nav nav-tabs">
        {%if language == "cn" %}
        <li class="active"><a id="detail_tab" role="button" data-toggle="tab">中文（简体）</a></li>
        <li><a id="detail_other_tab" role="button" data-toggle="tab">English</a></li>
        {%else%}
        <li class="active"><a id="detail_tab" role="button" data-toggle="tab">English</a></li>
        <li><a id="detail_other_tab" role="button" data-toggle="tab">中文（简体）</a></li>
        {%endif%}
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="english">
            <div class="section" id="section-included">
                <div id="location" class="form-info">
                    <p id="photo-heading"><strong>What's included</strong></p><br><br><br>
                    <p id="location-details">
                        <span>Please specify anything</span><br>
                        <span>inclusive, or otherwise</span><br>
                        <span>how much it will cost</span><br>
                        <span>your guest.</span><br>
                    </p>
                </div>

                <div id="yes-no-check">
                    <p style="padding-left:115px;">&nbsp;</p>
                    <p id="yes-no-detail">Yes</p>
                    <p id="yes-no-detail">No</p>
                    <p id="yes-no-detail">Detail</p>
                </div>
                <br><br><br>
                <div id="included-check">
                    <p>Food</p>
                    {{form.included_food_detail}}
                    {{form.included_food_detail_other}}<br>
                    {{form.included_food}}
                </div>
                <br><br>
                <div id="included-check">
                    <p>Transport</p>
                    {{form.included_transport_detail}}
                    {{form.included_transport_detail_other}}<br>
                    {{form.included_transport}}
                </div>
                <br><br><br><br><br><br>
                <div id="included-check">
                    <p>Ticket</p>
                    {{form.included_ticket_detail}}
                    {{form.included_ticket_detail_other}}<br>
                    {{form.included_ticket}}
                </div>
            </div>
            <div class="section" id="section-details">
                <div id="location">
                    <p id="photo-heading"><strong>Details</strong></p><br><br><br>
                    <p id="location-details">
                        <span>Descriptions of your</span><br>
                        <span>experience displayed</span><br>
                        <span>on your public listing</span><br>
                        <span>page.</span><br>
                    </p>
                </div>

                <div id="activity_div" class="activity-instruction">
                    <p id="meet-up-heading">Activity</p>
                    {{ form.activity }}<br>
                    <p id="characters-left"><label id="id_detail_activity_limit"></label></p>
                </div>

                <div id="other_activity_div" class="activity-instruction" style="display:none;">
                    <p id="meet-up-heading">Activity</p>
                    {{ form.activity_other }}<br>
                    <p id="characters-left"><label id="id_detail_activity_limit_other"></label></p>
                </div>

                <div id="interaction_div" class="drop-off-instruction">
                    <p id="drop-off-heading">Interaction</p>
                    {{ form.interaction }}<br>
                    <p id="characters-left"><label id="id_detail_interaction_limit"></label></p>
                </div>

                <div id="other_interaction_div" class="drop-off-instruction" style="display:none;">
                    <p id="drop-off-heading">Interaction</p>
                    {{ form.interaction_other }}<br>
                    <p id="characters-left"><label id="id_detail_interaction_limit_other"></label></p>
                </div>

                <div id="dress_div" class="drop-off-instruction">
                    <p id="drop-off-heading">Appropriate Dress</p>
                    {{ form.dress_code }}<br>
                    <p id="characters-left"><label id="id_detail_dress_limit"></label></p>
                </div>

                <div id="other_dress_div" class="drop-off-instruction" style="display:none;">
                    <p id="drop-off-heading">Appropriate Dress</p>
                    {{ form.dress_code_other }}<br>
                    <p id="characters-left"><label id="id_detail_dress_limit_other"></label></p>
                </div>
            </div>
            <div class="section" style="text-align:right;">
                <input type="submit" value="Last Step" id="last-step" />
                <input type="submit" value="Next Step" id="next-step" />
            </div>
        </div>
    </div>
</div>

<!-- Info bar -->
<div class="form-hint">
    <img src= "{% static 'experiences/img/bubble-icon.png' %}" alt="">
    <div id="hint-msgs" class="hint-box" style="margin-bottom: 150px">

          <h3>What's included</h3>
          <p>
            If a cost is included, simply describe what is it.
            If a cost is not included, please give
          a best estimate to how much it may cost,
          or if it's not required.
          </p>
    </div>
    <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
    <div id="hint-msgs" class="hint-box">

          <h3>Activity</h3>
          <p>
          This is where you write of your experience.
          Where would you take your guests to?
          What would you do with your guests?
          Please write as first person.
        </p>
    </div>
    <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
    <div id="hint-msgs" class="hint-box">

          <h3>Interaction</h3>
          <p>
            How much would you interact with your guests?
            What's your communication style?
            Please write as a paragraph.
        </p>
    </div>
    <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
    <div id="hint-msgs" class="hint-box">

            <h3>Appropriate dress</h3>
            <p>
            What will the weather be like?
            Will there be a lot of walking involved?
            What will the locals wear?
            What should your guests wear?
            Please write as a paragraph.
        </p>
    </div>

    <br>
</div>
