{% load staticfiles %}

<div id="form" class="form-body">
    <ul id="myTab" class="nav nav-tabs">
        {%if language == "cn" %}
        <li class="active"><a id="location_tab" role="button" data-toggle="tab">中文（简体）</a></li>
        <li><a id="location_other_tab" role="button" data-toggle="tab">English</a></li>
        {%else%}
        <li class="active"><a id="location_tab" role="button" data-toggle="tab">English</a></li>
        <li><a id="location_other_tab" role="button" data-toggle="tab">中文（简体）</a></li>
        {%endif%}
    </ul>

    <div id="location" class="form-info">
        <p id="photo-heading"><strong>Location</strong></p><br><br><br>
        <p id="location-details">
          <span>Please specify the meet up and drop off location of your experience.</span>
        </p>
    </div>

    <div class="section" id="section-add-location" style="height: 500px;">


        <div id="meet-up-instruction" class="text-input">
            <p id="meet-up-heading">Meet up instruction for confirmed guests</p>
            {{ form.meetup_spot }}
            {{ form.meetup_spot_other }}<br>
        </div>


        <div id="drop-off-instruction" class="text-input">
            <p id="drop-off-heading">Drop off instruction for confirmed guests</p>
            {{ form.dropoff_spot }}
            {{ form.dropoff_spot_other }}
        </div>


        <div id="city" class="text-input">
            <p id="city-heading">City</p>
            {{ form.suburb }}
        </div>
    </div>
    <div class="section" style="text-align:right;">
        <input type="submit" value="Last Step" id="last-step" />
    </div>
    <!-- creating spare space  -->
    <div class="creating-slot-button-active create-slot-detail">
    </div>
    <div class="creating-slot-button-active create-slot-detail">
    </div>
    <div class="creating-slot-button-active create-slot-detail">
    </div>
</div>

<!-- Info bar -->
<div class="form-hint">
    <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
    <div id="hint-msgs" class="hint-box">

            <h3>Meet up</h3>
          <p>
            You can offer multiple meet up spots or pick up travellers
            from their accomondation. You can even offer to
            pick them up personally.
          </p>
    </div>
    <br>
    <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
    <div id="hint-msgs" class="hint-box">

            <h3>Drop off</h3>
          <p>
            Let your travellers know where the experience will end,
            would you be able to take them back to theiraccomodation?
            Or perhaps a nearby station?
        </p>
    </div>
    <br>
</div>
