{% extends "app/layout.html" %}

{% load i18n %}

{% block head %}
    <title>Edit Experience</title>
{% endblock %}

{% block content %}
<form id="add_experience_price_form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="left-side-bar">
        <!-- Essential -->
   	    <p class="list-menu">Essential</p>

   	    <p class="list-tab"><strong>Calender</strong></p>
        <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
   	    <p class="list-tab" id="active-tab"><strong>Pricing</strong></p>
   	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>

        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <p class="list-tab" ><strong>Overview</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Details</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Photos</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Location</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>

        <!-- Steps Remaining -->
        <p id="steps-remaining">5 more steps<br>until publish!</p>
    </div>

    <div id="ajax-update-singal"></div>
    <div id="ajax-listing-form"></div>
</form>
{% endblock %}

{%block scripts%}
<script charset="utf-8" type="text/javascript">

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp( /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }

    function isValidNumber(feeNumber){
        var numPattern = new RegExp(/^(?!(?:0|0\.0|0\.00)$)[+]?\d+(\.\d|\.\d[0-9])?$/);
        return numPattern.test(feeNumber);
    }

    function updatePriceInput() {
        if ($("#id_max_guest_number").val().length > 0 && $("#id_min_guest_number").val().length > 0) {
            max = parseInt($("#id_max_guest_number").val());
            min = parseInt($("#id_min_guest_number").val());

            if (max >= min && min >= 1 && min <= 10 && max >= 1 && max <= 10) {
                $("#id_dynamic_price").val($("#id_price").val() + ',');
                if (max == min) {
                    return true;
                }

                for (i = min; i < max; i++) {
                    if ($("#dynamic_price_input_" + i).val().length > 0) {
                        $("#id_dynamic_price").val($("#id_dynamic_price").val() + $("#dynamic_price_input_" + i).val() + ',');
                    }
                    else {
                        $("#id_dynamic_price").val('');
                        break;
                    }
                }

                return true;
            }

            return false;
        }
    }

    function setDynamicPriceInput() {
        if ($("#id_max_guest_number").val().length > 0 && $("#id_min_guest_number").val().length > 0) {
            max = parseInt($("#id_max_guest_number").val());
            min = parseInt($("#id_min_guest_number").val());

            if (max > min && min >= 1 && min <= 10 && max >= 1 && max <= 10) {
                for (i = 1; i < min; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "display:none;");
                }
                for (i = min; i < max; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "");
                }
                for (i = max; i < 10; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "display:none;");
                }
            }
        }
    }

    function hrefToStepName(href) {
        if (href.substr(-1) === '/') {
            temp = href.substr(0, href.length - 1);
        }

        return temp.substr(temp.lastIndexOf("/") + 1);
    }

    function nextStepHref(href, step) {
        if (href.substr(-1) === '/') {
            temp = href.substr(0, href.length - 1);
        }

        return temp.substr(0, temp.lastIndexOf("/") + 1) + step + '/';
    }

    function loadPriceForm(href) {
        function setListenerForDynamicPrice() {
            for (i = 1; i < 10; i++) {
                $("#dynamic_price_input_" + i).keyup(function (e) {
                    i = e.target.id.substr(-1, 1);
                    var price = parseFloat($("#dynamic_price_input_" + i).val());
                    if (typeof price === 'number' && isValidNumber(price)) {
                        $("#dynamic_price_with_fee_input_" + i).val((price * 1.429 * 1.000 + 0.0).toFixed(2));
                        $("#commission-price-" + i).text((price * 1.429 * 1.000 + 0.0 - price).toFixed(2));
                    }
                    else {
                        $("#dynamic_price_with_fee_input_" + i).val("0");
                        $("#commission-price-" + i).text("0");
                        $("#dynamic_price_input_" + i).val("0");
                    }
                });

                $("#dynamic_price_input_" + i).focusout(function () {
                    if (updatePriceInput()) {
                        postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                    }
                });

                $("#dynamic_price_with_fee_input_" + i).keyup(function (e) {
                    i = e.target.id.substr(-1, 1);
                    var price = parseFloat($("#dynamic_price_with_fee_input_" + i).val());
                    if (typeof price === 'number' && isValidNumber(price)) {
                        $("#dynamic_price_input_" + i).val(((price - 0.0) / (1.429 * 1.000)).toFixed(2));
                        $("#commission-price-" + i).text((price - (price - 0.0) / (1.429 * 1.000)).toFixed(2));
                    }
                    else {
                        $("#dynamic_price_with_fee_input_" + i).val("0");
                        $("#commission-price-" + i).text("0");
                        $("#dynamic_price_input_" + i).val("0");
                    }
                });

                $("#dynamic_price_with_fee_input_" + i).focusout(function () {
                    if (updatePriceInput()) {
                        postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                    }
                });
            }
        }

        function setListenerForPriceForm() {
            $('#id_min_guest_number').change(function () {
                postDatum(location.href, {'min_guest_number': $('#id_min_guest_number').val()})
            });

            $('#id_max_guest_number').change(function () {
                postDatum(location.href, {'max_guest_number': $('#id_max_guest_number').val()})
            });

            $("#id_min_guest_number").keyup(function () {
                setDynamicPriceInput();
            });

            $("#id_max_guest_number").keyup(function () {
                setDynamicPriceInput();
            });

            $('#id_duration').change(function () {
                postDatum(location.href, {'duration': $('#id_duration').val()})
            });

            $('#id_price, #id_price_with_booking_fee').focusout(function () {
                postDatum(location.href, {'price': $('#id_price').val()})
            });

            $("#id_price").keyup(function () {
                var price = parseFloat($("#id_price").val());
                if (typeof price === 'number' && isValidNumber(price)) {
                    $("#id_price_with_booking_fee").val((price * 1.429 * 1.000 + 0.0).toFixed(2));
                    $("#commission-price").text((price * 1.429 * 1.000 + 0.0 - price).toFixed(2));
                }
                else {
                    $("#id_price").val("");
                    $("#commission-price").text("0");
                    $("#id_price_with_booking_fee").val("");
                }
            });

            $("#id_price_with_booking_fee").keyup(function () {
                var price = parseFloat($("#id_price_with_booking_fee").val());
                if (typeof price === 'number' && isValidNumber(price)) {
                    $("#id_price").val(((price - 0.0) / (1.429 * 1.000)).toFixed(2));
                    $("#commission-price").text((price - (price - 0.0) / (1.429 * 1.000)).toFixed(2));
                }
                else {
                    $("#id_price").val("");
                    $("#commission-price").text("0");
                    $("#id_price_with_booking_fee").val("");
                }
            });


            $("#id_min_guest_number").change(function () {
                min_guest = $("#id_min_guest_number");
                max_guest = $("#id_max_guest_number");
                if (parseInt(min_guest.val()) > parseInt(max_guest.val())) {
                    max_guest.val(min_guest.val() + "");
                }
            });

            $("#id_max_guest_number").change(function () {
                min_guest = $("#id_min_guest_number");
                max_guest = $("#id_max_guest_number");
                if (parseInt(min_guest.val()) > parseInt(max_guest.val())) {
                    min_guest.val(max_guest.val() + "");
                }
            });

            $("#add_dynamic_price").click(function () {
                $("#add_dynamic_price").attr("style", "display:none;");
                $("#cancel_dynamic_price").attr("style", "");
                $("#dynamic_price_div").attr("style", "");
                setDynamicPriceInput();
                for (i = 1; i < 10; i++) {
                    $("#dynamic_price_input_" + i).val($("#id_price").val());
                    $("#dynamic_price_with_fee_input_" + i).val($("#id_price_with_booking_fee").val());
                }

                if (updatePriceInput()) {
                    postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                }
            });

            $("#cancel_dynamic_price").click(function () {
                $("#add_dynamic_price").attr("style", "");
                $("#cancel_dynamic_price").attr("style", "display:none;");
                $("#dynamic_price_div").attr("style", "display:none;");
                for (i = 1; i < 10; i++) {
                    $("#dynamic_price_input_" + i).val("");
                    $("#dynamic_price_with_fee_input_" + i).val("");
                    $("#dynamic_price_div_" + i).attr("style", "display:none;");
                }

                if (updatePriceInput()) {
                    postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                }
            });

            setListenerForDynamicPrice();

            $("#experience_type").click(function () {
                if ($("#experience_type").val() != "PRIVATE") {
                    $("#experience_type").val("PRIVATE");
                    $("#id_type").val("PRIVATE");
                } else {
                    $("#experience_type").val("NONPRIVATE");
                    $("#id_type").val("NONPRIVATE");
                }

                postDatum(location.href, {'type': $('#id_type').val()})
            });

            $("#next-step").click(function (e) {
                e.preventDefault();

                var href = nextStepHref(location.href, 'overview');
                history.pushState({}, 'Edit Experience', href);
                loadForm(href)
            });
        }

        function setupInitialValue() {
            var price = parseFloat($("#id_price").val());
            if (typeof price === 'number' && isValidNumber(price)) {
                $("#id_price_with_booking_fee").val(Math.round(price * 1.429 * 1.000 + 0.0));
                $("#commission-price").text((price * 1.429 * 1.000 + 0.0 - price).toFixed(2));
            }


            if ($("#id_dynamic_price").val().length > 0) {
                min = parseInt($("#id_min_guest_number").val());
                price = $("#id_dynamic_price").val().split(',');
                for (i = 1; i < price.length; i++) {
                    $("#dynamic_price_input_" + (i + min - 1)).val(price[i]);
                    $("#commission-price-" + (i + min - 1)).text((parseFloat(price[i]) * 1.429 * 1.000 + 0.0 - price[i]).toFixed(2));
                    $("#dynamic_price_with_fee_input_" + (i + min - 1)).val(Math.round(parseFloat(price[i]) * 1.429 * 1.000 + 0.0));
                }
                $("#add_dynamic_price").attr("style", "display:none;");
                $("#cancel_dynamic_price").attr("style", "");
                $("#dynamic_price_div").attr("style", "");
                setDynamicPriceInput();
            }
        }

        $.get(href).done(function (response) {
            $('#ajax-listing-form').html($(response));
        }).done(function () {
            setupInitialValue();
            setListenerForPriceForm();
        }).fail(function () {
            $('#ajax-listing-form').text("Sorry but there was an error.");
        });
    }

    function loadOverviewForm(href) {
        function updateLanguage() {
            $("#id_language").val("");
            lan = ["english", "mandarin", "cantonese", "japanese"];
            for (i = 0; i < lan.length; i++) {
                if ($("#language_" + lan[i]).is(" :checked")) {
                    new_lan = $("#id_language").val() + lan[i] + ";";
                    $("#id_language").val(new_lan);
                }
            }
        }

        function countChar(object, limit, hint) {
            var len = object.val().length;
            if (len >= limit) {
                object.val(object.val().substring(0, limit));
            } else {
                hint.text(limit - len + ' characters left');
            }
        }

        function setListenerForOverviewForm() {
            $("#language_cantonese, #language_mandarin, #language_japanese").click(function () {
                updateLanguage();
                postDatum(location.href, {
                    'language': $('#id_language').val(),
                    'title': $('#id_title').val(),
                    'summary': $('#id_summary').val()
                });
            });

            $('#id_title, #id_summary').focusout(function () {
                postDatum(location.href, {
                    'title': $('#id_title').val(),
                    'summary': $('#id_summary').val()
                })
            });

            $("#next-step").click(function (e) {
                e.preventDefault();

                var href = nextStepHref(location.href, 'detail');
                history.pushState({}, 'Edit Experience', href);
                loadForm(href)
            });
        }

        function setupOverviewForm() {
            if ($("#id_language").val() != "") {
                lans = $("#id_language").val().toLowerCase().split(';');
                if (lans.indexOf("english") >= 0) {
                    $("#language_english").prop("checked", true);
                }
                if (lans.indexOf("mandarin") >= 0) {
                    $("#language_mandarin").prop("checked", true);
                }
                if (lans.indexOf("cantonese") >= 0) {
                    $("#language_cantonese").prop("checked", true);
                }
                if (lans.indexOf("japanese") >= 0) {
                    $("#language_japanese").prop("checked", true);
                }

                if (lans.indexOf("translation") >= 0) {
                    $("#need-translation-y").prop("checked", true);
                }
                else {
                    $("#need-translation-n").prop("checked", true);
                }
            }
            else {
                //new experience, choose english by default
                $("#language_english").prop("checked", true);
                $("#id_language").val("english;");
            }

            $("#overview_tab").click(function () {
                $("#title_div").attr("style", "");
                $("#summary_div").attr("style", "");

                $("#other_title_div").attr("style", "display:none;");
                $("#other_summary_div").attr("style", "display:none;");
            });

            $("#overview_other_tab").click(function () {
                $("#title_div").attr("style", "display:none;");
                $("#summary_div").attr("style", "display:none;");

                $("#other_title_div").attr("style", "");
                $("#other_summary_div").attr("style", "");
            });

            $("#id_title").keyup(function () {
                countChar($("#id_title"), 40, $("#id_overview_title_limit"));
            });

            $("#id_title_other").keyup(function () {
                countChar($("#id_title_other"), 40, $("#id_overview_title_limit_other"));
            });

            $("#id_summary").keyup(function () {
                countChar($("#id_summary"), 500, $("#id_overview_summary_limit"));
            });

            $("#id_summary_other").keyup(function () {
                countChar($("#id_summary_other"), 500, $("#id_overview_summary_limit_other"));
            });
        }

        $.get(href).done(function (response) {
            $('#ajax-listing-form').html($(response));
        }).done(function () {
            setupOverviewForm();
            setListenerForOverviewForm();
        }).fail(function () {
            $('#ajax-listing-form').text("Sorry but there was an error.");
        });
    }

    function loadForm(href) {
        var step = hrefToStepName(href);

        if (step === "price") {
            loadPriceForm(href);
        } else if (step === "overview") {
            loadOverviewForm(href);
        } else if (step === "detail") {

        }
    }

    function postDatum(href, datum) {
        var signal = $('#ajax-update-singal');

        $.post(href, $.extend({
            'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']")[0].value
        }, datum)).done(function () {
            signal.fadeIn("slow");
            signal.text("Experience Updated");
            signal.fadeOut("slow");
        }).fail(function () {
            signal.fadeIn("slow");
            signal.text("Update Failed");
            signal.fadeOut("slow");
        });
    }

    $(document).ready(function () {
        $('body').attr('id', 'background-white');

        loadForm(location.href);
    });


</script>
{%endblock%}