{% extends "app/layout.html" %}

{% load i18n %}

{% block head %}
    <title>Edit Experience</title>
{% endblock %}

{% block content %}
<form id="add_experience_price_form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="back_button">
        <button name="wizard_save_exit_price" type="submit" val="" id="save-and-exit-top">Save and Exit</button>
    </div>

    <div class="left-side-bar">
        <!-- Essential -->
   	    <p class="list-menu">Essential</p>

   	    <p class="list-tab"><strong>Calender</strong></p>
        <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
   	    <p class="list-tab" id="active-tab"><strong>Pricing</strong></p>
   	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>

        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <p class="list-tab" ><strong>Overview</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Details</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Photos</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Location</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>

        <!-- Steps Remaining -->
        <p id="steps-remaining">5 more steps<br>until publish!</p>
    </div>

    <div id="ajax-update-singal"></div>
    <div id="ajax-price-form">

    </div>
</form>
{% endblock %}

{%block scripts%}
<script charset="utf-8" type="text/javascript">

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp( /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }

    function isValidNumber(feeNumber){
        var numPattern = new RegExp(/^(?!(?:0|0\.0|0\.00)$)[+]?\d+(\.\d|\.\d[0-9])?$/);
        return numPattern.test(feeNumber);
    }

    function updatePriceInput() {
        if ($("#id_max_guest_number").val().length > 0 && $("#id_min_guest_number").val().length > 0) {
            max = parseInt($("#id_max_guest_number").val());
            min = parseInt($("#id_min_guest_number").val());

            if (max >= min && min >= 1 && min <= 10 && max >= 1 && max <= 10) {
                $("#id_dynamic_price").val($("#id_price").val() + ',');
                if (max == min) {
                    return true;
                }

                for (i = min; i < max; i++) {
                    if ($("#dynamic_price_input_" + i).val().length > 0) {
                        $("#id_dynamic_price").val($("#id_dynamic_price").val() + $("#dynamic_price_input_" + i).val() + ',');
                    }
                    else {
                        $("#id_dynamic_price").val('');
                        break;
                    }
                }

                return true;
            }

            return false;
        }
    }

    function setdynamicpriceinput() {
        if ($("#id_max_guest_number").val().length > 0 && $("#id_min_guest_number").val().length > 0) {
            max = parseInt($("#id_max_guest_number").val());
            min = parseInt($("#id_min_guest_number").val());

            if (max > min && min >= 1 && min <= 10 && max >= 1 && max <= 10) {
                for (i = 1; i < min; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "display:none;");
                }
                for (i = min; i < max; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "");
                }
                for (i = max; i < 10; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "display:none;");
                }
            }
        }
    }

    function hrefToStepName(href) {
        if (href.substr(-1) === '/') {
            temp = href.substr(0, href.length - 1);
        }

        return temp.substr(temp.lastIndexOf("/") + 1);
    }


    function loadForm(href) {

        var step = hrefToStepName(href);

        function setListenerForDynamicPrice() {
            for (i = 1; i < 10; i++) {
                $("#dynamic_price_input_" + i).keyup(function (e) {
                    i = e.target.id.substr(-1, 1);
                    var price = parseFloat($("#dynamic_price_input_" + i).val());
                    if (typeof price === 'number' && isValidNumber(price)) {
                        $("#dynamic_price_with_fee_input_" + i).val((price * 1.429 * 1.000 + 0.0).toFixed(2));
                        $("#commission-price-" + i).text((price * 1.429 * 1.000 + 0.0 - price).toFixed(2));
                    }
                    else {
                        $("#dynamic_price_with_fee_input_" + i).val("0");
                        $("#commission-price-" + i).text("0");
                        $("#dynamic_price_input_" + i).val("0");
                    }
                });

                $("#dynamic_price_input_" + i).focusout(function () {
                    updatePriceInput();
                    postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                });

                $("#dynamic_price_with_fee_input_" + i).keyup(function (e) {
                    i = e.target.id.substr(-1, 1);
                    var price = parseFloat($("#dynamic_price_with_fee_input_" + i).val());
                    if (typeof price === 'number' && isValidNumber(price)) {
                        $("#dynamic_price_input_" + i).val(((price - 0.0) / (1.429 * 1.000)).toFixed(2));
                        $("#commission-price-" + i).text((price - (price - 0.0) / (1.429 * 1.000)).toFixed(2));
                    }
                    else {
                        $("#dynamic_price_with_fee_input_" + i).val("0");
                        $("#commission-price-" + i).text("0");
                        $("#dynamic_price_input_" + i).val("0");
                    }
                });

                $("#dynamic_price_with_fee_input_" + i).focusout(function () {
                    updatePriceInput();
                    postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                });
            }
        }

        function setListenerForPriceForm() {
            $('#id_min_guest_number').change(function () {
                postDatum(location.href, {'min_guest_number': $('#id_min_guest_number').val()})
            });

            $('#id_max_guest_number').change(function () {
                postDatum(location.href, {'max_guest_number': $('#id_max_guest_number').val()})
            });

            $("#id_min_guest_number").keyup(function () {
                setdynamicpriceinput();
            });

            $("#id_max_guest_number").keyup(function () {
                setdynamicpriceinput();
            });

            $('#id_duration').change(function () {
                postDatum(location.href, {'duration': $('#id_duration').val()})
            });

            $('#id_price, #id_price_with_booking_fee').focusout(function () {
                postDatum(location.href, {'price': $('#id_price').val()})
            });

            $("#id_price").keyup(function () {
                var price = parseFloat($("#id_price").val());
                if (typeof price === 'number' && isValidNumber(price)) {
                    $("#id_price_with_booking_fee").val((price * 1.429 * 1.000 + 0.0).toFixed(2));
                    $("#commission-price").text((price * 1.429 * 1.000 + 0.0 - price).toFixed(2));
                }
                else {
                    $("#id_price").val("");
                    $("#commission-price").text("0");
                    $("#id_price_with_booking_fee").val("");
                }
            });

            $("#id_price_with_booking_fee").keyup(function () {
                var price = parseFloat($("#id_price_with_booking_fee").val());
                if (typeof price === 'number' && isValidNumber(price)) {
                    $("#id_price").val(((price - 0.0) / (1.429 * 1.000)).toFixed(2));
                    $("#commission-price").text((price - (price - 0.0) / (1.429 * 1.000)).toFixed(2));
                }
                else {
                    $("#id_price").val("");
                    $("#commission-price").text("0");
                    $("#id_price_with_booking_fee").val("");
                }
            });


            $("#id_min_guest_number").change(function () {
                min_guest = $("#id_min_guest_number");
                max_guest = $("#id_max_guest_number");
                if (parseInt(min_guest.val()) > parseInt(max_guest.val())) {
                    max_guest.val(min_guest.val() + "");
                }
            });

            $("#id_max_guest_number").change(function () {
                min_guest = $("#id_min_guest_number");
                max_guest = $("#id_max_guest_number");
                if (parseInt(min_guest.val()) > parseInt(max_guest.val())) {
                    min_guest.val(max_guest.val() + "");
                }
            });

            $("#add_dynamic_price").click(function () {
                $("#add_dynamic_price").attr("style", "display:none;");
                $("#cancel_dynamic_price").attr("style", "");
                $("#dynamic_price_div").attr("style", "");
                setdynamicpriceinput();
                for (i = 1; i < 10; i++) {
                    $("#dynamic_price_input_" + i).val($("#id_price").val());
                    $("#dynamic_price_with_fee_input_" + i).val($("#id_price_with_booking_fee").val());
                }
            });

            $("#cancel_dynamic_price").click(function () {
                $("#add_dynamic_price").attr("style", "");
                $("#cancel_dynamic_price").attr("style", "display:none;");
                $("#dynamic_price_div").attr("style", "display:none;");
                for (i = 1; i < 10; i++) {
                    $("#dynamic_price_input_" + i).val("");
                    $("#dynamic_price_with_fee_input_" + i).val("");
                    $("#dynamic_price_div_" + i).attr("style", "display:none;");
                }
            });

            setListenerForDynamicPrice();

            $("#experience_type").click(function () {
                if ($("#experience_type").val() != "PRIVATE") {
                    $("#experience_type").val("PRIVATE");
                    $("#id_type").val("PRIVATE");
                } else {
                    $("#experience_type").val("NONPRIVATE");
                    $("#id_type").val("NONPRIVATE");
                }

                postDatum(location.href, {'type': $('#id_type').val()})
            });

        }

        function setupInitialValue() {
            var price = parseFloat($("#id_price").val());
            if (typeof price === 'number' && isValidNumber(price)) {
                $("#id_price_with_booking_fee").val(Math.round(price * 1.429 * 1.000 + 0.0));
                $("#commission-price").text((price * 1.429 * 1.000 + 0.0 - price).toFixed(2));
            }


            if ($("#id_dynamic_price").val().length > 0) {
                min = parseInt($("#id_min_guest_number").val());
                price = $("#id_dynamic_price").val().split(',');
                for (i = 1; i < price.length; i++) {
                    $("#dynamic_price_input_" + (i + min - 1)).val(price[i]);
                    $("#commission-price-" + (i + min - 1)).text((parseFloat(price[i]) * 1.429 * 1.000 + 0.0 - price[i]).toFixed(2));
                    $("#dynamic_price_with_fee_input_" + (i + min - 1)).val(Math.round(parseFloat(price[i]) * 1.429 * 1.000 + 0.0));
                }
                $("#add_dynamic_price").attr("style", "display:none;");
                $("#cancel_dynamic_price").attr("style", "");
                $("#dynamic_price_div").attr("style", "");
                setdynamicpriceinput();
            }
        }

        if (step === "price") {
            $.get(href).done(function (response) {
                $('#ajax-price-form').html($(response));
            }).done(function () {
                setupInitialValue();
                setListenerForPriceForm();
            }).fail(function () {
                $('#ajax-price-form').text("Sorry but there was an error.");
            });
        }
    }

    function postDatum(href, datum) {
        var step = hrefToStepName(href);

        if (step === "price") {
            var signal = $('#ajax-update-singal');

            $.post(href, $.extend({
                'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']")[0].value
            }, datum)).done(function () {
                signal.fadeIn("slow");
                signal.text("Experience Updated");
                signal.fadeOut("slow");
            }).fail(function () {
                signal.fadeIn("slow");
                signal.text("Update Failed");
                signal.fadeOut("slow");
            });
        }
    }

    $(document).ready(function () {
        $('body').attr('id', 'background-white');

        loadForm(location.href);
    });


</script>
{%endblock%}