{% extends "app/layout.html" %}

{% load i18n %}

{% block head %}
    <title>Edit Experience</title>
{% endblock %}

{% block content %}
<form id="add_experience_price_form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{# leave here just for styling placehoder #}
    <div class="back_button">
        {% if language == "cn" %}
        <a id="nav-left" href="/experience/{{experience.id}}/">{{experience_title_cn.title}}</a>
        <a id="nav-right" href="/experience/{{experience.id}}/">Preview Listing</a>
        {% else %}
        <a id="nav-left" href="/experience/{{experience.id}}/">{{experience_title_en.title}}</a>
        <a id="nav-right" href="/experience/{{experience.id}}/">Preview Listing</a>
        {% endif %}
        <div id="ajax-update-signal"></div>
        <button name="" id="save-and-exit-top" disabled></button>
    </div>

    <div class="left-side-bar">
        <!-- Essential -->
   	    <p class="list-menu">Essential</p>

   	    <a class="list-tab" id="calendar-tab"><strong>Calender</strong></a>
        <p><img src="/images/done.jpg" alt="" class="modify-icon" id="calender-status-icon"></p>
   	    <a class="list-tab" id="price-tab"><strong>Pricing</strong></a>
   	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon" id="pricing-status-icon"></p>

        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <a class="list-tab" id="overview-tab"><strong>Overview</strong></a>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon" id="overview-status-icon"></p>
	    <a class="list-tab" id ="detail-tab"><strong>Details</strong></a>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon" id="details-status-icon"></p>
	    <a class="list-tab" id="photo-tab"><strong>Photos</strong></a>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon" id="photos-status-icon"></p>
	    <a class="list-tab" id="location-tab"><strong>Location</strong></a>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon" id="location-status-icon"></p>

        <!-- Steps Remaining -->
        <p id="steps-remaining">5 more steps<br>until publish!</p>
    </div>

    <!--<div id="ajax-update-signal"></div>-->
    <div id="ajax-listing-form"></div>
</form>
{% endblock %}

{%block scripts%}
<script charset="utf-8" type="text/javascript">
    window.PRICE_FORM_INDICATOR = "none";


    function setCookie(key, value) {
        $.removeCookie(key);
        $.cookie(key, value, { expires : 300 });
    }

    function getCookie(key) {
        return $.cookie(key);
    }

    function countChar(object, limit, hint) {
        var len = object.val().length;
        if (len > limit) {
            object.val(object.val().substring(0, limit));
        } else {
            hint.text(limit - len + ' characters left');
        }
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp( /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }

    function isValidNumber(feeNumber){
        var numPattern = new RegExp(/^(?!(?:0|0\.0|0\.00)$)[+]?\d+(\.\d|\.\d[0-9])?$/);
        return numPattern.test(feeNumber);
    }

    function updateDynamicPrice() {
        if ($("#id_max_guest_number").val().length > 0 && $("#id_min_guest_number").val().length > 0) {
            max = parseInt($("#id_max_guest_number").val());
            min = parseInt($("#id_min_guest_number").val());

            if (max >= min && min >= 1 && min <= 10 && max >= 1 && max <= 10) {
                $("#id_dynamic_price").val($("#id_price").val() + ',');
                if (max == min) {
                    return true;
                }

                for (i = min; i < max; i++) {
                    if ($("#dynamic_price_input_" + i).val().length > 0) {
                        $("#id_dynamic_price").val($("#id_dynamic_price").val() + $("#dynamic_price_input_" + i).val() + ',');
                    }
                }

                return true;
            }

            return false;
        }
    }

    function setDynamicPriceInputDisplay() {
        if ($("#id_max_guest_number").val().length > 0 && $("#id_min_guest_number").val().length > 0) {
            max = parseInt($("#id_max_guest_number").val());
            min = parseInt($("#id_min_guest_number").val());

            if (max >= min && min >= 1 && min <= 10 && max >= 1 && max <= 10) {
                // Set the row before min.
                i = min-1;
                var pivotHostGet = parseInt($("#id_price").val());
                var pivotCustomerPay = parseFloat($("#id_price_with_booking_fee").val());
                $("#dynamic_price_input_" + i).val(pivotHostGet);
                $("#dynamic_price_with_fee_input_" + i).val(pivotCustomerPay);
                $("#commission-price-" + i).text($("#commission-price").text());

                for (i = 0; i < min; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "");
                    $("#dynamic_price_input_" + i).css("background-color", "rgb(245, 245, 245)").css("border", "0px");
                    $("#dynamic_price_with_fee_input_" + i).css("background-color", "rgb(245, 245, 245)").css("border", "0px");

                    if(i<min-1) {
                        var hostGet = Math.round(pivotHostGet * (min) / (i+1));
                        var customerPay = (pivotCustomerPay * (min) / (i+1)).toFixed(2);
                        $("#dynamic_price_input_" + i).val(hostGet);
                        $("#dynamic_price_with_fee_input_" + i).val(customerPay);
                        $("#commission-price-" + i).text((customerPay - hostGet).toFixed(2));
                    }
                }
                for (i = min; i < max; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "");
                    $("#dynamic_price_input_" + i).css("background-color", "rgb(255, 255, 255)").css("border", "1px solid #AAA");
                    $("#dynamic_price_with_fee_input_" + i).css("background-color", "rgb(255, 255, 255)").css("border", "1px solid #AAA");
                }
                for (i = max; i < 10; i++) {
                    $("#dynamic_price_div_" + i).attr("style", "display:none;");
                }
            }
        }
    }

    function hrefToStepName(href) {
        if (href.substr(-1) === '/') {
            temp = href.substr(0, href.length - 1);
        }

        return temp.substr(temp.lastIndexOf("/") + 1);
    }

    function stepToHref(href, step) {
        if (href.substr(-1) === '/') {
            temp = href.substr(0, href.length - 1);
        }

        return temp.substr(0, temp.lastIndexOf("/") + 1) + step + '/';
    }

    function nextStepBinding(step) {
        $("#next-step").click(function (e) {
            e.preventDefault();

            activeTab(step);
            var href = stepToHref(location.href, step);
            history.pushState({}, 'Edit Experience', href);
            loadForm(href)
        });
    }

    function lastStepBinding(step) {
        $("#last-step").click(function (e) {
            e.preventDefault();

            activeTab(step);
            var href = stepToHref(location.href, step);
            history.pushState({}, 'Edit Experience', href);
            loadForm(href)
        });
    }

    function loadPriceForm(href) {
        function setListenerForDynamicPrice() {
            for (i = 1; i < 10; i++) {
                $("#dynamic_price_input_" + i).keyup(function (e) {
                    i = e.target.id.substr(-1, 1);
                    var hostIncome = Math.round($("#dynamic_price_input_" + i).val());
                    var customerPay = (hostIncome * 1.429 * 1.000 + 0.0).toFixed(2);
                    if (typeof hostIncome === 'number' && isValidNumber(hostIncome)) {
                        $("#dynamic_price_with_fee_input_" + i).val(customerPay);
                        $("#commission-price-" + i).text((customerPay - hostIncome).toFixed(2));
                    }
                    else {
                        $("#dynamic_price_with_fee_input_" + i).val("0");
                        $("#commission-price-" + i).text("0");
                        $("#dynamic_price_input_" + i).val("0");
                    }
                });

                $("#dynamic_price_input_" + i).focusout(function () {
                    if (updateDynamicPrice()) {
                        collectDynamicPrices();
                        postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                    }
                });

                $("#dynamic_price_with_fee_input_" + i).keyup(function (e) {
                    i = e.target.id.substr(-1, 1);
                    var customerPay = parseFloat(($("#dynamic_price_with_fee_input_" + i).val()));
                    var hostIncome = Math.round((customerPay - 0.0) / (1.429 * 1.000));
                    if (typeof customerPay === 'number' && isValidNumber(customerPay)) {
                        $("#dynamic_price_input_" + i).val(hostIncome);
                        $("#commission-price-" + i).text((customerPay-hostIncome).toFixed(2));
                    }
                    else {
                        $("#dynamic_price_with_fee_input_" + i).val("0");
                        $("#commission-price-" + i).text("0");
                        $("#dynamic_price_input_" + i).val("0");
                    }
                });

                $("#dynamic_price_with_fee_input_" + i).focusout(function () {
                    if (updateDynamicPrice()) {
                        collectDynamicPrices();
                        postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                    }
                });
            }
        }

        function setDynamicPrice() {
            var min = parseInt($("#id_min_guest_number").val());
            var max = parseInt($("#id_max_guest_number").val());
            var dynamicPrices = $("#id_dynamic_price").val().split(",").slice(0, -1);
            for (i = min; i < max; i++) {
                if(i < dynamicPrices.length) {
                    $("#dynamic_price_input_" + i).val(dynamicPrices[i]);
                    $("#dynamic_price_with_fee_input_" + i).val((dynamicPrices[i] * 1.429 * 1.000 + 0.0 ).toFixed(2));
                } else {
                    $("#dynamic_price_input_" + i).val(0);
                    $("#dynamic_price_with_fee_input_" + i).val(0);
                }

            }
        }

        function setListenerForPriceForm() {
            $('#id_min_guest_number').change(function () {
                min_guest = $("#id_min_guest_number");
                max_guest = $("#id_max_guest_number");
                if (parseInt(min_guest.val()) > parseInt(max_guest.val())) {
                    max_guest.val(min_guest.val() + "");
                }
                setDynamicPriceInputDisplay();
                if (updateDynamicPrice()) {
                    postDatum(location.href, {
                        'dynamic_price': $('#id_dynamic_price').val(),
                        'min_guest_number': $('#id_min_guest_number').val()
                    });
                }
            });

            $('#id_max_guest_number').change(function () {
                min_guest = $("#id_min_guest_number");
                max_guest = $("#id_max_guest_number");
                if (parseInt(min_guest.val()) > parseInt(max_guest.val())) {
                    min_guest.val(max_guest.val() + "");
                }

                setDynamicPriceInputDisplay();

                if (updateDynamicPrice()) {
                    postDatum(location.href, {
                        'dynamic_price': $('#id_dynamic_price').val(),
                        'max_guest_number': $('#id_max_guest_number').val()
                    });
                }
            });

            $('#id_duration').change(function () {
                postDatum(location.href, {'duration': $('#id_duration').val()})
            });

            $('#id_currency').change(function () {
                postDatum(location.href, {'currency': $('#id_currency').val()})
            });

            $('#id_price, #id_price_with_booking_fee').focusout(function () {
                if (updateDynamicPrice()) {
                    postDatum(location.href, {
                        'price': $('#id_price').val(),
                        'dynamic_price': $('#id_dynamic_price').val()
                    });
                }
                checkPriceFormFilled();
            });

            $("#id_price").keyup(function () {
                var hostIncome = parseInt($("#id_price").val());
                var customerPay = parseFloat(hostIncome * 1.429 * 1.000 + 0.0).toFixed(2);
                if (typeof hostIncome === 'number' && isValidNumber(hostIncome)) {
                    $("#id_price_with_booking_fee").val(customerPay);
                    $("#commission-price").text((customerPay - hostIncome).toFixed(2));
                    setDynamicPriceInputDisplay();
                    checkPriceFormFilled();
                }
                else {
                    $("#id_price").val("0");
                    $("#commission-price").text("0");
                    $("#id_price_with_booking_fee").val("0");
                }
            });

            $("#id_price_with_booking_fee").keyup(function () {
                var customerPay = parseFloat($("#id_price_with_booking_fee").val());
                var hostIncome = Math.round((customerPay - 0.0) / (1.429 * 1.000));
                if (typeof customerPay === 'number' && isValidNumber(customerPay)) {
                    $("#id_price").val(hostIncome);
                    $("#commission-price").text((customerPay - hostIncome).toFixed(2));
                    setDynamicPriceInputDisplay();
                    checkPriceFormFilled();
                }
                else {
                    $("#id_price").val("");
                    $("#commission-price").text("0");
                    $("#id_price_with_booking_fee").val("");
                }
            });

            $("#add_dynamic_price").click(function () {
                $("#add_dynamic_price").attr("style", "display:none;");
                $("#cancel_dynamic_price").attr("style", "");
                $("#dynamic_price_div").attr("style", "");
                setDynamicPriceInputDisplay();
                for (i = 1; i < 10; i++) {
                    $("#dynamic_price_input_" + i).val($("#id_price").val());
                    $("#dynamic_price_with_fee_input_" + i).val($("#id_price_with_booking_fee").val());
                }

                if (updateDynamicPrice()) {
                    postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                }
            });

            $("#cancel_dynamic_price").click(function () {
                $("#add_dynamic_price").attr("style", "");
                $("#cancel_dynamic_price").attr("style", "display:none;");
                $("#dynamic_price_div").attr("style", "display:none;");
                for (i = 1; i < 10; i++) {
                    $("#dynamic_price_input_" + i).val("");
                    $("#dynamic_price_with_fee_input_" + i).val("");
                    $("#dynamic_price_div_" + i).attr("style", "display:none;");
                }

                if (updateDynamicPrice()) {
                    postDatum(location.href, {'dynamic_price': $('#id_dynamic_price').val()})
                }
            });

            $("#change-pricing-type-button").click(function() {
                    $("#price-form").css("display", "none");
                    $("#private-only-part").css("display", "none");
                    $("#selection-menu").css("display", "block");
                    window.PRICE_FORM_INDICATOR = "none";
            });

            setListenerForDynamicPrice();
//
//            $("#experience_type").click(function () {
//                if ($("#experience_type").val() != "PRIVATE") {
//                    $("#experience_type").val("PRIVATE");
//                    $("#id_type").val("PRIVATE");
//                } else {
//                    $("#experience_type").val("NONPRIVATE");
//                    $("#id_type").val("NONPRIVATE");
//                }
//
//                postDatum(location.href, {'type': $('#id_type').val()})
//            });

            nextStepBinding('overview');

            // Set selection page listener.
            $("#proceed-button").click(function(e) {
                if($("#menu-selection-left").attr("data-chosen") === "true") {
                    $("#price-form").css("display", "block");
                    $("#private-only-part").css("display", "block");
                    $("#selection-menu").css("display", "none");
                    window.PRICE_FORM_INDICATOR = "private";
                    postDatum(location.href, {'type': 'PRIVATE'})
                }
                else if($("#memu-selection-right").attr("data-chosen") === "true") {
                    $("#price-form").css("display", "block");
                    $("#private-only-part").css("display", "none");
                    $("#selection-menu").css("display", "none");
                    window.PRICE_FORM_INDICATOR = "public";
                    postDatum(location.href, {'type': 'NONPRIVATE'})
                }
                else {
                    alert("Please make your choice.");
                }

            });

            $("#menu-selection-left").click(function(e) {
                $("#menu-selection-left").css("background", "yellow");
                $("#memu-selection-right").css("background", "red");
                $("#menu-selection-left").attr("data-chosen","true");
                $("#memu-selection-right").attr("data-chosen","false");
            });

            $("#memu-selection-right").click(function(e) {
                $("#menu-selection-left").css("background", "red");
                $("#memu-selection-right").css("background", "yellow");
                $("#menu-selection-left").attr("data-chosen","false");
                $("#memu-selection-right").attr("data-chosen","true");
            });

            $("#price-last-step").click(function() {
                $("#price-form").css("display", "none");
                $("#private-only-part").css("display", "none");
                $("#selection-menu").css("display", "block");
            });

        }

        function setupPriceForm() {
            var price = parseFloat($("#id_price").val());
            if (typeof price === 'number' && isValidNumber(price)) {
                var customerPay = parseInt(Math.round(price * 1.429 * 1.000 + 0.0));
                var hostIncome = parseInt($("#id_price").val());
                $("#id_price_with_booking_fee").val(customerPay);
                $("#commission-price").text(customerPay - hostIncome);
            }

            // id_dynamic_price always has id_price value as the first
            price = $("#id_dynamic_price").val().split(',').slice(0, -1);

            if (price.length > 1) {
                var min = parseInt($("#id_min_guest_number").val());
                var max = parseInt($("#id_max_guest_number").val());
                for (i = min; i < max; i++) {
                    $("#dynamic_price_input_" + (i)).val(price[i-min+1]);
                    $("#commission-price-" + (i)).text((parseFloat(price[i-min+1]) * 1.429 * 1.000 + 0.0 - price[i-min+1]).toFixed(2));
                    $("#dynamic_price_with_fee_input_" + (i)).val(Math.round(parseFloat(price[i-min+1]) * 1.429 * 1.000 + 0.0));
                }

                $("#add_dynamic_price").attr("style", "display:none;");
                $("#cancel_dynamic_price").attr("style", "block");
                $("#dynamic_price_div").attr("style", "block");
                setDynamicPriceInputDisplay();
            }

            if ($("#experience_type").val() == "NONE") {
                showSelectionView();
            }
            if ($("#experience_type").val() == "NONPRIVATE") {
                showPublicView();
            }
            if ($("#experience_type").val() == "PRIVATE") {
                showPrivateView();
            }
        }

        function choosePriceFormStatus() {
            if(window.PRICE_FORM_INDICATOR === "private") {
                showPrivateView();
            }
            else if(window.PRICE_FORM_INDICATOR === "public") {
                showPublicView();
            }
            else {
                showSelectionView();
            }
        }

        function showPublicView() {
            $("#price-form").css("display", "block");
            $("#private-only-part").css("display", "none");
            $("#selection-menu").css("display", "none");
            window.PRICE_FORM_INDICATOR = "public";
        }

        function showPrivateView() {
            $("#price-form").css("display", "block");
            $("#private-only-part").css("display", "block");
            $("#selection-menu").css("display", "none");
            window.PRICE_FORM_INDICATOR = "private";
        }

        function showSelectionView() {
            $("#price-form").css("display", "none");
            $("#private-only-part").css("display", "none");
            $("#selection-menu").css("display", "block");
            window.PRICE_FORM_INDICATOR = "none";
        }

        function collectDynamicPrices() {
            var dynamicPrices = [];
            var min = parseInt($("#id_min_guest_number").val());
            var max = parseInt($("#id_max_guest_number").val());
            for(var i=min; i<max; i++) {
                dynamicPrices.push($("#dynamic_price_input_" + i).val());
            }
            return dynamicPrices;
        }

        function checkPriceFormFilled() {
           if($("#id_price").val() != '' && $("#id_price_with_booking_fee").val() != '') {
               $("#pricing-status-icon").attr("src","/images/done.jpg");
               setCookie("priceFilled", "True");
           }
           else {
               $("#pricing-status-icon").attr("src","/images/pencil.jpg");
               setCookie("priceFilled", "False");
           }
            setFinishedStatus();
        }

        $.get(href).done(function (response) {
            $('#ajax-listing-form').html($(response));
        }).done(function () {
            setupPriceForm();
            setListenerForPriceForm();
            choosePriceFormStatus();
           // setDynamicPrice();
        }).fail(function () {
            $('#ajax-listing-form').text("Sorry but there was an error.");
        });
    }

    function loadOverviewForm(href) {
        function updateLanguage() {
            $("#id_language").val("");
            lan = ["english", "mandarin", "cantonese", "japanese"];
            for (i = 0; i < lan.length; i++) {
                if ($("#language_" + lan[i]).is(" :checked")) {
                    new_lan = $("#id_language").val() + lan[i] + ";";
                    $("#id_language").val(new_lan);
                }
            }
        }

        function setListenerForOverviewForm() {
            $("#language_cantonese, #language_mandarin, #language_japanese").click(function () {
                updateLanguage();
                checkOverviewFilled();
                postDatum(location.href, {
                    'language': $('#id_language').val(),
                    'title': $('#id_title').val(),
                    'summary': $('#id_summary').val()
                });
            });

            $('#id_title, #id_summary').focusout(function () {
                checkOverviewFilled();
                postDatum(location.href, {
                    'title': $('#id_title').val(),
                    'summary': $('#id_summary').val()
                })
            });

            nextStepBinding('detail');
            lastStepBinding('price');
        }

        function setupOverviewForm() {
            if ($("#id_language").val() != "") {
                lans = $("#id_language").val().toLowerCase().split(';');
                if (lans.indexOf("english") >= 0) {
                    $("#language_english").prop("checked", true);
                }
                if (lans.indexOf("mandarin") >= 0) {
                    $("#language_mandarin").prop("checked", true);
                }
                if (lans.indexOf("cantonese") >= 0) {
                    $("#language_cantonese").prop("checked", true);
                }
                if (lans.indexOf("japanese") >= 0) {
                    $("#language_japanese").prop("checked", true);
                }

                if (lans.indexOf("translation") >= 0) {
                    $("#need-translation-y").prop("checked", true);
                }
                else {
                    $("#need-translation-n").prop("checked", true);
                }
            }
            else {
                //new experience, choose english by default
                $("#language_english").prop("checked", true);
                $("#id_language").val("english;");
            }

            $("#overview_tab").click(function () {
                $("#title_div").attr("style", "");
                $("#summary_div").attr("style", "");

                $("#other_title_div").attr("style", "display:none;");
                $("#other_summary_div").attr("style", "display:none;");
            });

            $("#overview_other_tab").click(function () {
                $("#title_div").attr("style", "display:none;");
                $("#summary_div").attr("style", "display:none;");

                $("#other_title_div").attr("style", "");
                $("#other_summary_div").attr("style", "");
            });

            $("#id_title").keyup(function () {
                countChar($("#id_title"), 40, $("#id_overview_title_limit"));
            });

            $("#id_title_other").keyup(function () {
                countChar($("#id_title_other"), 40, $("#id_overview_title_limit_other"));
            });

            $("#id_summary").keyup(function () {
                countChar($("#id_summary"), 500, $("#id_overview_summary_limit"));
            });

            $("#id_summary_other").keyup(function () {
                countChar($("#id_summary_other"), 500, $("#id_overview_summary_limit_other"));
            });
        }

        function checkOverviewFilled() {
            var checkBoxFiled = false;
            var inputBoxFiled = false;
            $('input[type="checkbox"]').each(function() {
                if ($(this).is(':checked')) {
                    checkBoxFiled = true;
                }
            });
            if($("#id_summary").val() != '' && $("#id_title").val() != '')
                inputBoxFiled = true;

            if(inputBoxFiled && checkBoxFiled) {
                $("#overview-status-icon").attr("src","/images/done.jpg");
                setCookie("overFilled", "True");
            } else {
                $("#overview-status-icon").attr("src","/images/pencil.jpg");
                setCookie("overFilled", "False");
            }
            setFinishedStatus();
        }

        $.get(href).done(function (response) {
            $('#ajax-listing-form').html($(response));
        }).done(function () {
            setupOverviewForm();
            setListenerForOverviewForm();
        }).fail(function () {
            $('#ajax-listing-form').text("Sorry but there was an error.");
        });
    }

    function loadDetailForm(href) {

        function setupDetailForm() {
            item = ["food", "transport", "ticket"];
            $("#id_included_ticket_detail_other").attr("style", "display:none;");
            $("#id_included_transport_detail_other").attr("style", "display:none;");
            $("#id_included_food_detail_other").attr("style", "display:none;");

            $("label[for='id_included_food_0']").attr("style", "padding-left:45px;");
            $("label[for='id_included_transport_0']").attr("style", "padding-left:16px;");
            $("label[for='id_included_ticket_0']").attr("style", "padding-left:40px;");

            for (i = 0; i < item.length; i++) {
                for (j = 0; j < 2; j++) {
                    str = $("label[for='id_included_" + item[i] + "_" + j + "']")[0].innerHTML;
                    str = str.substring(0, str.indexOf('>') + 1);
                    $("label[for='id_included_" + item[i] + "_" + j + "']")[0].innerHTML = str;
                }
            }
        }

        function setListenerForDetailForm() {
            $("#detail_tab").click(function () {
                $("#activity_div").attr("style", "");
                $("#interaction_div").attr("style", "");
                $("#dress_div").attr("style", "");

                $("#other_activity_div").attr("style", "display:none;");
                $("#other_interaction_div").attr("style", "display:none;");
                $("#other_dress_div").attr("style", "display:none;");

                $("#id_included_ticket_detail").attr("style", "");
                $("#id_included_transport_detail").attr("style", "");
                $("#id_included_food_detail").attr("style", "");

                $("#id_included_ticket_detail_other").attr("style", "display:none;");
                $("#id_included_transport_detail_other").attr("style", "display:none;");
                $("#id_included_food_detail_other").attr("style", "display:none;");
            });

            $("#detail_other_tab").click(function () {
                $("#activity_div").attr("style", "display:none;");
                $("#interaction_div").attr("style", "display:none;");
                $("#dress_div").attr("style", "display:none;");

                $("#other_activity_div").attr("style", "");
                $("#other_interaction_div").attr("style", "");
                $("#other_dress_div").attr("style", "");

                $("#id_included_ticket_detail").attr("style", "display:none;");
                $("#id_included_transport_detail").attr("style", "display:none;");
                $("#id_included_food_detail").attr("style", "display:none;");

                $("#id_included_ticket_detail_other").attr("style", "");
                $("#id_included_transport_detail_other").attr("style", "");
                $("#id_included_food_detail_other").attr("style", "");
            });

            $("#id_activity").keyup(function () {
                countChar($("#id_activity"), 500, $("#id_detail_activity_limit"));
            });

            $("#id_activity_other").keyup(function () {
                countChar($("#id_activity_other"), 500, $("#id_detail_activity_limit_other"));
            });

            $("#id_interaction").keyup(function () {
                countChar($("#id_interaction"), 500, $("#id_detail_interaction_limit"));
            });

            $("#id_interaction_other").keyup(function () {
                countChar($("#id_interaction_other"), 500, $("#id_detail_interaction_limit_other"));
            });

            $("#id_dress_code").keyup(function () {
                countChar($("#id_dress_code"), 500, $("#id_detail_dress_limit"));
            });

            $("#id_dress_code_other").keyup(function () {
                countChar($("#id_dress_code_other"), 500, $("#id_detail_dress_limit_other"));
            });

            lastStepBinding('overview');
            nextStepBinding('photo');
        }

        function setListenerForPostingDetail() {
            $("#id_activity").focusout(function () {
                checkDetailFiled();
                postDatum(location.href, {'activity': $('#id_activity').val()});
            });

            $("#id_interaction").focusout(function () {
                checkDetailFiled();
                postDatum(location.href, {'interaction': $('#id_interaction').val()});
            });

            $("#id_dress_code").focusout(function () {
                checkDetailFiled();
                postDatum(location.href, {'dress_code': $('#id_dress_code').val()});
            });

            $("#id_included_food_0, #id_included_food_1").click(function () {
                postDatum(location.href, {'included_food': $('input[name=included_food]:checked').val()});
            });

            $("#id_included_transport_0, #id_included_transport_1").click(function () {
                postDatum(location.href, {'included_transport': $('input[name=included_transport]:checked').val()});
            });

            $("#id_included_ticket_0, #id_included_ticket_1").click(function () {
                postDatum(location.href, {'included_ticket': $('input[name=included_ticket]:checked').val()});
            });

            $("#id_included_food_detail").focusout(function () {
                checkDetailFiled();
                postDatum(location.href, {'included_food_detail': $('#id_included_food_detail').val()});
            });

            $("#id_included_transport_detail").focusout(function () {
                checkDetailFiled();
                postDatum(location.href, {'included_transport_detail': $('#id_included_transport_detail').val()});
            });

            $("#id_included_ticket_detail").focusout(function () {
                checkDetailFiled();
                postDatum(location.href, {'included_ticket_detail': $('#id_included_ticket_detail').val()});
            });
        }

        function checkDetailFiled() {
            var filled = true;
            $('textarea').each(function() {
                if ($(this).val() === '') {
                    filled = false;
                }
            });

            if(filled) {
                $("#details-status-icon").attr("src","/images/done.jpg");
                setCookie("detailFilled", "True");
            } else {
                $("#details-status-icon").attr("src","/images/pencil.jpg");
                setCookie("detailFilled", "False");
            }
            setFinishedStatus();
        }

        $.get(href).done(function (response) {
            $('#ajax-listing-form').html($(response));
        }).done(function () {
            setupDetailForm();
            setListenerForDetailForm();
            setListenerForPostingDetail();
        }).fail(function () {
            $('#ajax-listing-form').text("Sorry but there was an error.");
        });
    }

    function loadPhotoForm(href) {
        function verifyImages(i) {
            var input, file;
            var valid = true;

            if (window.FileReader) {
                input = document.getElementById('id_experience_photo_' + i);
                if (input && input.files && input.files[0]) {
                    file = input.files[0];
                    if (file.size > 2097152) {
                        valid = false;
                        return valid;
                    }
                    str = file.name.split(".");
                    if (['jpg', 'jpeg', 'png', 'bmp'].indexOf(str[str.length - 1]) < 0) {
                        valid = false;
                        return valid;
                    }
                }
            }
            return valid;
        }

        function setupPhotoForm() {
            var availableImage = $("#availableImage").val().split(',');
            var j = 0;

            for (i = 1; i < 11; i++) {
                if(parseInt(availableImage[j]) == i) {
                    changeToReplaceStyle("photo-preview-div-" + i);
                    registerEventForImagePanel("photo-preview-div-"+i);
                    j = j + 1;
                } else {
                    changeToAddNewStyle("photo-preview-div-" + i);
                }

                $("#id_experience_photo_" + i).attr("class", "upload");
                $("#id_experience_photo_" + i).change(function (e) {
                    i = e.target.id.substr(-1, 1);
                    string = $("#id_experience_photo_" + i).val();
                    index = -1;
                    index = string.lastIndexOf("\\");
                    if (index == -1) {
                        index = string.lastIndexOf("/");
                    }

                    $("#uploadImage_" + i).val(string.substring(index + 1));
                });

                // Set upload file attributes.
                $("input[type=file]").attr("class", "upload");

            }

            var newWidth = $("#location").width();
            var newHeight = $("#location").height();
            $(".empty-block").css("width", newWidth);
            $(".empty-block").css("height", newHeight);
            $(".empty-block").css("float", "left");

        }

        function setListenerForPostingPhoto() {
            for (i = 1; i < 11; i++) {
                $('#id_experience_photo_' + i).change(function (e) {
                   // checkPhotoFiled();
                    if (verifyImages(i)) {
                        // Show animation.
                        $('#id_experience_photo_gif_' + i).attr("style", "display:block;");
                        // Fetch data and upload.
                        var formData = new FormData();
                        formData.append('experience_photo_' + i, this.files[0]);
                        postFile(location.href, formData, i);
                    }

                });

                $('#upload-file-delete-button-' + i).click(function(e) {
                    if(confirm("Are you sure to delete the image?")) {
                        postDatum(location.href, {'delete_file': e.target.id.split('-').pop()});
                    }
                });



            }
        }

        function setListenerForPhotoForm() {
            lastStepBinding('detail');
            nextStepBinding('location');
        }



        $.get(href).done(function (response) {
            $('#ajax-listing-form').html($(response));
        }).done(function () {
            setupPhotoForm();
            setListenerForPhotoForm();
            setListenerForPostingPhoto();
        }).fail(function () {
            $('#ajax-listing-form').text("Sorry but there was an error.");
        });

    }

    function loadLocationForm(href) {
        function setListenerForLocationForm() {
            $("#location_tab").click(function () {
                $("#id_meetup_spot").attr("style", "");
                $("#id_meetup_spot_other").attr("style", "display:none;");
                $("#id_dropoff_spot").attr("style", "");
                $("#id_dropoff_spot_other").attr("style", "display:none;");
            });

            $("#location_other_tab").click(function () {
                $("#id_meetup_spot").attr("style", "display:none;");
                $("#id_meetup_spot_other").attr("style", "");
                $("#id_dropoff_spot").attr("style", "display:none;");
                $("#id_dropoff_spot_other").attr("style", "");
            });

            lastStepBinding('photo');
        }

        function setListenerForPostingLocation() {
            $("#id_meetup_spot").focusout(function () {
                checkLocationFiled();
                postDatum(location.href, {'meetup_spot': $('#id_meetup_spot').val()});
            });

            $("#id_meetup_spot_other").focusout(function () {
                checkLocationFiled();
                postDatum(location.href, {'meetup_spot_other': $('#id_meetup_spot_other').val()});
            });

            $("#id_dropoff_spot").focusout(function () {
                checkLocationFiled();
                postDatum(location.href, {'dropoff_spot': $('#id_dropoff_spot').val()});
            });

            $("#id_dropoff_spot_other").focusout(function () {
                checkLocationFiled();
                postDatum(location.href, {'dropoff_spot_other': $('#id_dropoff_spot_other').val()});
            });

            $("#id_suburb").change(function () {
                checkLocationFiled();
                postDatum(location.href, {'suburb': $('#id_suburb').val()});
            });
        }

        $.get(href).done(function (response) {
            $('#ajax-listing-form').html($(response));
        }).done(function () {
            $("#id_meetup_spot_other").attr("style","display:none;");
            $("#id_dropoff_spot_other").attr("style","display:none;");
            setListenerForLocationForm();
            setListenerForPostingLocation();
        }).fail(function () {
            $('#ajax-listing-form').text("Sorry but there was an error.");
        });
    }

    function loadForm(href) {
        var step = hrefToStepName(href);
        setFinishedStatus();
        if (step === "price") {
            loadPriceForm(href);
        } else if (step === "overview") {
            loadOverviewForm(href);
        } else if (step === "detail") {
            loadDetailForm(href);
        } else if (step == "photo") {
            loadPhotoForm(href);
        } else if (step == "location") {
            loadLocationForm(href);
        }
    }

    function setFinishedStatus() {
        var steps = 0;

        if(getCookie("priceFilled") === "True") {
            $("#pricing-status-icon").attr("src","/images/done.jpg");
            steps = steps + 1;
        }
        else {
            $("#pricing-status-icon").attr("src","/images/pencil.jpg");
            setCookie("isSubmited", "False");
        }
        if(getCookie("overFilled") === "True") {
            $("#overview-status-icon").attr("src", "/images/done.jpg");
            steps = steps + 1;
        }
        else {
            $("#overview-status-icon").attr("src","/images/pencil.jpg");
            setCookie("isSubmited", "False");
        }
        if(getCookie("detailFilled") === "True") {
            $("#details-status-icon").attr("src","/images/done.jpg");
            steps = steps + 1;
        }
        else {
            $("#details-status-icon").attr("src","/images/pencil.jpg");
            setCookie("isSubmited", "False");
        }
        if(getCookie("photoFilled") === "True") {
            $("#photos-status-icon").attr("src","/images/done.jpg");
            steps = steps + 1;
        }
        else {
            $("#photos-status-icon").attr("src","/images/pencil.jpg");
            setCookie("isSubmited", "False");
        }
        if(getCookie("locationFilled") === "True") {
            $("#location-status-icon").attr("src","/images/done.jpg");
            steps = steps + 1;
        }
        else {
            $("#location-status-icon").attr("src", "/images/pencil.jpg");
            setCookie("isSubmited", "False");
        }

        if(steps == 5) {
            if(getCookie("isSubmited") === "True") {
                $("#steps-remaining").text("Submitted");
            } else {
                $("#steps-remaining").text("Click to submit");
                $("#steps-remaining").css("cursor", "pointer");
                $("#steps-remaining").click(function() {
                    if($(this).text() == "Click to submit") {
                        setCookie("isSubmited", "True");
                        $("#steps-remaining").text("Submitted");
                    }
                });
            }
        } else {
            $("#steps-remaining").text(steps + " more step\n to submit");
        }


    }

    function postDatum(href, datum) {
        var signal = $('#ajax-update-signal');

        $.post(href, $.extend({
            'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']")[0].value
        }, datum)).done(function (result) {
            if(result.data == "delete_image") {
                var index = result.index;
                unbindEventForImagePanel('photo-preview-div-'+index);
                changeToAddNewStyle('photo-preview-div-'+index);

            }
            checkPhotoFiled();
            signal.fadeIn("slow");
            signal.text("Saved...");
            signal.fadeOut("slow");
        }).fail(function () {
            signal.fadeIn("slow");
            signal.text("Update Failed");
            signal.fadeOut("slow");
        });
    }

    function postFile(href, formData, index) {
        var signal = $('#ajax-update-signal');

        formData.append('csrfmiddlewaretoken', $("[name='csrfmiddlewaretoken']")[0].value);
        experienceId = href.split('/').slice(-3)[0];
        $.ajax({
            url: href,
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function () {
                signal.fadeIn("slow");
                signal.text("Saved...");
                signal.fadeOut("slow");
                $('#id_experience_photo_gif_' + index).attr("style", "display:none;");
                changeToReplaceStyle('photo-preview-div-'+index);
                registerEventForImagePanel('photo-preview-div-'+index);
                $('#photo-preview-div-'+index).css("background", "url(" + "/images/experiences/" + experienceId + "/experience" + experienceId + "_" + index + ".jpg" + "?" + new Date().getTime() +")");
                $('#photo-preview-div-'+index).css("background-size", "cover");
                checkPhotoFiled();


            },
            error: function () {
                signal.fadeIn("slow");
                signal.text("Update Failed");
                signal.fadeOut("slow");
                $('#id_experience_photo_gif_' + index).attr("style", "display:none;");
            }
        });
    }

    function activeTab(step) {
        $('.list-tab').removeClass('active-tab');
        var tabId = step + '-tab';
        $('#' + tabId).addClass('active-tab');
    }

    function changeToReplaceStyle(divId) {
        $("#"+divId).find("button").css("display", "none");
        $("#"+divId).find("div").attr("class", "fileUpload btn btn-primary photo-preview-upload-button-position");
        $("#"+divId).find("div").find("span").text("Replace the Photo");
        $("#"+divId).find("div").css("display", "none");
    }

    function changeToAddNewStyle(divId) {
        $("#"+divId).find("button").css("display", "none");
        $("#"+divId).find("div").attr("class", "fileUpload btn btn-primary add-new-photo-button");
        $("#"+divId).find("div").css("display", "block");
        $("#"+divId).find("div").find("span").text("Add a Photo");
        $("#"+divId).css("background-color", "white");
        $("#"+divId).css("background", "");
    }

    function registerEventForImagePanel(divId) {
        $("#"+divId).mouseover(function (e) {
                    $(e.target.children[0]).css("display","block");
                    $(e.target.children[1]).css("display","block");
                }
        );
        $("#"+divId).mouseleave(function (e) {
                    $(e.target.children[0]).css("display","none");
                    $(e.target.children[1]).css("display","none");
                }
        );
    }

    function unbindEventForImagePanel(divId) {
        $("#"+divId).unbind("mouseover");
        $("#"+divId).unbind("mouseleave");
    }

    function checkPhotoFiled() {
        if($("#photo-preview-div-1").css("background-image") != '' && $("#photo-preview-div-1").css("background-image") != 'none') {
            $("#photos-status-icon").attr("src","/images/done.jpg");
            setCookie("photoFilled", "True");
        } else {
            $("#photos-status-icon").attr("src","/images/pencil.jpg");
            setCookie("photoFilled", "False");
        }
        setFinishedStatus();
    }


    function checkLocationFiled() {
        var filled = true;
        $('textarea').each(function() {
            if ($(this).val() === '') {
                filled = false;
            }
        });

        if(filled) {
            $("#location-status-icon").attr("src","/images/done.jpg");
            setCookie("locationFilled", "True");
        } else {
            $("#location-status-icon").attr("src","/images/pencil.jpg");
            setCookie("locationFilled", "False");
        }

        setFinishedStatus();
    }

    $(document).ready(function () {
        $('body').attr('id', 'background-white');

        loadForm(location.href);
        activeTab(hrefToStepName(location.href));

        $('.list-tab').click(function () {
            var step = $(this).attr('id').replace('-tab', '');
            activeTab(step);
            var href = stepToHref(location.href, step);
            loadForm(href);
            history.pushState({}, 'Edit Experience', href);
        });

        $(window).on("popstate", function (e) {
            if (e.originalEvent.state !== null) {
                loadForm(location.href);
                activeTab(hrefToStepName(location.href));
            }
        });
    });




</script>
{%endblock%}