{% load staticfiles %}

<div id="overview-form" class="form-body">
    <ul id="myTab" class="nav nav-tabs">
        {%if language == "cn" %}
        <li class="active"><a id="overview_tab" role="button" data-toggle="tab">中文（简体）</a></li>
        <li><a id="overview_other_tab" role="button" data-toggle="tab">English</a></li>
        {%else%}
        <li class="active"><a id="overview_tab" role="button" data-toggle="tab">English</a></li>
        <li><a id="overview_other_tab" role="button" data-toggle="tab">中文（简体）</a></li>
        {%endif%}
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="english">
            <div class="section" id="section-overview">
                <div id="location">
                    <p id="photo-heading"><strong>Overview</strong></p>
                    <br><br><br>
                    <p id="location-details">
                        <span>A title and summary</span><br>
                        <span>displayed on your</span><br>
                        <span>public listing page.</span><br>
                        <br>
                        <span>This will also be vis-</span><br>
                        <span>ible on the search</span><br>
                        <span>page.</span><br>

                    </p>
                </div>
                <div id="title_div" class="title-instruction">
                    <p id="meet-up-heading">Title</p>
                    {{ form.title }}
                    <br>
                    <p id="characters-left"><label id="id_overview_title_limit"></label></p>
                </div>
                <div id="other_title_div" class="title-instruction" style="display:none;">
                    <p id="meet-up-heading">Title</p>
                    {{ form.title_other }}
                    <br>
                    <p id="characters-left"><label id="id_overview_title_limit_other"></label></p>
                </div>
                <div id="summary_div" class="title-instruction">
                    <p id="meet-up-heading">Summary</p>
                    {{ form.summary }}
                    <br>
                    <p id="characters-left"><label id="id_overview_summary_limit"></label></p>
                </div>
                <div id="other_summary_div" class="title-instruction" style="display:none;">
                    <p id="meet-up-heading">Summary</p>
                    {{ form.summary_other }}
                    <br>
                    <p id="characters-left"><label id="id_overview_summary_limit_other"></label></p>
                </div>
            </div>

            <div class="section" id="section-language">
                <div id="location">
                    <p id="photo-heading"><strong>Language</strong></p><br><br><br>
                    <p id="location-details">
                        <span>What language do</span><br>
                        <span> you speak?</span><br>
                    </p>
                </div>

                <div id="language-bar">
                    {{form.language}}
                    <input id="language_english" type="checkbox" class="css-checkbox" disabled><label for="language_english" name="checkbox2_lbl" class="css-label lite-cyan-check">English</label>
                    <input id="language_mandarin" type="checkbox" class="css-checkbox"><label for="language_mandarin" name="checkbox2_lbl" class="css-label lite-cyan-check">普通话</label>
                    <input id="language_cantonese" type="checkbox" class="css-checkbox"><label for="language_cantonese" name="checkbox2_lbl" class="css-label lite-cyan-check">粤语</label>
                    <input id="language_japanese" type="checkbox" class="css-checkbox"><label for="language_japanese" name="checkbox2_lbl" class="css-label lite-cyan-check">日本語</label>
                </div>
            </div>

            <div class="section" style="text-align:right;">
                <input type="submit" value="Last Step" id="last-step" />
                <input type="submit" value="Next Step" id="next-step" />
            </div>
        </div>
    </div>
</div>

<!-- Info bar -->
<div class="form-hint">
    <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
    <div id="hint-msgs" class="hint-box">

            <h3>A great title</h3>
        <p>
            A great title is unique and descriptive!
            It should highlight the main attractions of your experience,
            and it should use the most relevant keyword
            at the beginning of the title.
        </p>
    </div>
    <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
    <div id="hint-msgs" class="hint-box">

            <h3>Summary</h3>
            <p>
            Travellers will see your summary on the search page so
            please highlight the value of your offer.
            Think about what type of travellers will appreciate your offering.
        </p>
    </div>
    <br>
</div>
