
<div id="photo-form" class="calendar">
    <div class="section" id="section-add-photo">
        <div>
            <p id="photo-heading"><strong>Add a photo or two!</strong></p>
            <p id="photo-size-reminder">Please keep your images under 2MB</p>
        </div>
        <br><br><br>

        <div id="photo-detail-info">
            <p>
                <span>Or three, or more!</span><br>
                <span>Guests love photos</span><br>
                <span>that highlight the</span><br>
                <span>features of your</span><br>
                <span>experiences.</span><br>
            </p>
        </div>

        {{form.delete_photo}}

        <div id="add-photo-button">
            {%if form.initial.experience_photo_1%}
            <input id="uploadImage_1" placeholder="{{form.initial.experience_photo_1.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_1" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_1}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_2%}
            <input id="uploadImage_2" placeholder="{{form.initial.experience_photo_2.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_2" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_2}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_3%}
            <input id="uploadImage_3" placeholder="{{form.initial.experience_photo_3.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_3" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_3}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_4%}
            <input id="uploadImage_4" placeholder="{{form.initial.experience_photo_4.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_4" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_4}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_5%}
            <input id="uploadImage_5" placeholder="{{form.initial.experience_photo_5.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_5" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_5}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_6%}
            <input id="uploadImage_6" placeholder="{{form.initial.experience_photo_6.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_6" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_6}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_7%}
            <input id="uploadImage_7" placeholder="{{form.initial.experience_photo_7.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_7" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_7}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_8%}
            <input id="uploadImage_8" placeholder="{{form.initial.experience_photo_8.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_8" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_8}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_9%}
            <input id="uploadImage_9" placeholder="{{form.initial.experience_photo_9.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_9" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_9}}
            </div>
        </div>
        <br><br><br>

        <div id="add-photo-button">
            {%if form.initial.experience_photo_10%}
            <input id="uploadImage_10" placeholder="{{form.initial.experience_photo_10.name}}" class="photo-preview-thumbnail" disabled="disabled" />
            {%else%}
            <input id="uploadImage_10" placeholder="" class="photo-preview-thumbnail" disabled="disabled" />
            {%endif%}
            <div class="fileUpload btn btn-primary">
                <img src="/images/camera.gif" alt=""><span>Add Photos</span>
                {{form.experience_photo_10}}
            </div>
        </div>
    </div>
    <div class="section" style="text-align:right;">
        <input type="submit" value="Next Step" id="next-step" />
    </div>
    <!-- creating spare space  -->
    <div class="creating-slot-button-active create-slot-detail">
    </div>
    <div class="creating-slot-button-active create-slot-detail">
    </div>
    <div class="creating-slot-button-active create-slot-detail">
    </div>
</div>

<!-- Info bar -->
<div class="info-bar">
    <img src="/images/bubble-icon.png" alt="">
    <div id="hint-msgs">
        <p>
            <span><strong>Photos</strong></span><br>
            <span>Landscapes photos work the</span><br>
            <span>best with your listing page.</span><br>
            <span>It's always a good idea to</span><br>
            <span>include yourself into the</span><br>
            <span>photo to provide travellers a</span><br>
            <span>preview of what they should</span><br>
            <span>expect.</span><br>
            <span>Show off your personality!</span><br>
            <span>Sometimes someone will</span><br>
            <span>chooese you as their host just</span><br>
            <span>because you are different.</span>
        </p>
    </div>
    <br>
</div>
