
<div id="photo-form" class="calendar">
    <div class="section" id="section-add-photo">
        <div class="row">
            {% if form.data.experience_photo_1_file_name %}
            <div id="photo-preview-div-1" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_1_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-1" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-1" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_1}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_1" style="display: none;">
            </div>
            {% else %}
            <div id="photo-preview-div-add-1" class = "col-lg-6 photo-preview-div">
                <span style="color: #999;">
                    <i class="glyphicon glyphicon-plus" style="color: #399;"/>
                    Add New Photo
                </span>
                {{form.experience_photo_1}}
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_1" style="display: none;">
            </div>
            {% endif %}

            {% if form.data.experience_photo_2_file_name %}
            <div id="photo-preview-div-2" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_2_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-2" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-2" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_2}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_2" style="display: none;">
            </div>
            {% else %}
            <div id="photo-preview-div-add-2" class = "col-lg-6 photo-preview-div">
                <span style="color: #999;">
                    <i class="glyphicon glyphicon-plus" style="color: #399;"/>
                    Add New Photo
                </span>
                {{form.experience_photo_2}}
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_2" style="display: none;">
            </div>
            {% endif %}
        </div>



        <div class="row">
            {% if form.data.experience_photo_3_file_name %}
            <div id="photo-preview-div-3" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_3_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-3" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-3" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>

                    {{form.experience_photo_3}}

                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_3" style="display: none;">
            </div>
            {% else %}
            <div id="photo-preview-div-add-3" class = "col-lg-6 photo-preview-div">
                <span style="color: #999;">
                    <i class="glyphicon glyphicon-plus" style="color: #399;"/>
                    Add New Photo
                </span>
                    <div style="display: none;">
                    {{form.experience_photo_3}}
                    </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_3" style="display: none;">
            </div>
            {% endif %}

            {% if form.data.experience_photo_4_file_name %}
            <div id="photo-preview-div-4" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_4_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-4" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-4" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_4}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_4" style="display: none;">
            </div>
            {% else %}
            <div id="photo-preview-div-add-4" class = "col-lg-6 photo-preview-div">
                <span style="color: #999;">
                    <i class="glyphicon glyphicon-plus" style="color: #399;"/>
                    Add New Photo
                </span>
                <div style="display: none;">
                    {{form.experience_photo_4}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_4" style="display: none;">
            </div>
            {% endif %}
        </div>
    </div>

    <div class="section" style="text-align:right;">
        <input type="submit" value="Last Step" id="last-step" />
        <input type="submit" value="Next Step" id="next-step" />
    </div>
    <!-- creating spare space  -->
    <div class="creating-slot-button-active create-slot-detail">
    </div>
    <div class="creating-slot-button-active create-slot-detail">
    </div>
    <div class="creating-slot-button-active create-slot-detail">
    </div>
</div>

<!-- Info bar -->
<div class="info-bar">
    <img src="/images/bubble-icon.png" alt="">
    <div id="hint-msgs">
        <p>
            <span><strong>Photos</strong></span><br>
            <span>Landscapes photos work the</span><br>
            <span>best with your listing page.</span><br>
            <span>It's always a good idea to</span><br>
            <span>include yourself into the</span><br>
            <span>photo to provide travellers a</span><br>
            <span>preview of what they should</span><br>
            <span>expect.</span><br>
            <span>Show off your personality!</span><br>
            <span>Sometimes someone will</span><br>
            <span>chooese you as their host just</span><br>
            <span>because you are different.</span>
        </p>
    </div>
    <br>
</div>
