<div id="photo-form" class="calendar">
  <div id="location" class="form-info">
      <p id="photo-heading"><strong>Add a photo or two!</strong></p><br><br><br>
      <p id="location-details">
        <span>Or three, or more! Guests love photos that highlight the features of your experiences.
        First photo will be the cover photo of your listing.</span>
      </p>
  </div>
    <div class="section" id="section-add-photo" style="float:left; height:1200px;">

        <div class="row">
            <div id="photo-preview-div-1" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_1_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-1" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-1" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_1}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_1" style="display: none;">
            </div>
            <div id="photo-preview-div-2" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_2_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-2" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-2" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_2}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_2" style="display: none;">
            </div>
        </div>



        <div class="row">
            <div id="photo-preview-div-3" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_3_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-3" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-3" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_3}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_3" style="display: none;">
            </div>
            <div id="photo-preview-div-4" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_4_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-4" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-4" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_4}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_4" style="display: none;">
            </div>
        </div>


        <div class="row">
            <div id="photo-preview-div-5" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_5_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-5" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-5" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_5}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_5" style="display: none;">
            </div>
            <div id="photo-preview-div-6" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_6_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-6" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-6" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_6}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_6" style="display: none;">
            </div>
        </div>


        <div class="row">
            <div id="photo-preview-div-7" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_7_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-7" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-7" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_7}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_7" style="display: none;">
            </div>
            <div id="photo-preview-div-8" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_8_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-8" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-8" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_8}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_8" style="display: none;">
            </div>
        </div>


        <div class="row">
            <div id="photo-preview-div-9" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_9_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-9" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-9" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_9}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_9" style="display: none;">
            </div>
            <div id="photo-preview-div-10" class = "col-lg-6 photo-preview-div" style="background: url({{ MEDIA_URL }}experiences/{{form.data.id}}/{{form.data.experience_photo_10_file_name}}); background-size: cover;">
                <button id="upload-file-delete-button-10" type="button" class="btn btn-primary photo-preview-cancel-button">
                    <span class="glyphicon glyphicon-remove photo-preview-cancel-button-icon"></span>
                </button>
                <div id="upload-file-add-button-10" class="fileUpload btn btn-primary photo-preview-upload-button-position">
                    <img src="/images/camera.gif" alt=""><span>Replace Photo</span>
                    {{form.experience_photo_10}}
                </div>
                <img src="{{MEDIA_URL}}experiences/ajax-loader.gif" id="id_experience_photo_gif_10" style="display: none;">
            </div>
        </div>


        <div class="section" style="text-align:right;">
            <input type="submit" value="Last Step" id="last-step" />
            <input type="submit" value="Next Step" id="next-step" />
        </div>
    </div>
</div>


<!-- Info bar -->
<div class="info-bar">
    <img src="/images/bubble-icon.png" alt="">
    <div id="hint-msgs">
        <p>
            <span><strong>Photos</strong></span><br>
            <span>Landscapes photos work the</span><br>
            <span>best with your listing page.</span><br>
            <span>It's always a good idea to</span><br>
            <span>include yourself into the</span><br>
            <span>photo to provide travellers a</span><br>
            <span>preview of what they should</span><br>
            <span>expect.</span><br>
            <span>Show off your personality!</span><br>
            <span>Sometimes someone will</span><br>
            <span>chooese you as their host just</span><br>
            <span>because you are different.</span>
        </p>
    </div>
    <br>
</div>
<input value="{{form.data.photo_indexes}}" id="availableImage" style="display:none;"/>
