{% load staticfiles %}

<!--Selection Panel-->
<div id="selection-menu" class="form-body">
    <div class="section" id="section-selection-menu">
        <div id="menu-title" class="form-info" style="width: 100%; height:auto;">
            <h3>Pricing</h3>

            <p id="menu-title-description">Do you allow anyone to book your experience or would you like to host for
                private groups only?</p>
        </div>
        <div id="menu-selection-left">

        </div>
        <div id="menu-selection-right">

        </div>
        <div id="menu-operation-bar">
            <div id="proceed-button" class="btn btn-primary">
                Proceed
            </div>
        </div>

    </div>

</div>


<!-- Price Panel-->
<div id="price-form" class="form-body" style="display: none">
    <div class="section" id="section-add-price">
        <div class="section" id="price-section-header">
            <p>This is a <strong id="type-indicator">public</strong> experience <a id="change-pricing-type-button">&nbsp;&nbsp;&nbsp;Change</a></p>
        </div>
        <div id="location">
            <p id="photo-heading"><strong>Pricing</strong></p>
            <br><br><br>

            <p id="location-details">
                <span>Add value to your</span><br>
                <span>pricing is the key!</span><br>
                <span>Keep the group size</span><br>
                <span>small for a personal</span><br>
                <span>experience</span><br>
            </p>
        </div>

        <div id="group-size-section" style="display: block">
            <p id="group-size-heading">Group size</p>
            <br>
            <p id="group-size-min">Min</p>
            {{ form.min_guest_number }}
            {{ form.max_guest_number }}
            <p id="group-size-max">Max</p>
            <br><br><br>

            <div style="color:#999999;">
                {{ form.type }}
                {% if form.type.0.value == "PRIVATE" %}
                    <input type="checkbox" id="experience_type" value="PRIVATE" style="display: none">
                {% elif form.type.0.value == "NONPRIVATE" %}
                    <input type="checkbox" id="experience_type" value="NONPRIVATE" checked style="display: none">
                {% else %}
                    <input type="checkbox" id="experience_type" value="NONE" checked style="display: none">
                {% endif %}
            </div>
        </div>

        <div id="price-section">
            <div class="float-left">
                <p id="customers-pay">Customers pay</p>
                <span id="dollar-sign">$</span>
                {{ form.price_with_booking_fee }}
            </div>
            <p class="float-left math-symbol">-</p>

            <div class="float-left">
                <p id="commission">Commission</p>
                <span id="dollar-sign-4">$</span>

                <p id="commission-price" class="commission-price"></p>
            </div>
            <p class="float-left math-symbol">=</p>

            <div class="float-left">
                <p id="price-per-person">What you get</p>
                <span id="dollar-sign">$</span>
                {{ form.price }}
            </div>
        </div>
        <div id="currency-section">
            <div class="float-left">
                <p id="">Currency</p>
                <br>
                {{ form.currency }}
            </div>
        </div>
    </div>

    <div class="section" id="operation-hour-section">
        <div id="location">
            <p id="photo-heading"><strong>Operation hours?</strong></p>
            <br><br><br>

            <p id="location-details">
                <span>Does your experience</span><br>
                <span>has multiple departure</span><br>
                <span>time?</span><br>
            </p>
        </div>
        <div id="duration-section">
            <p id="duration-heading">Duration</p>
            {{ form.duration }}
            <p class="float-left" id="duration-hours"></p>
        </div>
    </div>

    <div id="private-only-part">
        <div class="section">
            <div id="location">
                <p id="photo-heading"><strong>Dynamic pricing</strong></p>
                <br><br><br>

                <p id="location-details">
                    <span>Want to offer lower</span><br>
                    <span>price for larger group?</span><br>
                    <span>Here is the place to</span><br>
                    <span>do that.</span><br>
                </p>
            </div>
            <a id="add_dynamic_price" val="Add">Add</a>
            <a id="cancel_dynamic_price" val="Cancel" style="display:none;">Clear</a>
        </div>
        <div id="dynamic_price_div" class="section" style="display:none;">
            {{ form.dynamic_price }}
            <p id="dynamic_price_heading">No. of PP</p>

            <p id="dynamic_price_heading">Customers pay</p>

            <p id="dynamic_price_heading">Commission</p>

            <p id="dynamic_price_heading_2">Price per person</p>
            <br><br><br><br><br><br><br><br>
            <br/>
            <br/>

            <div id="dynamic_price_div_0" style="display:none;">
                <p id="no-of-pp">1</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_0" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-0" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_0" type="number" min="1" step="0.01">
            </div>
            <br>

            <div id="dynamic_price_div_1" style="display:none;">
                <p id="no-of-pp">2</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_1" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-1" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_1" type="number" min="1" step="0.01">
            </div>
            <br>

            <div id="dynamic_price_div_2" style="display:none;">
                <p id="no-of-pp">3</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_2" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-2" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_2" type="number" min="1" step="0.01">
            </div>
            <br>

            <div id="dynamic_price_div_3" style="display:none;">
                <p id="no-of-pp">4</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_3" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-3" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_3" type="number" min="1" step="0.01">
            </div>
            <br>

            <div id="dynamic_price_div_4" style="display:none;">
                <p id="no-of-pp">5</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_4" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-4" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_4" type="number" min="1" step="0.01">

            </div>
            <br>

            <div id="dynamic_price_div_5" style="display:none;">
                <p id="no-of-pp">6</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_5" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-5" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_5" type="number" min="1" step="0.01">
            </div>
            <br>

            <div id="dynamic_price_div_6" style="display:none;">
                <p id="no-of-pp">7</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_6" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-6" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_6" type="number" min="1" step="0.01">
            </div>
            <br>

            <div id="dynamic_price_div_7" style="display:none;">
                <p id="no-of-pp">8</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_7" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-7" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_7" type="number" min="1" step="0.01">
            </div>
            <br>

            <div id="dynamic_price_div_8" style="display:none;">
                <p id="no-of-pp">9</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_8" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-8" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_8" type="number" min="1" step="0.01">
            </div>
            <br>

            <div id="dynamic_price_div_9" style="display:none;">
                <p id="no-of-pp">10</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_9" type="number" min="1" step="0.01">

                <p class="float-left math-symbol-2">-</p>

                <div class="float-left">
                    <span id="dollar-sign-4">$</span>

                    <p id="commission-price-9" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>

                <input id="dynamic_price_input_9" type="number" min="1" step="0.01">
            </div>
            <br>
        </div>
    </div>

    <div class="section" style="text-align:right; clear:both;">
        <input type="button" value="Back" class="last-step" id="last-step"/>
        <input type="button" value="Next" class="next-step" id="next-step"/>
    </div>
    <!-- creating spare space  -->
    <div class="creating-slot-button-active create-slot-detail">
    </div>
    <div class="creating-slot-button-active create-slot-detail">
    </div>
    <div class="creating-slot-button-active create-slot-detail">
    </div>
</div>

<!-- Info bar -->
<div class="form-hint" style="display: none">
    <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">

    <div id="hint-msgs" class="hint-box">
        <p>
            <span><strong>Group size</strong></span><br>
            <span>A lot of our customers travel</span><br>
            <span>alone, so be really careful</span><br>
            <span>when you want to have a</span><br>
            <span>minimum group size</span><br>
        </p>
    </div>
    <br>
</div>
