/*
  Homepage
  aka index.html
*/

@import
  '../../vendor/include-media',
  '../../vendor/animate',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders';


// Headings
h1 {
  font-family: $font-stack-homepage;
  font-weight: 600;
}

// Top navigation bar, aka header
.navbar {
  @include linearGradient(rgba(black, 0.7), transparent);
  position: absolute;
  width: 100%;
  border: 0;
  color: white;

  a {
    color: white;
  }

  .navbar-header {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .navbar-collapse {
    background-color: transparent;
    border: 0;
  }

  .navbar-right {
    @include media('<tablet') {
      display: inline-block;
      float: right;
    }
    @include media('<phone') {
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .nav {
    > li {
      @include media('<tablet') {
        display: inline-block;
        position: relative;
        float: left;
      }
    }
  }

  .btn-clear {
    background-color: transparent;
    border-color: white;
    color: white;
    @include media('<tablet') {
      margin-top: 10px;
    }
    @include media('<phone') {
      display: none;
    }
    &:hover {
      background-color: transparentize(black, 0.7);
      border-color: white;
      color: white;
    }
  }

  .btn-secondary {
    background-color: transparent;
    color: white;
    border-color: transparent;

  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
      background-color: white;
      position: absolute;
      right: 0;
      left: auto;
    }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

// Brand logo with centred search bar
.jumbotron {

  .homepage-logo {
    height: 80px;
    margin: 80px auto 30px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include media('>tablet') {
      height: 100px;
      margin-top: 120px;
      margin-bottom: 50px;
    }
  }

  .search-bar {
    width: 225px;
    margin: auto;
    background-color: rgba(black, 0.5);
    @include media('>tablet') {
      width: 500px;
    }

    .search-location {
      padding: 3px;
      height: 50px;
      @include media('>tablet') {
        padding-right: 0;
      }
    }
    
    .ui.dropdown > .text {
      font-size: 18px;
    }

    .btn-search {
      width: 100%;
      height: 50px;
      border-radius: 2px;
      @include media('<tablet') {
        margin-top: 3px;
      }
    }

    .home-search-button {
      padding: 3px;
    }

  }

  p {
    margin-top: 15px;
    color: white;
  }

  @include media('>tablet') {
    height: 80vh;
  }
}

// Toggle switch menu
.homepage-option {
  display: none;
}

#custom-itinerary {
  color: white;
  background-color: rgba(black, 0.5);
  border-radius: 3px;
  width: 500px;
  padding: 15px;
  margin: 0 auto;
  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
  }
  .btn {
    border-radius: 2px;
    height: 40px;
    line-height: 27px;
  }
  @include media('<tablet') {
    width: 90%;
  }
}

.homepage-toggle {
  color: white;
  height: 70px;
  position: relative;
  @include media('<phablet') {
    margin: 0 -15px;
  }
}
.switch {
  width: 100px;
  margin: 0 15px;
  display: inline-block;
}
.toggle-label {
  margin: 0;
  color: rgba(white, 0.5);
  font-weight: normal;
  width: 152px;
  display: inline-block;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  top: -40%;
  transform: translateY(50%);
  transition: color 0.4s;
  @include media('<phablet') {
    font-size: 14px;
    width: 60px;
    text-align: left;
  }
}
.toggle-label.active {
  font-weight: 500;
  color: rgba(white, 1);
}

// Tease box
.tease-box {
  text-align: center;
  background: none;
  @include media('>tablet') {
    padding: 65px 0;
  }

  h1 {
    color: $dark-grey;
  }

  p {
    font-size: 16px;
    color: $dark-grey;
    margin-bottom: 45px;
  }

  .profile-frame-sm {
    width:66px;
    height:66px;
    float: none;
    margin: 70px auto;
    position: relative;
  }

  .profile-sm {
      width:60px;
      height:60px;
      border: 1px $medium-grey solid;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }

  .row {
    @include media('>tablet') {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .col-sm-4, .col-sm-8 {
    @include media('<=tablet') {
      padding: 0;
    }
  }

  .price-offer, .city {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    position: relative;

    h1 {
      color: white;
      font-weight: normal;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
      margin: 0;
    }

  }

  .city {
    a {
      transition: background-color 0.4s;
    }
    a:hover{
      background-color: RGBA(0, 0, 0, 0.2);
    }
  }

  .price-box {
    top:0;
    margin-top: 170px;
  }

  .box-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

}

// Video box
.video-box {
  display: none;
  @include media('>tablet') {
    width: 100%;
    height: 575px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: table;
  }
}

.video-overlay{
  color: white;
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

// Community box
.community-box {
  position: relative;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;

  h1 {
    margin: 47px;
    text-align: center;
    padding: 0;
  }

  .box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 330px;
    a {
      margin-top: 260px;
      width: 140px;
    }
  }
}
