/*
  Homepage
  aka index.html
*/

@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders';


// Headings
h1 {
  font-family: $font-stack-homepage;
  font-weight: 600;
}

// Top navigation bar, aka header
.navbar {
  @include linearGradient(rgba(black, 0.7), transparent);
  position: absolute;
  width: 100%;
  border: 0;
  color: white;

  a {
    color: white;
  }

  .navbar-header {
    display: none;
  }

  .main-menu {
    display: none;
  }

  .navbar-collapse {
    background-color: transparent;
    border: 0;
  }

  .navbar-right {
    @include media('<tablet') {
      display: inline-block;
      float: right;
    }
    @include media('<phone') {
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .nav {
    > li {
      @include media('<tablet') {
        display: inline-block;
        position: relative;
        float: left;
      }
    }
  }

  .btn-clear {
    background-color: transparent;
    border-color: white;
    color: white;
    @include media('<tablet') {
      margin-top: 10px;
    }
    @include media('<phone') {
      display: none;
    }
    &:hover {
      background-color: transparentize(black, 0.7);
      border-color: white;
      color: white;
    }
  }

  .btn-secondary {
    background-color: transparent;
    color: white;
    border-color: transparent;

  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
      background-color: white;
      position: absolute;
      right: 0;
      left: auto;
    }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

// Brand logo with centred search bar
.jumbotron {

  .homepage-logo {
    height: 200px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    @include media('>tablet') {
      height: 240px;
      margin-top: 80px;
      margin-bottom: 50px;
    }

  }

  .bootstrap-datetimepicker-widget {
    top: 0;
    left: 0;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999;
    border-radius: 4px;
  }

  .search-bar {
    width: 225px;
    height: 95px;
    margin: auto;
    background-color: rgba(black, 0.5);
    @include border-radius(6px);
    @include media('>tablet') {
      width: 620px;
      height: 47px;
    }

    .search-location {
      padding: 3px;
      @include media('>tablet') {
        padding-right: 0;
      }
    }

    .search-from, .search-to {
      display: none;
      padding: 3px;
      @include media('>tablet') {
        display: block;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    #id_end_date {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .home-search-button {
      padding: 3px;
      border-radius: 2px;
    }

    .btn-search {
      width: 100%;
      height: 40px;
    }

  }

  p {
    margin-top: 15px;
    color: white;
  }

  @include media('>tablet') {
    height: 590px;
  }
}

// Tease box
.tease-box {
  text-align: center;
  background: none;
  @include media('>tablet') {
    padding: 65px 0;
  }

  h1 {
    color: $dark-grey;
  }

  p {
    font-size: 16px;
    color: $dark-grey;
    margin-bottom: 45px;
  }

  .profile-frame-sm {
    width:66px;
    height:66px;
    float: none;
    margin: 70px auto;
    position: relative;
  }

  .profile-sm {
      width:60px;
      height:60px;
      border: 1px $medium-grey solid;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
  }

  .row {
    @include media('>tablet') {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .col-sm-4, .col-sm-8 {
    @include media('<=tablet') {
      padding: 0;
    }
  }

  .price-offer, .city {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    position: relative;

    h1 {
      color: white;
      font-weight: normal;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%;
      margin: 0;
    }

  }

  .city {
    a {
      transition: background-color 0.4s;
    }
    a:hover{
      background-color: RGBA(0, 0, 0, 0.2);
    }
  }

  .price-box {
    top:0;
    margin-top: 170px;
  }

  .box-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

}

// Video box
.video-box {
  display: none;
  @include media('>tablet') {
    width: 100%;
    height: 575px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: table;
  }
}

.video-overlay{
  color: white;
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

// Community box
.community-box {
  position: relative;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;

  h1 {
    margin: 47px;
    text-align: center;
    padding: 0;
  }

  .box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 330px;
    a {
      margin-top: 260px;
      width: 140px;
    }
  }
}
