/*
  Banners

*/

// Custom itinerary homepage
.custom-itinerary {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
  height: 220px;
  @include media('>tablet') {
    border-style: solid;
    border-width: 1px;
    border-color: $light-grey;
    border-radius: 3px;
  }
  .request-btn {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 45px;

    @include media('>tablet', '<desktop') {
      width: 150px;
      bottom: 30px;
    }
  }
}

// Custom itinerary search page
.custom-itinerary-searchpage {
  display: none;
  @include media('>tablet') {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: relative;
    height: 354px;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: $light-grey;
    border-radius: 3px;
  }
}

.side-banner {
  margin-right: -80px;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 120px;
  background-color: $primary-color;
  text-align: center;
  border-radius: 3px 0 0 3px;

  @include media('<tablet') {
    display: none;
  }

  p {
    color: white;
    margin: 5px 0;
  }
}

.qr-code {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
