/*
  Banners

*/

// Custom itinerary homepage
.custom-itinerary {
  background-image: url(../../img/itinerary_banner.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
  height: 220px;
  border: 5px solid $slate-grey;
  h2, h3 {
    max-width: 160px;
    color: $slate-grey;
    text-align: center;
    margin: 20px auto;
  }
  @include media('>phone', '<=tablet') {
    background-size: contain;
    background-image: url(../../img/itinerary_banner_wide.gif);
  }
  .request-btn {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 40px;
    border-radius: 0;
    @include media('>tablet', '<desktop') {
      bottom: 30px;
    }
  }
}

// Custom itinerary search page
.custom-itinerary-searchpage {
  display: none;
  @include media('>tablet') {
    @extend .custom-itinerary;
    background-image: url(../../img/itinerary_banner_tall.gif);
    display: inline-block;
    position: relative;
    height: 350px;
    width: 300px;
    .request-btn {
      bottom: 80px;
    }
    h2 {
      margin: 50px auto;
    }
  }
}

.custom-itinerary-wide {
  background-image: url(../../img/itinerary_banner_wide.gif);
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid $slate-grey;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
  h2, h3 {
    max-width: 180px;
    color: $slate-grey;
    text-align: center;
    margin: 20px auto;
  }
  @include media('<phone') {
    background-image: url(../../img/itinerary_banner.gif);
  }
  .request-btn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 4d0px;
    border-radius: 0;
  }
}

.side-banner {
  margin-right: -80px;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 80px;
  height: 120px;
  background-color: $primary-color;
  text-align: center;
  border-radius: 3px 0 0 3px;
  z-index: 1050;

  @include media('<tablet') {
    display: none;
  }

  p {
    color: white;
    margin: 5px 0;
  }
}

.qr-code {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.banner-logos {
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 15px;
  @include media('<tablet') {
    display: none;
  }
}
