/*

  Buttons

*/

.btn-primary {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 20%);
    border-color: darken($primary-color, 20%);
  }
}

.btn-secondary {
  background-color: $secondary-color;
  color: $medium-grey;
  border-color: $secondary-color;
  &:hover {
    color: $dark-grey;
    background-color: darken($secondary-color, 20%);
    border-color: darken($secondary-color, 20%);
  }
}

.btn-grey {
  background-color: $pale-grey;
  color: $dark-grey;
  border-color: $light-grey;
  &:hover {
    background-color: darken($pale-grey, 10%);
  }
}

.btn-dark {
  background-color: $slate-grey;
  color: white;
  border-color: $slate-grey;
  &:hover {
    color: white;
    background-color: darken($slate-grey, 10%);
    border-color: darken($slate-grey, 10%);
  }
}

.btn-clear {
  background-color: transparent;
  border-color: $medium-grey;
  color: $medium-grey;
  &:hover {
    border-color: $medium-grey;
    color: $medium-grey;
  }
}

.btn-danger {
  background-color: white;
  border-color: white;
  color: $pink;
}
