/*
  calendar styles
*/

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  background-color: $primary-color !important;
}

.bootstrap-datetimepicker-widget td.disabled {
  background-color: $off-white !important;
  color: $pale-grey !important;
}
