/*
  Draggable components
*/

.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

.column {
  min-height: 80px;
}

.drop-placeholder {
    width: 100%;
    height: 75px;
    margin-top: 10px;
    background-color: $pale-grey;
}

.drop-placeholder-sm {
  @extend .drop-placeholder;
  height: 30px;
}
