/*

  Dropdowns

*/

.ui.selection.dropdown {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  line-height: 1.5;
  color: $medium-grey;
  border-radius: 3px 0 0 3px;
}
.ui.dropdown > .dropdown.icon {
  line-height: 1.5;
}
.dropdown.icon {
  background-image: none;
}

.light-color {
  color: $medium-grey;
  margin-left: 3px;
  font-weight: normal;
}

.ui.dropdown .menu .item {
  font-size: 14px;
  font-weight: 500;
  color: $dark-grey;
}

.ui.dropdown .menu > .item:hover {
  background: $primary-color;
  color: white;
}

.ui.dropdown .menu > .item:hover .light-color {
  background: $primary-color;
  color: white;
}

.ui.dropdown .menu > .header {
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
  color: $medium-grey;
}

.ui.selection.dropdown {
  min-width: 0;
}

.ui.dropdown.smaller-box.selection {
  width: 100px;
  padding-left: 8px;
  padding-right: 5px;
  vertical-align: middle;
}

@media only screen and (max-width: 767px) {
  .ui.selection.dropdown {
    border-radius: 4px;
  }
  .ui.selection.dropdown .menu {
    max-height: none;
  }
}
@media only screen and (min-width: 768px) {
  .ui.selection.dropdown .menu {
    max-height: none;
  }
}
@media only screen and (min-width: 992px) {
  .ui.selection.dropdown .menu {
    max-height: none;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.selection.dropdown .menu {
    max-height: none;
  }
}
.dropdown-menu > li > a {
  color: $dark-grey;
}
.dropdown-menu > li > a:hover {
  background-color: white;
  color: $primary-color;
}
