/*

  icons

*/

.icon-header {
  display: inline-block;
  width: 60px;
  text-align: center;
  margin: auto;
  .icon-image {
    width: 27px;
    height: 27px;
    margin-left: auto;
    margin-right: auto;
  }
  .icon-text {
    margin-top: 5px;
  }
}

.facebooklogo,
.instagramlogo,
.mobilelogo,
.reviewlogo {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 4px;
  background-size: 210px 320px;
}
.facebooklogo {
  background-image: url("/images/icons.png");
  background-position: -135px 0;
}
.mobilelogo {
  background-image: url("/images/icons.png");
  background-position: -135px -135px;
}
.reviewlogo {
  background-image: url("/images/icons.png");
  background-position: -135px -45px;
}

// Wishlist
%wishlist-icon {
  height: 27px;
  width: 27px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 5px;
}

.save_to_wishlist_not_added {
  @extend %wishlist-icon;
  background-image: url("../img/heart_large_red.svg");
}

.save_to_wishlist_added {
  @extend %wishlist-icon;
  background-image: url("../img/heart_large_filled.svg");
}

%wishlist-related-icon {
  position: relative;
  float: left;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
}

.save_to_wishlist_related {
  @extend %wishlist-related-icon;
  background-image: url("../img/heart_small_red.svg");
}

.saved_to_wishlist_related {
  @extend %wishlist-related-icon;
  background-image: url("../img/heart_small_filled.svg");
}

.bus-icon {
  background-image: url(../img/bus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 27px;
  position: absolute;
  left: 20px;
}
