/*
  Modal
*/


// Popup
.modal-backdrop.in {
  z-index: 1000;
}
.modal-dialog {
  margin-top: 80px !important;
}
.popup {
  width: 380px;
  height: 400px;
  background-color: $off-white;
  position: relative;
  z-index: 1001;
  margin: auto;
}

.popup-content {
  margin-top: 75px;
  width: 100%;
  text-align: center;

  h2 {
    font-size: 14px;
    color: $slate-grey;
    margin: 0;
    font-weight: normal;
  }
  h3 {
    font-size: 12px;
    color: $medium-grey;
    margin: 0;
    font-weight: normal;
  }
}

.conversation-box {
  width: 310px;
  margin: 5px auto;
  padding: 10px;
  background: white;
  border: 1px solid $light-grey;
  border-radius: 3px;
}

.product-image {
  height: 140px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: $light-grey;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-full-width {
  width: 100%;
  height: 40px;
  background-color: $primary-color;
  color: white;
  display: block;
  line-height: 1.9;
  margin-top: 10px;
  border-radius: 0 0 6px 6px;
  &:hover {
    color: white;
    background-color: darken($primary-color, 10%);
  }
}

.close-popup {
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 15px;
  color: $medium-grey;
  cursor: pointer;
}

.profile-logo {
  width: 105px;
  height: 105px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 1px solid $light-grey;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-logo-frame {
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: auto;
}
