/*

  Profile

*/

// Sizes
$xxs: 32px;
$xs: 50px;
$sm: 100px;
$md: 130px;
$lg: 170px;

// Abstract profile class
%profile {
  overflow: hidden;
  position: relative;
  background-color: white;
  @include border-radius(100px);
  img {
    border: 1px $medium-grey solid;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

// Implementations
.profile-lg {
  @extend %profile;
  width: $lg;
  height: $lg;
  img {
    height: $lg;
  }
}

.profile-md {
  @extend %profile;
  width: $md;
  height: $md;
  img {
    height: $md;
  }
}

.profile-sm {
  @extend %profile;
  width: $sm;
  height: $sm;
  img {
    height: $sm;
  }
}

.profile-xs {
  @extend %profile;
  width: $xs;
  height: $xs;
  img {
    height: $xs;
  }
}

.profile-navbar {
  @extend %profile;
  width: $xxs;
  height: $xxs;
  margin-right: 8px;
  img {
    height: $xs;
  }
}
