/*

  Profile

*/

// Sizes
$xxs: 34px;
$xs: 50px;
$sm: 80px;
$md: 130px;
$lg: 150px;

// Abstract profile class
%profile {
  overflow: hidden;
  position: relative;
  background-color: white;
  @include border-radius(100px);
  img {
    border: 1px $medium-grey solid;
    border-radius: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

// Implementations
.profile-lg {
  @extend %profile;
  width: $lg;
  height: $lg;
  img {
    height: $lg;
  }
}

.profile-md {
  @extend %profile;
  width: $md;
  height: $md;
  img {
    height: $md;
  }
}

.profile-sm {
  @extend %profile;
  width: $sm;
  height: $sm;
  img {
    height: $sm;
  }
}

.profile-xs {
  @extend %profile;
  width: $xs;
  height: $xs;
  img {
    height: $xs;
  }
}

.profile-navbar {
  @extend %profile;
  width: $xxs;
  height: $xxs;
  img {
    height: $xs;
  }
}

.profile-featured {
  @extend %profile;
}

.autosize-profile-img {
  height: 140px;
  width: 140px;
  border-radius: 100px;
  background-size: cover;
  border: 1px #ccc solid;
  position: relative;
  top: 5px;
  left: 5px;
}
