/*

  Warning signs

*/

.warning-sign {
  background-color: $salmon;
  border: 1px $pink solid;
  @include border-radius(3px);
  color: $pink;
  position: relative;

  p {
    position: absolute;
    top: 4px;
    left: 10px;
    padding-right: 20px;
  }
}
