/*
  Base
*/

body {
  background-color: $base-color;
  font-family: $font-stack-body;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.container {
  @include media('>=desktop') {
    width: 990px;
  }
}

.fixCenter {
  width: 960px;
  margin: auto;
}
