{% extends "app/layout.html" %}

{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
    <title>Add a new experience -- Location</title>
    {% load staticfiles %}
    <link href="{% static 'experiences/content/add_experience_location.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ wizard.management_form }}
{{ wizard.form.id }}
{{ wizard.form.changed_steps }}
    <div class="back_button">
        <button name="" val="" id="save-and-exit-top" disabled></button>
    </div>
{%if not edit%}
    <!-- left-side menu -->
    <div class="left-side-bar">
    <!-- Essential -->
   	    <p class="list-menu">Essential</p>
	
   	    <p class="list-tab"><strong>Calender</strong></p>
        <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
   	    <p class="list-tab"><strong>Pricing</strong></p>
   	    <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
    
        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <p class="list-tab"><strong>Overview</strong></p>
	    <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab"><strong>Details</strong></p>
	    <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab"><strong>Photos</strong></p>
	    <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" id="active-tab"><strong>Location</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>

        <!-- Steps Remaining -->
        <p id="steps-remaining">Last step, almost there!</p>
    </div>
    <!-- left-side menu ends -->
{%else%}
    <!-- left-side menu -->
    <div class="left-side-bar">
    <!-- Essential -->
   	    <p class="list-menu">Essential</p>
	
   	    <button name="wizard_next_step" type="submit" value="calendar" class="list-tab-button"><strong>Calender</strong></button>
   	    <button name="wizard_next_step" type="submit" value="price" class="list-tab-button"><strong>Pricing</strong></button>
    
        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <button name="wizard_next_step" type="submit" value="overview" class="list-tab-button"><strong>Overview</strong></button>
	    <button name="wizard_next_step" type="submit" value="detail" class="list-tab-button"><strong>Details</strong></button>
	    <button name="wizard_next_step" type="submit" value="photo" class="list-tab-button"><strong>Photos</strong></button>
	    <p class="list-tab" id="active-tab"><strong>Location</strong></p>
    </div>
    <!-- left-side menu ends -->
{%endif%}
    <!-- right-side calendar -->
    <div class="calendar">
        <ul id="myTab" class="nav nav-tabs">
            {%if language == "cn" %}
            <li class="active"><a id="location_tab" role="button" data-toggle="tab">中文（简体）</a></li>
            <li><a id="location_other_tab" role="button" data-toggle="tab">English</a></li>
            {%else%}
            <li class="active"><a id="location_tab" role="button" data-toggle="tab">English</a></li>
            <li><a id="location_other_tab" role="button" data-toggle="tab">中文（简体）</a></li>
            {%endif%}
        </ul>

        <div class="section" id="section-add-location">
            <div id="location">  
                <p id="photo-heading"><strong>Location</strong></p><br><br><br>
                <p id="location-details">
                    <span>Please specify the </span><br>
                    <span>meet up and drop off</span><br>
                    <span>location of your experience.</span><br>
                </p>
            </div>

            <div id="meet-up-instruction" style="width:320px;">
                <p id="meet-up-heading">Meet up instruction for confirmed guests</p>
                {{ wizard.form.meetup_spot }}
                {{ wizard.form.meetup_spot_other }}<br>
            </div> 
        
            <div id="location-city">
          	    <p id="location-city-heading">City</p>
			    {{ wizard.form.suburb }}
            </div>
        </div>
        <div class="section" style="text-align:right;">
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" id="last-step">Last Step</button>
            <input name="wizard_save_exit_location" type="submit" value="Submit" id="save-and-exit" style="margin-right:10px;"/>
        </div>
        <!-- creating spare space  -->
        <div class="creating-slot-button-active create-slot-detail">
        </div>
        <div class="creating-slot-button-active create-slot-detail">
        </div>
        <div class="creating-slot-button-active create-slot-detail">
        </div>
    </div>

    <!-- Info bar -->
    <div class="info-bar">
        <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
        <div id="hint-msgs">
            <p>
                <span><strong>Meet up</strong></span><br>
                <span>You can offer multiple meet</span><br>
                <span>up spots or pick up travel-</span><br>
                <span>lers from their accomonda-</span><br>
                <span>tion. You can even offer</span><br>
            </p>
        </div>
        <br>
        <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="" style="display:none;">
        <div id="hint-msgs" style="display:none;">
            <p>
                <span><strong>Drop off</strong></span><br>
                <span>Let your traveller knows </span><br>
                <span>where the experience will</span><br>
                <span>end, would you be able to</span><br>
                <span>take them back to their</span><br>
                <span>accomodation? Or perhaps</span><br>
                <span>a nearby station?</span><br>
            </p>
        </div>
        <br>
    </div>
</form>
{% endblock %}

{%block scripts%}
<script charset="utf-8" type="text/javascript">
    $(document).ready(function(){
        $('body').attr('id','background-white');
        $("#id_location-changed_steps").val($("#id_location-changed_steps").val()+'location,');
        $("#id_location-meetup_spot_other").attr("style","display:none;");
    })

    $("#location_tab").click(function(e) {
        $("#id_location-meetup_spot").attr("style","");

        $("#id_location-meetup_spot_other").attr("style","display:none;");
    })

    $("#location_other_tab").click(function(e) {
        $("#id_location-meetup_spot").attr("style","display:none;");

        $("#id_location-meetup_spot_other").attr("style","");
    })
</script>
{%endblock%}