{% extends "app/layout.html" %}

{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
    <title>Add a new experience -- Price</title>
    {% load staticfiles %}
    <link href="{% static 'experiences/content/add_experience_price.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<form id="add_experience_price_form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ wizard.management_form }}
{{ wizard.form.id }}
{{ wizard.form.changed_steps }}
    <div class="back_button">
        <button name="wizard_save_exit_price" type="submit" val="" id="save-and-exit-top">Save and Exit</button>
    </div>
{%if not edit %}
    <!-- left-side menu -->
    <div class="left-side-bar">
    <!-- Essential -->
   	    <p class="list-menu">Essential</p>
	
   	    <p class="list-tab"><strong>Calender</strong></p>
        <p><img src="/images/done.jpg" alt="" class="modify-icon"></p>
   	    <p class="list-tab" id="active-tab"><strong>Pricing</strong></p>
   	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
    
        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <p class="list-tab" ><strong>Overview</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Details</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Photos</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>
	    <p class="list-tab" ><strong>Location</strong></p>
	    <p><img src="/images/pencil.jpg" alt="" class="modify-icon"></p>

        <!-- Steps Remaining -->
        <p id="steps-remaining">5 more steps<br>until publish!</p>
    </div>
    <!-- left-side menu ends -->
{%else%}
    <!-- left-side menu -->
    <div class="left-side-bar">
    <!-- Essential -->
   	    <p class="list-menu">Essential</p>
	
   	    <button name="wizard_next_step" type="submit" value="calendar" class="list-tab-button"><strong>Calender</strong></button>
   	    <p class="list-tab" id="active-tab"><strong>Pricing</strong></p>
    
        <!-- description -->
   	    <p class="list-menu">Description</p>
   	    <button name="wizard_next_step" type="submit" value="overview" class="list-tab-button"><strong>Overview</strong></button>
	    <button name="wizard_next_step" type="submit" value="detail" class="list-tab-button"><strong>Details</strong></button>
	    <button name="wizard_next_step" type="submit" value="photo" class="list-tab-button"><strong>Photos</strong></button>
	    <button name="wizard_next_step" type="submit" value="location" class="list-tab-button"><strong>Location</strong></button>
    </div>
    <!-- left-side menu ends -->
{%endif%}
    <!-- right-side calendar -->
    <div class="calendar">
        <div class="section" id="section-add-price">
            <div id="location">
                <p id="photo-heading"><strong>Pricing</strong></p>
                <br><br><br>
                <p id="location-details">
                    <span>Add value to your</span><br>
                    <span>pricing is the key!</span><br>
                    <span>Keep the group size</span><br>
                    <span>small for a personal</span><br>
                    <span>experience</span><br>
                </p>
            </div>

            <div id="group-size-section">
                <p id="group-size-heading">Group size</p>
                <br>
                {{ wizard.form.min_guest_number }}
                <p id="group-size-min">Min</p>
                {{ wizard.form.max_guest_number }}
                <p id="group-size-max">Max</p>
                <br><br><br>
                <div style="color:#999999;">
                    {{wizard.form.type}}
                    {% if wizard.form.type.0.value != "NONPRIVATE"%}
                    <input type="checkbox" id="experience_type" value="PRIVATE">This is a non-private tour
                    {% else %}
                    <input type="checkbox" id="experience_type" value="NONPRIVATE" checked>This is a non-private tour
                    {% endif %}
                </div>
            </div>
            <br><br><br>
            <div id="price-section">
                <div class="float-left"> 
                    <p id="customers-pay">Customers pay</p>
                    <span id="dollar-sign">$</span>
                    {{ wizard.form.price_with_booking_fee }}
                </div>
                <p class="float-left math-symbol">-</p>
                <div class="float-left">   
                    <p id="commission">Commission</p>
                    <span id="dollar-sign-4">$</span>
                    <p id="commission-price" class="commission-price"></p>
                </div>
                <p class="float-left math-symbol">=</p>
                <div class="float-left">
                    <p id="price-per-person">Price per person</p>
                    <span id="dollar-sign">$</span>
                    {{ wizard.form.price }}
                </div>
            </div>
            <br>
            <div id="duration-section">
                <p id="duration-heading">Duration</p>
                {{ wizard.form.duration }}
                <p class="float-left" id="duration-hours">Hours</p>
            </div>
        </div>

        <div class="section">
            <div id="location">
                <p id="photo-heading"><strong>Dynamic pricing</strong></p>
                <br><br><br>
                <p id="location-details">
                    <span>Want to offer lower</span><br>
                    <span>price for larger group?</span><br>
                    <span>Here is the place to</span><br>
                    <span>do that.</span><br>
                </p>
            </div>
            <a id="add_dynamic_price" val="Add">Add</a>
            <a id="cancel_dynamic_price" val="Cancel" style="display:none;">Clear</a>
        </div>
        <div id="dynamic_price_div" class="section" style="display:none;">
            {{ wizard.form.dynamic_price }}
            <p id="dynamic_price_heading">No. of PP</p>
            <p id="dynamic_price_heading">Customers pay</p>
            <p id="dynamic_price_heading">Commission</p>
            <p id="dynamic_price_heading_2">Price per person</p>
            <br><br><br><br><br><br><br><br>
            <div id="dynamic_price_div_1" style="display:none;">
                <p id="no-of-pp">2</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_1" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-1" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_1" type="number" min="1" step="0.01">
            </div><br>
            <div id="dynamic_price_div_2" style="display:none;">
                <p id="no-of-pp">3</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_2" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-2" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_2" type="number" min="1" step="0.01">
            </div><br>
            <div id="dynamic_price_div_3" style="display:none;">
                <p id="no-of-pp">4</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_3" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-3" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_3" type="number" min="1" step="0.01">
            </div><br>
            <div id="dynamic_price_div_4" style="display:none;">
                <p id="no-of-pp">5</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_4" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-4" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_4" type="number" min="1" step="0.01">
              
            </div><br>
            <div id="dynamic_price_div_5" style="display:none;">
                <p id="no-of-pp">6</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_5" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-5" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_5" type="number" min="1" step="0.01">
            </div><br>
            <div id="dynamic_price_div_6" style="display:none;">
                <p id="no-of-pp">7</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_6" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-6" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_6" type="number" min="1" step="0.01">
            </div><br>
            <div id="dynamic_price_div_7" style="display:none;">
                <p id="no-of-pp">8</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_7" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-7" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_7" type="number" min="1" step="0.01">
            </div><br>
            <div id="dynamic_price_div_8" style="display:none;">
                <p id="no-of-pp">9</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_8" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-8" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_8" type="number" min="1" step="0.01">
            </div><br>
            <div id="dynamic_price_div_9" style="display:none;">
                <p id="no-of-pp">10</p>
                <span id="dollar-sign-2" class="float-left">$</span>
                <input class="float-left" id="dynamic_price_with_fee_input_9" type="number" min="1" step="0.01">
                <p class="float-left math-symbol-2">-</p>
                <div class="float-left">
                  <span id="dollar-sign-4">$</span>
                  <p id="commission-price-9" class="commission-price-2"></p>
                </div>
                <p class="float-left math-symbol-3">=</p>
                <span id="dollar-sign-3" class="float-left">$</span>
                
                <input id="dynamic_price_input_9" type="number" min="1" step="0.01">
            </div><br>
        </div>
        <div class="section" style="text-align:right; clear:both;">
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" id="last-step">Last Step</button>
            <button name="wizard_save_exit_price" type="submit" value="" id="save-and-exit">Save and Exit</button>
            <input type="submit" value="Next Step" id="next-step" />
        </div>
        <!-- creating spare space  -->
        <div class="creating-slot-button-active create-slot-detail">
        </div>
        <div class="creating-slot-button-active create-slot-detail">
        </div>
        <div class="creating-slot-button-active create-slot-detail">
        </div>
        </div>
    </div>

    <!-- Info bar -->
    <div class="info-bar">
        <img src="{% static 'experiences/img/bubble-icon.png' %}" alt="">
        <div id="hint-msgs">
            <p>
                <span><strong>Group size</strong></span><br>
                <span>A lot of our customers travel</span><br>
                <span>alone, so be really careful</span><br>
                <span>when you want to have a</span><br>
                <span>minimum group size</span><br>
            </p>
        </div>
        <br>
    </div>
</form>
{% endblock %}

{%block scripts%}
<script charset="utf-8" type="text/javascript">

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp( /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    }

    function isValidNumber(feeNumber){
        var numPattern = new RegExp(/^(?!(?:0|0\.0|0\.00)$)[+]?\d+(\.\d|\.\d[0-9])?$/);
        return numPattern.test(feeNumber);
    }

    //guest size validation
    $("#id_price-min_guest_number").change(function(){
        min_guest=$("#id_price-min_guest_number");
        max_guest=$("#id_price-max_guest_number");
        if(parseInt(min_guest.val())>parseInt(max_guest.val())){
            max_guest.val(min_guest.val()+"");
        }
    });
  
    $("#id_price-max_guest_number").change(function(){
        min_guest=$("#id_price-min_guest_number");
        max_guest=$("#id_price-max_guest_number");
        if(parseInt(min_guest.val())>parseInt(max_guest.val())){
            min_guest.val(max_guest.val()+"");
        }
    });

    function updateprice()
    {
        if($("#id_price-max_guest_number").val().length > 0 && $("#id_price-min_guest_number").val().length > 0)
        {
            max = parseInt($("#id_price-max_guest_number").val());
            min = parseInt($("#id_price-min_guest_number").val());

            if(max>=min && min>=1 && min<=10 && max>=1 && max<=10)
            {
                $("#id_price-dynamic_price").val($("#id_price-price").val()+',');
                if(max==min)
                {
                    return true;
                }

                for(i=min;i<max;i++)
                {
                    if($("#dynamic_price_input_"+i).val().length > 0)
                    {
                        $("#id_price-dynamic_price").val($("#id_price-dynamic_price").val()+$("#dynamic_price_input_"+i).val()+',');
                    }
                    else
                    {
                        $("#id_price-dynamic_price").val('');
                        break;
                    }
                }

                return true;
            }

            return false;
        }
    }

    function setdynamicpriceinput()
    {
        if($("#id_price-max_guest_number").val().length > 0 && $("#id_price-min_guest_number").val().length > 0)
        {
            max = parseInt($("#id_price-max_guest_number").val());
            min = parseInt($("#id_price-min_guest_number").val());

            if(max>min && min>=1 && min<=10 && max>=1 && max<=10)
            {
                for(i=1;i<min;i++)
                {
                    $("#dynamic_price_div_"+i).attr("style","display:none;");
                }
                for(i=min;i<max;i++)
                {
                    $("#dynamic_price_div_"+i).attr("style","");
                }
                for(i=max;i<10;i++)
                {
                    $("#dynamic_price_div_"+i).attr("style","display:none;");
                }
            }
        }
    }

    $(document).ready(function(){
        $('body').attr('id','background-white');
        $("#id_price-changed_steps").val($("#id_price-changed_steps").val()+'price,');

        var price = parseFloat($("#id_price-price").val());
        if(typeof price === 'number' && isValidNumber(price))
        {  
            $("#id_price-price_with_booking_fee").val(Math.round(price*1.429*1.000+0.0));
            $("#commission-price").text((price*1.429*1.000+0.0 - price).toFixed(2));
        }

        if($("#id_price-dynamic_price").val().length > 0)
        {
            min = parseInt($("#id_price-min_guest_number").val());
            price = $("#id_price-dynamic_price").val().split(',');
            for(i=1;i<price.length;i++)
            {
                $("#dynamic_price_input_"+(i+min-1)).val(price[i]);
                $("#commission-price-"+(i+min-1)).text((parseFloat(price[i])*1.429*1.000+0.0 - price[i]).toFixed(2));
                $("#dynamic_price_with_fee_input_"+(i+min-1)).val(Math.round(parseFloat(price[i])*1.429*1.000+0.0));
            }
            $("#add_dynamic_price").attr("style","display:none;");
            $("#cancel_dynamic_price").attr("style","");
            $("#dynamic_price_div").attr("style","");
            setdynamicpriceinput();
        }

        for(i=1;i<10;i++)
        {
            $("#dynamic_price_input_"+i).keyup(function(e)
            {
                i = e.target.id.substr(-1,1);
                var price = parseFloat($("#dynamic_price_input_"+i).val());
                if(typeof price === 'number' && isValidNumber(price))
                {  
                    $("#dynamic_price_with_fee_input_"+i).val((price*1.429*1.000+0.0).toFixed(2));
                    $("#commission-price-"+i).text((price*1.429*1.000+0.0 - price).toFixed(2));
                }
                else
                {
                    $("#dynamic_price_with_fee_input_"+i).val("0");
                    $("#commission-price-"+i).text("0");
                    $("#dynamic_price_input_"+i).val("0");
                }
            })

            $("#dynamic_price_with_fee_input_"+i).keyup(function(e)
            {
                i = e.target.id.substr(-1,1);
                var price = parseFloat($("#dynamic_price_with_fee_input_"+i).val());
                if(typeof price === 'number' && isValidNumber(price))
                {
                    $("#dynamic_price_input_"+i).val(((price-0.0)/(1.429*1.000)).toFixed(2));
                    $("#commission-price-"+i).text((price-(price-0.0)/(1.429*1.000)).toFixed(2));
                }
                else
                {
                    $("#dynamic_price_with_fee_input_"+i).val("0");
                    $("#commission-price-"+i).text("0");
                    $("#dynamic_price_input_"+i).val("0");
                }
            })
        }
    })

    $("#id_price-price").keyup(function()
    {
        var price = parseFloat($("#id_price-price").val());
        if(typeof price === 'number' && isValidNumber(price))
        {  
            $("#id_price-price_with_booking_fee").val((price*1.429*1.000+0.0).toFixed(2));
            $("#commission-price").text((price*1.429*1.000+0.0 - price).toFixed(2));
        }
        else
        {
            $("#id_price-price").val("0");
            $("#commission-price").text("0");
            $("#id_price-price_with_booking_fee").val("0");
        }
    })

    $("#id_price-price_with_booking_fee").keyup(function()
    {
        var price = parseFloat($("#id_price-price_with_booking_fee").val());
        if(typeof price === 'number' && isValidNumber(price))
        {
            $("#id_price-price").val(((price-0.0)/(1.429*1.000)).toFixed(2));
            $("#commission-price").text((price-(price-0.0)/(1.429*1.000)).toFixed(2));
        }
        else
        {
            $("#id_price-price").val("0");
            $("#commission-price").text("0");
            $("#id_price-price_with_booking_fee").val("0");
        }
    })

    $("#id_price-min_guest_number").keyup(function()
    {
        setdynamicpriceinput();
    })

    $("#id_price-max_guest_number").keyup(function()
    {
        setdynamicpriceinput();
    })

    $("#add_dynamic_price").click(function(e)
    {
        $("#add_dynamic_price").attr("style","display:none;");
        $("#cancel_dynamic_price").attr("style","");
        $("#dynamic_price_div").attr("style","");
        setdynamicpriceinput();
        for(i=1;i<10;i++)
        {
            $("#dynamic_price_input_"+i).val($("#id_price-price").val());
            $("#dynamic_price_with_fee_input_"+i).val($("#id_price-price_with_booking_fee").val());
        }
    })

    $("#cancel_dynamic_price").click(function(e)
    {
        $("#add_dynamic_price").attr("style","");
        $("#cancel_dynamic_price").attr("style","display:none;");
        $("#dynamic_price_div").attr("style","display:none;");
        for(i=1;i<10;i++)
        {
            $("#dynamic_price_input_"+i).val("");
            $("#dynamic_price_with_fee_input_"+i).val("");
            $("#dynamic_price_div_"+i).attr("style","display:none;");
        }
    })

    $("#next-step").click(function(e)
    {
        e.preventDefault();
        if(updateprice())
        {
            $("#id_price-type").val($("#experience_type").val());
            $("#add_experience_price_form").submit();
        }
    })

    $("#save-and-exit").click(function(e)
    {
        if(updateprice())
        {
            $("#id_price-type").val($("#experience_type").val());
            $("#add_experience_price_form").submit();
        }
        else
        {
            e.preventDefault();
        }
    })

    $("#save-and-exit-top").click(function(e)
    {
        if(updateprice())
        {
            $("#id_price-type").val($("#experience_type").val());
            $("#add_experience_price_form").submit();
        }
        else
        {
            e.preventDefault();
        }
    })
    $("#experience_type").click(function(e)
    {
        if($("#experience_type").val() != "PRIVATE")
        {
            $("#experience_type").val("PRIVATE");
            $("#id_price-type").val("PRIVATE");
        }
        else
        {
            $("#experience_type").val("NONPRIVATE");
            $("#id_price-type").val("NONPRIVATE");
        }
    })
</script>
{%endblock%}