{% load mathfilters %}
{% load i18n %}
{% load staticfiles %}
{% load experiences_filters %}

<div class="booking-box">
  <div id="table_date" style="display:none;">
      {% for op in available_options %}
      <p id="date_string_{{forloop.counter0}}" style="display:none;" instant="{{op.instant_booking}}"> {{op.date_string}} </p>
      {% endfor %}
  </div>
  <div id="table_time" style="display:none;">
      {% for op in available_options %}
      <p id="time_string_{{forloop.counter0}}" style="display:none;" instant="{{op.instant_booking}}"> {{op.time_string}} </p>
      {% endfor %}
  </div>

  <input id="experience_dynamic_price" type="text" value="{{experience.dynamic_price}}" style="display:none;" disabled="disabled"/>
  <form id="experience_booking_form" method="post" action="">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    <div class="box-section" style="padding-top:0;position:relative;">
      <div class="loading-calendar"><img id="icon_load_more" src="{% static 'experiences/img/loading.svg' %}" width="32px" height="32px" class="ajax-loader"/></div>
      <p style="display:inline; margin-right:10px;">{% trans "Date" %}</p>
      <div class="date-box">{{form.date}}</div>
      <span class="weather" id="weather">-- &deg;C <i class="wi wi-forecast-io-clear-day"></i></span>
    </div>

    <div style="display:none;">
      {{form.time}}
      {{form.adult_number}}
      {{form.child_number}}
    </div>

    {% for options in optiongroup_set %}
    <div class="box-section">
      <a class="collapse-group-toggle" role="button" data-toggle="collapse" href="#option-group-{{forloop.counter}}" onclick="$('.collapse').collapse('hide'); $('#option-group-{{forloop.counter}}').collapse('show');">
        <p>{{options.name}}</p>
        <span class="badge">+</span>
      </a>
      <div class="collapse" id="option-group-{{forloop.counter}}">
          {% for option in options.optionitem_set %}
          <div class="option">
            <span class="option-name">
              {{option.name}}
            </span>
            <select class="option-amount" option_id="{{option.original_id}}">
              {% for i in available_options.0.available_seat|numeric_forloop %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
            <span class="option-price">
              {{experience.dollarsign}}{{option.price|floatformat:"0"}}
            </span>
          </div>
          {% endfor %}
      </div>
    </div>
    {% endfor %}
    
    <input id="id_submit_request" type="submit" class="btn-block btn btn-lg btn-primary" value="{% trans "Please select date and ticket type" %}" disabled='disabled'/>
    <div class="booking-enquiry">
      <p>{% trans "Please contact customer support via wechat QR code and quote ID " %}{{experience.id}}</p>
      <img src="{% static 'img/wechat_qr.jpg' %}"/>
    </div>
  </form>
</div>
