{% load mathfilters %}
{% load i18n %}
{% load staticfiles %}

<div class="booking-box">
  <table style="display:none;">
      {% for op in available_options %}
      <p id="date_string_{{forloop.counter0}}" style="display:none;" instant="{{op.instant_booking}}"> {{op.date_string}} </p>
      {% endfor %}

      {% for op in available_options %}
      <p id="time_string_{{forloop.counter0}}" style="display:none;" instant="{{op.instant_booking}}"> {{op.time_string}} </p>
      {% endfor %}

      {% for op in available_options %}
      {% if forloop.counter0 < 3 and op.instant_booking %}
      <tr class="booking-list">
          <td id="instant_booking_date_{{forloop.counter0}}" class="date-list">
              {{op.date_string}}
          </td>
          <td id="instant_booking_time_{{forloop.counter0}}" class="time-list">
              <div class="timebtn">
                  <div>
                      <span>{{op.time_string}}</span><img src="{% static 'icon/instant.png' %}">
                  </div>
              </div>
          </td>
          <td class="people-list">
              {% if user.is_authenticated %}
              <input id="id_submit_request_{{forloop.counter0}}" type="submit" class="btn-block btn btn-xs btn-primary" value="{%trans "Book"%}" disabled='disabled' />
              {% else %}
              <input type="button" class="btn-block btn btn-xs btn-primary" value="{%trans "Book"%}" onclick="location.href = '{{GEO_POSTFIX}}accounts/login/?next={{GEO_POSTFIX}}experience/{{experience.id}}';"/>
              {% endif %}
          </td>
      </tr>
      {% endif %}
      {% endfor %}
  </table>

  <input id="experience_dynamic_price" type="text" value="{{experience.dynamic_price}}" style="display:none;" disabled="disabled"/>
  <form id="experience_booking_form" method="post" action="">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    <div class="box-section" style="padding-top:0;">
      <p style="display:inline; margin-right:10px;">{% trans "Date" %}</p>
      <div class="date-box">{{form.date}}</div>
      <span class="weather" id="weather"></span>
    </div>

    <div style="display:none;">
      {{form.time}}
      {{form.adult_number}}
      {{form.child_number}}
    </div>

    {% for options in optiongroup_set %}
    <div class="box-section">
      <a class="collapse-group-toggle" role="button" data-toggle="collapse" href="#option-group-{{forloop.counter}}" onclick="$('.collapse').collapse('hide'); $('#option-group-{{forloop.counter}}').collapse('show');">
        {{options.name}}
        <span class="badge">+</span>
      </a>
      <div class="collapse" id="option-group-{{forloop.counter}}">
          {% for option in options.optionitem_set %}
          <div class="option">
            <span class="option-name">
              {{option.name}}
            </span>
            <span>
              <select class="option-amount" option_id="{{option.original_id}}">
                {% for i in "0123456789" %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
            </span>
            <span class="option-price">
              {{experience.dollarsign}}{{option.price|floatformat:"0"}}
            </span>
          </div>
          {% endfor %}
      </div>
    </div>
    {% endfor %}
    
    {% if user.is_authenticated %}
        <input id="id_submit_request" type="submit" class="btn-block btn btn-lg btn-primary" value="{% trans "Request" %}" disabled='disabled'/>
    {% else %}
        <input type="button" class="btn-block btn btn-lg btn-primary" value="{% trans "Request" %}" onclick="location.href = '{{GEO_POSTFIX}}accounts/login/?next={{GEO_POSTFIX}}experience/{{experience.id}}';"/>
    {% endif %}
  </form>
</div>
