{% extends "app/layout.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
  <title>{% trans 'Request a Custom Itinerary' %}</title>
  <link href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  <link href="{% static 'experiences/content/itinerary-request.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<form id="itinerary-request" action="" method="post">
  <section id="intro">
    <div class="full-height" 
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -300px"
      data-anchor-target="#intro">
      <div class="container"
        data-center="opacity: 1"
        data-50-top="opacity: 0"
        data-anchor-target="#intro h1">
        <div class="middle">
          <h1 class="display animated fadeIn">{% trans 'Custom Itinerary' %}</h1>
          <h2 class="display animated fadeIn">{% trans 'Answer just a few questions and we will <br>build a custom itinerary for your trip' %}</h2>
        </div>
        <div class="scroll-down animated fadeIn"><span class="glyphicon glyphicon-chevron-down"></span></div>
      </div>
    </div>
  </section>

  <section id="slide1">
    <div class="full-height" 
      data-0="background-color:rgb(0,0,0);"
      data-500-top="background-color:rgb(252,252,252);"
      data-anchor-target="#slide1">
      <div class="container">
        <h2 class="display-dark"
          data--200-bottom="opacity: 0"
          data-center="opacity: 1"
          data-150-top="opacity: 1"
          data--50-top="opacity: 0"
          data-anchor-target="#slide1 h2">
          {% trans 'Choose some locations you would like to visit on this trip.' %}
        </h2>
        <div class="box" style="background-image:url({{MEDIA_URL}}/melbourne/melbourne.jpg)" data-bottom-top="opacity: 0"  data-center="opacity: 1" data-150-top="opacity: 1" data--200-top="opacity: 0"><div class="overlay"><h3 class="display">{% trans 'Melbourne' %}</h3></div></div>
        <div class="box" style="background-image:url({{MEDIA_URL}}/sydney/sydney.jpg)" data-bottom-top="opacity: 0"  data-center="opacity: 1" data-150-top="opacity: 1" data--200-top="opacity: 0"><div class="overlay"><h3 class="display">{% trans 'Sydney' %}</h3></div></div>
        <div class="box" style="background-image:url({{MEDIA_URL}}/goldcoast/goldcoast.jpg)" data-bottom-top="opacity: 0"  data-center="opacity: 1" data-150-top="opacity: 1" data--200-top="opacity: 0"><div class="overlay"><h3 class="display">{% trans 'Gold Coast' %}</h3></div></div>
        <div class="box" style="background-image:url({{MEDIA_URL}}/brisbane/brisbane.jpg)" data-bottom-top="opacity: 0"  data-center="opacity: 1" data-150-top="opacity: 1" data--200-top="opacity: 0"><div class="overlay"><h3 class="display">{% trans 'Brisbane' %}</h3></div></div>
        <div class="box" style="background-image:url({{MEDIA_URL}}/cairns/cairns.jpg)" data-bottom-top="opacity: 0"  data-center="opacity: 1" data-150-top="opacity: 1" data--200-top="opacity: 0"><div class="overlay"><h3 class="display">{% trans 'Cairns' %}</h3></div></div>
        <div class="box" style="background-image:url({{MEDIA_URL}}/tasmania/tasmania.jpg)" data-bottom-top="opacity: 0"  data-center="opacity: 1" data-150-top="opacity: 1" data--100-top="opacity: 0"><div class="overlay"><h3 class="display">{% trans 'Tasmania' %}</h3></div></div>
      </div>
    </div>
  </section>

  <section id="slide2">
    <div class="full-height"
      data-bottom-top="background-position: 50% 100px;"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -100px"
      data-anchor-target="#slide2">
      <div class="container">
        <div class="curtain"
          data-bottom-top="opacity: 0"
          data-50-top="height: 1%; top: -10%; opacity: 0;"
          data-center="height: 100%; top: 0%; opacity: 0.5"
          data-anchor-target="#slide2">
        </div>
        <div class="copy"
          data-bottom-top="opacity: 0"
          data-center="opacity: 0;"
          data-280-top="opacity: 1;"
          data-50-top="opacity: 1;"
          data-top-bottom="opacity: 0"
          data-anchor-target="#slide2 .copy">
          <h2 class="display">
            {% trans 'Between which dates would you be travelling?' %}
          </h2>
        </div>
      </div>
      
    </div>
  </section>

  <section id="slide3">
    <div class="full-height" style="background:#3cc;">
      
    </div>
  </section>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
{%if LANGUAGE == "zh-CN"%}
<script type="text/javascript" src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
{% else %}
<script type="text/javascript" src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
{%endif%}
<script type="text/javascript" src="{% static 'app/scripts/skrollr.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  var s = skrollr.init();
  $('.overlay').on('click', function() {
    $this = $(this);
    $this.hasClass('selected') ? $this.removeClass('selected') : $this.addClass('selected');
  })
});
</script>
{% endblock %}