{% extends "app/layout.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
<title>{% trans 'Request a Custom Itinerary' %}</title>
<link href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.css" rel="stylesheet"/>
<link href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'experiences/content/itinerary-request.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}
<div class="loading"></div>

<div class="status-bar" id="status-bar">
  <div class="container">
    <h2 class="status-line" id="budget">{% trans "Estimated cost: Please fill in more fields for a live update." %}</h2>
  </div>
  <div class="nav-btns">
    <button class="btn btn-primary btn-square" id="nav-up" disabled><span class="glyphicon glyphicon-chevron-up"></span></button>
    <button class="btn btn-primary btn-square" id="nav-down"><span class="glyphicon glyphicon-chevron-down"></span></button>
  </div>
</div>

<div id="fullpage">
  <div class="section" id="intro">
    <div class="container">
      <h1>{% trans 'Custom Itinerary' %}</h1>
      <h2>{% trans 'Answer just a few questions and we will build a custom itinerary for your trip' %}</h2>
      <button id="start-btn" class="btn btn-primary main-btn">{% trans 'Get started' %}</button>
    </div>
  </div>

  <div id="city-section" class="section">
    <div class="container">
      <h1>{% trans 'Choose some locations you would like to visit on this trip.' %} <span class="asterisk">*</span></h1>
        <div class="box" data-city="melbourne" style="background-image:url({{MEDIA_URL}}city/Melbourne.jpg)"><div class="overlay"><h3 class="display">{% trans 'Melbourne' %}</h3></div></div>
        <div class="box" data-city="sydney" style="background-image:url({{MEDIA_URL}}city/Sydney.jpg)"><div class="overlay"><h3 class="display">{% trans 'Sydney' %}</h3></div></div>
        <div class="box" data-city="goldcoast" style="background-image:url({{MEDIA_URL}}city/Goldcoast.jpg)"><div class="overlay"><h3 class="display">{% trans 'Gold Coast' %}</h3></div></div>
        <div class="box" data-city="brisbane" style="background-image:url({{MEDIA_URL}}city/Brisbane.jpg)"><div class="overlay"><h3 class="display">{% trans 'Brisbane' %}</h3></div></div>
        <div class="box" data-city="cairns" style="background-image:url({{MEDIA_URL}}city/Cairns.jpg)"><div class="overlay"><h3 class="display">{% trans 'Cairns' %}</h3></div></div>
        <div class="box" data-city="tasmania" style="background-image:url({{MEDIA_URL}}city/Hobart.jpg)"><div class="overlay"><h3 class="display">{% trans 'Tasmania' %}</h3></div></div>
        <div class="box" data-city="alicesprings" style="background-image:url({{MEDIA_URL}}city/Alicesprings.jpg)"><div class="overlay"><h3 class="display">{% trans 'Alice Springs' %}</h3></div></div>
        <div class="box" data-city="darwin" style="background-image:url({{MEDIA_URL}}city/Darwin.jpg)"><div class="overlay"><h3 class="display">{% trans 'Darwin' %}</h3></div></div>
        <div class="box" data-city="perth" style="background-image:url({{MEDIA_URL}}city/Perth.jpg)"><div class="overlay"><h3 class="display">{% trans 'Perth' %}</h3></div></div>
    </div>
  </div>

  <div id="date-section" class="section">
    <div class="container">
      <h1>{% trans "Select the start and end dates of your trip" %} <span class="asterisk">*</span></h1>
      <div class="form-group"><label>{% trans "Start Date" %}</label>{{form.start_date}}</div>
      <div class="form-group"><label>{% trans "End Date" %}</label>{{form.end_date}}</div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h1>{% trans 'How many adults will be travelling?<br>Any children or infants?' %} <span class="asterisk">*</span></h1>
      <div class="form-group">
          <label>{% trans 'Adults' %}</label>
          {{form.guests_adults}}
      </div>
      <div class="form-group">
        <label>{% trans 'Children (2-12)' %}</label>
        {{form.guests_children}}
      </div>
      <div class="form-group">
        <label>{% trans 'Infants (< 2)' %}</label>
        {{form.guests_infants}}
      </div>
    </div>
  </div>

  <div id="interests-section" class="section">
    <div class="container">
      <h1 style="margin-bottom: 30px;">{% trans "What kind of things are you interested in?<br>Check the topics that interest you." %}</h1>
      <div class="row">
          <div class="circle unselected" style="background-color:#FFABAB">{% trans 'food & wine' %}</div>
          <div class="circle unselected" style="background-color:#FFDAAB">{% trans 'photography' %}</div>
        </div>
        <div class="row">
          <div class="circle unselected" style="background-color:#DDFFAB">{% trans 'history & culture' %}</div>
          <div class="circle unselected" style="background-color:#ABE4FF">{% trans 'architecture' %}</div>
          <div class="circle unselected" style="background-color:#D9ABFF">{% trans 'for couples' %}</div>
        </div>
        <div class="row">
          <div class="circle unselected" style="background-color:#FFABAB">{% trans 'outdoor & nature' %}</div>
          <div class="circle unselected" style="background-color:#FFDAAB">{% trans 'shopping' %}</div>
          <div class="circle unselected" style="background-color:#DDFFAB">{% trans 'sports & leisure' %}</div>
          <div class="circle unselected" style="background-color:#ABE4FF">{% trans 'extreme fun' %}</div>
        </div>
        <div class="row">
          <div class="circle unselected" style="background-color:#D9ABFF">{% trans 'events' %}</div>
          <div class="circle unselected" style="background-color:#FFABAB">{% trans 'health & beauty' %}</div>
          <div class="circle unselected" style="background-color:#FFDAAB">{% trans 'livability research' %}</div>
        </div>
        <div class="row">
          <div class="circle unselected" style="background-color:#DDFFAB">{% trans 'education' %}</div>
          <div class="circle unselected" style="background-color:#ABE4FF">{% trans 'local experiences' %}</div>
        </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h1>{% trans "What's included" %} <span class="asterisk">*</span></h1>
      <div class="form-group">
          <label>{% trans 'Car + Driver' %}</label>
          <select id="car-driver" class="select-expanded" size="4"> 
            <option value="please select" selected>{% trans 'please select' %}</option>
            <option value="infrequent">{% trans 'infrequent' %}</option>
            <option value="frequent">{% trans 'frequent' %}</option>
            <option value="entire trip">{% trans 'entire trip' %}</option>
          </select>
        </div>
        <div class="form-group">
          <label>{% trans 'Accommodation' %}</label>
          <select id="accommodation" class="select-expanded" size="5">
            <option value="please select" selected>{% trans 'please select' %}</option>
            <option value="please select">{% trans 'none' %}</option>
            <option value="3 star">{% trans '3 star' %}</option>
            <option value="4 star">{% trans '4 star' %}</option>
            <option value="5 star">{% trans '5 star' %}</option>
          </select>
        </div>
        <div class="form-group">
          <label>{% trans 'National Flight' %}</label>
          <select id="national-flight" class="select-expanded" size="3">
            <option value="please select" selected>{% trans 'please select' %}</option>
            <option value="none">{% trans 'none' %}</option>
            <option value="economy">{% trans 'economy' %}</option>
          </select>
        </div>
        <div class="form-group">
          <label>{% trans 'Service Language' %}</label>
          <select id="service-language" class="select-expanded" size="3">
            <option value="please select" selected>{% trans 'please select' %}</option>
            <option value="chinese">{% trans 'chinese' %}</option>
            <option value="english">{% trans 'english' %}</option>
          </select>
        </div>
        <div class="form-group">
          <label>{% trans 'Airport Transfer' %}</label>
          <select id="airport-transfer" class="select-expanded" size="3">
            <option value="please select" selected>{% trans 'please select' %}</option>
            <option value="none">{% trans 'none' %}</option>
            <option value="yes">{% trans 'yes' %}</option>
          </select>
        </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h1>{% trans 'Anything else you would like to let us know?' %}</h1>
      {{form.requirements}}
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h1>{% trans "Almost done!<br>Please leave us your contact details below." %} <span class="asterisk">*</span></h1>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-6">
          <div class="form-group">
            {{form.name}}
          </div>
          <div class="form-group">
            {{form.email}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            {{form.wechat}}
          </div>
          <div class="form-group">
            {{form.mobile}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container" id="success-page">
      <h1>{% trans "Make sure you've filled in all the " %} <span class="asterisk">*{% trans "sections" %}</span></h1>
      <h2>{% trans "A travel consultant will call you within 4 hours and an itinerary will be sent to you within 48 hours. We will call you between 9am - 9pm Beijing time. Itinerary will be sent to you 48 hours after the phone call." %}</h2>
      <button id="submit-btn" class="btn btn-primary main-btn">{% trans "Submit" %}</button>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
<script src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.js"></script>
{%if LANGUAGE == "zh-CN"%}
<script type="text/javascript" src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
{%endif%}
<script>
$(document).ready(function() {
	// Initialise fullpage 
	$('#fullpage').fullpage({
		responsiveWidth: 500,
		paddingTop: '50px',
		paddingBottom: '50px',
		navigation: true,
		navigationPosition: 'left',
		showActiveTooltip: true,
		anchors: ['section1', 'section2', 'section3', 'section4', 'section5', 'section6', 'section7', 'section8', 'section9'],
		navigationTooltips: ['{% trans "Start" %}', '{% trans "Destinations" %}', '{% trans "Dates" %}', '{% trans "Guests" %}', '{% trans "Interests" %}', '{% trans "Whats Included" %}', '{% trans "Extras" %}', '{% trans "Contact" %}', '{% trans "Done!" %}'],
		sectionsColor: '#f7f7f7',
		onLeave: function(index, nextIndex, direction) {
			if (nextIndex == 2 && direction == 'up') {
				$('#nav-up').attr('disabled', 'disabled');
			} else {
				$('#nav-up').removeAttr('disabled');
			}
			if (nextIndex == 9 && direction == 'down') {
				$('#nav-down').attr('disabled', 'disabled');
			} else {
				$('#nav-down').removeAttr('disabled');
			}
			if (index == 1 && direction == 'down') {
				$('#status-bar').slideDown();
				$('#nav-up').attr('disabled', 'disabled');
			}
			if (nextIndex == 1 && direction == 'up') {
				$('#status-bar').slideUp();
			}
		}
	});


  if (window.location.pathname.indexOf("/cn") > -1 || window.location.href.indexOf(".cn") > -1) {
    $("#id_start_date").datetimepicker({
      format: 'YYYY-MM-DD', locale: 'zh-CN',
      minDate: moment(),
      ignoreReadonly: true
    });
    $("#id_end_date").datetimepicker({
        format: 'YYYY-MM-DD', locale: 'zh-CN',
        useCurrent: false,
        ignoreReadonly: true
    });

    $("#id_start_date").on("dp.change", function (e) {
        $('#id_end_date').data("DateTimePicker").minDate(e.date);
    });
    $("#id_end_date").on("dp.change", function (e) {
        $('#id_start_date').data("DateTimePicker").maxDate(e.date);
    });
  }
  else {
    $("#id_start_date").datetimepicker({
        format: 'YYYY-MM-DD',
        minDate: moment(),
        ignoreReadonly: true
    });
    $("#id_end_date").datetimepicker({
        format: 'YYYY-MM-DD',
        useCurrent: false,
        ignoreReadonly: true
    });

    $("#id_start_date").on("dp.change", function (e) {
        $('#id_end_date').data("DateTimePicker").minDate(e.date);
    });
    $("#id_end_date").on("dp.change", function (e) {
        $('#id_start_date').data("DateTimePicker").maxDate(e.date);
    });
  }
  
  // Clear the date fields
  $('#id_start_date').val('');
  $('#id_end_date').val('');

	// Show page when init is done
	$('.loading').fadeOut('slow');

	// Bind click events
	$('#start-btn').on('click', function() {
		$.fn.fullpage.moveSectionDown();
	});
	$('.overlay').on('click', function() {
		$this = $(this);
		$this.hasClass('selected') ? $this.removeClass('selected') : $this.addClass('selected');
		updateCities();
	});
	$('.circle').on('click', function() {
		$this = $(this);
		$this.hasClass('unselected') ? $this.removeClass('unselected') : $this.addClass('unselected');
		updateInterests();
	});
	$('#nav-up').on('click', function() {
		$.fn.fullpage.moveSectionUp();
	});
	$('#nav-down').on('click', function() {
		$.fn.fullpage.moveSectionDown();
	});
	
	$('select').on('change',function() {
		updateBudget();
	});

	$('#submit-btn').on('click', function() {
		if (validateForm()) {
			$.ajax({
					url: '/itinerary/request/',
					type: 'POST',
					data: {
						csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']")[0].value,
						destinations: $("#id_destinations").val(),
						start_date: $("#id_start_date").val(),
						end_date: $("#id_end_date").val(),
						guests_adults: $("#id_guests_adults").val(),
						guests_children: $("#id_guests_children").val(),
						guests_infants: $("#id_guests_infants").val(),
						interests: $("#id_interests").val(),
						accommodation: $("#accommodation").val(),
						car_driver: $("#car-driver").val(),
						national_flight: $("#national-flight").val(),
						service_language: $("#service-language").val(),
						requirements: $("#id_requirements").val(),
						name: $("#id_name").val(),
						wechat: $("#id_wechat").val(),
						email: $("#id_email").val(),
						mobile: $("#id_mobile").val(),
						budget : $('#budget').text()
					}
				})
				.done(function() {
					$('#success-page').html(
              '<h1>{% trans "Your request has been submitted!" %}</h1><h2>{% trans "Please keep an eye on our phone call within 4 hours. We will call you between 9am - 9pm Beijing time." %}</h2>'
					);
					$('#fp-nav').fadeOut();
					$('#status-bar').slideDown();
				})
				.fail(function() {
					
				});
		}
		$(this).removeAttr('disabled').html('Submit');
	})
})

function updateBudget() {
  var currencyConversion = 1;
  if (window.location.pathname.indexOf("/cn") > -1 || window.location.href.indexOf(".cn") > -1) {
    currencyConversion = 4.67;
  }
	var guests = parseInt($('#id_guests_adults').val()) + parseInt($("#id_guests_children").val()) + parseInt($("#id_guests_infants").val());
	var days = moment($('#id_end_date').val()).diff(moment($('#id_start_date').val()), 'days');
	var cities = $('#id_destinations').val().split(',').length;
	var min = 0;
	var max = 0;
  
  // Check if date fields entered:
  if (isNaN(days)) {
    return;
  }

	// car+driver
	switch ($('#car-driver option:selected').val()) {
		case 'please select':
			break;
		case 'infrequent':
			if (guests < 5) {
				min += 167;
				max += 400;
			} else if (guests < 8) {
				min += 267;
				max += 500;
			} else {
				min += 333;
				max += 667;
			}
			break;
		case 'frequent':
			if (guests < 5) {
				min += 250;
				max += 600;
			} else if (guests < 8) {
				min += 400;
				max += 750;
			} else {
				min += 500;
				max += 1000;
			}
			break;
		case 'entire trip':
			if (guests < 5) {
				min += 500;
				max += 1200;
			} else if (guests < 8) {
				min += 800;
				max += 1500;
			} else {
				min += 1000;
				max += 2000;
			}
			break;
	}

	// accommodation
	switch ($('#accommodation option:selected').val()) {
		case 'please select':
			break;
		case 'none':
			break;
		case '3 star':
			min += (Math.round(guests / 2) * 150);
			max += (Math.round(guests / 2) * 300);
			break;
		case '4 star':
			min += (Math.round(guests / 2) * 200);
			max += (Math.round(guests / 2) * 400);
			break;
		case '5 star':
			min += (Math.round(guests / 2) * 300);
			max += (Math.round(guests / 2) * 600);
			break;
	}

	// service language
	switch ($('#service-language option:selected').val()) {
		case 'please select':
			break;
		case 'english':
			break;
		case 'chinese':
			min += 50;
			max += 50;
	}

	//// PER DAY ABOVE
	min *= days;
	max *= days;
	//// FOR WHOLE TRIP BELOW

	// national flights
	switch ($('#national-flight option:selected').val()) {
		case 'please select':
			break;
		case 'none':
			break;
		case 'economy':
			min += ((cities - 1) * guests * 200);
			max += ((cities - 1) * guests * 400);
	}

	// airport transfer
	switch ($('#airport-transfer option:selected').val()) {
		case 'please select':
			break;
		case 'none':
			break;
		case 'yes':
			min += (cities * 200);
			max += (cities * 200);
	}

  if (min < 1000) {
    $('#budget').text('{% trans "Our custom itinerary service starts from $1000"%}');
  }
	else {
    $('#budget').text('{% trans "Estimated cost: $" %}' + Math.round((min/guests)*currencyConversion) + '+ {% trans "per person ($" %}' + min*currencyConversion + '+ {% trans "in total" %})').addClass('animated fadeInUp');
		var wait = window.setTimeout(function(){
      $('#budget').removeClass('animated fadeInUp')}, 1000
    );
	}
}

function updateCities() {
	var selectedCities = $('.overlay.selected').map(function() {
		return $(this).parent().attr('data-city');
	}).get();
	$('#id_destinations').val(selectedCities.join());
}

function updateInterests() {
	var selectedInterests = $('.circle').filter(':not(.unselected)').map(function() {
		return $(this).text();
	}).get();
	$('#id_interests').val(selectedInterests.join());
}

function validateForm() {
	if ($('#id_destinations').val() && $('#id_start_date').val() && $('#id_guests_adults').val() && $('#id_name').val() && $('#id_mobile').val() && $('#id_email').val()) {
		return true;
	} else {
		$('.asterisk').addClass('animated shake').css({'color': 'red'});
		var wait = window.setTimeout( function(){
            $('.asterisk').removeClass('animated shake')}, 1000
        );
		return false;
	}
}
</script>
{% endblock %}
