{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

<script type="text/javascript" src="{% static 'experiences/scripts/custom_itinerary.js' %}"></script>

    <div role="tabpanel" class="tab-pane fade in active" id="experience">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" id="search-keyword">
        </div>
        <div id="experience_column" style='height:100%;'>
            {%for day in itinerary%}
            {% if forloop.first %}
            <div id='experience_day_{{forloop.counter}}' class='column city_{{day.city|title}}' style='overflow-x:hidden;overflow-y:scroll;'>
            {% else %}
            <div id='experience_day_{{forloop.counter}}' class='column city_{{day.city|title}}' style='display:none;'>
            {% endif %}
                {% for experience in day.experiences %}
                {% if 'private' in experience.type.lower or 'product' in experience.type.lower %}
                <div class='exp-box-sm' id='experience_id_{{experience.id}}'>
                    <div class='exp-img'>
                        <img src='{{MEDIA_URL}}thumbnails/experiences/experience{{experience.id}}_1.jpg' alt='{{experience.title}}'/>
                    </div>
                    <div class='exp-info'>
                        <h3><a href="{{GEO_POSTFIX}}experience/{{experience.id}}" target="_blank" style="color:#333;">{{experience.title}}</a></h3>
                        <p>{{experience.description|escapejs|slice:"0:16"}}</p>
                        <p>{{experience.duration}} {% trans 'hr(s)' %} &middot;
                            {%if experience.language == 'english;mandarin;'%}English / 中文{%else%}English{%endif%} &middot;
                            {% if experience.type == 'PRIVATE' or experience.type == 'PrivateProduct'%}<strong>{% trans 'Private' %}</strong>{% endif %}</p>
                    </div>
                    <div class='exp-price' style="display:inline-block;">
                        <p>{{experience.dollarsign}}{{experience.currency}}</p>
                        <h2 style="display:none;" class="price-base">0</h2><h2 class="price-pp">{{experience.price|floatformat:"0"}}</h2>
                        <p>{% trans 'per person' %}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="flight">
        <button type="button" class="btn btn-default btn-right" id="add-flight-btn">+ Add Flight</button>
        <div class="column" id="flight_column">
            {% for item in flight %}
            <div class="exp-box-sm flight_{{item.location}}" id="experience_id_{{item.id}}">
                <div class="exp-img" style="background-image:url({% static "experiences/img/flight.svg" %})">
                    <img src="{{MEDIA_URL}}thumbnails/experiences/experience{{item.id}}_1.jpg" alt=""/>
                </div>
                <div class="exp-info">
                    <h3>{{item.title}}</h3>
                    <p>{{item.details}}</p>
                    <p class="exp-edit">
                      <a type="button" onclick="edit_item({{item.id}}, 'flight');">{% trans "Edit" %}</a>
                      &middot;
                      <a type="button" onclick="duplicate_item({{item.id}}, 'flight');">{% trans "Duplicate" %}</a>
                      &middot;
                      <a type="button" onclick="delete_item({{item.id}});">{% trans "Delete" %}</a>
                    </p>
                    <label style="display:none;">{{item.notes}}</label>
                </div>
                <div class="exp-price">
                    <p>{{request.session.dollar_sign}}{{request.session.custom_currency}}</p>
                    <p class="price-base">{{item.fixed_price|floatformat:"0"}} {% trans "base" %}</p>
                    <p class="price-pp">{{item.price|floatformat:"0"}} {% trans "pp" %}</p>
                </div>
                <div class="exp-price-set">
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}fixed-price-min">{{item.fixed_price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-base"></div><span class="inline-text" id="{{item.id}}fixed-price-max">{{item.fixed_price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}fixed-price" readonly>
                      <label for="{{item.id}}fixed-price">{% trans 'base' %}</label>
                    </p>
                  </div>
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}price-min">{{item.price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-pp"></div><span class="inline-text" id="{{item.id}}price-max">{{item.price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}price" readonly>
                      <label for="{{item.id}}price">{% trans 'pp' %}</label>
                    </p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="new-item-form container-fluid" id="add-flight" style="display:none;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"><span class="placeholder"><img src="{% static 'icon/plus_green.svg' %}">Add Photos</span></div>
                        <div style="display:none;">
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" id="flight-photo"/></span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Title" %}</label>
                        <input id="flight-title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{% trans "Departing Location" %}</label>
                        <input id="flight-location" class="form-control">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Fixed Price" %}</label>
                        <input id="flight-fixed_price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="flight-fixed_price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="flight-fixed_price" type="hidden">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Price PP" %}</label>
                        <input id="flight-price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="flight-price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="flight-price" type="hidden">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>{% trans "Details" %}</label>
                        <textarea type="text" id="flight-details" class="form-control" style="height: 210px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Notes" %}</label>
                        <textarea type="text" id="flight-notes" class="form-control" style="height: 110px;"></textarea>
                    </div>
                    <button id="add-flight-add" class="btn btn-primary" type="button" style="display:inline-block;" onclick="add_item('flight');">{% trans "Add" %}</button>
                    <button id="add-flight-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="transfer">
        <button type="button" id="add-transfer-btn" class="btn btn-default btn-right">+ Add Transfer</button>
        <div class="column" id="transfer_column">
            {% for item in transfer %}
            <div class="exp-box-sm transfer_{{item.location}}" id="experience_id_{{item.id}}">
                <div class="exp-img" style="background-image:url({% static "experiences/img/transfer.svg" %})">
                    <img src="{{MEDIA_URL}}thumbnails/experiences/experience{{item.id}}_1.jpg" alt=""/>
                </div>
                <div class="exp-info">
                    <h3>{{item.title}}</h3>
                    <p>{{item.details}}</p>
                    <p class="exp-edit">
                      <a type="button" onclick="edit_item({{item.id}}, 'transfer');">{% trans "Edit" %}</a>
                      &middot;
                      <a type="button" onclick="duplicate_item({{item.id}}, 'transfer');">{% trans "Duplicate" %}</a>
                      &middot;
                      <a type="button" onclick="delete_item({{item.id}});">{% trans "Delete" %}</a>
                    </p>
                    <label style="display:none;">{{item.notes}}</label>
                </div>
                <div class="exp-price">
                    <p>{{request.session.dollar_sign}}{{request.session.custom_currency}}</p>
                    <p class="price-base">{{item.fixed_price|floatformat:"0"}} {% trans "base" %}</p>
                    <p class="price-pp">{{item.price|floatformat:"0"}} {% trans "pp" %}</p>
                </div>
                <div class="exp-price-set">
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}fixed-price-min">{{item.fixed_price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-base"></div><span class="inline-text" id="{{item.id}}fixed-price-max">{{item.fixed_price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}fixed-price" readonly>
                      <label for="{{item.id}}fixed-price">{% trans 'base' %}</label>
                    </p>
                  </div>
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}price-min">{{item.price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-pp"></div><span class="inline-text" id="{{item.id}}price-max">{{item.price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}price" readonly>
                      <label for="{{item.id}}price">{% trans 'pp' %}</label>
                    </p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="new-item-form container-fluid" id="add-transfer" style="display:none;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"><span class="placeholder"><img src="{% static 'icon/plus_green.svg' %}">Add Photos</span></div>
                        <div style="display:none;">
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" id="transfer-photo"/></span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Title" %}</label>
                        <input id="transfer-title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{% trans "Departing Location" %}</label>
                        <input id="transfer-location" class="form-control">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Fixed Price" %}</label>
                        <input id="transfer-fixed_price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="transfer-fixed_price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="transfer-fixed_price" type="hidden">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Price PP" %}</label>
                        <input id="transfer-price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="transfer-price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="transfer-price" type="hidden">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>{% trans "Details" %}</label>
                        <textarea id="transfer-details" type="text" class="form-control" style="height: 210px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Notes" %}</label>
                        <textarea type="text" id="transfer-notes" class="form-control" style="height: 110px;"></textarea>
                    </div>
                    <button id="add-transfer-add" class="btn btn-primary" type="button" style="display:inline-block;" onclick="add_item('transfer');">{% trans "Add" %}</button>
                    <button id="add-transfer-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="accommodation">
        <button type="button" id="add-accommodation-btn" class="btn btn-default btn-right">+ Add Accommodation</button>
        <div class="column" id="accommodation_column">
            {% for item in accommodation %}
            <div class="exp-box-sm accommodation_{{item.location}}" id="experience_id_{{item.id}}">
                <div class="exp-img" style="background-image:url({% static "experiences/img/accommodation.svg" %})">
                    <img src="{{MEDIA_URL}}thumbnails/experiences/experience{{item.id}}_1.jpg" alt=""/>
                </div>
                <div class="exp-info">
                    <h3>{{item.title}}</h3>
                    <p>{{item.details}}</p>
                    <p class="exp-edit">
                      <a type="button" onclick="edit_item({{item.id}}, 'accommodation');">{% trans "Edit" %}</a>
                      &middot;
                      <a type="button" onclick="duplicate_item({{item.id}}, 'accommodation');">{% trans "Duplicate" %}</a>
                      &middot;
                      <a type="button" onclick="delete_item({{item.id}});">{% trans "Delete" %}</a>
                    </p>
                    <label style="display:none;">{{item.notes}}</label>
                </div>
                <div class="exp-price">
                    <p>{{request.session.dollar_sign}}{{request.session.custom_currency}}</p>
                    <p class="price-base">{{item.fixed_price|floatformat:"0"}} {% trans "base" %}</p>
                    <p class="price-pp">{{item.price|floatformat:"0"}} {% trans "pp" %}</p>
                </div>
                <div class="exp-price-set">
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}fixed-price-min">{{item.fixed_price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-base"></div><span class="inline-text" id="{{item.id}}fixed-price-max">{{item.fixed_price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}fixed-price" readonly>
                      <label for="{{item.id}}fixed-price">{% trans 'base' %}</label>
                    </p>
                  </div>
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}price-min">{{item.price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-pp"></div><span class="inline-text" id="{{item.id}}price-max">{{item.price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}price" readonly>
                      <label for="{{item.id}}price">{% trans 'pp' %}</label>
                    </p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="new-item-form container-fluid" id="add-accommodation" style="display:none;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"><span class="placeholder"><img src="{% static 'icon/plus_green.svg' %}">Add Photos</span></div>
                        <div style="display:none;">
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" id="accommodation-photo"/></span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Title" %}</label>
                        <input id="accommodation-title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{% trans "Location" %}</label>
                        <input id="accommodation-location" class="form-control">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Fixed Price" %}</label>
                        <input id="accommodation-fixed_price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="accommodation-fixed_price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="accommodation-fixed_price" type="hidden">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Price PP" %}</label>
                        <input id="accommodation-price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="accommodation-price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="accommodation-price" type="hidden">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>{% trans "Details" %}</label>
                        <textarea id="accommodation-details" type="text" class="form-control" style="height: 210px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Notes" %}</label>
                        <textarea type="text" id="accommodation-notes" class="form-control" style="height: 110px;"></textarea>
                    </div>
                    <button id="add-accommodation-add" class="btn btn-primary" type="button" style="display:inline-block;" onclick="add_item('accommodation');">{% trans "Add" %}</button>
                    <button id="add-accommodation-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="restaurant">
        <button type="button" id="add-restaurant-btn" class="btn btn-default btn-right">+ Add Restaurant</button>
        <div class="column" id="restaurant_column">
            {% for item in restaurant %}
            <div class="exp-box-sm restaurant_{{item.location}}" id="experience_id_{{item.id}}">
                <div class="exp-img" style="background-image:url({% static "experiences/img/restaurant.svg" %})">
                    <img src="{{MEDIA_URL}}thumbnails/experiences/experience{{item.id}}_1.jpg" alt=""/>
                </div>
                <div class="exp-info">
                    <h3>{{item.title}}</h3>
                    <p>{{item.details}}</p>
                    <p class="exp-edit">
                      <a type="button" onclick="edit_item({{item.id}}, 'restaurant');">{% trans "Edit" %}</a>
                      &middot;
                      <a type="button" onclick="duplicate_item({{item.id}}, 'restaurant');">{% trans "Duplicate" %}</a>
                      &middot;
                      <a type="button" onclick="delete_item({{item.id}});">{% trans "Delete" %}</a>
                    </p>
                    <label style="display:none;">{{item.notes}}</label>
                </div>
                <div class="exp-price">
                    <p>{{request.session.dollar_sign}}{{request.session.custom_currency}}</p>
                    <p class="price-base">{{item.fixed_price|floatformat:"0"}} {% trans "base" %}</p>
                    <p class="price-pp">{{item.price|floatformat:"0"}} {% trans "pp" %}</p>
                </div>
                <div class="exp-price-set">
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}fixed-price-min">{{item.fixed_price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-base"></div><span class="inline-text" id="{{item.id}}fixed-price-max">{{item.fixed_price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}fixed-price" readonly>
                      <label for="{{item.id}}fixed-price">{% trans 'base' %}</label>
                    </p>
                  </div>
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}price-min">{{item.price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-pp"></div><span class="inline-text" id="{{item.id}}price-max">{{item.price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}price" readonly>
                      <label for="{{item.id}}price">{% trans 'pp' %}</label>
                    </p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="new-item-form container-fluid" id="add-restaurant" style="display:none;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"><span class="placeholder"><img src="{% static 'icon/plus_green.svg' %}">Add Photos</span></div>
                        <div style="display:none;">
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" id="restaurant-photo"/></span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Title" %}</label>
                        <input id="restaurant-title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{% trans "Location" %}</label>
                        <input id="restaurant-location" class="form-control">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Fixed Price" %}</label>
                        <input id="restaurant-fixed_price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="restaurant-fixed_price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="restaurant-fixed_price" type="hidden">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Price PP" %}</label>
                        <input id="restaurant-price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="restaurant-price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="restaurant-price" type="hidden">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>{% trans "Details" %}</label>
                        <textarea id="restaurant-details" type="text" class="form-control" style="height: 210px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Notes" %}</label>
                        <textarea type="text" id="restaurant-notes" class="form-control" style="height: 110px;"></textarea>
                    </div>
                    <button id="add-restaurant-add" class="btn btn-primary" type="button" style="display:inline-block;" onclick="add_item('restaurant');">{% trans "Add" %}</button>
                    <button id="add-restaurant-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="suggestion">
        <button type="button" id="add-suggestion-btn" class="btn btn-default btn-right">+ Add Suggestion</button>
        <div class="column" id="suggestion_column">
            {% for item in suggestion %}
            <div class="exp-box-sm suggestion_{{item.location}}" id="experience_id_{{item.id}}">
                <div class="exp-img" style="background-image:url({% static "experiences/img/itinerary.svg" %})">
                    <img src="{{MEDIA_URL}}thumbnails/experiences/experience{{item.id}}_1.jpg" alt=""/>
                </div>
                <div class="exp-info">
                    <h3>{{item.title}}</h3>
                    <p>{{item.details}}</p>
                    <p class="exp-edit">
                      <a type="button" onclick="edit_item({{item.id}}, 'suggestion');">{% trans "Edit" %}</a>
                      &middot;
                      <a type="button" onclick="duplicate_item({{item.id}}, 'suggestion');">{% trans "Duplicate" %}</a>
                      &middot;
                      <a type="button" onclick="delete_item({{item.id}});">{% trans "Delete" %}</a>
                    </p>
                    <label style="display:none;">{{item.notes}}</label>
                </div>
                <div class="exp-price">
                    <p>{{request.session.dollar_sign}}{{request.session.custom_currency}}</p>
                    <p class="price-base">{{item.fixed_price|floatformat:"0"}} {% trans "base" %}</p>
                    <p class="price-pp">{{item.price|floatformat:"0"}} {% trans "pp" %}</p>
                </div>
                <div class="exp-price-set">
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}fixed-price-min">{{item.fixed_price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-base"></div><span class="inline-text" id="{{item.id}}fixed-price-max">{{item.fixed_price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}fixed-price" readonly>
                      <label for="{{item.id}}fixed-price">{% trans 'base' %}</label>
                    </p>
                  </div>
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}price-min">{{item.price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-pp"></div><span class="inline-text" id="{{item.id}}price-max">{{item.price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}price" readonly>
                      <label for="{{item.id}}price">{% trans 'pp' %}</label>
                    </p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="new-item-form container-fluid" id="add-suggestion" style="display:none;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"><span class="placeholder"><img src="{% static 'icon/plus_green.svg' %}">Add Photos</span></div>
                        <div style="display:none;">
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" id="suggestion-photo"/></span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Title" %}</label>
                        <input id="suggestion-title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{% trans "Location" %}</label>
                        <input id="suggestion-location" class="form-control">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Fixed Price" %}</label>
                        <input id="suggestion-fixed_price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="suggestion-fixed_price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="suggestion-fixed_price" type="hidden">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Price PP" %}</label>
                        <input id="suggestion-price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="suggestion-price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="suggestion-price" type="hidden">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>{% trans "Details" %}</label>
                        <textarea id="suggestion-details" type="text" class="form-control" style="height: 210px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Notes" %}</label>
                        <textarea type="text" id="suggestion-notes" class="form-control" style="height: 110px;"></textarea>
                    </div>
                    <button id="add-suggestion-add" class="btn btn-primary" type="button" style="display:inline-block;" onclick="add_item('suggestion');">{% trans "Add" %}</button>
                    <button id="add-suggestion-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="pricing">
        <button type="button" id="add-pricing-btn" class="btn btn-default btn-right">+ Add Pricing</button>
        <div class="column" id="pricing_column">
            {% for item in pricing %}
            <div class="exp-box-sm" id="experience_id_{{item.id}}">
                <div class="exp-img"></div>
                <div class="exp-info">
                    <h3>{{item.title}}</h3>
                    <p>{{item.details}}</p>
                    <p class="exp-edit">
                      <a type="button" onclick="edit_item({{item.id}}, 'pricing');">{% trans "Edit" %}</a>
                      &middot;
                      <a type="button" onclick="duplicate_item({{item.id}}, 'pricing');">{% trans "Duplicate" %}</a>
                      &middot;
                      <a type="button" onclick="delete_item({{item.id}});">{% trans "Delete" %}</a>
                    </p>
                    <label style="display:none;">{{item.notes}}</label>
                </div>
                <div class="exp-price">
                    <p>{{request.session.dollar_sign}}{{request.session.custom_currency}}</p>
                    <p class="price-base">{{item.fixed_price|floatformat:"0"}} {% trans "base" %}</p>
                    <p class="price-pp">{{item.price|floatformat:"0"}} {% trans "pp" %}</p>
                </div>
                <div class="exp-price-set">
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}fixed-price-min">{{item.fixed_price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-base"></div><span class="inline-text" id="{{item.id}}fixed-price-max">{{item.fixed_price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}fixed-price" readonly>
                      <label for="{{item.id}}fixed-price">{% trans 'base' %}</label>
                    </p>
                  </div>
                  <div class="container-fluid">
                    <span class="inline-text" id="{{item.id}}price-min">{{item.price_min|floatformat:"0"}}</span><div class="slider" id="{{item.id}}slider-price-pp"></div><span class="inline-text" id="{{item.id}}price-max">{{item.price_max|floatformat:"0"}}</span>
                    <p>
                      <input type="text" id="{{item.id}}price" readonly>
                      <label for="{{item.id}}price">{% trans 'pp' %}</label>
                    </p>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="new-item-form container-fluid" id="add-pricing" style="display:none;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>{% trans "Title" %}</label>
                        <input id="pricing-title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{% trans "Location" %}</label>
                        <input id="pricing-location" class="form-control">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Fixed Price" %}</label>
                        <input id="pricing-fixed_price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="pricing-fixed_price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="pricing-fixed_price" type="hidden">
                    </div>
                    <div class="form-group">
                        <label style="display:block;">{% trans "Price PP" %}</label>
                        <input id="pricing-price-min" class="form-control" style="width:47%; display:inline-block; margin-right:5px;" placeholder="Min">
                        <input id="pricing-price-max" class="form-control" style="width:47%; display:inline-block;" placeholder="Max">
                        <input id="pricing-price" type="hidden">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>{% trans "Details" %}</label>
                        <textarea id="pricing-details" type="text" class="form-control" style="height: 210px;"></textarea>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Notes" %}</label>
                        <textarea type="text" id="pricing-notes" class="form-control" style="height: 110px;"></textarea>
                    </div>
                    <button id="add-pricing-add" class="btn btn-primary" type="button" style="display:inline-block;" onclick="add_item('pricing');">{% trans "Add" %}</button>
                    <button id="add-pricing-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                </div>
            </div>
        </div>
    </div>
