{% extends "app/layout.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
    <title>{% trans 'Custom Itinerary' %}</title>
    <link href="{% static 'experiences/content/search.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'experiences/content/custom-itinerary.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<form id="itinerary_form" action="" method="post">
  {% csrf_token %}
  <div style="display:none;">
  <!-- TODO -->
    {{form.start_datetime}}
    {{form.end_datetime}}
    {{form.city}}
    {{form.guest_number}}
    {{form.language}}
    {{form.sort}}
    {{form.age_limit}}
    {{form.tags}}
    {{form.all_tags}}
    {{form.itinerary_string}}
  </div>
  <!-- Top search bar -->
  <div class="basic-search">
    <div class="container">
      <div class="row">
        <div class="form-inline">
          <h3 class="form-header">{% trans "Title" %}</h3>
          <input type="text" class="form-control" id="itinerary-title" style="width:220px;">
        </div>
        <div class="form-inline">
          <h3 class="form-header">{% trans "Date" %}</h3>
          <input type="text" class="form-control" id="itinerary-start-date" style="width:100px; margin-right:10px;">
          <input type="text" class="form-control" id="itinerary-end-date" style="width:100px;">
        </div>
        <div class="form-inline right-group" style="margin-right:0;">
          <h3 class="form-header">{% trans "Group size" %}</h3>
          <button id="add-adults" type="button" class="btn btn-grey"data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="
            <div class='form-goup'>
              <select class='form-control'><option>1 Adult</option></select>
            </div>
              <button class='btn btn-primary'>Add</button>
              <button class='btn btn-default' style='margin-right:0;' onclick='$(&quot;#add-adults&quot;).popover(&quot;hide&quot;);'>Cancel</button>
            ">Adult x 5
          </button>
          <button id="add-kids" type="button" class="btn btn-default"data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="
            <div class='form-goup'>
              <select class='form-control'><option>1 Kid</option></select>
            </div>
              <button class='btn btn-primary'>Add</button>
              <button class='btn btn-default' style='margin-right:0;' onclick='$(&quot;#add-kids&quot;).popover(&quot;hide&quot;);'>Cancel</button>
            ">+ Add Kids
          </button>
        </div>
      </div>
      <div class="row">
        <div class="form-inline">
          <h3 class="form-header">{% trans "Location" %}</h3>

          <button id="add-city" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="
            <div class='form-group'>
                <p>{% trans 'Location' %}</p>
                <select id='new_city' class='form-control'>
                    <option value='Melbourne'>{% trans 'Melbourne' %}</option>
                    <option value='Sydney'>{% trans 'Sydney' %}</option>
                </select>
            </div>
            <div class='form-goup'>
                <p>{% trans 'Duration' %}</p>
                <select id='new_duration' class='form-control'>
                    <option value=1>1{% trans ' Day' %}</option>
                    <option value=2>2{% trans ' Day' %}</option>
                </select>
            </div>
              <button class='btn btn-primary' onclick='add_new_city();$(&quot;#add-city&quot;).popover(&quot;hide&quot;);'>{% trans 'Add' %}</button>
              <button class='btn btn-default' style='margin-right:0;' onclick='$(&quot;#add-city&quot;).popover(&quot;hide&quot;);'>{% trans 'Cancel' %}</button>
            "> + {% trans 'Add' %} <span class="badge">4 left</span>
          </button>
        </div>
        <div class="form-inline right-group">
          <h3 class="form-header"> </h3>
          <button class="btn btn-default">Preview</button>
          <button class="btn btn-default">Export PDF</button>
          <button class="btn btn-primary">Email</button>
          <!-- TODO -->
          <input class="btn btn-default" id="itinerary_search" type="submit" value="{% trans "Search" %}" name="Search" style="display:none;">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- Left section -->
        <div class="section">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/hot-56.svg' %}"></a></li>
            <li role="presentation"><a href="#flight" aria-controls="flight" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/flight.svg' %}"></a></li>
            <li role="presentation"><a href="#transfer" aria-controls="transfer" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/transfer.svg' %}"></a></li>
            <li role="presentation"><a href="#accommodation" aria-controls="accommodation" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/accommodation.svg' %}"></a></li>
            <li role="presentation"><a href="#restaurant" aria-controls="restaurant" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/restaurant.svg' %}"></a></li>
            <li role="presentation"><a href="#suggestion" aria-controls="suggestion" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/itinerary.svg' %}"></a></li>
            <li role="presentation"><a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/price.svg' %}"></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="experience">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control">
              </div>
              <div class="column" id="experience_column">

              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="flight">
              <div class="column" id="flight_column">
                <button type="button" class="btn btn-default" id="add-flight-btn">+ Add Flight</button>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Such experience title</h3>
                    <p>Very description wow</p>
                    <p>2 hrs &middot; English &middot; <strong>Private</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>3239</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Another one</h3>
                    <p>Very description wow</p>
                    <p>9 hrs &middot; English &middot; <strong>Public</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>339</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
              </div>
              <div class="new-item-form container-fluid" id="add-flight" style="display:none;">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                      <div style="display:none;">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>{% trans "Title" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label>{% trans "Departing Location" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label style="display:block;">{% trans "Price" %}</label>
                      <input class="form-control" style="width:50%; display:inline-block; margin-right:15px;"><span style="display:inline;">$AUD/pp</span>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>{% trans "Details" %}</label>
                      <textarea class="form-control" style="height: 350px;"></textarea>
                    </div>
                    <button class="btn btn-primary" style="display:inline-block;">{% trans "Add" %}</button>
                    <button id="add-flight-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="transfer">
              <div class="column" id="transfer_column">
                <button type="button" id="add-transfer-btn" class="btn btn-default">+ Add Transfer</button>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Such experience title</h3>
                    <p>Very description wow</p>
                    <p>2 hrs &middot; English &middot; <strong>Private</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>3239</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Another one</h3>
                    <p>Very description wow</p>
                    <p>9 hrs &middot; English &middot; <strong>Public</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>339</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
              </div>
              <div class="new-item-form container-fluid" id="add-transfer" style="display:none;">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                      <div style="display:none;">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>{% trans "Title" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label>{% trans "Departing Location" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label style="display:block;">{% trans "Price" %}</label>
                      <input class="form-control" style="width:50%; display:inline-block; margin-right:15px;"><span style="display:inline;">$AUD/per trip</span>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>{% trans "Details" %}</label>
                      <textarea class="form-control" style="height: 350px;"></textarea>
                    </div>
                    <button class="btn btn-primary" style="display:inline-block;">{% trans "Add" %}</button>
                    <button id="add-transfer-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="accommodation">
              <div class="column" id="accommodation_column">
                <button type="button" id="add-accommodation-btn" class="btn btn-default">+ Add Accommodation</button>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Such experience title</h3>
                    <p>Very description wow</p>
                    <p>2 hrs &middot; English &middot; <strong>Private</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>3239</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Another one</h3>
                    <p>Very description wow</p>
                    <p>9 hrs &middot; English &middot; <strong>Public</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>339</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
              </div>
              <div class="new-item-form container-fluid" id="add-accommodation" style="display:none;">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                      <div style="display:none;">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>{% trans "Title" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label>{% trans "Location" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label style="display:block;">{% trans "Price" %}</label>
                      <input class="form-control" style="width:50%; display:inline-block; margin-right:15px;"><span style="display:inline;">$AUD/per night</span>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>{% trans "Details" %}</label>
                      <textarea class="form-control" style="height: 350px;"></textarea>
                    </div>
                    <button class="btn btn-primary" style="display:inline-block;">{% trans "Add" %}</button>
                    <button id="add-accommodation-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="restaurant">
              <div class="column" id="restaurant_column">
                <button type="button" id="add-restaurant-btn" class="btn btn-default">+ Add Restaurant</button>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Such experience title</h3>
                    <p>Very description wow</p>
                    <p>2 hrs &middot; English &middot; <strong>Private</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>3239</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Another one</h3>
                    <p>Very description wow</p>
                    <p>9 hrs &middot; English &middot; <strong>Public</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>339</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
              </div>
              <div class="new-item-form container-fluid" id="add-restaurant" style="display:none;">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                      <div style="display:none;">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>{% trans "Title" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label>{% trans "Location" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label style="display:block;">{% trans "Price" %}</label>
                      <input class="form-control" style="width:50%; display:inline-block; margin-right:15px;"><span style="display:inline;">$AUD/pp</span>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>{% trans "Details" %}</label>
                      <textarea class="form-control" style="height: 350px;"></textarea>
                    </div>
                    <button class="btn btn-primary" style="display:inline-block;">{% trans "Add" %}</button>
                    <button id="add-restaurant-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="suggestion">
              <div class="column" id="suggestion_column">
                <button type="button" id="add-suggestion-btn" class="btn btn-default">+ Add Suggestion</button>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Such experience title</h3>
                    <p>Very description wow</p>
                    <p>2 hrs &middot; English &middot; <strong>Private</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>3239</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Another one</h3>
                    <p>Very description wow</p>
                    <p>9 hrs &middot; English &middot; <strong>Public</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>339</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
              </div>
              <div class="new-item-form container-fluid" id="add-suggestion" style="display:none;">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                      <div style="display:none;">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>{% trans "Title" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label>{% trans "Location" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label style="display:block;">{% trans "Price" %}</label>
                      <input class="form-control" style="width:50%; display:inline-block; margin-right:15px;"><span style="display:inline;">$AUD/pp</span>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>{% trans "Details" %}</label>
                      <textarea class="form-control" style="height: 350px;"></textarea>
                    </div>
                    <button class="btn btn-primary" style="display:inline-block;">{% trans "Add" %}</button>
                    <button id="add-suggestion-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="pricing">
              <div class="column" id="pricing_column">
                <button type="button" id="add-pricing-btn" class="btn btn-default">+ Add Pricing</button>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Such experience title</h3>
                    <p>Very description wow</p>
                    <p>2 hrs &middot; English &middot; <strong>Private</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>3239</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
                <div class="exp-box-sm portlet">
                  <div class="exp-img portlet-header"></div>
                  <div class="exp-info portlet-header">
                    <h3>Another one</h3>
                    <p>Very description wow</p>
                    <p>9 hrs &middot; English &middot; <strong>Public</strong></p>
                  </div>
                  <div class="exp-price portlet-header">
                    <p>$AUD</p>
                    <h2>339</h2>
                    <p>{% trans "per person" %}</p>
                  </div>
                </div>
              </div>
              <div class="new-item-form container-fluid" id="add-pricing" style="display:none;">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>{% trans "Title" %}</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label style="display:block;">{% trans "Price" %}</label>
                      <input class="form-control" style="width:50%; display:inline-block; margin-right:15px;"><span style="display:inline;">$AUD</span>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label>{% trans "Details" %}</label>
                      <textarea class="form-control" style="height: 350px;"></textarea>
                    </div>
                    <button class="btn btn-primary" style="display:inline-block;">{% trans "Add" %}</button>
                    <button id="add-pricing-cancel" type="button" class="btn btn-secondary" style="display:inline-block;">{% trans "Cancel" %}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Right section -->
        <div class="section">
          <h1 class="section-heading">Itinerary</h1>
          <h2 class="price-line">$AUD 3456 per person (Total of $AUD 23456)</h2>
          <div class="section-box-add" onclick="$('.collapse').collapse('hide'); $('#melbourne-collapse').collapse('show');">
            <span class="add-sign">+</span>
            <p>Melbourne <span class="badge">3 Days</span></p>
          </div>
          <div class="collapse" id="melbourne-collapse">
            <div class="section-box">
              <p>Day 1</p>
              <div class="column">
              </div>
            </div>
            <div class="section-box">
              <p>Day 2</p>
              <div class="column">
              </div>
            </div>
            <div class="section-box">
              <p>Day 3</p>
              <div class="column">
              </div>
            </div>
          </div>
          <div class="section-box-add"  onclick="$('.collapse').collapse('hide'); $('#sydney-collapse').collapse('show');">
            <span class="add-sign">+</span>
            <p>Sydney <span class="badge">2 Days</span></p>
          </div>
          <div class="collapse" id="sydney-collapse">
            <div class="section-box">
              <p>Day 1</p>
              <div class="column">
              </div>
            </div>
            <div class="section-box">
              <p>Day 2</p>
              <div class="column">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Warning popups -->
<div class="modal fade" id="warning-delete-location" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to delete this location? Everything you have planned for that location will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warning-duration-location" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to reduce the duration of this location? Everything you have planned for the removed days will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Go ahead</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warning-duration-trip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to reduce the duration of the entire trip? Any location that falls outside of the duration will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Go ahead</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="{% static 'app/scripts/jquery.stickem.js' %}"></script>
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/components/dropdown.min.js"></script>
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/components/transition.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
    {%if LANGUAGE == "zh-CN"%}
    <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    {%endif%}
    <script type="text/javascript" src="{% static 'experiences/scripts/custom_itinerary.js' %}"></script>

    <script type="text/javascript">
    $(document).ready(function()
    {
        //fill out the left panel
        var experience_column = $("#experience_column");
        var flight_column = $("#flight_column");
        var transfer_column = $("#transfer_column");
        var accommodation_column = $("#accommodation_column");
        var restaurant_column = $("#restaurant_column");

        {%for day in itinerary%}
        var i = {{forloop.counter}};
        {% if forloop.first %}
        var new_day = "<div id='experience_day_" + i + "'></div>";
        {% else %}
        var new_day = "<div id='experience_day_" + i + "' style='display:none;'></div>";
        {% endif %}
        experience_column.append(new_day);
            {% for experience in day.experiences %}
            {% if 'private' in experience.type.lower or 'product' in experience.type.lower %}
            var new_experience = "<div class='exp-box-sm portlet'>" +
                                "<div class='exp-img portlet-header'>" +
                                    "<img src='{{MEDIA_URL}}thumbnails/experiences/experience{{experience.id}}_1.jpg' alt='{{experience.title}}' style='width:inherit;'/>" +
                                "</div>" +
                                "<div class='exp-info portlet-header'>" +
                                    "<h3>{{experience.title}}</h3>" +
                                    "<p>{{experience.description|escapejs|slice:"0:16"}}</p>" +
                                    "<p>{{experience.duration}} {% trans 'hr(s)' %} &middot; " +
                                       "{%if experience.language == 'english;mandarin;'%}English / 中文{%else%}English{%endif%} &middot;" +
                                       "{% if experience.type == 'PRIVATE' or experience.type == 'PrivateProduct'%}<strong>{% trans 'Private' %}</strong>{% endif %}</p>" +
                                "</div>"+
                                "<div class='exp-price portlet-header'>" +
                                    "<p>{{experience.dollarsign}}{{experience.currency}}</p>" +
                                    "<h2>{{experience.price}}</h2>" +
                                    "<p>{% trans 'per person' %}</p>" +
                                "</div>" +
                            "</div>";
            $("#experience_day_"+ i).append(new_experience);
            {% elif experience.type == "Flight" %}
            //TODO
            {% elif experience.type == "Transfer" %}
            //TODO
            {% elif experience.type == "Accommodation" %}
            //TODO
            {% elif experience.type == "Restaurant" %}
            //TODO
            {% endif %}
            {% endfor %}
        {% endfor %}

        $("#button_email").click(function(e){
            var itinerary = [];
            var dict={"id":"",
                      "date":"","time":"",
                      "guest_number":1};
            itinerary.push(dict);
            $("#id_itinerary_string").val(JSON.stringify(itinerary));
        })
    })

    function add_new_city()
    {
        var i=-1;
        //the last city was inserted before $("#add-city")
        if($("#add-city").prev().attr('id') && $("#add-city").prev().attr('id').startsWith("button_city_"))
        {
            var id = $("#add-city").prev().attr('id').split("_");   
            i = parseInt(id[id.length-1]);
        }
        var j=0,k=0;
        for(k=0;k<i;k++)
        {
            if($("#button_city_"+k).length > 0)
            {
                j++;

                if(j>=10)
                {
                    return;
                }
            }
        }
        i += 1;
        var city_name = $("#new_city option:selected").text();
        var duration = $("#new_duration").val();
        var new_city =
                "<button id=\"button_city_" + i + "\" type=\"button\" class=\"btn btn-grey\" data-container=\"body\" data-toggle=\"popover\" data-placement=\"bottom\" data-html=\"true\" data-content=\"" +
                    "<div class='form-group'>" +
                        "<p>{% trans 'Location' %}</p>" +
                        "<select id='city_list_" + i + "' class='form-control'>" +
                            "<option value='Melbourne'>{% trans 'Melbourne' %}</option>" +
                            "<option value='Sydney'>{% trans 'Sydney' %}</option>" +
                        "</select>" +
                    "</div>" +
                    "<div class='form-goup'>" +
                        "<p>{% trans 'Duration' %}</p>" +
                        "<select id='duration_list_" + i +"' class='form-control'>" +
                            "<option value=1>1{% trans ' Day' %}</option>" +
                            "<option value=2>2{% trans ' Day' %}</option>" +
                        "</select>" +
                    "</div>" +
                    "<button id='update_city_" + i + "' class='btn btn-primary' onclick='update_city(" + i + ")'>{% trans 'Update' %}</button>" +
                    "<button class='btn btn-default' style='margin-right:0;' onclick='$(&quot;#button_city_" + i + "&quot;).popover(&quot;hide&quot;);'>{% trans 'Cancel' %}</button>" +
                    "<button id='delete_city_" + i + "' class='btn btn-danger' onclick='delete_city(" + i + ")'>{% trans 'Delete Location' %}</button>" +
                    "\" city='" + $("#new_city").val() + "' duration=" + duration + ">" + city_name + " <span class=\"badge\">" + duration + "</span>" +
                "</button>";
        $(new_city).insertBefore($("#add-city"));
        // Initialise popovers
        $('[data-toggle="popover"]').popover();
    }

    function update_city(i)
    {
        var city_name = $("#city_list_" + i + " option:selected").text();
        var duration = $("#duration_list_" + i).val();
        $("#button_city_" + i)[0].innerHTML = city_name + " <span class=\"badge\">" + duration + "</span>";
        $("#button_city_" + i).popover("hide");
    }

    function delete_city(i)
    {
        $("#button_city_" + i).popover("hide");
        $("#button_city_" + i).remove();
    }

    function set_city_before_submit()
    {
        var cities="";
        //the last city was inserted before $("#add-city"), there must be at least one city
        if(!($("#add-city").prev().attr('id') && $("#add-city").prev().attr('id').startsWith("button_city_")))
        {
            //TODO
        }
        var id = $("#add-city").prev().attr('id').split("_");
        var j = parseInt(id[id.length-1]);
        for(var i=0;i<j;i++)
        {
            if($("#button_city_"+i).length > 0)
            {
                city = $("#button_city_"+i).attr("city");
                duration = $("#button_city_"+i).attr("duration");
                for(j=0;j<duration;j++)
                {
                    cities += city + ",";
                }
            }
        }
        cities = cities.substring(0,cities.length-1);
        $("#id_city").val(cities);
    }
    </script>
{% endblock %}
