{% extends "app/layout.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
    <title>{% trans 'Custom Itinerary' %}</title>
    <link href="{% static 'experiences/content/search.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'experiences/content/custom-itinerary.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<form id="itinerary_form" action="" method="post">
  {% csrf_token %}
  <div style="display:none;">
  <!-- TODO -->
    {{form.note}}
    {{form.description}}
    {{form.city}}

    {{form.language}}
    {{form.sort}}
    {{form.age_limit}}
    {{form.tags}}
    {{form.all_tags}}
    {{form.itinerary_string}}

    <!-- Done, but needs to be hidden -->
    {{form.guest_number}}
    {{form.end_datetime}}
  </div>
  <!-- Top search bar -->
  <div class="basic-search">
    <div class="container">
      <div class="row">
        <div class="form-inline">
          <h3 class="form-header">{% trans "Title" %}</h3>
          {{form.title}}
        </div>
        <div class="form-inline">
          <h3 class="form-header">{% trans "Start date" %}</h3>
          <div class="start-date">
            {{form.start_datetime}}
          </div>
        </div>
        <div class="form-inline right-group" style="margin-right:0;">
          <h3 class="form-header">{% trans "Group size" %}</h3>
          <button id="add-adults" type="button" class="btn btn-grey"data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content='
            <div class="form-goup">
              <select id="guest-num-select" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
              <button type="button" class="btn btn-primary" id="submit-add-adults">Update</button>
              <button type="button" class="btn btn-default" style="margin-right:0;" id="cancel-add-adults">Cancel</button>
            '>Adults <span class="badge" id="num-adults">1</span>
          </button>
          <button id="add-kids" type="button" class="btn btn-default"data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="
            <div class='form-goup'>
              <select class='form-control'><option>1 Kid</option></select>
            </div>
              <button class='btn btn-primary'>Add</button>
              <button class='btn btn-default' style='margin-right:0;' onclick='$(&quot;#add-kids&quot;).popover(&quot;hide&quot;);'>Cancel</button>
            ">+ Add Kids
          </button>
        </div>
      </div>
      <div class="row">
        <div class="form-inline">
          <h3 class="form-header">{% trans "Location" %}</h3>

          <button id="add-city" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="
            <div class='form-group'>
                <p>{% trans 'Location' %}</p>
                <select id='new_city' class='form-control'>
                    {% for tuple in location %}
                    <option value='{{tuple.0}}'>{{tuple.0}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='form-goup'>
                <p>{% trans 'Duration' %}</p>
                <select id='new_duration' class='form-control'>
                    {% for i in "0123456789" %}
                    <option value={{i|add:1}}>{{i|add:1}}{% trans ' Day' %}</option>
                    {% endfor %}
                </select>
            </div>
              <button class='btn btn-primary' onclick='add_new_city();$(&quot;#add-city&quot;).popover(&quot;hide&quot;);'>{% trans 'Add' %}</button>
              <button class='btn btn-default' style='margin-right:0;' onclick='$(&quot;#add-city&quot;).popover(&quot;hide&quot;);'>{% trans 'Cancel' %}</button>
            ">+ {% trans 'Add City' %}
          </button>
        </div>
        <div class="form-inline right-group">
          <h3 class="form-header">Web</h3>
          <button type="button" id="" class="btn btn-sm btn-default">$</button>
          <button id="button_view" class="btn btn-sm btn-default"><img src="{% static 'icon/locked.svg' %}" width="18" height="18"></button>
          <h3 class="form-header">PDF</h3>
          <button type="button" id="" class="btn btn-sm btn-default">$</button>
          <button type="button" id="" class="btn btn-sm btn-default"><img src="{% static 'icon/locked.svg' %}" width="18" height="18"></button>
          <!-- TODO -->
          <input class="btn btn-default" id="itinerary_search" type="hidden" value="{% trans "Search" %}" name="Search">
        </div>
      </div>
    </div>
  </div>

  <div class="loading"><img src="{% static 'experiences/img/loading.svg' %}" width="32px" height="32px" class="ajax-loader"/></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- Left section -->
        <div class="section">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/hot-56.svg' %}"></a></li>
            <li role="presentation"><a href="#flight" aria-controls="flight" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/flight.svg' %}"></a></li>
            <li role="presentation"><a href="#transfer" aria-controls="transfer" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/transfer.svg' %}"></a></li>
            <li role="presentation"><a href="#accommodation" aria-controls="accommodation" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/accommodation.svg' %}"></a></li>
            <li role="presentation"><a href="#restaurant" aria-controls="restaurant" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/restaurant.svg' %}"></a></li>
            <li role="presentation"><a href="#suggestion" aria-controls="suggestion" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/itinerary.svg' %}"></a></li>
            <li role="presentation"><a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab"><img src="{% static 'experiences/img/price.svg' %}"></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Right section -->
        <div id="right_section" class="section" style="overflow:scroll; height:72vh;">
          <h1 class="section-heading">Itinerary</h1>
          <h2 class="price-line">$AUD <label id="price-pp">0</label> {% trans "per person (Total of "%}$AUD <label id="price-tt">0</label>)</h2>

        </div>
      </div>
    </div>
  </div>
</form>

<!-- Warning popups -->
<div class="modal fade" id="warning-delete-location" tabindex="-1" role="dialog" aria-labelledby="warning">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to delete this location? Everything you have planned for that location will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirm-delete">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warning-duration-location" tabindex="-1" role="dialog" aria-labelledby="warning">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to reduce the duration of this location? Everything you have planned for the removed days will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirm-duration-location">Go ahead</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warning-duration-trip" tabindex="-1" role="dialog" aria-labelledby="warning">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to reduce the duration of the entire trip? Any location that falls outside of the duration will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirm-duration-trip">Go ahead</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
    {%if LANGUAGE == "zh-CN"%}
    <script type="text/javascript" src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    {%endif%}
    <script type="text/javascript" src="{% static 'experiences/scripts/custom_itinerary.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <script type="text/javascript">
    cities = {{location_keys|safe}};

    $(document).ready(function()
    {
        $(".loading").hide();
        $("#id_title").addClass("form_control");
        $("#id_title").attr("style","width:370px;");
        $("#itinerary_search").click(function(e){
            e.preventDefault();
            set_data_before_submit();
            $(".loading").show();

            $.ajax({
                url : '{{GEO_POSTFIX}}itinerary/',
                type: "POST",
                data : {
                            csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']")[0].value,
                            city: $("#id_city").val(),
                            start_datetime: $("#id_start_datetime").val(),
                            end_datetime: $("#id_end_datetime").val(),
                            guest_number: $("#id_guest_number").val(),
                            language: $("#id_language").val(),
                            Search: "Search",
                            tags: $("#id_tags").val(),
                            all_tags: $("#id_all_tags").val(),
                            sort: $("#id_sort").val(),
                            age_limit: $("#id_age_limit").val()
                        },
                success: function(data){
                            $('.tab-content').html(data);
                            $('.nav-tabs').children().removeClass();
                            $($('.nav-tabs').children()[0]).addClass("active");
                            init_drag(); // Initialize draggable elements
                            filter_experiences(); // Initialize search filter
                            $(".loading").hide();
                        },
                failure: function(e) {
                            $(".loading").hide();
                            $('.tab-content').text("Sorry but there was an error.");
                        }
            });
        });

        $("#button_view").click(function(e){
            set_data_before_submit();
            set_itinerary_string();
        });

        // Date field
        if (window.location.pathname.indexOf("/cn") > -1 || window.location.href.indexOf(".cn") > -1) {
            $(function () {
                $("#id_start_datetime").datetimepicker({
                    format: 'YYYY-MM-DD', locale: 'zh-CN'
                });
            });
        }
        else {
            $(function () {
                $("#id_start_datetime").datetimepicker({
                    format: 'YYYY-MM-DD'
                });
            });
        }

        $("#id_start_datetime").focusout(function () {
            if ($("#id_start_datetime").val() != "" && $("#id_end_datetime").val() != "") {
                $("#itinerary_search").click();
            }
        });
    })

    function construct_data_content(i, cities, city, city_name, duration)
    {
        var new_city =
                "<button id=\"button_city_" + i + "\" type=\"button\" class=\"btn btn-grey\" data-container=\"body\" data-toggle=\"popover\" data-placement=\"bottom\" data-html=\"true\" data-content=\"" +
                    "<div class='form-group'>" +
                        "<p>{% trans 'Location' %}</p>" +
                        "<select id='city_list_" + i + "' class='form-control'>";

        for(var c=0;c<cities.length;c++)
        {
            if(cities[c] == city)
            {
                new_city += "<option value='" + cities[c] + "' selected>" + cities[c] + "</option>";
            }
            else
            {
                new_city += "<option value='" + cities[c] + "'>" + cities[c] + "</option>";
            }

        }
        new_city +=     "</select>" +
                    "</div>" +
                    "<div class='form-goup'>" +
                        "<p>{% trans 'Duration' %}</p>" +
                        "<select id='duration_list_" + i +"' class='form-control'>";

        for(var d=1;d<=10;d++)
        {
            if(d == parseInt(duration))
            {
                new_city += "<option value=" + d + " selected>" + d + "{% trans ' Day' %}</option>";
            }
            else
            {
                new_city += "<option value=" + d + ">" + d + "{% trans ' Day' %}</option>";
            }
        }
        new_city +=
                        "</select>" +
                    "</div>" +
                    "<button id='update_city_" + i + "' class='btn btn-primary' onclick='update_city(" + i + ")'>{% trans 'Update' %}</button>" +
                    "<button class='btn btn-default' style='margin-right:0;' onclick='$(&quot;#button_city_" + i + "&quot;).popover(&quot;hide&quot;);'>{% trans 'Cancel' %}</button>" +
                    "<button id='delete_city_" + i + "' class='btn btn-danger' onclick='delete_city(" + i + ")'>{% trans 'Delete Location' %}</button>" +
                    "\" city='" + city + "' duration=" + duration + ">" + city_name + " <span class=\"badge\">" + duration + "</span>" +
                "</button>";
        return new_city;
    }

    function update_left_section(city)
    {
        //the left section: only show the experiences in the given city
        for(var i=0;i<cities.length;i++)
        {
            if(cities[i]==city)
            {
                $(".city_" + cities[i]).show();
                $(".flight_" + cities[i]).show();
                $(".transfer_" + cities[i]).show();
                $(".accommodation_" + cities[i]).show();
                $(".restaurant_" + cities[i]).show();
                $(".suggestion_" + cities[i]).show();
            }
            else
            {
                $(".city_" + cities[i]).hide();
                $(".flight_" + cities[i]).hide();
                $(".transfer_" + cities[i]).hide();
                $(".accommodation_" + cities[i]).hide();
                $(".restaurant_" + cities[i]).hide();
                $(".suggestion_" + cities[i]).hide();
            }
        }
    }

    function add_new_city()
    {
        var i=-1;
        //the last city was inserted before $("#add-city")
        if($("#add-city").prev().attr('id') && $("#add-city").prev().attr('id').indexOf("button_city_") === 0)
        {
            var id = $("#add-city").prev().attr('id').split("_");
            i = parseInt(id[id.length-1]);
        }
        var j=0,k=0;
        for(k=0;k<i;k++)
        {
            if($("#button_city_"+k).length > 0)
            {
                j++;

                if(j>=10)
                {
                    return;
                }
            }
        }
        i += 1;
        var city = $("#new_city").val();
        var city_name = $("#new_city option:selected").text();
        var duration = $("#new_duration").val();

        //add a new button for the city
        var new_city = construct_data_content(i, cities, city, city_name, duration);
        $(new_city).insertBefore($("#add-city"));
        // Initialise popovers
        $('[data-toggle="popover"]').popover();

        //add a new item in the right section
        var new_item =
                    "<div id=\"city-title-" + i + "\" class=\"section-box-add\" onclick=\"$('.collapse').collapse('hide'); $('#city-collapse-" + i + "').collapse('show');update_left_section('" + city + "');\" city=" + city + ">" +
                        "<span class=\"add-sign\">+</span>" +
                        "<p id=\"city-title-p-" + i + "\">" + city_name + " <span class=\"badge\">" + duration + "{% trans ' Day(s)' %}</span></p>" +
                    "</div>" +
                    "<div class=\"collapse\" id=\"city-collapse-" + i + "\">";
        for(var j=1;j<=duration;j++)
        {
            new_item +=
                        "<div id=\"city-collapse-" + i + "-day-" + j + "\" class=\"section-box\">" +
                            "<p>{% trans 'Day' %} " + j + "</p>" +
                            "<div class=\"column\">" +
                            "</div>" +
                        "</div>";
        }
        new_item += "</div>";
        $("#right_section").append(new_item);

        //reload data
        $("#itinerary_search").click();
    }

    function update_guests() {
      var guests = $("#guest-num-select").val();
      $("#add-adults")[0].innerHTML = "Adults" + " <span class=\"badge\">" + guests + "</span>";
      $("#id_guest_number").val(guests);
      $("#add-adults").popover("hide");
      $("#itinerary_search").click();
    }

    function update_city(i)
    {
        var city = $("#city_list_" + i).val();
        var city_name = $("#city_list_" + i + " option:selected").text();
        var duration = parseInt($("#duration_list_" + i).val());
        $("#button_city_" + i)[0].innerHTML = city_name + " <span class=\"badge\">" + duration + "</span>";
        $("#button_city_" + i).popover("hide");
        //update $("#button_city_" + i).attr("data-content")
        $("#button_city_" + i).replaceWith(construct_data_content(i, cities, city, city_name, duration));
        // Initialise popovers
        $('[data-toggle="popover"]').popover();

        $("#city-title-" + i).attr("onclick","$('.collapse').collapse('hide'); $('#city-collapse-" + i + "').collapse('show');update_left_section('" + city + "')");
        $("#city-title-" + i).attr("city",city);
        $("#city-title-p-" + i)[0].innerHTML = city_name + " <span class=\"badge\">" + duration + "{% trans ' Day(s)' %}</span>";
        for(var j=1;j<=10;j++)
        {
            if(j<=duration && $("#city-collapse-" + i + "-day-" + j).length == 0)
            {
                //add a new day
                var new_day =   "<div id=\"city-collapse-" + i + "-day-" + j + "\" class=\"section-box\">" +
                                    "<p>{% trans 'Day' %} " + j + "</p>" +
                                    "<div class=\"column\">" +
                                    "</div>" +
                                "</div>";
                $("#city-collapse-" + i).append(new_day);
            }
            else if(j>duration && $("#city-collapse-" + i + "-day-" + j).length > 0)
            {
                //delete the day
                $("#city-collapse-" + i + "-day-" + j).remove();
            }
        }

        //reload data
        $("#itinerary_search").click();
    }

    function delete_city(i)
    {
        $("#button_city_" + i).popover("hide");
        $("#warning-delete-location").modal("show");
        $("#confirm-delete").click(function() {
            //remove experiences in that city from the left section
            city = $("#button_city_" + i).attr("city");
            $(".city_" + city).remove();
            $("#button_city_" + i).remove();
            $("#city-title-" + i).remove();
            $("#city-collapse-" + i).remove();
            $("#warning-delete-location").modal("hide");
        });
    }

    function set_data_before_submit()
    {
        var cities="";
        //the last city was inserted before $("#add-city"), there must be at least one city
        if(!($("#add-city").prev().attr('id') && $("#add-city").prev().attr('id').indexOf("button_city_") === 0))
        {
            //TODO
        }
        var id = $("#add-city").prev().attr('id');
        var number_city = 0;
        //users may switch the order of cities, so button_city_1 can be behind button_city_2
        while(id && id.indexOf("button_city_") === 0)
        {
            var id_split = id.split("_");
            var i = parseInt(id_split[id_split.length-1]);

            if($("#button_city_"+i).length > 0)
            {
              city = $("#button_city_"+i).attr("city");
              duration = $("#button_city_"+i).attr("duration");
              //comment out the following line if availability is considered in the future
              duration = 1;
              for(j=0;j<duration;j++)
              {
                  cities = city + "," + cities;
              }
              number_city += 1;

            }

            id = $("#"+id).prev().attr('id');
        }
        cities = cities.substring(0,cities.length-1);
        $("#id_city").val(cities);

        var d = new Date($("#id_start_datetime").val());
        //d.setTime(d.getTime() + d.getTimezoneOffset()*60*1000);
        //$("#id_start_datetime") is already set
        d.setDate(d.getDate()+number_city-1);
        $("#id_end_datetime").val(d.toString('yyyy-M-dd'));
    }

    function set_itinerary_string()
    {
        var itinerary = [];
        var city = $(".price-line").next().next()[0];
        var number_day = 0;
        var cities = "";

        while(city && city.id.indexOf("city-collapse-") === 0)
        {
            var c = $(city).prev().attr("city");
            var day = $(city).children()[0];
            while(day && day.id.indexOf("city-collapse-") === 0)
            {
                number_day += 1;
                cities += c + ",";
                var experience = $(day).find(".column")[0].firstChild;
                while(experience && experience.id.indexOf("experience_id_") === 0)
                {
                    var exp_id = experience.id.split("_");
                    var d = Date.parseExact($("#id_start_datetime").val().substring(0, 10), "yyyy-M-dd");
                    d.setDate(d.getDate()+number_day-1);
                    var tmp = $(experience).find(".exp-info")[0].firstElementChild;
                    var dict={"id":exp_id[exp_id.length-1],
                              "title":tmp.innerText || tmp.textContent,
                              "date":d.toString('yyyy-M-dd'),
                              "time":"01:00",
                              "guest_number":$("#id_guest_number").val()};
                    itinerary.push(dict);
                    experience = $(experience).next()[0];
                }
                day = $(day).next()[0];
            }
            city = $(city).next()[0];
            if(city && city.id.indexOf("city-title-") === 0)
            {
                city = $(city).next()[0];
            }
        }

        cities = cities.substring(0,cities.length-1);
        $("#id_city").val(cities);
        $("#id_itinerary_string").val(JSON.stringify(itinerary));
    }

    // Make filter case un-sensitive
    jQuery.expr[':'].contains = function(a,i,m) {
      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
    };

    // Filters experiences on search keyword
    function filter_experiences() {
      $("#search-keyword")
        .change(function() {
          var filter = $(this).val();
          if (filter) {
            $(".exp-box-sm").find("div.exp-info:not(:contains(\'" + filter + "\'))").parent().slideUp();
            $(".exp-box-sm").find("div.exp-info:contains(\'" + filter + "\')").parent().slideDown();
          } else {
            $(".exp-box-sm").slideDown();
          }
          return false;
        })
        .keyup(function() {
          $(this).change();
      });
    }

    function add_item(type) {
        var ids = ["title", "location", "price", "details"];
        var value = "";
        var item = {
            csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']")[0].value,
            Add: "Add",
            type: type,
        };
        for (var i = 0; i < ids.length; i++) {
            value = $("#" + type + "-" + ids[i]).val();
            if(value)
            {
                item[ids[i]] = value;
            }
        }
        if(item.length==3)
        {
            alert("Fill at least one field");
            return;
        }
        $.ajax({
            url: '{{GEO_POSTFIX}}itinerary/',
            type: "POST",
            data: item,
            success: function (data) {
                var title = $("#" + type + "-title").val();
                var details = $("#" + type + "-details").val();
                var location = $("#" + type + "-location").val();
                var price = $("#" + type + "-price").val();

                var new_item =  "<div class=\"exp-box-sm portlet\" id=\"experience_id_\"" + data.new_product_id + ">" +
                                  "<div class=\"exp-img portlet-header\"></div>" +
                                  "<div class=\"exp-info portlet-header\">" +
                                    "<h3>" + title + "</h3>" +
                                    "<p>" + details + "</p>";
                if(location)
                {
                    new_item +=
                                    "<p>" + location.substring(0,15) + "</p>";
                }
                new_item +=
                                  "</div>" +
                                  "<div class=\"exp-price portlet-header\">" +
                                    "<p>$AUD</p>" +
                                    "<h2>" + price + "</h2>" +
                                    "<p>{% trans 'per person' %}</p>" +
                                  "</div>" +
                                "</div>";
                $("#"+type+"_column").append(new_item);
                $("#"+type+"_column").fadeIn();
                $("#add-"+type).hide();
                init_drag();
            },
            failure: function (e) {

            }
        });
    }

    function update_price_title()
    {
        var city = $(".price-line").next().next()[0];
        var price = 0;

        while(city && city.id.indexOf("city-collapse-") === 0)
        {
            var c = $(city).prev().attr("city");
            var day = $(city).children()[0];
            while(day && day.id.indexOf("city-collapse-") === 0)
            {
                var experience = $(day).find(".column")[0].firstChild;
                while(experience && experience.id.indexOf("experience_id_") === 0)
                {
                    var tmp = $(experience).find(".exp-price")[0].getElementsByTagName("H2")[0];
                    price += parseFloat(tmp.innerText || tmp.textContent);
                    experience = $(experience).next()[0];
                }
                day = $(day).next()[0];
            }
            city = $(city).next()[0];
            if(city && city.id.indexOf("city-title-") === 0)
            {
                city = $(city).next()[0];
            }
        }
        if(price < 0)
        {
            price=0;
        }
        $("#price-pp").text(price);
        guest_number = $("#id_guest_number").val();
        $("#price-tt").text(price*guest_number);
    }
    </script>
{% endblock %}
