{% load i18n %}
{% extends "app/email_notification.html" %}

{% block heading %}{% trans "Your booking request has been sent to "%}{% for h in experience.hosts.all %}{% if forloop.first %} {{ h.first_name }}{% endif %}{% endfor %}{% endblock %}
{% block subheading %}
{% trans "You "%}{%if guest_number > 1 %}{% trans "and "%}{{guest_number|sub:1}}{% trans " of your "%}{%if guest_number > 2%}{% trans "friends"%}{%else%}{% trans "friend"%}{%endif%}{%endif%}{% trans " have requested to experience "%}<br>
                                <a href="{{experience_url}}" target="_blank">{{experience.title}}</a><br>
                                {% trans "on "%}<strong>{% if LANGUAGE != "zh-CN"%}{{ booking.datetime|date:'d/m/Y' }}{%else%}{{ booking.datetime|date:'Y-m-d' }}{%endif%}</strong>{% trans " at "%}<strong>{{ booking.datetime|date:'H:i' }}</strong>
{% endblock %}
{% block content %}
{% for h in experience.hosts.all %}{% if forloop.first %} {{ h.first_name }}{% endif %}{% endfor %}{% trans " should get back to you within 24 hours."%}<br>
                {% trans "If you don't hear from "%}{% for h in experience.hosts.all %}{% if forloop.first %} {{ h.first_name }}{% endif %}{% endfor %}{% trans " within next 24 hours, your payment will be refunded."%}
{% endblock %}
