{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}
{% extends "app/email_notification.html" %}

{% block heading %}{% trans "Booking reminder" %}{% endblock %}
{% block subheading %}
{% blocktrans with user_first_name=user.first_name %}Tomorrow you will be meeting {{user_first_name}} at {% endblocktrans %}<br>
                                <strong>{{experience.meetup_spot}}</strong><br>
                                {% trans "on " %}<strong>{% if LANGUAGE != "zh-CN" %}{{ booking.datetime|date:'d/m/Y' }}{% else %}{{ booking.datetime|date:'Y-m-d' }}{%endif%} </strong>{% trans " at " %}<strong> {{ booking.datetime|date:'H:i' }}</strong><br>
                                {% trans "to take them on your experience" %}<br>
                                <a href="{{experience_url}}" target="_blank">{{experience.title}}</a>
{% endblock %}
{% block content %}
  {% for h in experience.hosts.all %}{% if forloop.first %}
  {% blocktrans with user_first_name=user.first_name user_phone_number=user.registereduser.phone_number host_phone_number=h.registereduser.phone_number%}{{user_first_name}}'s local mobile&nbsp;number is <strong>{{user_phone_number}}</strong><br>
  Please contact {{user_first_name}}&nbsp;on the day for any last minute changes.<br>
  We have given {{user_first_name}} your number <strong> {{ host_phone_number }}</strong><br>
  please send {{user_first_name}} a message if this number is incorrect.{% endblocktrans %}
  {% endif %}{% endfor %}
{% endblock %}
