{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}
{% extends "app/email_notification.html" %}

{% block heading %}{% trans "Cancellation confirmed" %}{% endblock %}
{% block subheading %}{% blocktrans with first_name=user.first_name%}Your following booking with {{first_name}} is now cancelled: {% endblocktrans %}{% endblock %}
{% block content %}
  <strong>{{experience.meetup_spot}}</strong>,
  <strong>{% if LANGUAHE != "zh-CN" %}{{ booking.datetime|date:'d/m/Y' }}{%else%}{{ booking.datetime|date:'Y-m-d' }}{% endif %}</strong>,
  <strong>{{ booking.datetime|date:'H:i' }}</strong>
  <br>
  <a href="{{experience_url}}" target="_blank">{{experience.title}}</a>
  <br>
  <br> {% trans "To avoid future cancellations, please update your calendar regularly." %}
{% endblock %}
