{% extends "app/email_notification.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block heading %}{% trans "Cancellation confirmed" %}{% endblock %}
{% block subheading %}{% trans "Your experience with " %}{% for h in experience.hosts.all %}{% if forloop.first %} {{ h.first_name }}{% endif %}{% endfor %}{% trans " is now cancelled" %}{% endblock %}
{% block content %}
  <a href="{{experience_url}}" target="_blank">{{experience.title}}</a><br>
  {% trans "Your refund is now on the way back to your original payment method." %}<br>
  {% trans "The refund usually takes 2-3 business days but may take up to 10 business days depending on the bank." %}
{% endblock %}
