{% extends "app/email_notification.html" %}

{% block heading %}{% trans "How was your experience with "%}{% for h in experience.hosts.all %}{% if forloop.first %}{{ h.first_name|title }}{% endif %}{% endfor %}{% trans "? "%}{% endblock %}
{% block subheading %}
  {% trans "You have completed the following experience on "%}{%if LANGUAGE != "zh-CN"%}{{ booking.datetime|date:'d/m/Y' }}{%else%}{{ booking.datetime|date:'Y/m/d' }}{%endif%}{% trans ", how did it go?" %}<br>
                                <a href="{{experience_url}}" target="_blank">{{experience.title}}</a>
{% endblock %}

{% block content %}
  {% trans "Leave a review for your host so they can get more bookings :)"%}
{% endblock %}
