{% extends "app/email_notification.html" %}

{% block heading %}{% if accepted %}
    {% trans 'Your following booking request is accepted by the host' %}
{% else %}
    {% trans 'Your following booking request is rejected by the host. You will get fully refunded.' %}
{% endif%}
{% endblock %}
{% block subheading %}{{ experience.title }}, {{ experience.city }}{% endblock %}
{% block content %}
<form>
    <p>Reservation for <strong>{{ booking.guest_number }} person(s)</strong><br>
        on <strong>{{ booking.datetime|date:'d/m/Y' }}</strong> at <strong>{{ booking.datetime|date:'H:i' }}</strong>
    </p>
    <p>Rate: ${{ experience.price|mul:1.25|floatformat:"0" }} per person for {{ experience.duration }} hours</p>
</form>
{% endblock %}
