{% extends "app/email_notification.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block heading %}{% trans "Booking confirmed" %}{% endblock %}
{% block subheading %}{% trans "Please meet "%}{% for h in experience.hosts.all %}{% if forloop.first %} {{ h.first_name }}{% endif %}{% endfor %}{% trans " at the meeting point"%}{% endblock %}

{% block profile %}{% with experience.hosts.all|first as host %}{% if host.registereduser.image_url %}{{ MEDIA_URL }}{{ host.registereduser.image_url }}{% else %}{{ MEDIA_URL }}hosts/profile_default/{{rand|add:"123456789abcdefghijk"|make_list|random}}.svg{% endif %}{% endwith %}{% endblock %}

{% block content %}
<strong>{{experience.meetup_spot}}</strong><br>
  {% trans "on" %} <strong>{% if LANGUAGE != "zh-CN"%}{{ booking.datetime|date:'d/m/Y' }}{% else %}{{ booking.datetime|date:'Y-m-d' }}{% endif %}</strong>{%trans " at " %}<strong> {{ booking.datetime|date:'H:i' }}</strong><br>
  {% trans "to experience" %}<br>
  <a href="{{experience_url}}" target="_blank">{{experience.title}}</a><br>
  <br>
  {% for h in experience.hosts.all %}{% if forloop.first %}{{ h.first_name }}{% trans "'s local mobile number is "%}<strong>{{ h.registereduser.phone_number }}</strong><br>
  {% trans "Please contact "%}{{ h.first_name }}{% trans " on the day for any last minute changes."%}<br>
  {% trans "We have given your number to "%}{{ h.first_name }}:<strong> {{user.registereduser.phone_number }}</strong><br>
  {% trans "please send "%}{{ h.first_name }}{% trans " a message if this number is incorrect." %}
  {% endif %}{% endfor %}
{% endblock %}
