{% extends "app/email_notification.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block heading %}{{user_first_name}}{% trans " has requested for your experience"%}{% endblock %}
{% block subheading %}<a href="{{experience_url}}" target="_blank">{{experience.title}}</a> {% if LANGUAGE != "zh-CN" %}{{ booking.datetime|date:'d/m/Y' }}{%else%}{{ booking.datetime|date:'Y-m-d' }}{%endif%} {{ booking.datetime|date:'H:i' }}{% trans "on" %}{% endblock %}
{% block content %}
{% trans "Are you free on "%}{% if LANGUAGE != "zh-CN" %}{{ booking.datetime|date:'d/m/Y' }}{%else%}{{ booking.datetime|date:'Y-m-d' }}{%endif%} {{ booking.datetime|date:'H:i' }}{% trans " for " %}{{user_first_name}}{%if booking.guest_number > 1%}{% trans " and " %}{{booking.guest_number|sub:1}} {%if booking.guest_number > 2%}{% trans "others" %}{%else%}{% trans "other" %}{%endif%}{%endif%}?<br>
{% blocktrans with user_first_name=user_first_name %}Please respond within 48 hours or {{user_first_name}} will be refunded.{% endblocktrans %}
{% endblock %}
