{% extends "app/layout.html" %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
    {% load staticfiles %}
    {% if experience.type == 'PRIVATE' or experience.type == 'NONPRIVATE' %}
    {% if LANGUAGE != "zh-CN" %}
    <title>{{ experience.title }} {% trans "with" %} {{ host.first_name|title }} {{ host.last_name|title|slice:":1" }}.</title>
    {%else%}
    <title>{% trans "with" %} {{ host.first_name|title }} {{ host.last_name|title|slice:":1" }}. {% trans "Experience" %}{{ experience.title }}</title>
    {%endif%}
    {% else %}
    <title>{{ experience.title }}</title>
    {% endif %}
    <link href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'experiences/content/experience-detail.css' %}" rel="stylesheet">
    <link href="{% static 'experiences/content/weather-icons.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if expired == None and listed == None %}
    <div class="jumbotron experienceImg" style="background-image:url(
		{{ MEDIA_URL }}{{cover_photo.directory}}{{cover_photo.name}})">
	</div>

    {%if host_only_expired %}
    <p style="text-align:center; color:red;">{% trans "The experience has expired. Only you can see it now." %}</p>
    {%endif%}

    {%if host_only_unlisted %}
    <p style="text-align:center; color:red;">{% trans "The experience has not been approved. Only you can see it now." %}</p>
    {%endif%}

    <div id="booking_option" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="guest-popup">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{%trans 'You have not logged in yet. You can:' %}</h4>
          </div>
          <div class="modal-body" style="text-align: center;">
            <button class="btn btn-default btn-lg" role="button" id="booking_login_title" onclick="$('.collapse').collapse('hide'); $('#booking_login').collapse('show'); $('#booking_option').attr('option','login');"> 
              {%trans 'Login' %}
            </button>
            <button class="btn btn-default btn-lg" role="button" id="booking_guest_title" onclick="$('.collapse').collapse('hide'); $('#booking_guest').collapse('show'); $('#booking_option').attr('option','guest');"> 
                {%trans 'Continue as guest' %}
            </button>
            <div id="booking_guest" class="collapse">
              <div class="well">
                <p>{%trans 'Please provide correct information, or you will not receive booking confirmation.'%}
                <div class="form-group">
                  <input class="form-control" id="guest_email" name="email" placeholder="{%trans 'Email' %}" type="email">
                </div>
                <div class="form-group">
                  {% if LANGUAGE != "zh-CN" %}
                  <input class="form-control" id="guest_first_name" maxlength="30" name="first_name" placeholder="{%trans 'First Name' %}" type="text">
                  {% else %}
                  <input class="form-control" id="guest_last_name" maxlength="30" name="last_name" placeholder="{%trans 'Last Name' %}" type="text">
                  {% endif %}
                </div>
                <div class="form-group">
                  {% if LANGUAGE != "zh-CN" %}
                  <input class="form-control" id="guest_last_name" maxlength="30" name="last_name" placeholder="{%trans 'Last Name' %}" type="text">
                  {% else %}
                  <input class="form-control" id="guest_first_name" maxlength="30" name="first_name" placeholder="{%trans 'First Name' %}" type="text">
                  {% endif %}
                </div>
                <div class="form-group">
                  <input class="form-control" id="guest_phone_number" maxlength="30" name="phone_number" placeholder="{%trans 'Phone number' %}" type="text">
                </div>
              </div>
            </div>
            <div id="booking_login" class="collapse">
              <div class="well">
                <div class="form-group">
                  <input class="form-control" id="login_email" name="login" placeholder="{%trans 'Email' %}" type="email">
                </div>
                <div class="form-group">
                  <input class="form-control" id="login_password" name="password" placeholder="{%trans 'Password' %}" type="password">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn btn-secondary" id="booking_cancel" type="button" value="{%trans 'Cancel' %}">
            <input class="btn btn-primary" id="booking_continue" type="button" value="{%trans 'Continue' %}">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        {% if experience.partner == "001"%} {# experienceoz #}
            {% include "experiences/api_booking_box.html" %}
            {% include "experiences/api_description.html" %}
        {% elif experience.partner == "002"%} {# rezdy #}
            {% include "experiences/api_booking_box.html" %}
            {% include "experiences/product_description.html" %}
        {% elif experience.type == "PublicProduct" or experience.type == "PrivateProduct" %} {# new product #}
            {% include "experiences/product_booking_box.html" %}
            {% include "experiences/product_description.html" %}
        {% elif experience.type == 'PRIVATE' or experience.type == 'NONPRIVATE' or experience.type == 'ITINERARY' %} {# experience #}
            {% include "experiences/experience_booking_box.html" %}
            {% include "experiences/experience_description.html" %}
        {%endif%}
    </div>

    {% if experience.type == 'PRIVATE' or experience.type == 'NONPRIVATE' %}
    <div class="container-fluid">
        <div class="experience-host bio-box">
            <h2>{% trans "About the host," %} {{ host.first_name|title }}</h2>
            <div id="experience-hostintro" class="experience-hostintro">
                <div class="experience-hostpic profile-lg" style="background:url({{ MEDIA_URL }}{{ host_image|urlencode }}); no-repeat; background-size:cover; background-position:center;"></div>
                <div>
                    <div id="experience-hostinterests" class="experience-hostinterests">
                        <div class="gradientMask"></div>
                        <span id="host_bio">{{host_bio}}</span>
                    </div>
                    {% if host_bio|length > 200 %}
                    <div id="bio_show_more" value="More" class="show-more">+ {% trans "More" %}</div>
                    {% endif %}
                </div>
            </div>

            <div class="host-socialmedia">
                <div class="host-trust">{% trans "Trust" %}</div>
                {% if host.socialaccount_set.all%}
                <div class="host-facebook">
                    <div class="facebooklogo"></div>
                    <span class="Mobile">Facebook</span>
                    <span class="host-friend">{% trans "Verified" %}</span>
                </div>
                {% endif %}
                {% if experience.review_set.count > 0 %}
                <div class="host-review">
                    <div class="reviewlogo"></div>
                    <span class="review-title">{% trans "Reviews" %}</span>
                    <span class="review-number" style="color:#333">{{ experience.review_set.count }}</span>
                </div>
                {% endif %}
                {% if host.registereduser.phone_number%}
                <div class="host-mobile">
                    <div class="mobilelogo"></div>
                    <span class="Mobile">{% trans "Phone" %}</span>
                    <span class="host-verified">{% trans "Verified" %}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {%endif%}

    <div class="container-fluid review">
        <div class="review-box" style="margin-top:50px">
            {% if experience.review_set.count %}
            <h2>{{ experience.review_set.count }}{% trans " Review(s)" %} </h2>
            <div class="rating">
            {% for r in "12345" %}
                {% if forloop.counter <= experience_rate %}
                <span>&#9733;</span>
                {%endif%}
            {% endfor %}
            </div>
            {% endif %}

            {% for review in experience.review_set.all|dictsortreversed:"datetime" %}
            {% if forloop.counter|mod:3 == 1 %}
            <div id="review_page_{{forloop.counter|div:3|add:1}}_div">
            {% endif %}
                {% if forloop.counter|mod:3 == 0 or forloop.last%}
                <div class="reviewList last">
                {% else %}
                <div class="reviewList">
                {% endif %}
                    {%if review.user.registereduser.image_url != None and review.user.registereduser.image_url != ''%}
                    <div class="profile-frame-sm" style="float:left;">
                        <div class="profile-sm" style="background-image:url({{ MEDIA_URL }}{{review.user.registereduser.image_url|urlencode}})">
                        </div>
                    </div>
                    {%else%}
                    <div class="profile-frame-sm" style="float:left;">
                        <div class="profile-sm" style="background-image:url({{ MEDIA_URL }}hosts/profile_default/{{rand|add:"123456789abcdefghijk"|make_list|random}}.svg)">
                        </div>
                    </div>
                    {%endif%}
                    <div class="reviewName"><p>{{review.user.first_name }}</p></div>
                    <div class="reviewText">{{review.comment}}
                        <div class="reviewDate">
                        {% if LANGUAGE != "zh-CN" %}
                            {{review.datetime|date:'d M Y'}}
                        {%else%}
                            {{review.datetime|date:'Y'}}年{{review.datetime|date:'m'}}月{{review.datetime|date:'d'}}日
                        {%endif%}
                        </div>
                    </div>
                </div>
            {% if forloop.counter|mod:3 == 0 or forloop.last%}
            </div>
            {% endif %}
            {% endfor%}
            {% if experience.review_set.count > 3 %}
            <div class="review_paging_container">
                {% for review in experience.review_set.all|dictsortreversed:"datetime" %}
                {% if forloop.counter|mod:3 == 1 %}
                <div id="review_page_{{forloop.counter|div:3|add:1}}" class="review_paging">{{forloop.counter|div:3|add:1}}</div>
                {% endif %}
                {% endfor%}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="also" style="border-top: 1px solid #CCCCCC; background-color:#FFF;">
    	<div class="container">
            <h2 style="font-weight:bold">{% trans "People also booked" %}</h2>

            {% for related_experience, added_to_wishlist in related_experiences %}
            {% if forloop.counter0 < 2 %}
            <div class="exp-box">
              {% if related_experience.type == 'PRIVATE' or related_experience.type == 'NONPRIVATE' %}
                <div class="exp-type">
                  <img src="{% static 'experiences/img/local-55.svg' %}" width="35" height="35">
                  <h3>{% trans 'Travel with Locals' %}</h3>
                </div>
              {% else %}
                <div class="exp-type">
                  <img src="{% static 'experiences/img/hot-56.svg' %}" width="35" height="35">
                  <h3>{% trans 'Local Experiences' %}</h3>
                </div>
              {% endif %}
                <label id="related_experience_id_{{forloop.counter0}}" style="display:none;">{{related_experience.id}}</label>
                <a href="{{GEO_POSTFIX}}experience/{{related_experience.id}}">
                    <div class="listing-img" style="background-image:url({% for photo in related_experience.photo_set.all %}{% if forloop.first %} {{ MEDIA_URL }}{{photo.directory}}{{photo.name}} {%endif%}{%endfor%});">
                        <div class="price-box">
                        {% trans "From" %} {{related_experience.dollarsign}}<span>{{ related_experience.price|mul:related_experience.commission|floatformat:"0" }}</span> {{related_experience.currency}} {% trans "/person" %}
                        </div>
                    </div>
                </a>
                <a href="{{GEO_POSTFIX}}experience/{{related_experience.id}}"><h3>{{ related_experience.title }}</h3></a>
                {% if related_experience.type == 'PRIVATE' or related_experience.type == 'NONPRIVATE' %}
                <div class="profile-frame-sm">
                    <div class="profile-sm"
                            style="background-image:url({% with related_experience.hosts.all|first as host %}
                                    {% if host.registereduser.image_url %}
                                            {{ MEDIA_URL }}{{ host.registereduser.image_url }}
                                        {% else %}
                                            {{ MEDIA_URL }}hosts/profile_default/{{rand|add:"123456789abcdefghijk"|make_list|random}}.svg
                                        {% endif %}
                                    {% endwith %})">
                    </div>
				        </div>
                {% endif %}
                <p style="overflow-y:hidden; height:70px; margin-bottom:15px;">{{ related_experience.description }}</p>
                <div class="listing-footer">
                    <div id="save_to_wishlist_related_{{forloop.counter0}}"{% if not user.is_authenticated %} onclick="location.href = '{{GEO_POSTFIX}}accounts/login/?next={{GEO_POSTFIX}}experience/{{experience.id}}';"{%endif%}{%if added_to_wishlist%} val="True" class="saved_to_wishlist_related"{%else%}val="False" class="save_to_wishlist_related"{%endif%}></div>
                    <div>{%if related_experience.duration < 24 %}{{related_experience.duration}} {% trans "hrs" %}{%else%}{{related_experience.duration|intdiv:24|floatformat:"0"}} {% trans "days" %}{%endif%} &#8226; {%if related_experience.language == "english;mandarin;"%}English / 中文{%else%}English{%endif%}
                        &#8226; <span style="font-weight:500;">{% if experience.type == 'PRIVATE' or experience.type == 'PrivateProduct'%}{% trans 'Private' %}{% endif %}</span>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div class="exp-box" style="text-align: center;">
              <div class="exp-type" style="text-align: left;">
                <img src="{% static 'experiences/img/itinerary-57.svg' %}" width="35" height="35">
                <h3>{% trans 'Itineraries' %}</h3>
              </div>
              <div class="listing-img" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url({{ MEDIA_URL }}city/Brisbane.jpg);">
                <div class="listing-img-text">
                  <h1>{% trans "10 Day Trip" %}</h1>
                  <h2>{% trans "Melbourne + Sydney + Gold Coast" %}</h2>
                </div>
              </div>
              <div class="price-box-sm">
                <p>{% trans "Include 1 night accommodation" %}</p>
                <p style="margin-bottom:0;">AU $2632</p>
                <p><a href="{{GEO_POSTFIX}}experience/691/">{% trans "View details" %}</a></p>
              </div>
              <div class="price-box-sm">
                <p>{% trans "Includes all accommodation" %}</p>
                <p style="margin-bottom:0;">AU $3993</p>
                <p><a href="{{GEO_POSTFIX}}experience/771/">{% trans "View details" %}</a></p>
              </div>
        </div>
    </div>
    {% if experience.type == "PublicProduct" or experience.type == "PrivateProduct" or experience.type == 'ITINERARY' %}
    <style>
      .affix {
        top: 50px;
      }
      .affix-bottom {
        position: absolute;
      }
    </style>
    {% endif %}
{%else%}
    <p>{% trans "The experience has expired, or has not been approved." %}</p>
{%endif%}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
{%if LANGUAGE == "zh-CN"%}
<script type="text/javascript" src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
{%endif%}
<script type="text/javascript" src="{% static 'experiences/scripts/utils.js' %}"></script>
<script charset="utf-8" type="text/javascript">
function resizeImg() {
    var thisImg= $('.item');
    var refH = thisImg.height();
    var refW = thisImg.width();
    var refRatio = refW/refH;

    var imgH = thisImg.children("img").height();
    var imgW = thisImg.children("img").width();

    if ( (imgW/imgH) > refRatio ) {
        thisImg.addClass("portrait");
        thisImg.removeClass("landscape");
    } else {
        thisImg.addClass("landscape");
        thisImg.removeClass("portrait");
    }
}

function is_form_valid()
{
    var option_items = $(".option-amount");
    if(option_items.length > 0)
    {
        //partner product
        $("#id_partner_product_information").val("{");
        for(var i=0;i<option_items.length;i++)
        {
            var n = $(option_items[i]).val();
            if(n>0)
            {
                $("#id_partner_product_information").val($("#id_partner_product_information").val()
                                                    + "\"" + $(option_items[i]).attr("option_id") + "\":"
                                                    + n + ",");
            }
        }
        
        $("#id_partner_product_information").val($("#id_partner_product_information").val().substring(0,$("#id_partner_product_information").val().length-1) + "}");
        if($("#id_partner_product_information").val().length > 2)
        {
            return true;
        }
        return false;
    }

    if($("#id_date").val() && $("#id_time").val() && $("#id_adult_number").val() && $("#id_child_number").val())
    {
        return true;
    }
    return false;
}

$(window).resize(function(){
    resizeImg();
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function setup_time_seat()
{
    if($("#time_string_0").attr("instant") == "True")
    {
        first_date = $("#date_string_3").text().trim();
        i=3;
    }
    else
    {
        first_date = $("#date_string_0").text().trim();
        i=0;
    }

    $("#id_time").html('');
    for(; first_date && $("#date_string_"+i).text().trim() == first_date; i++)
    {
        if($("#time_string_"+i).attr("instant") == "True")
        {
            $("#id_time").append('<option value=' + $("#time_string_"+i).text().trim() + ' style="color:green;">' + $("#time_string_"+i).text().trim() + '</option>');
        }
        else
        {
            $("#id_time").append('<option value=' + $("#time_string_"+i).text().trim() + ' selected>' + $("#time_string_"+i).text().trim() + '</option>');
        }
    }

    seat_left = parseInt($("#seat_left_0").text());

    $("#id_adult_number").html('');
    var i = parseInt($("#guest_number_min").attr("name"));
    if(typeof i != "number" || i < 1)
    {
        i=1;
    }
    for(;i<=seat_left;i++)
    {
        $("#id_adult_number").append('<option value=' + i + '>' + i + '</option>');
    }
    //TODO
    if($("#id_adult_number").children().length==0)
    {
        $("#id_adult_number").append('<option value=1>1</option>');
    }
    $("#id_child_number").append('<option value=' + 0 + '>' + 0 + '</option>');
}

function setup_datetimepicker(available_dates)
{
    if (window.location.pathname.indexOf("/cn") > -1 || window.location.href.indexOf(".cn") > -1)
    {
        $("#id_date").datetimepicker({
            format: 'DD/MM/YYYY', locale: 'zh-CN',
            enabledDates: available_dates,
            minDate: available_dates[0],
        });
    }
    else 
    {
        $("#id_date").datetimepicker({
            format: 'DD/MM/YYYY',
            enabledDates: available_dates,
            minDate: available_dates[0],
        });
    }
}

$(function(){
    $(".loading-calendar").hide();
    var available_dates = {{available_dates|safe}};
    resizeImg();
    mixpanel.track("viewed an experience");
    if ($(window).width > 767) {
      {% if experience.type == "PublicProduct" or experience.type == "PrivateProduct" or experience.type == 'ITINERARY' %}
      $('.booking-box').affix({
        offset: {
          top: 350,
          bottom: function() {
            return (this.bottom = $('.also').outerHeight(true) + 60)
          }
        }
      })
      {% else %}
      $('.booking-box').affix({
        offset: {
          top: 250,
          bottom: function() {
            return (this.bottom = $('.also').outerHeight(true) + 60)
          }
        }
      })
      {% endif %}
    }

    // UNNECESSARY?
    if($("#div_experience_activity").text().length>0)
    {
       $("#div_experience_activity")[0].innerHTML = $("#div_experience_activity")[0].innerHTML.replace(/&lt;strong&gt;/g,"<strong>").replace(/&lt;\/strong&gt;/g,"</strong>");
    }

    // UNNECESSARY?
    ids=['host_bio','id_experience_activity','id_experience_dress','id_experience_description']
    for(var i=0;i<ids.length;i++)
    {
        text = $("#"+ids[i]).html();
        if(text)
        {
            text = text.replace(/(?:\r\n|\r|\n)/g, '<br />');
            $("#"+ids[i]).html(text);
        }
    }

    setup_time_seat();

    $("#id_submit_request").bind("click", function(e) {
        if($("#" + e.target.id).attr("type") == "button")
        {
            return;
        }
        e.preventDefault();
        {% if user.is_authenticated %}
        if(is_form_valid())
        {
            var unformattedDate = $("#id_date").val();
            $("#id_date").val(String(moment(unformattedDate, "DD/MM/YYYY").format("YYYY-MM-DD")));
            $("#experience_booking_form").submit();
        }
        else
        {
            alert("{%trans 'Please select coordinate, time and guest number' %}");
        }
        {% else %}
        $("#booking_option").modal('show');
        {% endif %}
    });

    $.ajaxSetup({ 
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    $("#booking_cancel").bind("click", function(e) {
        $("#booking_option").modal('hide');
    });

    $("#booking_continue").bind("click", function(e) {
        if($("#booking_option").attr("option") == "login")
        {
            var email = $("#login_email").val();
            var password = $("#login_password").val();
            if(!is_form_valid() || !isValidEmailAddress(email))
            {
                return;
            }

            $.ajax({
                    type: 'POST',
                    url: "/experience/{{experience.id}}/",
                    dataType: 'json',
                    data: {
                        "csrfmiddlewaretoken": getCookie('csrftoken'),
                        "email": email,
                        "password": password,
                        "login": "login",
                    },
                    success: function (data,status,xhr) {
                        var result = data; //$.parseJSON(data)
                        if('user_id' in data)
                        {
                            $('#id_user_id').val(data.user_id);
                            var unformattedDate = $("#id_date").val();
                            $("#id_date").val(String(moment(unformattedDate, "DD/MM/YYYY").format("YYYY-MM-DD")));
                            $('[name="csrfmiddlewaretoken"]').val(getCookie('csrftoken'));
                            $("#experience_booking_form").submit();
                        }
                        else
                        {
                            alert(data.error);
                        }
                    },
                    error: function (e) {
                        alert('{%trans "Please try again later"%}');
                    }
                  })
        }
        else
        {
            var first_name = $("#guest_first_name").val();
            var last_name = $("#guest_last_name").val();
            var email = $("#guest_email").val();
            var phone_number = $("#guest_phone_number").val();

            if(!is_form_valid() || !isValidEmailAddress(email) || !isValidName(first_name) ||
               !isValidName(last_name) || !isValidPhoneNumber(phone_number))
            {
                return;
            }

            $.ajax({
                    type: 'POST',
                    url: "/experience/{{experience.id}}/",
                    dataType: 'json',
                    data: {
                        "csrfmiddlewaretoken": getCookie('csrftoken'),
                        "email": email,
                        "first_name": first_name,
                        "last_name": last_name,
                        "phone_number": phone_number,
                        "guest": "guest"
                    },
                    success: function (data,status,xhr) {
                        result = data; //$.parseJSON(data)
                        if(data.success)
                        {
                            $('#id_user_id').val(data.user_id);
                            $('#id_phone_number').val(phone_number+",");
                            var unformattedDate = $("#id_date").val();
                            $("#id_date").val(String(moment(unformattedDate, "DD/MM/YYYY").format("YYYY-MM-DD")));
                            $('[name="csrfmiddlewaretoken"]').val(getCookie('csrftoken'));
                            $("#experience_booking_form").submit();
                        }
                        else
                        {
                            alert('{%trans "Please try a different email address."%}');
                        }
                    },
                    error: function (e) {
                        alert('{%trans "Please try again later"%}');
                    }
                  })
        }
    });

    min_number = parseInt($("#guest_number_min").attr("name"));
    max_number = parseInt($("#guest_number_max").attr("name"));
    if(min_number < 4)
    {
        if(max_number >= 4)
        {
            $("#id_adult_number").val(4);
            $("#id_adult_number").change();
        }
        else
        {
            $("#id_adult_number").val(max_number);
            $("#id_adult_number").change();
        }
    }


    for(i=0;i<3;i++)
    {
        $('#save_to_wishlist_related_'+i).click(function(e){
            i = e.target.id.substr(-1,1);
            user_id=parseInt($('#id_user_id').val());
            experience_id=parseInt($('#related_experience_id_'+i).text());

            if(!isNaN(user_id) && typeof user_id === 'number' && !isNaN(experience_id) && typeof experience_id === 'number')
            {
                $.ajax({
                        type: 'POST',
                        url: "{{wishlist_webservice}}",
                        dataType: 'json',
                        data: {
                            "csrfmiddlewaretoken": getCookie('csrftoken'),
                            "user_id": user_id,
                            "experience_id": experience_id,
                            "added": $('#save_to_wishlist_related_'+i).attr("val")
                        },
                        success: function (data) {
                            result = data; //$.parseJSON(data)
                            if(result.success)
                            {
                                if(result.added)
                                {
                                    //alert('{%trans "The experience has been added to your wishlist" %}');
                                    $('#save_to_wishlist_related_'+i).removeClass("save_to_wishlist_related");
                                    $('#save_to_wishlist_related_'+i).addClass("saved_to_wishlist_related");
                                    $('#save_to_wishlist_related_'+i).attr("val","True");
                                }
                                if(result.removed)
                                {
                                    //alert('{%trans "The experience has been removed from your wishlist" %}');
                                    $('#save_to_wishlist_related_'+i).removeClass("saved_to_wishlist_related");
                                    $('#save_to_wishlist_related_'+i).addClass("save_to_wishlist_related");
                                    $('#save_to_wishlist_related_'+i).attr("val","False");
                                }
                            }
                            else
                            {
                                alert(result.error);
                            }
                        },
                        error: function (e) {
                            alert('{%trans "Please try again later" %}');
                        }
                });
            }
        })
    }

    for(i=1;i<1000;i++)
    {
        if($("#review_page_"+i))
        {
            if(i!=1)
            {
                $("#review_page_"+i+"_div").hide();
                $("#review_page_"+i).addClass("review_paging_other");
            }
            else
            {
                $("#review_page_"+i).addClass("review_paging_current");
            }
            $("#review_page_"+i).click(function(e){
                id=e.target.id;
                j = id.split("_")[2];
                $("#review_page_"+j).removeClass("review_paging_other");
                $("#review_page_"+j).addClass("review_paging_current");
                $("#review_page_"+j+"_div").show();
                for(i=1;i<1000;i++)
                {
                    if($("#review_page_"+i))
                    {
                        if(i!=j)
                        {
                            $("#review_page_"+i+"_div").hide();
                            $("#review_page_"+i).removeClass("review_paging_current");
                            $("#review_page_"+i).addClass("review_paging_other");
                        }
                    }
                    else
                    {
                        break;
                    }
                }
            });
        }
        else
        {
            break;
        }
    }

    var locations = [];

    {% for coordinate in coordinates %}
        locations.push(['{{coordinate.0}}',{{coordinate.1}},{{coordinate.2}}]);
    {% endfor %}

    if(locations.length > 0)
    {
        var map = new google.maps.Map(document.getElementById('experience_map'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            maxZoom: 16,
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;
        var bounds = new google.maps.LatLngBounds();

        for (i = 0; i < locations.length; i++)
        {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            bounds.extend(marker.getPosition());

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));

            map.fitBounds(bounds);
        }

        $("#experience_map").show();
    }
    else
    {
        $("#experience_map").hide();
    }

    $("#id_date").change(function() {
        var selected_date = $("#id_date").val();

        {% if experience.type == "PublicProduct" or experience.type == "PrivateProduct" or experience.type == 'ITINERARY' or experience.type == 'PRIVATE' or experience.type == 'PUBLIC' %}
        $("#id_submit_request").removeAttr('disabled');
        {% endif %}
        $("#id_time").html('');

        // Skip loop if date is not available, otherwise loop will go ifinite.
        if (available_dates.indexOf(String(moment(selected_date, "DD/MM/YYYY").format("YYYY-MM-DD"))) > -1 ) {
   
          var i=0;
          for(; $("#date_string_"+i).text().trim() != selected_date; i++)
          {
          }

          for(; $("#date_string_"+i).text().trim() == selected_date; i++)
          {
              if($("#time_string_"+i).attr("instant") == "True")
              {
                  $("#id_time").append('<option value=' + $("#time_string_"+i).text().trim() + ' style="color:green;">' + $("#time_string_"+i).text().trim() + '</option>');
              }
              else
              {
                  $("#id_time").append('<option value=' + $("#time_string_"+i).text().trim() + '>' + $("#time_string_"+i).text().trim() + '</option>');
              }
          }

          $("#id_time").change();
              
        }
   })

   $("#id_date").blur(function() {
        $(this).change();
   });

    $("#id_time").change(function(){
        var selected_date = $("#id_date").val();
        var selected_time = $("#id_time option:selected").text().trim();

        var i=0;
        for(; $("#date_string_"+i).text().trim() != selected_date; i++)
        {
        }

        for(; $("#time_string_"+i).text().trim() != selected_time; i++)
        {
        }

        seat_left = parseInt($("#seat_left_"+i).text());

        if("{{experience.type}}"=="NONPRIVATE")
        {
            $("#id_adult_number").html('');
            var i = parseInt($("#guest_number_min").attr("name"));
            for(;i<=seat_left;i++)
            {
                $("#id_adult_number").append('<option value=' + i + '>' + i + '</option>');
            }
        }

        {% if LANGUAGE != "zh-CN" %}
        //mixpanel.track("Changed time");
        {% else %}
        //mixpanel.track("Changed time_cn");
        {% endif %}
    })

    setup_datetimepicker(available_dates);

    $("#id_date").datetimepicker().on('dp.update', function(e) {
        var vd = e.viewDate._d;
        vd = new Date(vd.getFullYear(), vd.getMonth() + 1, 0)
        var enabled_dates = $('#id_date').data("DateTimePicker").enabledDates();
        enabled_dates = Object.keys(enabled_dates);
        var max_date = Date.parseExact(enabled_dates[enabled_dates.length-1], "yyyy-MM-dd");
        if(max_date < vd)
        {
            var o_left = "50px";
            var o_up = "140px";
            $(".loading-calendar").show();
            if($("#id_date").offset().top - $(window).scrollTop() > 300)
            {
                $("#icon_load_more").animate({
                    'marginLeft' : "+=" + o_left, //moves right
                    'marginTop' : "-=" + o_up //moves up
                }, 1);
            }
            else
            {
                $("#icon_load_more").animate({
                    'marginLeft' : "+=" + o_left, //moves right
                    'marginTop' : "+=" + o_up //moves down
                }, 1);
            }
            $.ajax({
                    type: 'POST',
                    url: "/experience/{{experience.id}}/",
                    dataType: 'json',
                    timeout: 10000,
                    data: {
                        "csrfmiddlewaretoken": getCookie('csrftoken'),
                        "experience_id": {{experience.id}},
                        "max_date": max_date.toString("yyyy-MM-dd"),
                        "view_date": vd.toString("yyyy-MM-dd"),
                        "load_more": "load_more",
                    },
                    success: function (data,status,xhr) {
                        var result = data; //$.parseJSON(data)
                        $(".loading-calendar").hide();
                        if($("#id_date").offset().top - $(window).scrollTop() > 300)
                        {
                            $("#icon_load_more").animate({
                                'marginLeft' : "-=" + o_left, //moves left
                                'marginTop' : "+=" + o_up //moves down
                            }, 1);
                        }
                        else
                        {
                            $("#icon_load_more").animate({
                                'marginLeft' : "-=" + o_left, //moves left
                                'marginTop' : "-=" + o_up //moves up
                            }, 1);
                        }
                        if(data.success)
                        {
                            len = $('p[id^="date_string_"]').length;
                            available_dates = available_dates.concat(data.available_dates);
                            for(var i=0;i<data.available_options.length;i++)
                            {
                                $("#table_date").append("<p id=\"date_string_" + (len+i) + "\" style=\"display:none;\" instant=\"" + data.available_options[i].instant_booking + "\">" + data.available_options[i].date_string +"</p>");
                                $("#table_time").append("<p id=\"time_string_" + (len+i) + "\" style=\"display:none;\" instant=\"" + data.available_options[i].instant_booking + "\">" + data.available_options[i].time_string +"</p>");
                                if($("#table_seat").length > 0)
                                {
                                    $("#table_seat").append("<p id=\"seat_left_" + (len+i) + "\">" + data.available_options[i].available_seat + " </p>");
                                }
                            }
                            setup_time_seat();
                            var enabled_dates = []
                            for(var i=0;i<available_dates.length;i++)
                            {
                                enabled_dates.push(Date.parseExact(available_dates[i], "yyyy-MM-dd"));
                            }
                            $('#id_date').data("DateTimePicker").enabledDates(enabled_dates);
                        }
                        else
                        {
                            alert(data.error);
                        }
                    },
                    error: function (e) {
                        $(".loading-calendar").hide();
                        if($("#id_date").offset().top - $(window).scrollTop() > 300)
                        {
                            $("#icon_load_more").animate({
                                'marginLeft' : "-=" + o_left, //moves left
                                'marginTop' : "+=" + o_up //moves down
                            }, 1);
                        }
                        else
                        {
                            $("#icon_load_more").animate({
                                'marginLeft' : "-=" + o_left, //moves left
                                'marginTop' : "-=" + o_up //moves up
                            }, 1);
                        }
                        alert('{%trans "Please try again later"%}');
                    }
                  })
        }
    })

    $("#id_date").val("");
    $("#id_adult_number").change(function(){
        min_number = parseInt($("#guest_number_min").attr("name"));
        max_number = parseInt($("#guest_number_max").attr("name"));
        price = $("#experience_dynamic_price").val().split(',');
        if(price.length == max_number - min_number + 2) // not 1
        {
            adult_number = parseInt($("#id_adult_number").val());
            price = Math.round(parseFloat(price[adult_number-min_number])*{{experience.commission}});
            $("#experience_price").text(price);
        }


        mixpanel.track("changed number of people");
    })

    // API BOOKING BOX LOGIC
    {% if experience.type != "PublicProduct" and experience.type != "PrivateProduct" and experience.type != 'ITINERARY' and experience.type != 'PRIVATE' and experience.type != 'PUBLIC' %}
    $('.option-amount').on('change', function() {
      // Price update
      $('.collapse').each(function() {
        var $optionGroup = $(this);
        var total = 0;
        $optionGroup.find('.option').each(function() {
          var $option = $(this);
          var price = parseInt($option.find('.option-price').text().replace(/\D/g,''));
          var amount = parseInt($option.find('.option-amount').val());
          total += (price * amount);
        });
        if (total > 0) {
          $optionGroup.prev().find('.badge').text("{{experience.dollarsign}}" + total);
        } else {
          $optionGroup.prev().find('.badge').text("+");
        }
      });
      // Total price update
      $('#id_submit_request').val(function() {
        var total = 0;
        $('.badge').each(function() {
            total += parseInt($(this).text().replace(/\D/g,'0'));
        })
        if (total > 0 && $('#id_date').val()) {
          $("#id_submit_request").prop('disabled', false);
        } else {
          $("#id_submit_request").prop('disabled', true);
          return ("{% trans 'Please select date and ticket type' %}");
        }
        return ("{% trans 'Request' %} " + "({% trans 'total price of ' %}{{experience.dollarsign}}" + total + "{{experience.currency}})");
      });
    });

    $('#id_date').blur(function() {
        $('.option-amount').change();
        var time = new Date($(this).val().replace( /(\d{2})[-/](\d{2})[-/](\d+)/, "$2/$1/$3")).getTime() / 1000;
        var timeNow = new Date().getTime() / 1000;
        if ((time - timeNow) <= 172800) {
          $("#id_submit_request").hide();
          $(".booking-enquiry").show();
        } else {
          $(".booking-enquiry").hide();
          $("#id_submit_request").show();
        }
        {% if coordinates %}
        var lat = {{coordinates.0.1}};
        var lon = {{coordinates.0.2}};
        {% else %}
        var lat = -37.814107;
        var lon = 144.963280;
        {% endif %}
        $.ajax({
            url: '/service_weather',
            type: 'GET',
            dataType: 'json',
            data: {
                'time': time,
                'lat' : lat,
                'lon' : lon
            },
        })
        .done(function(forecast) {
            if (forecast.hasOwnProperty('daily')) {
                var icon = forecast.daily.data[0].icon;
                var min = parseInt(forecast.daily.data[0].temperatureMin);
                var max = parseInt(forecast.daily.data[0].temperatureMax);
                //debug console.log("weather: " + min + "-" + max + " " + icon);
                $('.weather').html(min + '-' + max + '&deg;C <i class="wi wi-forecast-io-' + icon + '"></i>');
            } else {
                $('.weather').html('-- &deg;C <i class="wi wi-forecast-io-clear-day"></i>');
            }
        })
        .fail(function() {
            console.log("get weather: error");
        });
    });
    
    {% endif %}
})

    $('#save_to_wishlist_icon').click(function(){
        user_id=parseInt($('#id_user_id').val());
        experience_id=parseInt($('#id_experience_id').val());

        if(!isNaN(user_id) && typeof user_id === 'number' && !isNaN(experience_id) && typeof experience_id === 'number')
        {
            $.ajax({
                    type: 'POST',
                    url: "{{wishlist_webservice}}",
                    dataType: 'json',
                    data: {
                        "csrfmiddlewaretoken": getCookie('csrftoken'),
                        "user_id": user_id,
                        "experience_id": experience_id,
                        "added": $('#save_to_wishlist_icon').attr("val")
                    },
                    success: function (data) {
                        result = data; //$.parseJSON(data)
                        if(result.success)
                        {
                            if(result.added)
                            {
                                alert('{%trans "The experience has been added to your wishlist"%}');
                                $('#save_to_wishlist_icon').attr("val","True");
                                $('#save_to_wishlist_icon').removeClass("save_to_wishlist_not_added");
                                $('#save_to_wishlist_icon').addClass("save_to_wishlist_added");
                                $('#wishlist_head').text('{%trans "Saved to Wishlist"%}');
                                $('#wishlist_p').text("");
                            }
                            if(result.removed)
                            {
                                alert('{%trans "The experience has been removed from your wishlist"%}');
                                $('#save_to_wishlist_icon').attr("val","False");
                                $('#save_to_wishlist_icon').removeClass("save_to_wishlist_added");
                                $('#save_to_wishlist_icon').addClass("save_to_wishlist_not_added");
                                $('#wishlist_head').text('{%trans "Save to Wishlist"%}');
                                $('#wishlist_p').text('{%trans "Save now, plan later"%}');
                            }
                        }
                        else
                        {
                            alert(result.error);
                        }
                    },
                    error: function (e) {
                        alert('{%trans "Please try again later"%}');
                    }
            });
        }
    });

    $("#bio_show_more").click(function(){
        if($("#bio_show_more").attr("value") == "More")
        {
            bio_height = $("#host_bio").height();
            $("#bio_show_more").attr("value", "Less");
            $("#bio_show_more").text('{%trans "- Less"%}');
            $(".gradientMask").hide();
            $("#experience-hostintro").height(bio_height+140);
        }
        else
        {
            bio_height = 140;
            $("#bio_show_more").attr("value", "More");
            $("#bio_show_more").text('{%trans "+ More" %}');
            $(".gradientMask").show();
            $("#experience-hostintro").removeAttr("style");
        }
        $("#experience-hostinterests").height(bio_height+10);
        $("#bio_show_more").css("top",bio_height+20+"px");
    })

    {% if not request.user.is_staff %}
    var myEvent = window.attachEvent || window.addEventListener;
    var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload';
    myEvent(chkevent, function(e) {
        {% if request.user.is_authenticated %}
        var user_id = {{request.user.id}};
        {% else %}
        var user_id = 1;
        {% endif %}

        var time_arrived = Date.parseExact("{{time_arrived}}", "yyyy-MM-dd HH:mm:ss");
        var time_left = new Date();
        var length = (time_left - time_arrived)/1000;

        $.ajax({
                type: 'POST',
                url: "/service_pageview/",
                dataType: 'json',
                data: {
                    "csrfmiddlewaretoken": getCookie('csrftoken'),
                    "user_id": user_id,
                    "experience_id": {{experience.id}},
                    "length": length,
                    "detail_id": {{pageview_detail_id}},
                },
                success: function (data) {},
                error: function (e) {}
        })
    })
    {% endif %}
</script>
{% endblock %}
