{% extends "app/layout.html" %}

{% block head %}
    {% load i18n %}
    {% load account %}
    {% load url from future %}
    {% load mathfilters %}

    {% load staticfiles %}
    <link href="{% static 'app/content/email.css' %}" rel="stylesheet">
    {% if form %}
        {{ form.media }}
    {% endif %}
    <title>Successful Booking</title>

<!-- Facebook Conversion Code for experience requested -->
 <script>(function() {
 var _fbq = window._fbq || (window._fbq = []);
 if (!_fbq.loaded) {
 var fbds = document.createElement('script');
 fbds.async = true;
 fbds.src = '//connect.facebook.net/en_US/fbds.js';
 var s = document.getElementsByTagName('script')[0];
 s.parentNode.insertBefore(fbds, s);
 _fbq.loaded = true;
 }
 })();
 window._fbq = window._fbq || [];
 window._fbq.push(['track', '6021667476091', {'value':'0.01','currency':'USD'}]);
 </script>
 <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6021667476091&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

{% endblock %}

{% block content %}
        
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN PREHEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
                                    <tr>
                                        <td valign="top" class="preheaderContainer" style="padding-top:9px;">
                                            <tbody class="mcnTextBlockOuter">
                                                <tr>
                                                    <td valign="top" class="mcnTextBlockInner">
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>  
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END PREHEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                    <tr>
                                        <td valign="top" class="headerContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
							                    <tbody class="mcnImageBlockOuter">
								                    <tr>
									                    <td valign="top" style="padding:9px" class="mcnImageBlockInner">
										                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
											                    <tbody>
												                    <tr>
													                    <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">
														                    <img align="left" alt="" src="https://gallery.mailchimp.com/12d0686497f605217203bf2be/images/73468143-d086-470b-9c08-799cb653adc0.jpg" width="564" style="max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
													                    </td>
												                    </tr>
											                    </tbody>
										                    </table>
									                    </td>
								                    </tr>
							                    </tbody>
                                            </table>
						                </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
							                    <tbody class="mcnTextBlockOuter">
								                    <tr>
									                    <td valign="top" class="mcnTextBlockInner">
										                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
											                    <tbody>
												                    <tr>
													                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
													                        <h1 style="text-align: center;"><font size="5">{% trans "Your booking request has been sent to "%}{% for h in experience.hosts.all %}{% if forloop.first %} {{ h.first_name }}{% endif %}{% endfor %}</font></h1>
														                    <p style="text-align: center;">{% trans "You "%}{%if guest_number > 1 %}{% trans " and "%}{{guest_number|sub:1}}{% trans " of your "%}{%if guest_number > 2%}{% trans "friends"%}{%else%}{% trans "friend"%}{%endif%}{%endif%}{% trans " have requested to experience "%}<br>
                                                                                <a href="{{experience_url}}" target="_blank"><span style="line-height:21px; text-align:center">{{experience.title}}</span></a><br>
                                                                                {% trans "on "%}<strong>{% if LANGUAGE != "zh-CN"%}{{ booking_datetime|date:'d/m/Y' }}{%else%}{{ booking_datetime|date:'Y-m-d' }}{%endif%}{% trans " at "%}{{ booking_datetime|date:'H:i' }}</strong>
                                                                            </p>
													                    </td>
												                    </tr>
											                    </tbody>
										                    </table>
									                    </td>
								                    </tr>
							                    </tbody>
                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">              
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
						                                            <tr>
							                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
								                                            <div style="text-align: center;">{% for h in experience.hosts.all %}{% if forloop.first %} {{ h.first_name }}{% endif %}{% endfor %}{% trans " should get back to you within 24 hours."%}<br>
                                                                            {% trans "If you don't hear from "%}{% for h in experience.hosts.all %}{% if forloop.first %} {{ h.first_name }}{% endif %}{% endfor %}{% trans " within next 24 hours, your payment will be refunded."%}</div>
							                                            </td>
						                                            </tr>
					                                            </tbody>
				                                            </table>              
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
						                </td>
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                    <tr>
                                        <td valign="top" class="footerContainer" style="padding-bottom:9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
							                    <tbody class="mcnTextBlockOuter">
								                    <tr>
									                    <td valign="top" class="mcnTextBlockInner">
										                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
											                    <tbody><tr>
												                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
													                    <div style="text-align: right;"><a class="utilityLink" href=""></a></div>
												                    </td>
											                    </tr>
										                    </tbody></table>
									                    </td>
								                    </tr>
							                    </tbody>
                                            </table>
						                </td>
                                    </tr>
                                </table>
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
    $(document).ready(function(){
        $("#footer_div").hide();

        mixpanel.track("Payment");
        if($("#user_email").val())
        {
            mixpanel.identify($("#user_email").val());
        }

        id = (new Date()).toISOString()+Math.floor((Math.random() * 1000) + 1);
        ga('require', 'ecommerce');
        ga('ecommerce:addTransaction', {
          'id': id,
          'affiliation': '',
          'revenue': '{{price_paid}}',
          'shipping': '0',
          'tax': '0'
        });
        ga('ecommerce:addItem', {
          'id': id,
          'name': '{{experience.title}}',
          'sku': '{{experience.id}}',
          'category': '',
          'price': '{{experience.price}}-{{experience.dynamic_price}}',
          'quantity': '{{guest_number}}'
        });
        ga('ecommerce:send');
        ga('ecommerce:clear');
    })
</script>
{% endblock %}