{% load staticfiles %}

<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>Experience List</title>
</head>
<body>
{% if user.is_authenticated and user.is_staff %}
    <h2> Experience List </h2>
    <p> Click to edit</p>
    <ul>
        {% for experience in object_list %}
            <!--<li>{{ experience.title }}</li>-->
            <li><a href="/editexperience/{{experience.id}}">{{experience.title}}</a></li>
        {% endfor %}
    </ul>
    <a href="/createexperience/">Add an experience</a>
{% else %}
    <p><a id="goto_admin_login">Please login first</a></p>
{% endif %}
</body>
<script>
    $(document).ready(function(){
        var des_url = window.location.pathname;
        if(des_url.indexOf("/cn/") > -1)
        {
            $("#goto_admin_login").attr("href","https://www.tripalocal.com/cn/admin/login/?next=/cn/experiencelist");
        }
        else
        {
            $("#goto_admin_login").attr("href","https://www.tripalocal.com/admin/login/?next=/experiencelist");
        }      
    })
</script>
</html>
