{% extends "app/layout.html" %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
  {% load staticfiles %}
    <title>{% trans "Booking Confirmation" %}</title>
    <link rel="stylesheet" href="{% static 'experiences/content/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'app/content/intlTelInput.css' %}">
    <script src="https://checkout.stripe.com/checkout.js"></script>
{% endblock %}

{% block content %}
          <div class="container">
            {% if "partner_product_information" in form.errors and display_error%}
            <div style="text-align:center;margin:20px;color:red;">
                {% trans "Payment not successful. We apologize for the inconvenience." %}<br>
                {% trans "If you chose to pay by Credit card/Alipay, please do not pay again, and we will refund you ASAP." %}<br>
                {% trans "If you chose to pay by Wechat or Unionpay, you have not been charged." %}
            </div>
            {% endif %}
            <div class="checkoutBox">
              <form id="category_form" method="post" action="{{GEO_POSTFIX}}experience_booking_confirmation/">
                {% csrf_token %}

                <div style="display:none">
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                </div>

                <div class="form-section">
                  <h2>{% trans "Payment Details" %}</h2>
                </div>
                <div class="form-section">
                  <div class="form-group">
                    <h3>{% trans "Promo code" %}</h3>
                    {{form.promo_code}}
                    <input id="id_refresh_promo_code" class="btn btn-clear" type="submit" name="Refresh" value="{% trans "Refresh" %}" style="display:inline-block;"/>
                    {% if wrong_promo_code %}
                    <div class="warning-sign" style="width:172px;">
                        <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                        <p>{% trans "Invalid promo code" %}</p>
                    </div>
                    {%endif%}
                    {% if coupon and not wrong_promo_code %}
                    {% include "experiences/coupon_"|add:coupon.title|add:".html" %}
                    {%endif%}
                  </div>
                </div>

                <div class="form-section">
                  <h2>{% trans "Traveller Details" %}</h2>
                </div>
                <div class="form-section">

                  {%if LANGUAGE != "zh-CN"%}
                    <div class="form-group" style="display:inline-block; margin-right: 15px;">
                      <h3>{% trans "First name" %}</h3>
                      {{ form.first_name }}
                      {% if 'first_name' in form.errors and display_error%}
                      <div class="warning-sign">
                        <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                        <p>{{form.first_name.errors.as_text}}</p>
                      </div>
                      {%endif%}
                    </div>
                    <div class="form-group" style="display: inline-block;">
                      <h3>{% trans "Last name" %}</h3>
                      {{ form.last_name }}
                      {% if 'last_name' in form.errors and display_error%}
                      <div class="warning-sign">
                          <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                          <p>{{form.last_name.errors.as_text}}</p>
                      </div>
                      {%endif%}
                    </div>

                  {% else %}
                    <div class="form-group" style="display: inline-block;">
                      <h3>{% trans "Last name" %}</h3>
                      {{ form.last_name }}
                      {% if 'last_name' in form.errors and display_error%}
                      <div class="warning-sign">
                          <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                          <p>{{form.last_name.errors.as_text}}</p>
                      </div>
                      {%endif%}
                    </div>
                    <div class="form-group" style="display:inline-block; margin-right: 15px;">
                      <h3>{% trans "First name" %}</h3>
                      {{ form.first_name }}
                      {% if 'first_name' in form.errors and display_error%}
                      <div class="warning-sign">
                        <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                        <p>{{form.first_name.errors.as_text}}</p>
                      </div>
                      {%endif%}
                    </div>
                  {% endif %}

                  <div class="form-group">
                    <h3>{% trans 'Country' %}</h3>
                    <div class="dropdown">
                      {{ form.country }}
                    </div>
                  </div>

                  <div class="form-group" style="display: inline-block; margin-right: 15px;">
                    <h3>{% trans 'Destination mobile number' %}</h3>
                    <input id="id_local_number" type="tel" class="form-control" maxlength="12">
                  </div>

                  <div class="form-group" style="display: inline-block;">
                    <h3>{% trans 'Roaming mobile number' %}</h3>
                    <input id="id_roaming_number" type="tel" class="form-control" maxlength="13">
                  </div>

                    <div class="warning-sign" id="local_phone_warning" style="display:none;">
                        <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                        <p>{% trans 'Invalid local number' %}</p>
                    </div>

                    <div class="warning-sign" id="roaming_phone_warning" style="display:none;">
                        <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                        <p>{% trans 'Invalid roaming number' %}</p>
                    </div>

                    <p>{% trans 'Your host will contact you via this number on the day.' %}</p>
                    <div class="warning-sign" id="phone_warning" style="display:none;">
                        <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                        <p>{% trans 'Please enter at least one number' %}</p>
                    </div>
                  </div>

                  <div class="container-fluid">
                    <input id="isAgreementSelected" type="checkbox" style="vertical-align: top;margin-top:20px;"/><p class="help-message">{% trans "By booking this listing, you agree to " %}<a href="{{GEO_POSTFIX}}termsofservice" target="_blank">{% trans "Terms of Service" %}</a>, <a href="{{GEO_POSTFIX}}privacypolicy" target="_blank">{% trans "Privacy Policy" %}</a> {% trans "and" %} <a href="{{GEO_POSTFIX}}refundpolicy"  target="_blank">{% trans "Traveller Refund Policy" %}</a>.</p>
                    <div id="id_term_condition" class="warning-sign" style="display:none;">
                      <img src="{{MEDIA_URL}}icon/error_icon.png" style="position: relative; top:4px; left:5px;">
                      <p>{% trans "Please accept terms and conditions" %}</p>
                    </div>
                  </div>
                  <input type="submit" id="submit_booking" name="Stripe" value="{% trans "Credit card / Alipay" %}" class="btn btn-primary btn-lg"/>
                  {#<button disabled="disabled" type="submit" id="submit_booking_unionpay" name="UnionPay" class="btn btn-default btn-lg" style="padding-top:6px; padding-bottom:6px;"><img src="{% static 'icon/union.svg' %}">{% trans "Union Pay" %}</button>#}
                  <button type="submit" id="wechat_booking" name="WeChat" class="btn btn-default btn-lg" style="padding-top:6px; padding-bottom:6px;"><img src="{% static 'icon/qr.svg' %}">{% trans "WeChat Pay" %}</button>
                </form>
              </div>


              <div class="exp-box">
                  <div class="listing-img" style="background-image:url(
              {% for photo in experience.photo_set.all %}
                      {% if forloop.first %}
                  {{ MEDIA_URL }}{{photo.directory}}{{photo.name}}
                      {% endif %}
                  {% endfor %}); position: relative;">
                  {% if experience.hosts %}
                      <div class="profile-frame">
                          <div class="checkout-profile" style="background-image:url({{ MEDIA_URL }}{% for h in experience.hosts.all %}{% if forloop.first %}{{ h.registereduser.image_url }}{% endif %}{% endfor %})"></div>
                      </div>
                  {% endif %}
                  </div>
                  <div class="checkoutInfo">
                      <h3 style="font-weight:bold;">{{ experience.title }}</h3>
                      <p>{{ experience.city }}</p>
                      <hr style="margin-bottom:10px;">
                      <form action="{{GEO_POSTFIX}}experience/{{experience.id}}/" method="get">
                      {% if item_options %}
                          {% trans "on" %} <strong>{{date}}</strong>(<input type="submit" value="{% trans "Change" %}" name="Change" style="border:none;background:none;color:#3cc;padding:0px;"/>)<br><br>
                          {% for op_name, v in item_options.items %}
                              <strong>{{op_name}}</strong><br>
                              {%for oi_name, number in v.items%}
                              {% if forloop.last %}
                              {{oi_name}} &#215; {{number}}<br>
                              {% else %}
                              {{oi_name}} &#215; {{number}},
                              {% endif %}
                              {% endfor %}
                          {% endfor %}
                      {% else %}
                          <p>{% trans "Reservation for" %} <strong>{{ adult_number|add:child_number }}{% trans " person(s)" %}</strong><br>
                             {% trans "on" %} <strong>{{date}}</strong>{%if experience.type == "PRIVATE" or experience.type == "NONPRIVATE"%}{% trans " at" %} <strong>{{time}}</strong>{% endif %}
                              (<input type="submit" value="{% trans "Change" %}" name="Change" style="border:none;background:none;color:#3cc;padding:0px;"/>)
                          </p>
                          <hr style="margin:10px 0">
                          <p>{% trans "Rate:" %} {{experience.currency|upper}}{{experience.dollarsign}}{{experience_price|floatformat|mul:commission|floatformat:"0"}}{% trans " per person for " %}{{experience.duration}}{% trans " hours" %}</p>
                      {% endif %}
                          <hr style="margin-bottom:10px;">
                          {% trans "Subtotal:" %} {{experience.currency|upper}}{{experience.dollarsign}}<div id="id_sub_total" style="display:inline"> {{ subtotal_price|stringformat:".2f"}} </div>
                          <br>
                          <p id="id_coupon_extra_fee" style="font-size:14px;"></p>
                          <div id="id_service_fee" style="display:none;">{% trans "Processing Fee:" %} {{experience.currency|upper}}{{experience.dollarsign}}{{ service_fee|stringformat:".2f" }}<br></div>
                          <strong style="font-size:18px;">{% trans "Total:" %} {{experience.currency|upper}}{{experience.dollarsign}}<div id="id_total" style="display:inline">{{ total_price|stringformat:".2f" }}</div></strong>
                      </form>
                  </div>
              </div>
            </div>

  {% endblock %}

  {% block scripts %}
  <script src="{% static 'app/scripts/intlTelInput.min.js' %}"></script>
  <script charset="utf-8" type="text/javascript">

      function checkPaymentForm(preparePayment, e) {
          if ($("#isAgreementSelected").is(':checked'))
              {   
                var $phone1 = $("#id_local_number");
                var $phone2 = $("#id_roaming_number");
                
                // If phone inputs are filled, check if they are actually valid
                if($phone1.val() && !$phone1.intlTelInput("isValidNumber"))
                {
                    $("#phone_warning").hide();
                    $("#roaming_phone_warning").hide();
                    e.preventDefault();
                    $("#id_local_number").css("border-color","red");
                    $("#local_phone_warning").attr("style","width:180px; display:block;");
                    return;
                }
                else
                {
                    $("#local_phone_warning").hide();
                }

                if($phone2.val() && !$phone2.intlTelInput("isValidNumber"))
                {
                    $("#phone_warning").hide();
                    e.preventDefault();
                    $("#id_roaming_number").css("border-color","red");
                    $("#roaming_phone_warning").attr("style","width:200px; margin-left:200px; display:block;");
                    return;
                }
                else
                {
                    $("#roaming_phone_warning").hide();
                }

                if($phone1.val())
                {
                  $("#id_phone_number").val($phone1.intlTelInput("getNumber") + ',');
                    if($phone2.val())
                    {
                        $("#id_phone_number").val($phone1.intlTelInput("getNumber") + ',' + $phone2.intlTelInput("getNumber"));
                    }
                    $("#phone_warning").hide();
                }
                else if($phone2.val())
                {
                    $("#id_phone_number").val(',' + $phone2.intlTelInput("getNumber"));
                    $("#phone_warning").hide();
                }
                else
                {
                    //must leave at least one number
                    $("#id_local_number").css("border-color","red");
                    $("#id_roaming_number").css("border-color","red");
                    $("#phone_warning").show();
                    e.preventDefault();
                    return;
                }
                if({{total_price}}>0.00)
                {
                    preparePayment();
                }
                else
                {
                    //$("#category_form").submit();
                }
            }
            else
            {
                e.preventDefault();
                $("#id_term_condition").attr("style","display:inline-block;");
            }
      }
   

    $(document).ready(function(){
        mixpanel.track("checkout");

        $("#id_expiration_1 :nth-child(2)").prop('selected', true);
        
        $('#id_local_number').intlTelInput({
          onlyCountries: ['au', 'nz'],
          utilsScript: '{% static "app/scripts/intlTelInputUtils.js" %}'
        });

        $('#id_roaming_number').intlTelInput({
          excludeCountries: ['au', 'nz'],
          initialCountry: 'cn',
          utilsScript: '{% static "app/scripts/intlTelInputUtils.js" %}'
        })
        
        var phone = $("#id_phone_number").val();
        if(phone)
        {
            phone = phone.split(',');
            if(phone.length>1)
            {
                $("#id_local_number").val(phone[0]);
                $("#id_roaming_number").val(phone[1]);
            }
        }

        var handler = StripeCheckout.configure({
                            key: 'pk_live_62VE04d61Te70oh7IB7dqfjm',
                            image: '{% static 'img/tripalocal_logo_stripe.jpg'%}',
                            locale: '{{LANGUAGE}}',
                            token: function(token) {
                                // Use the token to create the charge with a server-side script.
                                // You can access the token ID with `token.id`
                                var input = $("<input>")
                                               .attr("type", "hidden")
                                               .attr("name", "stripeToken").val(token.id);
                                $('#category_form').append($(input));
                                $('#category_form').submit();
                            }
                        });


        $("#submit_booking").bind("click", function (e) {
            checkPaymentForm(function () {
                handler.open({
                    name: 'Tripalocal 本土客',
                    description: '',
                    amount: {{ total_price|mul:100 }},
                    currency: '{{experience.currency}}',
                    locale: '{{LANGUAGE}}',
                    alipay: true
                });
                e.preventDefault();
            }, e);
        });

        $("#wechat_booking").bind("click", function (e) {
            checkPaymentForm(function () {}, e)
        });


        // Close Checkout on page navigation
        $(window).on('popstate', function() {
            handler.close();
        });
    })
</script>
{% endblock %}
