<html>
<head>
    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <title>Experience List</title>
<!--<link href="{% static 'app/content/globalReset.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/browserStyle.css' %}" rel="stylesheet">
-->
</head>
<body>
{% if user.is_authenticated and user.is_staff %}
<!--
    <div class="container">
        <div class="leftColumn">
            <div class="operation"></div>
            <ul class="subMenu">
                <li>Experience List</li>
            </ul>
            <div class="clear"></div>

            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="9" class="tableEdit">&nbsp;&nbsp;?<input name="input" type="button" value="Delete" /></td>
                </tr> 


            </table>
        </div>
        <div class="rightColumn">

        </div>
    </div>
-->
    <h2> Experience List </h2>
    <p> Click to edit</p>
    <ul>
        {% for experience in object_list %}
            <!--<li>{{ experience.title }}</li>-->
            <li><a href="/editexperience/{{experience.id}}">{{experience.title}}</a></li>
        {% endfor %}
    </ul>
    <a href="/createexperience/">Add an experience</a>
{% else %}
    <p><a id="goto_admin_login">Please login first</a></p>
{% endif %}
</body>
<script>
    $(document).ready(function(){
        var des_url = window.location.pathname;
        if(des_url.indexOf("/cn/") > -1)
        {
            $("#goto_admin_login").attr("href","https://www.tripalocal.com/cn/admin/login/?next=/cn/experiencelist");
        }
        else
        {
            $("#goto_admin_login").attr("href","https://www.tripalocal.com/admin/login/?next=/experiencelist");
        }      
    })
</script>
</html>
