{% extends "app/layout.html" %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
    <title>{% trans "Booking Confirmation" %}</title>
    <script src="https://checkout.stripe.com/checkout.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid experience">
        <div class="fixCenter">
            <div class="checkoutBox">
                <form id="category_form" method="post" action="/experience_booking_confirmation/">
                    {% csrf_token %}
                    <div style="display:none">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    </div>

                    <div style="display:inline-block;">
                        <h2 style="padding-left: 20px;font-weight:bold;margin-top:15px">{% trans "Payment Details" %}</h2>
                    </div>

                    <div class="row">
				        <div class="">
                            <p>{% trans "Promo code" %}</p>
                        </div>
                        <div class="navbar-form " role="search">
                            <div class="form-group" style="margin-right:15px; display:inline-block;">
                                {{form.promo_code}}
                                {% if wrong_promo_code %}
                                <div class="warning-sign">
                                    <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                    <p>{% trans "Invalid promo code" %}</p>
                                </div>
                                {%endif%}
                            </div>
                
               	            <input id="id_refresh_promo_code" class="btn btn-primary" type="submit" name="Refresh" value="{% trans "Refresh" %}" style="display:inline-block; background-color:#FFFFFF;color: #858585; border:1px solid #c6c6c6;"/>
                        </div>
                        {% if coupon and not wrong_promo_code %}
                        {% include "experiences/coupon_"|add:coupon.title|add:".html" %}
                        {%endif%}
                    </div>

                    <div class="row" id="credit_card_div" style="display:none;">
                        <p>{% trans "Card number" %}</p>
                        <div class="navbar-form navbar-left" style="width:100%" role="search">
                            <div class="form-group" style="float:left;margin-right:20px;">
                                {{ form.card_number }}
                                {% if 'card_number' in form.errors and display_error%}
                                <br>
                                <div class="warning-sign">
                                    <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                    <p>{{form.card_number.errors.as_text}}</p>
                                </div>
                                {%endif%}
                            </div>
                            <div style="display:inline-block;">
                                <input id="paymentLogo" type="button" class="btn btn-primary" style="display:inline-block; border:1px solid #c6c6c6; background-image:url(/images/icon/visa.png)"></input>
                                <input id="paymentLogo" type="button" class="btn btn-primary" style="display:inline-block; border:1px solid #c6c6c6; background-image:url(/images/icon/master.png);"></input>
                                <input id="paymentLogo" type="button" class="btn btn-primary" style="display:inline-block; border:1px solid #c6c6c6; background-image:url(/images/icon/amex.png)"></input>
                                <input id="paymentLogo" type="button" class="btn btn-primary" style="display:inline-block; border:1px solid #c6c6c6; background-image:url(/images/icon/discover.png)"></input>
                                <input id="paymentLogo" type="button" class="btn btn-primary" style="display:inline-block; border:1px solid #c6c6c6; background-image:url(/images/icon/unionPay.jpg)"></input>
                            </div>
                        </div>

                        <table width="0" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <p>{% trans "Expires on" %}</p>
                                    <div class="dropdown navbar-form" id="id_expire_on">
                                        {{ form.expiration }}
                                    </div>
                                </td>
                                <td>
                                    <p style="margin-left:15px">{% trans "Security code" %}</p>
                                    <div class="navbar-form navbar-left" role="search" id="id_security_code">
                                        <div class="form-group" style="margin-left:15px">
                                            {{ form.cvv }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if 'expiration' in form.errors and display_error%}
                                    <div class="warning-sign">
                                        <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                        <p>{{form.expiration.errors.as_text}}</p>
                                    </div>
                                    {%endif%}
                                </td>
                                <td>
                                    {% if 'cvv' in form.errors and display_error%}
                                    <div class="warning-sign" style="margin-left:15px">
                                        <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                        <p>{{form.cvv.errors.as_text}}</p>
                                    </div>
                                    {%endif%}
                                </td>
                            </tr>
                            <!--<p class="help-message">Booking requests require host to accept the request within 24 hours. We will authorize your card for the full amount, but you will not be charged until the host accepts.</p>-->
                        </table>
                    </div>
                    <div class="row" style="padding:0">
                        <h2 style="padding-left: 20px;font-weight:bold;margin-top:15px;color:#000">{% trans "Traveller Details" %}</h2>
                    </div>
                    <div class="row" id="traveller_detail">
                        <table width="0" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <p>{% trans "First name" %}</p>
                                    <div class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            {{ form.first_name }}
                                            {% if 'first_name' in form.errors and display_error%}
                                            <div class="warning-sign">
                                                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                                <p>{{form.first_name.errors.as_text}}</p>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p>{% trans "Last name" %}</p>
                                    <div class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            {{ form.last_name }}
                                            {% if 'last_name' in form.errors and display_error%}
                                            <div class="warning-sign">
                                                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                                <p>{{form.last_name.errors.as_text}}</p>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table style="display:none;" class="billingAddress" width="0" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <p>{% trans "Billing Address" %}</p>
                                    <div class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            {{ form.street1 }}
                                            {% if 'street1' in form.errors and display_error%}
                                            <br>
                                            <div class="warning-sign">
                                                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                                <p>{{form.street1.errors.as_text}}</p>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </td>
                                <td style="display:none;">
                                    <p>{% trans "Street Address 2" %}</p>
                                    <div class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            {{ form.street2 }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="billingAddress" width="0" border="0" cellspacing="0" cellpadding="0">
                            <tr style="display:none;">
                                <td>
                                    <p>{% trans "City" %}</p>
                                    <div class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            {{ form.city_town }}
                                            {% if 'city_town' in form.errors and display_error%}
                                            <div class="warning-sign">
                                                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                                <p>{{form.city_town.errors.as_text}}</p>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p>{% trans "State" %}</p>
                                    <div class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            {{ form.state }}
                                            {% if 'state' in form.errors and display_error%}
                                            <div class="warning-sign">
                                                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p>{% trans "Postcode" %}</p>
                                    <div class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            {{ form.postcode }}
                                            {% if 'postcode' in form.errors and display_error%}
                                            <div class="warning-sign">
                                                <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{% trans "Country" %}</p>
                                    <div class="dropdown">
                                        {{ form.country }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td style="margin-right:10px">
                                    <p style="padding-top:10px;">{% trans "Destination mobile number" %}</p>
                                    <div class="navbar-form" role="search">
                                        <div class="form-group">
                                            <input class="form-control" style="width:62px;margin-right:10px;float:left">
                                            {{ form.phone_number }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p style="padding-top:10px;">{% trans "Roaming mobile number" %}</p>
                                    <div class="navbar-form" role="search">
                                        <div class="form-group">
                                            <input class="form-control" style="width:62px;margin-right:10px;float:left">
                                            <input id="id_roaming_number" maxlength="15" name="phone_number" type="text" class="form-control">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                              <td>
                              {% if 'phone_number' in form.errors and display_error%}
                              <div class="warning-sign">
                                  <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                                  <p>Please provide a contact phone number.</p>
                              </div>
                              {%endif%}
                            </td>
                            </tr>
                        </table>

                        {%if experience.language == "NONE"%}
                        <div class="navbar-form" style="display:none;">
                            {{form.booking_extra_information}}<p class="help-message">我需要中文翻译</p>
                        </div>
                        {%endif%}
                    </div>
                    <div class="row">
                        <input id="isAgreementSelected" type="checkbox" /><p class="help-message" style="font-size:12px">{% trans "By booking this listing, you agree to " %}<a href="/termsofservice" target="_blank">{% trans "Terms of Service" %}</a>, <a href="/privacypolicy" target="_blank">{% trans "Privacy Policy" %}</a> {% trans "and" %} <a href="/refundpolicy"  target="_blank">{% trans "Traveller Refund Policy" %}</a>.
                        </p> <!-- and agree to Tripalocal's Terms and Conditions-->
                        <div id="id_term_condition" class="warning-sign" style="display:none;">
                            <img src="{{MEDIA_URL}}/error_icon.png" style="position: relative; top:4px; left:5px;">
                            <p>{% trans "Please accept terms and conditions" %}</p>
                        </div>
                        <div>
                            <img src="/images/icon/give-back.svg" width="25" style="float:left">
                            <p style="margin:20px 10px 0 35px">{% trans "It’s ok to change your mind" %}<br>
                                {% trans "If you cancel at least 7 calendar days in advance, there is no cancellation fee." %}<br>
                                {% trans "If you cancel between 3 and 6 calendar days in advance, you will be charged a 50% cancellation fee." %}<br>
                                {% trans "If you cancel within 2 calendar days in advance, you will be charged a 100% cancellation fee." %}</p>
                        </div>
                    </div>
                    <input type="submit" id="submit_booking" name="Request to Book" value="{% trans "Book Now" %}" class="btn btn-primary btn-lg" style="margin:0 0 30px 20px;width:140px;"/>
                </form>
            </div>
                
            <div class="expList checkoutDetails">
                <div class="listingImg" style="background-image:url(		
		        {% for photo in experience.photo_set.all %}
                    {% if forloop.first %}
				        {{ MEDIA_URL }}{{photo.directory}}{{photo.name}}  
                    {% endif %}
                {% endfor %})">
                    <div class="profile-md checkout-profile">
                        <img src="{{ MEDIA_URL }}{% for h in experience.hosts.all %}{% if forloop.first %}{{ h.registereduser.image_url }}{% endif %}{% endfor %}" width="240" height="240">
                    </div>
                </div>
                <div class="checkoutBox checkoutInfo">
                    <h3 style="font-weight:bold;">{{ experience.title }}</h3>
                    <p>{{ experience.city }}</p>
                    <hr style="margin-bottom:10px;">
                    <form action="/experience/{{experience.id}}/" method="get">
                        <p>Reservation for <strong>{{ guest_number }} person(s)</strong><br>
                            on <strong>{{ date }}</strong> at <strong>{{ time }}</strong>
                            (<input type="submit" value="Change" name="change" style="border:none;background:none;color:#3cc;padding:0px;"/>)
                        </p>
                        <hr style="margin:10px 0">
                        <p>Rate: {{experience.dollarsign}}{{ experience_price|floatformat|mul:1.429|floatformat:"0" }} per person for {{ experience.duration }} hours</p>
                        <hr style="margin-bottom:10px;">
                        Subtotal: {{experience.dollarsign}}<div id="id_sub_total" style="display:inline"> {{ subtotal_price|stringformat:".2f"}} </div>
                        <br>
                        <p id="id_coupon_extra_fee" style="font-size:14px;"></p>
                        <div id="id_service_fee" style="display:none;"> Processing Fee: {{experience.dollarsign}}{{ service_fee|stringformat:".2f" }}<br></div>
                        <strong style="font-size:18px;">Total: {{experience.dollarsign}}<div id="id_total" style="display:inline">{{ total_price|stringformat:".2f" }}</div></strong>
                    </form>                     
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script charset="utf-8" type="text/javascript">

$(function(){
    $(document).ready(function(){
        mixpanel.track("Checkout");
        if($("#user_email").val())
        {
            mixpanel.identify($("#user_email").val());
        }

        $("#id_promo_code").attr("class", "form-control");
        $("#id_card_number").attr("class", "form-control");
        $("#id_expiration_0").attr("class", "btn btn-default dropdown-toggle");
        $("#id_expiration_1").attr("class", "btn btn-default dropdown-toggle");
        $("#id_cvv").attr("class", "form-control");
        $("#id_first_name").attr("class", "form-control");
        $("#id_last_name").attr("class", "form-control");
        $("#id_first_name").attr("style", "width:auto;");
        $("#id_last_name").attr("style", "width:auto;");
        $("#id_street1").attr("class", "form-control");
        $("#id_street2").attr("class", "form-control");
        $("#id_city_town").attr("class", "form-control");
        $("#id_state").attr("class", "form-control");
        $("#id_state").attr("size", "4");
        $("#id_postcode").attr("class", "form-control");
        $("#id_postcode").attr("size", "4");
        $("#id_phone_number").attr("class", "form-control");
        $("#id_country").attr("class", "btn btn-default dropdown-toggle");

        $("#id_expiration_1 :nth-child(2)").prop('selected', true);

        var handler = StripeCheckout.configure({
                            key: 'pk_test_W9jgaSX9w9vrewiQIl5gE5l4',
                            image: '{{ MEDIA_URL }}img/tripalocal_Logo.png',
                            token: function(token) {
                                // Use the token to create the charge with a server-side script.
                                // You can access the token ID with `token.id`
                                var input = $("<input>")
                                               .attr("type", "hidden")
                                               .attr("name", "stripeToken").val(token.id);
                                $('#category_form').append($(input));
                                $('#category_form').submit();
                            }
                        });

        $("#submit_booking").bind("click", function(e) {
            e.preventDefault();
            if ($("#isAgreementSelected").is(':checked')) {
                if (!$("#id_coupon_agreement").length || $("#id_coupon_agreement").is(':checked')) {
                    mixpanel.track("Clicked on \"Checkout\"");
                    if($("#user_email").val())
                    {
                        mixpanel.identify($("#user_email").val());
                    }
                    //$("#category_form").submit();
                    if({{total_price}}>0.00)
                    {
                        // Open Checkout with further options
                        handler.open({
                            name: 'Tripalocal',
                            description: '',
                            amount: {{ total_price|mul:100 }},
                            currency: '{{experience.currency}}',
                            locale: 'en-au',
                            //alipay: true
                        });
                        e.preventDefault();
                    }
                    else
                    {
                        $("#category_form").submit();
                    }
                }
                else {
                    $("#id_coupon_term_condition").attr("style","width:480px; display:inline-block; margin-bottom:10px;");
                }
            }
            else {
                $("#id_term_condition").attr("style","display:inline-block;");
            }
        });

        // Close Checkout on page navigation
            $(window).on('popstate', function() {
            handler.close();
        });
    })
})
</script>
{% endblock %}
