{% extends "app/layout.html" %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
    {% load staticfiles %}
    <title>{{ itinerary.title }}</title>
    <link href="{% static 'experiences/content/itinerary-detail.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% if itinerary.status == "paid" %}
<div class="paid-banner">
  <p>{% trans 'You have successfully booked this itinerary!' %}</p>
</div>
{% endif %}
<div class="jumbotron" style="background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url({%for date, list in itinerary.days.items %}{% if forloop.first %}{% for item in list %}{% if forloop.first %}{% with item.photo_set.all|first as photo %}{{ MEDIA_URL }}{{photo.directory}}{{photo.name}}{% endwith %}{% endif %}{% endfor %}{% endif %}{% endfor %})">
  <div class="middle">
    {% if LANGUAGE != "zh-CN" %}
    <img src="{% static 'img/top_logo-en.svg' %}" width="240">
    {% else %}
    <img src="{% static 'img/top_logo-cn.svg' %}" width="240">
    {% endif %}
    <h1>{{ itinerary.title }}</h1>
  </div>
</div>

<div class="container">
  <div class="sticky-section">
    <div class="booking-box">
      <form method="post" action="{{GEO_POSTFIX}}itinerary/{{itinerary_id}}/">
          {% csrf_token %}
          <div class="row">
            <p>{{ itinerary.days|length }}{% trans ' Day ' %}{{ guest_number }}{% trans ' Person Custom Itinerary' %}</p>
            <p>{{start_date}} - {{end_date}}</p>
          </div>
          {% if itinerary.status == "ready" %}
          <div class="row">
            {% if not full_price %}
            <p><strike style="margin-right:15px;">{% trans 'Before: ' %}{{request.session.dollar_sign}}{{ price|div:0.85|floatformat:"0" }}{{request.session.custom_currency}}</strike> {% trans 'After: ' %}{{request.session.dollar_sign}}{{price|floatformat:"0"}}{{request.session.custom_currency}}</p>
            {% endif %}
            <span class="top-aligned-text">{% trans 'Per Person ' %}{{request.session.dollar_sign}}</span><h1 style="margin:0; display:inline-block;">{{ price|div:guest_number|floatformat:"0" }}</h1><span class="top-aligned-text">{{request.session.custom_currency}}</span>
          </div>
          {% if not full_price %}
          <div class="booking-tip">
            <img src="{% static 'experiences/img/time2.svg' %}" width="45" height="45">
            <p>{% trans 'The discount period will end in' %}<span id="clock"> <span class="days"></span>{% trans " days " %}<span class="hours"></span>{% trans " hrs " %}<span class="minutes"></span>{% trans " mins " %}<span class="seconds"></span>{% trans " secs " %}</span></p>
          </div>
          {% endif %}
          <div>
              {% if user.is_authenticated %}
              <button id="pay" class="btn btn-primary"><img src="{% static 'icon/coins_white.svg' %}" style="margin-right:10px;">{% trans 'Lock in price' %}</button>
              {% else %}
              <input class="btn btn-primary" type="button" value="{% trans 'Lock in price' %}" onclick="location.href = '{{GEO_POSTFIX}}accounts/login/?next={{GEO_POSTFIX}}itinerary/{{itinerary_id}}';"/>
              {% endif %}
          </div>
          {% elif itinerary.status != "paid" %}
          <a class="btn btn-primary" href="mailto:enquiries@tripalocal.com?subject={{itinerary.title}}" style="padding: 12px;"><img src="{% static 'icon/discuss.svg' %}" style="margin-right:10px;">{% trans 'Enquire about this itinerary' %}</a>
          {% endif %}
      </form>
    </div>
    <ul class="nav timeline" id="timeline">
      {% for day in itinerary.days.items %}
      <li><a class="day-nav" href="#day{{ forloop.counter }}-list" id="day{{ forloop.counter }}">D{{ forloop.counter }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="detail-box">
      {%for date, list in itinerary.days.items %}
      <div class="day-list" id="day{{forloop.counter}}-list">
        <h3 class="day-heading">{% blocktrans with number=forloop.counter %}Day {{number}}{% endblocktrans %} {{date}} {{list.0.city}} </h3>
        {% for item in list %}
          {% if item.type != 'Pricing' %}
          <div class="item-heading">
            <span class="item-icon">
              {% if item.type == 'PrivateProduct' or item.type == 'PublicProduct' or item.type == 'PRIVATE' or item.type == 'NONPRIVATE' %}
              <img src="{% static 'experiences/img/hot-56.svg' %}">
              {% elif item.type == 'Flight' %}
              <img src="{% static 'experiences/img/flight.svg' %}">
              {% elif item.type == 'Transfer' %}
              <img src="{% static 'experiences/img/transfer.svg' %}">
              {% elif item.type == 'Accommodation' %}
              <img src="{% static 'experiences/img/accommodation.svg' %}">
              {% elif item.type == 'Restaurant' %}
              <img src="{% static 'experiences/img/restaurant.svg' %}">
              {% elif item.type == 'Suggestion' %}
              <img src="{% static 'experiences/img/itinerary.svg' %}">
              {% endif %}
            </span>
            <p>{{item.title}} {% if item.type == 'PrivateProduct' or item.type == 'PublicProduct' or item.type == 'PRIVATE' or item.type == 'NONPRIVATE' %}({%if item.duration < 24 %}{{item.duration|floatformat:"0"}}{% trans " hours" %}{%else%}{{item.duration|intdiv:24}}{% trans " days" %}{%endif%} &#8226; {% if item.language == "english;mandarin;" %}English / 中文{% else %}English{% endif %}){% endif %}</p>
          </div>
          {% if item.photo_set.all %}
          {% with item.photo_set.all|first as photo %}
          <div class="item-img"><img src="{{ MEDIA_URL }}{{photo.directory}}{{photo.name}}"></div>
          {% endwith %}
          {% endif %}
          <div class="item-description"><p>{{item.description}}</p></div>
          <div class="item-description"><p>{{item.whatsincluded}}</p></div>

          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
  </div>
</div>



{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
<script type="text/javascript">
function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  var hours = Math.floor( (t/(1000*60*60)) % 24 );
  var days = Math.floor( t/(1000*60*60*24) );
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock(){
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if(t.total<=0){
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock,1000);
}

$(document).ready(function() {
  var deadline = "{{discount_deadline}}";
  initializeClock('clock', deadline);
  if ($(window).width() > 760) {
    // Scrollspy
    $('body').scrollspy({ target: '.sticky-section', offset: 30 });

    // Stick the sticky-section
    $('.sticky-section').affix({
      offset: {
        top: 480,
        bottom: function () {
          return (this.bottom = $('.footer').outerHeight(true) + 30)
        }
      }
    });

    // Scroll to section
    var $root = $('html, body');
    $('.day-nav').click(function() {
      var href = $.attr(this, 'href');
      $root.animate({
        scrollTop: $(href).offset().top
      }, 500);
      return false;
    });
  }

  {% if itinerary.status == "paid" %}
  $(".paid-banner").delay(10000).slideUp();
  {% endif %}
  $("#pay").click(function(e){

  });
})
</script>
{% endblock %}
