{% extends "app/layout.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
  <title>{% trans 'Itinerary tool' %}</title>
  <link href="{% static 'experiences/content/itinerary-tool.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
  {% csrf_token %}
  <div id="root" class="container"></div>
{% endblock %}

{% block scripts %}
  <script>
    window.initialState = {
      modal: {date: '', field: '', display: 'NONE'},
      dates: {{ itinerary|safe }}
    }
  </script>
  <script src="{% static 'experiences/scripts/itinerary-tool.min.js' %}"></script>
{% endblock %}
