{% extends "app/layout.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load i18n %}

{% block head %}
  <title>{% trans 'Itinerary tool' %}</title>
  <link href="{% static 'experiences/content/itinerary-tool.css' %}" rel="stylesheet"/>
  <link href="{% static 'bootstrap3_datetime/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  {% csrf_token %}
  <div id="root"></div>
{% endblock %}

{% block scripts %}
  <script>
    window.itineraryID = {{ itinerary_id }};
    window.initialState = {
      modal: {date: '', field: '', display: 'NONE'},
      dates: {{ itinerary|safe }},
      bookings: {{ bookings|safe }},
      selected: '',
      title: '',
      guests: {{ guests }}
    }
    window.submit = function(title, dates) { 
      $.ajax({
        url: '/itinerary/host/' + window.itineraryID.toString(),
        type: 'POST',
        data: {
          csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']")[0].value,
          title: title,
          dates: JSON.stringify(dates)
        }      
      }).done(function(response) {
        console.log('save itinerary:', response.success);
      }).fail(function(error) {
        console.log(error);
      });
    }
  </script>
  <script src="{% static 'experiences/scripts/itinerary-tool.min.js' %}"></script>
  <script src="{% static 'bootstrap3_datetime/js/moment.min.js' %}"></script>
  <script src="{% static 'bootstrap3_datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'bootstrap3_datetime/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
  <script>
    $(document).ready(function() {
      $("#start-date").datetimepicker({
        format: 'YYYY-MM-DD', locale: 'zh-CN',
        minDate: moment()
      });
    });
  </script>
{% endblock %}
