{% load mathfilters %}
{% load i18n %}
{% load staticfiles %}

<div class="booking-box">
    <table style="display:none;">
        {% for op in available_options %}
        <p id="date_string_{{forloop.counter0}}" style="display:none;" instant="{{op.instant_booking}}"> {{op.date_string}} </p>
        {% endfor %}

        {% for op in available_options %}
        <p id="time_string_{{forloop.counter0}}" style="display:none;" instant="{{op.instant_booking}}"> {{op.time_string}} </p>
        {% endfor %}

        {% for op in available_options %}
        {% if forloop.counter0 < 3 and op.instant_booking %}
        <tr class="booking-list">
            <td id="instant_booking_date_{{forloop.counter0}}" class="date-list">
                {{op.date_string}}
            </td>
            <td id="instant_booking_time_{{forloop.counter0}}" class="time-list">
                <div class="timebtn">
                    <div>
                        <span>{{op.time_string}}</span><img src="{% static 'icon/instant.png' %}">
                    </div>
                </div>
            </td>
            <td class="people-list">
                {% if user.is_authenticated %}
                <input id="id_submit_request_{{forloop.counter0}}" type="submit" class="btn-block btn btn-xs btn-primary" value="{%trans "Book"%}" disabled='disabled' />
                {% else %}
                <input type="button" class="btn-block btn btn-xs btn-primary" value="{%trans "Book"%}" onclick="location.href = '{{GEO_POSTFIX}}accounts/login/?next={{GEO_POSTFIX}}experience/{{experience.id}}';"/>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <input id="experience_dynamic_price" type="text" value="{{experience.dynamic_price}}" style="display:none;" disabled="disabled"/>
    {% if experience.type == "PublicProduct" or experience.type == "PrivateProduct" %}
    <div style="border-bottom:1px solid #ccc;">
        <p>{%if experience.duration < 24 %}{{experience.duration}}{% trans " hour" %}{%else%}{{experience.duration|intdiv:24|floatformat:"0"}}{% trans " day" %}{%endif%}
           {% if experience.type == "PublicProduct"%}{% trans ' Public Tour' %}{% else %}{% trans ' Private Tour' %}{% endif %}</p>
    </div>
    <div style="padding-top:10px; padding-bottom:10px; border-bottom:1px solid #ccc;">
        <label style="vertical-align:top; margin-right:5px;">{{experience.dollarsign}}{{experience.currency}}</label><span id="experience_price">{{ experience.price|floatformat|mul:experience.commission|floatformat:"0" }}</span><label style="vertical-align:top; margin-left:5px;"> {% trans "per person" %}</label>
    </div>
    <form style="text-align: left; padding-top: 20px;" id="experience_booking_form" method="post" action="">
        {% csrf_token %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="form-group" style="display:inline-block; text-align:left; margin-right: 10px; vertical-align:top;">
          <p>{% trans 'Date' %}</p>
          <div class="date-box">{{form.date}}</div>
        </div>
        <div class="form-group" style="display:none; text-align:left; margin-right: 10px;">
          <p>{% trans 'Time' %}</p>
          {{form.time}}
        </div>
        <div class="form-group" style="display:inline-block; text-align:left; margin-right: 10px;">
          <p>{% trans 'Guests' %}</p>
          <input type="text" id="guest_number_min" name="{{experience.guest_number_min}}" disabled="disabled" style="display:none;"/>
          <input type="text" id="guest_number_max" name="{{experience.guest_number_max}}" disabled="disabled" style="display:none;"/>
          {% for op in available_options %}
              <p id="seat_left_{{forloop.counter0}}" style="display:none;"> {{op.available_seat}} </p>
          {% endfor %}
          {{form.adult_number}}
          <div style="display:none;">
          {{form.child_number}}
          </div>
        </div>
        {% if user.is_authenticated %}
            <input style="display:inline-block; width: 60px;" id="id_submit_request" type="submit" class="btn-block btn btn-xs btn-primary" value="{% trans "Request" %}" disabled='disabled'/>
        {% else %}
            <input style="display:inline-block; width: 60px;" type="button" class="btn-block btn btn-xs btn-primary" value="{% trans "Request" %}" onclick="location.href = '{{GEO_POSTFIX}}accounts/login/?next={{GEO_POSTFIX}}experience/{{experience.id}}';"/>
        {% endif %}

        <!--- PAGE VIEW STATISTICS HERE -->
        {% if not top_20 and top_50 %}
        <!-- Display this if the experience is within the top 50% most viewed -->
        <div class="booking-tip" style="">
          <img src="{% static 'experiences/img/time2.svg' %}" width="45" height="45">
          <p>{% trans 'Hurry, more than 50&#37; of this tour has been booked within the next 6 months' %}</p>
        </div>
        {% endif %}
        {% if top_20 %}
        <!-- Display this if the experience is within the top 80% most viewed -->
        <div class="booking-tip" style="">
          <img src="{% static 'experiences/img/time2.svg' %}" width="45" height="45">
          <p>{% trans 'Hurry, more than 80&#37; of this tour has been booked within the next 6 months' %}</p>
        </div>
        {% endif %}
        <!--- -->

        <div class="save-to-wishlist" style="display: none;">
        {% if not in_wishlist %}
            {% if user.is_authenticated %}
            <div id="save_to_wishlist_icon" val={{in_wishlist}} class="save_to_wishlist_not_added"></div>
            {% else %}
            <div id="save_to_wishlist_icon" onclick="location.href = '{{GEO_POSTFIX}}accounts/login/?next={{GEO_POSTFIX}}experience/{{experience.id}}';" class="save_to_wishlist_not_added"></div>
            {%endif%}
            <div id="save_to_wishlist_description" class="description">
                <h3 id="wishlist_head" style="margin-top:10px; font-weight:normal;">{% trans "Save to Wishlist" %}</h3>
            </div>
        {% else %}
            <div id="save_to_wishlist_icon" val={{in_wishlist}} class="save_to_wishlist_added"></div>
            <div id="save_to_wishlist_description" class="description">
                <h3 id="wishlist_head" style="margin-top:10px; font-weight:normal;">{% trans "Saved to Wishlist" %}</h3>
            </div>
        {% endif %}
        </div>
    </form>
    {% endif %}
  </div>
