{% extends "app/layout.html" %}
{% load i18n %}

{% block head %}
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'experiences/content/checkout.css' %}">
    <script type="text/javascript" src="{% static 'experiences/scripts/qrcode.min.js' %}"></script>
    <title>{% trans "QR Code Payment" %}</title>
{% endblock %}

{% block content %}

<div class="qr-payment">
  <div class="box-header">
    <h2>{% trans "Scan QR code to complete payment" %}</h2>
  </div>
  <div id="qrcode" style="width:256px; margin: 30px auto; text-align: center;"></div>
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="{% static 'icon/downloadWechat.svg' %}">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{% trans 'Log In to Wechat on Phone' %}</h4>
      <p><a href="http://weixin.qq.com/cgi-bin/readtemplate?t=weixin_download_list&lang={% if LANGUAGE != 'zh-CN' %}en{% else %}zh{% endif %}">{% trans 'Install' %}</a> {% trans 'and open Wechat on phone' %}</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <img class="media-object" src="{% static 'icon/scan.svg' %}">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{% trans 'Scan QR Code' %}</h4>
      <p>{% trans 'Log in to Web Wechat in Discover -> Scan QR Code' %}</p>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">
    $(document).ready(function () {
        var qrcode = new QRCode("qrcode", {
            text: '{{ code_url }}',
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });

        // query order status every 10 seconds
        setInterval(function () {
            $.get('/wechat_qr_payment_query/{{ out_trade_no }}/', function (data) {
                if (data['order_paid'] == true) {
                    {% autoescape off %}
                        window.location.href = '{{ success_url }}';
                    {% endautoescape %}
                } else {
                    console.log(data['order_paid'])
                }
            }, "json");
        }, 10000);
    });

</script>
{% endblock %}
