{% extends "custom_admin/base.html" %}
{% block head %}<title>Bookings</title>{% endblock %}
{% block content %}
  {{time_changed_status}}
  <div class="fullColumn">
    {% ifequal status 'success'%}
      <div class="notification" id="change_time_success_notification">Update has been successful.</div>
    {% endifequal %}
    {% ifequal status 'failed'%}
      <div class="notification_red" id="change_time_failed_notification">Update has been failed.</div>
  	{% endifequal %}

    <div class="operation"></div>
  	<ul class="subMenu">
    <li>Current Bookings</li>
    <li id="activated"><a href="/custom_admin/booking-archive/">Archived</a></li>

    </ul>
    <div class="clear"></div>

<table border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="11" class="tableEdit">&nbsp;&nbsp;↓
<input id="bookings-delete-link" name="input" type="button" value="Delete"/>&nbsp;&nbsp;
<input id="bookings-email-to-host-link" name="input" type="button" value="Email to Host"/>&nbsp;&nbsp;
<input id="bookings-email-to-guest-link" name="input" type="button" value="Email to Traveller"/>&nbsp;&nbsp;
<input id="bookings-archive-link" name="input" type="button" value="Archive"/></td>
    </tr>
  <tr>
    <th scope="col"><span id="sprycheckbox1">
      <label>
        <input type="checkbox" name="checkbox1" id="checkbox1" value="all"/>
        </label>
      </span></th>
    <th scope="col"><p>Booking Time</p></th>
    <th scope="col">Experience Name</th>
    <th scope="col"  width="120">Host</th>
    <th scope="col"  width="120">Traveller</th>
    <th scope="col">Group Size</th>
    <th scope="col"> Status</th>
    <th scope="col"  width="120">Actions</th>

  </tr>

    {% for booking in booking_list %}
    {% if booking.status == 'requested' or booking.status == 'accepted' or booking.status == 'rejected' or booking.status == 'no_show' or booking.status == 'paid' %}
      <tr id="booking-table-row-{{booking.id}}">
        <td><input type="checkbox" name="admin-panel-booking-id-checkbox" value="{{booking.id}}"/></td>
        <td id="td-booking-datetime-{{ booking.id }}" >{{ booking.datetime }}</td>
        <td><a href="/experience/{{booking.experience.id}}" target="_blank">{{ booking.experience.title }}</a></td>
        <td>
          {% for host in booking.experience.hosts.all %}
            <p>{{ host.first_name }}&nbsp;{{ host.last_name }}</p>
            <p>{{ host.registereduser.phone_number }}</p>
          {% endfor %}
        </td>
        <td>
          <p>{{ booking.user.first_name }}&nbsp;{{ booking.user.last_name }}</p>
          <p>{{ booking.user.registereduser.phone_number }}</p>
        </td>
        <td>{{ booking.guest_number }}</td>
        <td id="td-status-description-{{booking.id}}" style="color:{{booking.color}};">{{ booking.status_description }}</td>
        <td id="td-action-{{booking.id}}">
          {% for action in booking.actions %}
            {% ifequal action 'Change time'%}
              <a href="#" id="booking-change-time-link-{{booking.id}}">{{action}}</a>
            {% endifequal %}

            {% ifequal action 'Mark as no show' %}
              <a href="#/" id="booking-mark-as-no-show-link-{{booking.id}}">{{action}}</a>
            {% endifequal %}

            {% ifequal action 'Reopen booking' %}
              <a href="#/" id="booking-reopen-booking-link-{{booking.id}}">{{action}}</a>
            {% endifequal %}

            {% ifequal action 'Cancel booking' %}
               <a href="#/" id="booking-cancel-booking-link-{{booking.id}}">{{action}}</a>
            {% endifequal %}

            {% ifequal action 'Upload review' %}
               <a href="#" id="booking-upload-review-link-{{booking.id}}">{{action}}</a>
            {% endifequal %}
            <br/><br/>
          {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}

  </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                 <a href="{% url 'admin_booking' %}?page={{page_obj.previous_page_number}}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'admin_booking' %}?page={{page_obj.next_page_number}}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

  </div>


  <div class="push"></div>


<div id="change-time-popup"style="display:none">
<div id="light" class="white_content">
<div class="operation"><a href="#" id="close-change-time-button">Close</a></div>
<h1>Change time and date</h1>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th scope="col">Booking ID.</th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
    </tr>
  <tr>
    <td id="booking_id_in_change_time_popup"></td>
    <td>
      {{ form.new_date }}
    </td>
    <td>
      {{ form.new_time }}
    </td>
    </tr>
</table>
  <div class="tableButton">
    <input id="change-time-button" type="button" name="button" class="big_button" value="Update" />
  </div>
</div>
<div id="fade" class="black_overlay"></div>
</div>


<div id="upload-review-popup"style="display:none">
<div class="white_content">
<div class="operation"><a href="#" id="close-upload-review-button">Close</a></div>
<h1>Upload review</h1>
<div class="scroll"><table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="coRight">&nbsp;</td>
      <td><h1>Leave review</h1>
        <p>After you have saved this review, it will be displayed on <a href="#">Italian Home Dining Experience</a> from Yiyi Wang.</p></td>
    </tr>
        <tr>
          <td class="coRight"></td>
      <td>
        {{ form.review }}
        <br />
        {{ form.rate }}
        <br />
      </td>
      </tr>
      </table>
</div>

  <div class="tableButton">
    <input type="button" id="upload-review-button" name="button" class="big_button" value="Submit Review" />
  </div>
</div>
<div id="fade" class="black_overlay"></div>
</div>
</form>
{% endblock %}
