{% extends "custom_admin/base.html" %}
{% block head %}
    {% load staticfiles %}
    <title>Itineraries</title>
    <script language="javascript" type="text/javascript" src="{% static 'custom_admin/scripts/admin_itinerary.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="fullColumn">
        <div class="operation"></div>
        <ul class="subMenu">
            <li>Custom Itineraries List</li>
            <li id="activated"><a href="#">Archived</a></li>
            <li id="activated"><a href="/itinerary/new" target="_blank">+ Create Itinerary</a></li>
        </ul>
        <div class="clear"></div>
        <form action="" method="post"> {% csrf_token %}
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="13" class="tableEdit">&nbsp;&nbsp;↓
                    <input id="delete-itinerary" name="input" type="button" value="Delete"/>&nbsp;&nbsp;
                    <input id="dulicate-itinerary" name="input" type="button" value="Duplicate"/>
                </td>
            </tr>
            <tr id="itinerary-attributes">
                <th scope="col">
                    <span id="sprycheckbox1">
                        <label>
                            <input type="checkbox" name="checkbox1" id="checkbox1"/>
                        </label>
                    </span>
                </th>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Group Size</th>
                <th scope="col">Price ($AUD)</th>
                <th scope="col">Price (¥CNY)</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            {% for itinerary in itinerary_list %}
            <tr id="itinerary-id-{{itinerary.id}}">
                <td>
                    <span id="sprycheckbox2_{{itinerary.id}}">
                        <label>
                            <input type="checkbox" name="admin-panel-itinerary-id-checkbox" value="{{itinerary.id}}"/>
                        </label>
                    </span>
                </td>
                <td>{{itinerary.id}}</td>
                <td><a href="/itinerary/{{itinerary.id}}" target="_blank">{{itinerary.title}}</a></td>
                <td>{{itinerary.guest_number}}</td>
                <td>{{itinerary.price_aud}}</td>
                <td>{{itinerary.price_cny}}</td>
                <td id="td-status-{{itinerary.id}}">
                    <p>{{itinerary.status}}</p>
                    <!--<select name="select" id="select-status-{{itinerary.id}}">
                        <option value="draft">Draft</option>
                        <option value="paid">Paid</option>
                        <option value="ready">Discount Price</option>
                        <option value="ready">Full Price</option>
                    </select>-->
                </td>
                <td><p><!--hide edit for now <a href="/itinerary/edit/{{itinerary.id}}" target="_blank">Edit</a> --></p></td>
            </tr>
            {% endfor %}
        </table>
        </form>
    </div>
    <div class="push"></div>
{% endblock %}
