{% extends "custom_admin/base.html" %}
{% block head %}
  {% load staticfiles %}
  <title>Partner products</title>
  <script language="javascript" type="text/javascript" src="{% static 'custom_admin/scripts/admin_experience.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="fullColumn">
        <div class="operation"></div>
        <ul class="subMenu">
            <li>Partner Product List</li>
            <li id="activated"><a href="#">Archived</a></li>
            <li id="activated"><a href="/admin/experiences/newproduct/add/" target="_blank">+ Add New Product</a></li>
        </ul>
        <div class="clear"></div>
        <form action="" method="post"> {% csrf_token %}
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="13" class="tableEdit">&nbsp;&nbsp;↓
                    <input name="input" type="button" value="Delete"/>&nbsp;&nbsp;
                    <input name="input" type="button" value="Archive"/>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    <span id="sprycheckbox1">
                        <label>
                            <input type="checkbox" name="checkbox1" id="checkbox1"/>
                        </label>
                    </span>
                </th>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Sales</th>
                <th scope="col">Commission</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Provider</th>
                <th scope="col">Partner</th>
                <th scope="col">Destination</th>
                <th scope="col">Actions</th>
            </tr>
            {% for experience in partnerproduct_list %}
            <tr>
                <td>
                    <span id="sprycheckbox2">
                        <label>
                            <input type="checkbox" name="checkbox2" id="checkbox2"/>
                        </label>
                    </span>
                </td>
                <td>{{experience.id}}</td>
                <td><p><a href="https://www.tripalocal.com/experience/{{experience.id}}" target="_blank">{{experience.title_en}}</a></p>
                    <p><a href="https://www.tripalocal.com.cn/experience/{{experience.id}}" target="_blank">{{experience.title_cn}}</a></p>
                </td>
                <td>{{experience.sale}}</td>
                <td id="td-commission-{{experience.id}}">
                    <p>From {% widthratio experience.commission 1 100 %}%</p>
                    <input id="input-commission-{{experience.id}}"/>
                </td>
                <td id="td-status-{{experience.id}}">
                    {% if experience.status == 'Submitted'%}
                    <p style="color: red">Pending Review</p>
                    {% else %}
                    <p>{{experience.status}}</p>
                    {% endif %}
                    <select name="select" id="select-status-{{experience.id}}">
                        <option value="Draft">Draft</option>
                        <option value="Submitted">Pending Review</option>
                        <option value="Listed">Listed</option>
                        <option value="Unlisted">Unlisted</option>
                    </select>
                </td>
                <td>{{experience.type}}</td>
                <td><p><a href="/myprofile?user_id={{experience.host.id}}" target="_blank">{{experience.host}}</a></p>
                    <p style="display:none;">(<a href="#">Change</a>)</p>
                </td>
                <td><p>{% if experience.partner %}{{experience.partner}}{% else %} {% endif %}</p>
                </td>
                <td>{{experience.city}}</td>
                <td><p><a href="https://www.tripalocal.com/admin/experiences/newproduct/{{experience.id}}" target="_blank">Edit</a></p>
                    <p><a href="https://www.tripalocal.com.cn/admin/experiences/newproduct/{{experience.id}}" target="_blank">编辑中文</a></p>
                </td>
            </tr>
            {% endfor %}
        </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                 <a href="{% url 'admin_experience' %}?page={{page_obj.previous_page_number}}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'admin_experience' %}?page={{page_obj.next_page_number}}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

        </form>
        </tr>
    </div>
    <div class="push"></div>
{% endblock %}
