{% extends "custom_admin/base.html" %}
{% block head %}<title>Payments</title>{% endblock %}
{% block content %}
  {% csrf_token %}
  <div class="fullColumn">
  	<div class="operation"></div>
  	<ul class="subMenu">
    <li>To be Paid</li>
    <li id="activated"><a href="#">Paid</a></li>

    </ul>
    <div class="clear"></div>

      <table border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="12" class="tableEdit">&nbsp;&nbsp;↓
<input name="input" type="button" value="Delete" />&nbsp;&nbsp;
<input name="input" type="button" value="Mark as paid" /></td>
    </tr>
  <tr>
    <th scope="col"><span id="sprycheckbox1">
      <label>
        <input type="checkbox" name="checkbox1" id="checkbox1" />
        </label>
      </span></th>
    <th scope="col">Host</th>
    <th scope="col">Bank Account Details</th>
    <th scope="col"><p>Date/Time</p></th>
    <th scope="col">Experience Name</th>
    <th scope="col">Host</th>
    <th scope="col">Group size</th>
    <th scope="col"><p>Host fee</p></th>
    <th scope="col">Full price</th>
    </tr>

  {% for booking in booking_list %}
  <tr>
    <td><span id="sprycheckbox2">
      <label>
        <input type="checkbox" name="checkbox2" id="checkbox2" />
        </label>
      </span></td>
    <td><p>{{booking.experience.hosts.all.0}}</p>
      <p>{{booking.payment.phone_number}}</p>      <p>&nbsp;</p></td>
    <td><a href="#">Add</a></td>
    <td><p>{{booking.datetime}}</p></td>
    <td><a href="/experience/{{booking.experience.id}}" target="_blank">{{booking.experience.title}}</a></td>
    <td><p>{{booking.experience.hosts.all.0}}</p>
      <p> {{booking.payment.phone_number}} </p></td>
    <td><p>{{booking.guest_number}}</p></td>
    <td><p>$ {{booking.host_price}}</p>
    </td>
    <td>$ {{booking.full_price}}</td>
  </tr>
  {% endfor %}

    </table>
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                 <a href="{% url 'admin_payment' %}?page={{page_obj.previous_page_number}}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'admin_payment' %}?page={{page_obj.next_page_number}}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    </tr>

  </div>
  <div class="push"></div>
{% endblock %}
