/*
  Checkout pages
*/

@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders';


.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-section {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid $light-grey;
}

.checkoutBox {
  width: 550px;
  float: left;
  margin-right: 80px;
  background-color: white;
  border: $light-grey 1px solid;
  border-radius: 5px;
  h3, p, .form-control {
    color: $dark-grey;
    font-weight: normal;
  }

  @include media('<tablet') {
    width: 100%;
    float: none;
    margin: auto;
  }
}

.checkoutInfo {
  background: white;
  border: $light-grey 1px solid;
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
  padding: 15px;
  float: right;
  @include media('<tablet') {
    float: none;
    width: 100%;
  }
}

.checkout-profile {
  width: 90px;
  height: 90px;
  border: 1px solid $light-grey;
  border-radius: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-frame {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}


.warning-sign {
  border: 1px #ff5e5e solid;
  background-color: #ffc7c7;
  border-radius: 3px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.warning-sign p {
  color: #ff5e5e;
  display: inline-block;
  position: relative;
  top: 4px;
  left: 10px;
  padding-right: 20px;
}

.help-message {
  display: inline-block;
  font-size: 12px;
  color: $dark-grey;
  max-width: 400px;
  margin-left: 15px;
  margin-top: 15px;
  @include media('<tablet') {
    max-width: 85%;
  }
}

.exp-box {
  @include media('<tablet') {
    p, h3 {
      margin-left: 0;
    }
  }
}

.btn-lg {
  width: 180px;
  margin: 15px 30px 15px 15px;
  border-radius: 3px;
  font-size: 14px
}

#id_promo_code {
  display: inline-block;
  width: auto;
  margin-right: 15px;
  @include media('<phone') {
    margin-right: 5px;
  }
}

#id_country {
  height: 35px;
  width: 170px;
}

// WeChat payment
.qr-payment {
  width: 400px;
  margin: 30px auto;
  padding-bottom: 15px;
  background-color: white;
  border: 1px solid $light-grey;
  border-radius: 4px;
}

.media-body {
  color: $dark-grey;
  font-size: 12px;
}

.media-heading {
  font-weight: normal;
  font-size: 14px;
}

.media-object {
  margin: 0 15px;

}
