/*
  Checkout pages
*/

@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders';

.checkoutBox {
  width: 550px;
  background-color: white;
  border: $light-grey 1px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  @include media('<tablet') {
    padding: 10px;
    width: 90%;
    float: none;
    margin-left: 5%;
    td {
      display: inline-block;
      margin-right: 15px
    }
  }
  .row {
    border-top: $light-grey 1px solid;
    padding: 15px 0;
  }

  p {
    margin-bottom: 0;
  }

  .row {
    padding-left: 20px;
    color: $slate-grey;
  }

  td {
    display: inline-block;
  }
}

#id_promo_code,
#id_card_number,
#id_country {
  width: 222px;
}
#id_phone_number,
#id_roaming_number {
  width: 145px;
}
#id_expire_on > span > select {
  width: 100px;
  margin-right: 10px;
}
#id_cvv {
  width: 100px;
}
#traveller_detail #id_first_name,
#traveller_detail #id_last_name {
  width: 222px;
  height: 34px;
}
.checkoutInfo {
  width: 300px;
  margin-top: 20px;
  padding: 15px;
}
.warning-sign {
  border: 1px #ff5e5e solid;
  background-color: #ffc7c7;
  border-radius: 3px;
  color: #ff5e5e;
  height: 30px;
  margin-top: 8px;
  min-width: 222px;
  margin-right: 20px;
}
.warning-sign p {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 10px;
  padding-right: 20px;
}


.navbar-form {
  padding: 0;
}

.experience {
  padding: 30px 0;
}

.checkout-profile {
  margin: auto;
  position: relative;
  margin-top: -20px;
}
.checkoutBox {
  float: left;
}
.checkoutDetails {
  float: right;
  @include media('<tablet') {
    margin-top: 50px;
    float: none;
  }
}
.form-control {
  @include media('<tablet') {
    width: 95%;
  }
}
