/*
  Custom Itinerary
*/

@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders';

body {
  padding: 0;
}

.footer {
  display: none;
}

.navbar {
  position: relative;
}

// Top search bar
.basic-search {
  background-color: $off-white;
  padding: 0;
}

.basic-search {
  .container {
    width: 990px;
    padding: 0 10px 10px 10px;
  }
  .row {
    margin: 0;
  }
}

.form-inline {
  display: inline-block;
  margin-right: 30px;
}

.form-header {
  display: inline-block;
  font-weight: normal;
  margin-right: 20px;
  min-width: 60px;
  text-align: right;
}

.btn {
  margin-right: 10px;
  height: 30px;
  line-height: 1.25;
  color: $dark-grey;
  min-width: 100px;
  border-radius: 2px;
}

.btn-primary {
  color: white;
}

.start-date, .end-date {
  position: relative;
  width: 100px;
  .form-control {
    width: 100%;
  }
}

.btn-right {
  float: right;
}

.right-group {
  float: right;
  margin-right: 0;
  .btn {
    min-width: 100px;
    margin-right: 0;
    margin-left: 10px;
  }
  .btn-sm {
    min-width: 0;
    width: 30px;
    padding: 0;
    color: $medium-grey;
  }
  .form-header {
    margin-right: 0;
    min-width: 50px;
  }
}

.popover {
  color: $dark-grey;
  width: 250px;
  button {
    min-width: 100px;
    margin-top: 15px;
  }
  .btn-danger {
    width: 100%;
    color: $pink;
  }
}

// Main sections
.section {
  height: 73vh;
  padding: 20px 0 0 0;
}

.nav-tabs > li > a {
  background-color: $pale-grey;
  color: $dark-grey;
  border-color: $light-grey;
  width: 40px;
  padding: 5px;
  &:hover {
    background-color: darken($pale-grey, 10%);
  }
}

.tab-content {
  border-left: 1px solid $pale-grey;
  border-right: 1px solid $pale-grey;
  border-bottom: 1px solid $pale-grey;
  background-color: white;
  height: 100%;
}

.tab-pane {
  height: 100%;
  padding: 10px 10px 30px 10px;
  .input-group {
    width: 100%;
  }
  .column {
    clear: both;
    height: 90%;
    margin-top: 15px;
    overflow: scroll;
    text-align: right;
  }
}

#search-keyword {
  border-left: 0;
  border-radius: 0;
  height: 40px;
  box-shadow: none;
}

.input-group-addon {
  display: table-cell;
  background-color: white;
  border-right: 0;
  border-radius: 0;
}

.new-item-form {
  color: $dark-grey;
  padding: 15px 0 0 0;
  .form-control {
    border-radius: 3px;
    height: 30px;
  }
  .btn {
    margin-right: 0;
  }

}

// Experience box
.exp-box-sm {
  width: 100%;
  border: 1px solid $light-grey;
  height: 75px;
  margin-top: 10px;
  background-color: white;
  white-space: nowrap;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.exp-img {
  position: relative;
  display: inline-block;
  background-color: $light-grey;
  width: 100px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  img {
    height: inherit;
    width: inherit;
  }
}

.exp-info {
  display: inline-block;
  text-align: left;
  color: $slate-grey;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
  p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    color: $dark-grey;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.exp-location {
  display: none;
}

.exp-price {
  display: inline-block;
  width: 130px;
  vertical-align: top;
  text-align: right;
  margin-right: 10px;
  font-size: 12px;
  color: $slate-grey;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  p {
    margin-bottom: 3px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 20px;
    display: inline;
  }
  .container-fluid {
    text-align: center;
    padding: 0;
    font-size: 10px;
  }
  .inline-text {
    display: inline-block;
  }
  input {
    border:0;
    width: 25px;
  }
  label {
    margin: 0;
  }
}

.slider {
  display: inline-block;
  width: 80px;
  height: 1px;
  vertical-align: middle;
  margin: 0 10px;
  background-color: $primary-color;
  position: relative;
}

.ui-slider-handle {
  display: block;
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: white;
  border: 1px solid white;
  z-index: 1;
  @include card(1);
}

// Right section
.section-heading {
  color: $light-grey;
  font-size: 22px;
  font-weight: normal;
  display: inline;
}

.price-line {
  float: right;
  color: $dark-grey;
  font-size: 14px;
  font-weight: normal;
  display: inline;
  margin-top: 7px;
}

.section-box {
  background-color: white;
  border-radius: 3px;
  width: 100%;
  color: $dark-grey;
  margin-top: 15px;
  padding: 5px 10px;
  border: 1px solid $light-grey;
  .exp-box-sm {
    margin-bottom: 5px;
  }
  p {
    margin: 0;
  }
}

.section-box-add {
  @extend .section-box;
  background-color: $pale-grey;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: darken($pale-grey, 10%);
  }
}

.add-sign {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: $dark-grey;
  font-size: 14px;
}

// Warning popups
.modal-sm {
  width: 230px;
  color: $dark-grey;
  .btn {
    margin: 0;
  }
}

.modal-body {
  padding: 10px;
  min-height: 160px;
}

.modal-footer {
  text-align: center;
  padding: 0 0 10px 0;
  border: 0;
}

.loading {
  top: 20%;
}
