/*
  Custom Itinerary
*/

@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders';

body {
  padding: 0;
}

// Top search bar
.basic-search .container {
  width: 990px;
}

.form-inline {
  display: inline-block;
  margin-right: 30px;
}

.form-header {
  display: inline-block;
  font-weight: normal;
  margin-right: 20px;
  min-width: 60px;
  text-align: right;
}

.btn {
  margin-right: 10px;
  height: 30px;
  line-height: 1.25;
  color: $dark-grey;
}

.btn-primary {
  color: white;
}

.right-group {
  float: right;
  margin-right: 0;
  .btn {
    min-width: 100px;
    margin-right: 0;
    margin-left: 10px;
  }
}

.popover {
  color: $dark-grey;
  width: 250px;
  button {
    min-width: 100px;
    margin-top: 15px;
  }
  .btn-danger {
    width: 100%;
    color: $pink;
  }
}

// Main sections
.section {
  min-height: 600px;
  padding: 30px 0;
}

.nav-tabs > li > a {
  background-color: $pale-grey;
  color: $dark-grey;
  border-color: $light-grey;
  &:hover {
    background-color: darken($pale-grey, 10%);
  }
}

.tab-content {
  border-left: 1px solid $pale-grey;
  border-right: 1px solid $pale-grey;
  border-bottom: 1px solid $pale-grey;
  background-color: white;
  height: 100%;
}

.tab-pane {
  height: 100%;
  padding: 10px 10px 30px 10px;
  .input-group {
    width: 100%;
  }
  .form-control {
    border-left: 0;
    border-radius: 0;
    height: 40px;
    box-shadow: none;
  }
}

.input-group-addon {
  display: table-cell;
  background-color: white;
  border-right: 0;
  border-radius: 0;
}

// Experience box
.exp-box-sm {
  width: 100%;
  border: 1px solid $light-grey;
  height: 75px;
  margin-top: 10px;
}

.exp-img {
  display: inline-block;
  background-color: $light-grey;
  width: 105px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.exp-info {
  display: inline-block;
  color: $slate-grey;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  width: 240px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    overflow-x: hidden;
  }
  p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    color: $dark-grey;
    overflow-x: hidden;
  }
}

.exp-price {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-right: 10px;
  font-size: 12px;
  color: $slate-grey;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  p {
    margin-bottom: 3px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 20px;
  }
}

// Right section
.section-heading {
  color: $light-grey;
  font-size: 22px;
  font-weight: normal;
  display: inline;
}

.price-line {
  float: right;
  color: $dark-grey;
  font-size: 14px;
  font-weight: normal;
  display: inline;
  margin-top: 7px;
}

.section-box {
  background-color: white;
  border-radius: 3px;
  width: 100%;
  color: $dark-grey;
  margin-top: 15px;
  padding: 5px 10px;
  border: 1px solid $light-grey;
  .exp-box-sm {
    margin-bottom: 5px;
  }
  p {
    margin: 0;
  }
}

.section-box-add {
  @extend .section-box;
  background-color: $pale-grey;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: darken($pale-grey, 10%);
  }
}

.add-sign {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: $dark-grey;
  font-size: 14px;
}
