/*
  Custom Itinerary
*/

@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders';

body {
  padding: 0;
}

.form-header {
  display: inline-block;
  margin-right: 20px;
  min-width: 60px;
  text-align: right;
}
