/*

  Custom Itinerary request form

*/
@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders',
  '../../vendor/animate',
  '../../components/slider';

// Typography
h1 {
  font-family: $font-stack-homepage;
  font-size: 72px;
  @include media('<tablet') {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
  @include media('<tablet') {
    font-size: 24px;
  }
}

h3 {
  font-size: 24px;
  @include media('<tablet') {
    font-size: 18px;
  }
}

.display {
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 8px black;
  margin-bottom: 30px;
  text-align: center;
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
          animation-delay: 1s;
}

.display-dark {
  @extend .display;
  color: $slate-grey;
  text-shadow: 1px 1px 1px $medium-grey;
}

// Main layout components
.container {
  position: relative;
  @include media('>tablet') {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.full-height {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

#intro .full-height {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/stars.jpg');
}

#slide1 .full-height {
  background-color: $slate-grey;
  text-align: center;
}

#slide2 .full-height {
  height: 200vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/local_culture_lg.jpg');
}

// Extra components
.scroll-down {
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5%;
  font-size: 36px;
  text-shadow: 1px 1px 8px black;
  -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
          animation-delay: 1.5s;
}

.box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;
  width: 220px;
  position: relative;
  float: left;
  margin: 15px;
  @include card(1);
  @include media('<phone') {
    width: 100%;
    height: 100px;
    margin: 10px 0;
  }
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    transition: background-color 0.4s;
    cursor: pointer;
    &:hover {
      background-color: rgba(0,0,0,0.2);
    }
    .display {
      position: absolute;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .selected {
    border: 2px solid $primary-color;
  }
}

.curtain {
  width: 300%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 25%;
  left: 0;
  opacity: 0;
}

.copy {
  position: absolute;
  bottom: 50%;
  width: 100%;
}

.ellipsis i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

.ellipsis i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.ellipsis i+i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}
