/*

  Custom Itinerary request form

*/
@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders',
  '../../vendor/animate',
  '../../components/slider';

body {
  color: $dark-grey;
}

.side-banner {
  display: none;
}

.footer {
  display: none;
}

.zopim {
  display: none;
}

h1 {
  margin-bottom: 15px;
  @include media('<tablet') {
    font-size: 28px;
  }
}

.loading {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(51,51,51,1);
}

.container {
  @include media('>=desktop') {
    width: 960px;
  }
}

.main-btn {
  font-size: 18px;
  font-weight: 300;
  border-radius: 3px;
  height: 50px;
  width: 120px;
}

.next-btn {
  display: none;
}

.asterisk {
  font-size: 32px;
  color: $pink;
  transition: color 0.4s;
}

#fp-nav {
  @include media('<desktop') {
    display: none;
  }
}

.fp-tooltip {
  color: $dark-grey !important;
  top: -3px !important;
  font-weight: normal;
}

#fp-nav ul li {
  margin: 15px 7px 15px 7px;
}

#fp-nav ul li a span {
  background-color: $light-grey;
  margin: -5px 0 0 -5px;
  width: 10px;
  height: 10px;
  &:hover {
    background-color: $primary-color;
  }
}

#fp-nav ul li a.active span {
  background-color: $primary-color !important;
  margin: -8px 0 0 -8px !important;
  width: 16px !important;
  height: 16px !important;
}

.form-inline {
  label {
    min-width: 140px;
    @include media('<tablet') {
      display: block;
    }
  }
}

.interest {
  border-radius: 20px;
}

.glyphicon {
  margin-left: 10px;
}

.form-group {
  display: inline-block;
  margin-right: 20px;
  width: 180px;
  text-align: left;
  @include media('<phablet') {
    margin-right: 10px;
    width: 155px;
  }
  label {
    font-weight: 300;
    font-size: 20px;
  }
  select {
    width: 100%;
  }
}

.text-input {
  font-size: 24px;
  background-color: inherit;
  border: 0;
  width: 100%;
  color: #7BAABE;
  &:focus {
    border: 0;
    outline: none;
  }
}

.ellipsis i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

.ellipsis i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.ellipsis i+i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

#date-section { 
  .form-group {
    position: relative;
    min-width: 250px;
  }
}

.bootstrap-datetimepicker-widget {
  border: 1px solid $light-grey;
  border-radius: 4px;
  background-color: white;
  margin-top: 15px !important;
  box-shadow: none;
}

#budget-mount {
  width: 280px;
  margin-top: -10px;
  @include media('<tablet') {
    margin-bottom: 90px;
  }
}

.tooltip-inner {
  background-color: $primary-color;
  font-size: 14px;
  max-width: none;
  min-height: 30px;
  line-height: 30px;
  padding: 3px 15px;
  display: inline-block;
}

.tooltip.right .tooltip-arrow {
  border-right-color: $primary-color;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: $primary-color;
}

.tooltip-extra {
  @extend .tooltip-inner;
  display: none;
  background-color: rgb(255,207,0);
  color: rgb(184,125,0);
  position: relative;
  z-index: -1;
  margin-left: -10px;
  border-radius: 4px;
}
