/*

  Custom Itinerary request form

*/
@import
  '../../vendor/include-media',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders',
  '../../vendor/animate',
  '../../components/slider';

.side-banner {
  display: none;
}

.footer {
  display: none;
}

h1 {
  @include media('<tablet') {
    font-size: 28px;
  }
}

.display {
  color: white;
  text-shadow: 1px 1px 8px black;
}

.loading {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(51,51,51,1);
}

.status-bar {
  position: relative;
  display: none;
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  bottom: 0;
  margin: 0;
  z-index: 100000000;
  border-top: 1px solid $light-grey;
  @include card(4);
}

.status-line {
  margin-top: 15px;
  @include media('<phablet') {
    font-size: 14px;
    margin-top: 10px;
    max-width: 250px;
  }
}

.nav-btns {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.main-btn {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 200;
  border-radius: 2px;
  height: 40px;
  width: 120px;
  transition: box-shadow 0.2s;
  @include card(1);
  &:hover {
    @include card(2);
  }
}

.asterisk {
  font-size: 32px;
  color: $pink;
  transition: color 0.4s;
}

#fp-nav {
  @include media('<desktop') {
    display: none;
  }
}

.fp-tooltip {
  color: $slate-grey !important;
  top: -4px !important;
  font-weight: bold;
}

.btn-square {
  width: 40px;
  height: 40px;
}

.container {
  @include media('>desktop') {
    width: 780px;
  }
}

.row {
  text-align: center;
  margin: 0;
}

.box {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 100px;
  float: left;
  margin: 15px 15px 15px 0;
  @include card(1);
  @include media('<phone') {
    width: 100px;
    height: 100px;
    margin: 10px 10px 0 0;
  }
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: background-color 0.4s;
    cursor: pointer;
    &:hover {
      background-color: rgba(0,0,0,0.2);
    }
    .display {
      position: absolute;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .selected {
    border: 3px solid $primary-color;
  }
}

.circle {
  display: inline-block;
  overflow: hidden;
  margin: -5px 15px;
  width: 15vh;
  height: 15vh;
  border-radius: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 15vh;
  color: $slate-grey;
  cursor: pointer;
  transition: width 0.4s, height 0.4s, line-height 0.4s;
  @include card(1);
  @include media('<tablet') {
    width: 100px;
    height: 100px;
    line-height: 80px;
    margin: -5px 5px;
  }
  @include media('<phone') {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 3px;
  }
  @include media('>desktop') {
    &:hover {
      width: 17vh;
      height: 17vh;
      line-height: 17vh;
    }
  }
}

.unselected {
  background-color: $slate-grey !important;
  color: $off-white;
  font-weight: 100;
}

.full-calendar {
  padding: 15px;
  margin: 30px 0;
  border-radius: 5px;
  background-color: white;
  @include card(1);
  h2 {
    font-weight: 200;
    font-size: 24px;
  }
  .fc-day-number {
    padding: 0 10px;
    color: $slate-grey;
  }
  .fc-today {
    background-color: $pale-grey;
  }
  .fc-highlight {
    background-color: $primary-color;
  }
}

.form-group {
  display: inline-block;
  margin-right: 20px;
  width: 180px;
  text-align: left;
  @include media('<phablet') {
    margin-right: 10px;
    width: 155px;
  }
  label {
    font-weight: 200;
    font-size: 20px;
  }
  select {
    width: 100%;
  }
}

.text-input {
  font-size: 24px;
  background-color: inherit;
  border: 0;
  width: 100%;
  color: #7BAABE;
  &:focus {
    border: 0;
    outline: none;
  }
}

.select-expanded {
  cursor: pointer;
  font-size: 18px;
  background-color: inherit;
  border: 0;
  color: $medium-grey;
  height: 120px;
  &:focus {
    border: 0;
    outline: none;
  }
  option {
    &:hover {
      color: $primary-color;
    }
  }
}

.col-sm-6 {
  padding: 0;
  text-align: left;
}


.ellipsis i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

.ellipsis i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.ellipsis i+i+i {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}


