/*
  bring the kids
  hopeless romance
  local culture
*/
@import
  '../../vendor/include-media',
  '../../vendor/animate',
  '../../utils/variables',
  '../../utils/mixins',
  '../../utils/functions',
  '../../utils/placeholders';

body {
  padding-top: 50px;
}

.jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include media('>tablet') {
    background-attachment: fixed;
  }

  img {
    margin-top: 100px;
  }

  h1 {
    color: white;
    font-family: $font-stack-homepage;
    font-weight: normal;
    font-size: 32px;
    text-shadow: 1px 1px 8px black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }

  h2 {
    color: white;
    font-family: $font-stack-homepage;
    font-weight: normal;
    font-size: 32px;
  }

  h3 {
    color: white;
    font-weight: normal;
  }
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
