{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{%block head%}
<title>{% trans "Tripalocal | About Us" %}</title>
<link href="{% static 'app/content/about_us.css' %}" rel="stylesheet">
{%endblock%}

{% block content %}
    <div class="row row-area">
        <div class="content-area container">
            <div class="left-nav-box">
                <p><a href="#">{% trans "About Tripalocal" %}</a></p>
                <p><a href="{{GEO_POSTFIX}}contactus">{% trans "Contact Tripalocal" %}</a></p>
                <p><a href="{{GEO_POSTFIX}}termsofservice">{% trans "Terms of Service" %}</a></p>
                <p><a href="{{GEO_POSTFIX}}privacypolicy">{% trans "Privacy Policy" %}</a></p>
                <p><a href="{{GEO_POSTFIX}}refundpolicy">{% trans "Traveller Refund Policy" %}</a></p>
            </div>

            <div class="right-content-box">
                <h1>{% trans "About Tripalocal" %}</h1>
                <p><img src="{% static 'app/img/aboutusImage.jpg' %}" alt="About us image" width="100%"></p>
                <p>{% trans "Based in Melbourne Australia, we are a team of passionate wanderlusts - our home is really in our bags. We are always seeking the most authentic local experiences wherever we go. There is no better way to travel than to step into the shoes of a local and appreciate it from their perspective. It is with this believe that Tripalocal was born." %}</p>
                <p>{% trans "Our mission is to bring travel back to its roots: a discovery of culture, people and their stories." %}</p>
                <p>{% trans "We hope to bring you on this journey with us. Go on, see it and experience it like a local!" %}</p>
                <div class="fixCenter support_about_us"></div>
            </div>
        </div>
    </div>
{%endblock%}
