{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{%block head%}
<title>{% trans "Tripalocal | Contact us" %}</title>
{%endblock%}

{% block content %}
    <div class="row row-area">
        <div class="content-area container">
            <div class="left-nav-box">
                <p><a href="{{GEO_POSTFIX}}aboutus">{% trans "About Tripalocal" %}</a></p>
                <p><a href="#">{% trans "Contact Tripalocal" %}</a></p>
                <p><a href="{{GEO_POSTFIX}}termsofservice">{% trans "Terms of Service" %}</a></p>
                <p><a href="{{GEO_POSTFIX}}privacypolicy">{% trans "Privacy Policy" %}</a></p>
                <p><a href="{{GEO_POSTFIX}}refundpolicy">{% trans "Traveller Refund Policy" %}</a></p>
            </div>

            <div class="right-content-box">
                <h1>{% trans "Contact Tripalocal" %}</h1>
                <p>{% trans "If you have any queries, feedback or requests, please feel free to contact us at anytime!" %}</p>
                <p>{% trans "Email:" %}<a href="mailto:enquiries@tripalocal.com">enquiries@tripalocal.com</a></p>
                <p><a class="social-icon btn btn-default btn-lg" role="button" id="twitter" href="http://twitter.com/tripalocal" target="_blank"><span></span></a>
                    <a class="social-icon btn btn-default btn-lg" role="button" id="facebook" href="http://facebook.com/tripalocal" target="_blank"><span></span></a>
                    <a class="social-icon btn btn-default btn-lg" role="button" id="linkedin" href="http://www.linkedin.com/company/tripalocal" target="_blank"><span></span></a></p>
            </div>
        </div>
    </div>
{%endblock%}
