<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% load staticfiles %}
    {% load i18n %}

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link rel="icon" href="{% static 'app/img/favicon.ico'%}" />
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
    <link href="{% static 'app/content/main.css' %}" rel="stylesheet">
    {%if LANGUAGE == "zh-CN"%}
    <link href="{% static 'app/content/tripalocal_cn.css' %}" rel="stylesheet">
    {%else%}
    <link href="{% static 'app/content/tripalocal_en.css' %}" rel="stylesheet">
    {%endif%}
{#    <link href="{% static 'app/content/tripalocal_xs.css' %}" rel="stylesheet">#}

    {% if form %}
        {{ form.media }}
    {% endif %}

    {% block head %}
    <title> {{ title }} </title>
    {% endblock %}

    <style>
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        select::-ms-expand {
            display: none;
        }
    </style>

</head>

<body>
    <!-- Popup Modal -->
    <div class="modal fade" id="help-popup" tabindex="-1" role="dialog" aria-labelledby="help-popup">
        <div class="modal-dialog" role="document">
            <div class="modal-content help" style="background-image:url('{% static 'app/img/nightlight_web.jpg' %}')">
                <div id="popup-page-1">
                    <h1>{% trans "Do you need help planning your trip to Australia and New Zealand?" %}</h1>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6" style="float:left;">
                                  <button class="btn btn-secondary" id="help-no">{% trans "NO" %}</button>
                                </div>
                                <div class="col-xs-6" style="float:left;">
                                  <button class="btn btn-primary" id="help-yes">{% trans "YES" %}</button>
                                </div>
                            </div>
                            <div class="row">
                              <br>
                              <p>
                              {% trans "or check out some of our " %}
                              {%if LANGUAGE == "zh-CN"%}
                              <a id="multidaytrip-link" href="https://www.tripalocal.com/cn/multidaytrip/">
                              {%else%}
                              <a id="multidaytrip-link" href="https://www.tripalocal.com/multidaytrip/">
                              {%endif%}
                              {% trans "most popular trips" %}</a></p>
                            </div>
                        </div>
                    </div>
                    <a class="close-popup">{% trans "close" %}</a>
                </div>
                <div id="popup-page-2" hidden="true">
                    <h1>{% trans "Tell us about your trip" %}</h1>

                    <p>{% trans "and we will get back to you within 48 hours" %}<br>
                    {% trans "or check out some of our " %}
                    {%if LANGUAGE == "zh-CN"%}
                    <a id="multidaytrip-link" href="https://www.tripalocal.com/cn/multidaytrip/">
                    {%else%}
                    <a id="multidaytrip-link" href="https://www.tripalocal.com/multidaytrip/">
                    {%endif%}
                    {% trans "most popular trips" %}</a></p>
                    <form id="custom-trip-form" class="popup-form" action="/email_custom_trip" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" id="popup-form-details" rows="4"
                                      placeholder="{% trans 'Please tell us more details' %}"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="popup-form-email" placeholder="{% trans 'Email address' %}">
                        </div>
                        <div id="results"></div>
                        <button id="popup-send" class="btn btn-primary popup-form-submit" type="submit" value="send">{% trans 'Send' %}</button>
                    </form>
                    <a class="close-popup">{% trans "close" %}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- End Modal -->


<!-- Header navbar -->
    <div class="navbar navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header navbar-default">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.tripalocal.com{{GEO_POSTFIX}}">
            {% if LANGUAGE == "zh-CN" %}
            <img alt="Tripalocal" src="{% static 'img/top_logo-cn.svg' %}" width="115" height="39">
            {% else %}
            <img alt="Tripalocal" src="{% static 'img/top_logo-en.svg' %}" width="115" height="39">
            {% endif %}
          </a>
        </div>

          <a type="button" id="language_switch_topbar" class="btn btn-clear navbar-btn navbar-right" style="min-width: 75px;"
          href="https://www.tripalocal.com{% if LANGUAGE == "zh-CN" %}{{ request.path|slice:"3:" }}{% else %}/cn{{ request.path }}{% endif %}">
          {% if LANGUAGE == "zh-CN" %}English{% else %}中文{% endif %}
          </a>

          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><div class="navbar-btn profile-navbar" id="id_profile_div"
                       style="background:url({% if user.socialaccount_set.all %}
                           http://graph.facebook.com/{{ user.socialaccount_set.all.0.uid }}/picture?width=40&height=40
                       {% elif user.registereduser.image_url and user.registereduser.image_url.strip %}
                           {{ MEDIA_URL }}{{ user.registereduser.image_url }}
                       {% else %}
                           {{ MEDIA_URL }}img/profile_default.jpg
                       {% endif %});
                      background-size: cover; background-repeat: no-repeat; background-position:center; margin-top: 8px; margin-bottom: 8px;"><a style="display:block; width:34px; height:34px; border-radius:100px;"
                          href="{{ GEO_POSTFIX }}myprofile"></a>
                  </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:transparent;">{{ user.first_name }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ GEO_POSTFIX }}mylisting">{% trans 'My Listing' %}</a></li>
                <li><a href="{{ GEO_POSTFIX }}myreservation">{% trans 'My Reservations' %}</a></li>
                <li role="separator" class="divider"></li>
                <li style="position: relative; text-align: center;"><span class="bus-icon"></span><a href="{{ GEO_POSTFIX }}mytrip">{% trans 'My Trips' %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ GEO_POSTFIX }}myprofile">{% trans 'Edit Profile' %}</a></li>
                <li><a href="{{ GEO_POSTFIX }}accounts/password/change/">{% trans 'Account Settings' %}</a></li>
                <li><a href="{{ GEO_POSTFIX }}accounts/logout/">{% trans "Logout" %}</a></li>
              </ul>
            </li>
          </ul>

          {% else %}
          <a type="button" class="btn btn-secondary navbar-btn navbar-right"
             href="{{ GEO_POSTFIX }}accounts/login/?next={{ request.path }}">{% trans "Login" %}
          </a>
          <a type="button" class="btn btn-secondary navbar-btn navbar-right"
             href="{{ GEO_POSTFIX }}accounts/signup/?next={{ request.path }}">{% trans "Sign up" %}
          </a>
          {% endif %}

        <div class="collapse navbar-collapse" id="main-menu-collapse">
          <ul class="nav navbar-nav main-menu">
            <li><a href="{{ GEO_POSTFIX }}s/Melbourne/">{% trans 'Travel with Locals' %}</a></li>
            <li><a href="{{ GEO_POSTFIX }}product/Melbourne/">{% trans 'Local Experiences' %}</a></li>
            <li><a href="{{ GEO_POSTFIX }}multidaytrip/">{% trans 'Itineraries' %}</a></li>
            <li class="visible-xs"><a href="{{ GEO_POSTFIX }}myprofile">{% trans 'My Profile' %}</a></li>
            <li class="visible-xs"><a href="https://www.tripalocal.com{% if LANGUAGE == 'zh-CN' %}{{ request.path|slice:'3:' }}{% else %}/cn{{ request.path }}{% endif %}" style="border: 0;">{% if LANGUAGE == "zh-CN" %}English{% else %}中文{% endif %}</a></li>
          </ul>
        </div>

      </div>
    </div>


    {% block content %}{% endblock %}

    <div id="footer_div" class="footer">
        <div class="container">
            <div class="col-sm-6">
                <ul class="footer-head">
                    <li>
                        <select id="id_language_select" class="form-control">
                            <option id="id_language_cn" value="cn">中文</option>
                            <option id="id_language_en" value="en">English</option>
                        </select>
                    </li>
                    <li class="footer-logo"></li>
                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <ul class="footer-col company">
                    <li><h5>{% trans "Company" %}</h5></li>
                    <li><a href="{{ GEO_POSTFIX }}aboutus">{% trans "About Us" %}</a></li>
                    <li><a href="{{ GEO_POSTFIX }}contactus">{% trans "Contact Us" %}</a></li>
                    <li><a href="{{ GEO_POSTFIX }}termsofservice">{% trans "Terms of Service" %}</a></li>
                    <li><a href="{{ GEO_POSTFIX }}privacypolicy">{% trans "Privacy Policy" %}</a></li>
                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <ul class="footer-col travel">
                    <li><h5>{% trans "Travel" %}</h5></li>
                    <li><a href="{{ GEO_POSTFIX }}refundpolicy">{% trans "Refund Policy" %}</a></li>
                </ul>
            </div>

            <div class="col-sm-2">
                <ul class="footer-col social">
                    <li><h5>{% trans "Social" %}</h5></li>
                    <li><a href="https://www.facebook.com/tripalocal">{% trans "Facebook" %}</a></li>
                    <li><a href="https://www.twitter.com/tripalocal">{% trans "Twitter" %}</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-line">
            <p id="copyright"> &#169; Tripalocal Pty. Ltd. ABN 45 600 546 549</p>
            <p id="copyright">滇ICP备15003066号-3</p>
        </div>
    </div>

    <div class="bottom-qr" style="background-image: url({{MEDIA_URL}}img/wechat_qr.jpg);">
    </div>

    {% block scripts %}{% endblock %}
<script language="javascript" type="text/javascript">
    function create_post(email, message) {
        $.ajax({
            url: "email_custom_trip",
            type: "POST",
            dataType: "json",
            data: {
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']")[0].value,
                message: message,
                email: email
            },

            success: function (json) {
                $('#popup-form-details').val('');
                $('#popup-form-email').val('');
                $('#results').html("<br><p class='popup-result'>{% trans 'Sent!' %}</p>");
                $.cookie("closePopup", 3, {path: '/'});
            },

            error: function (xhr, errmsg, err) {
                $('#results').html("<br><p class='popup-result'>{% trans 'Error sending, please' %} <span class='try-again'>{% trans 'try again' %}</span></p>");
                $('.try-again').click( function() {
                  $('#results').html("<br>");
                  $('#popup-send').show();
                });
            }
        });
    }

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    $(document).ready(function () {
      $("a[href*='" + location.pathname + "']").addClass("current");
        var popupTimmer;

        if ($(window).width() > 520) {
            var nClose = parseInt($.cookie("closePopup"), 10);

            if (!nClose || nClose < 3) {
                if ($(location).attr('pathname').match('^/$') || $(location).attr('pathname').match('^/cn/$') ||
                    $(location).attr('pathname').match('^/s/') || $(location).attr('pathname').match('^/experience/')) {
                  popupTimmer = setTimeout(function () {
                      $('#help-popup').modal('show');
                      mixpanel.track("saw popup01");
                  }, 15000); // milliseconds
                }

            }

            $('#help-popup').on('hidden.bs.modal', function () {
                mixpanel.track("closed popup01");
            });

            $('.close-popup').click(function () {
                clearTimeout(popupTimmer);
                if (nClose) {
                    $.cookie("closePopup", nClose + 1, {path: '/'});
                } else {
                    $.cookie("closePopup", 1, {path: '/'});
                }

                $('#help-popup').modal('hide');
                mixpanel.track("closed popup01");
            });

            $('#help-no').click(function () {
                clearTimeout(popupTimmer);
                if (nClose) {
                    $.cookie("closePopup", nClose + 1, {path: '/'});
                } else {
                    $.cookie("closePopup", 1, {path: '/'});
                }

                $('#help-popup').modal('hide');
                mixpanel.track("selected No from popup01");
            });

            $('#help-yes').click(function () {
                $('#popup-page-1').hide();
                $('#popup-page-2').show();
                mixpanel.track("selected Yes from popup01");
            });

            $('#multidaytrip-link').click(function() {
              mixpanel.track("checked out designed multi-day from pop up box");
            });


            $('#custom-trip-form').on('submit', function (event) {
                event.preventDefault();

                $('#results').empty();
                email = $('#popup-form-email').val();
                message = $('#popup-form-details').val();

                if (!message || !email) {
                    $('#results').html("<p class='popup-result'>{% trans 'Please fill in all fields.' %}</p>");
                } else {
                    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (regex.test(email)) {
                        $('#popup-send').hide();
                        create_post(email, message);
                    } else {
                        $('#popup-send').hide();
                        $('#results').html("<br><p class='popup-result'>{% trans 'Invalid email, please' %} <span class='try-again'>{% trans 'try again' %}</span></p>");
                        $('.try-again').click( function() {
                          $('#results').html("<br>");
                          $('#popup-form-email').val('');
                          $('#popup-send').show();
                        });
                    }
                }
            });



        }

        var des_url = window.location.pathname;
        if (des_url.indexOf("/cn") > -1) {
            $('#id_language_select').val('cn');
            $('#id_language_top').attr("href", "https://www.tripalocal.com" + des_url.substring(3));
        }
        else if (window.location.href.indexOf(".cn") > -1) {
            $('#id_language_select').val('cn');
            $('#id_language_top').attr("href", "https://www.tripalocal.com" + des_url);
        }
        else {
            $('#id_language_select').val('en');
            $('#id_language_top').attr("href", "https://www.tripalocal.com/cn" + des_url);
        }

        $('#id_language_select').change(function () {
            var des_url = window.location.pathname;

            if ($(this).val() == "cn") {
                mixpanel.track("switched language from footer");
                window.location.href = "https://www.tripalocal.com/cn" + des_url;
            } else {
                mixpanel.track("switched language from footer_cn");
                if (window.location.href.indexOf(".cn") > -1) {
                    window.location.href = "https://www.tripalocal.com" + des_url;
                }
                else {
                    window.location.href = "https://www.tripalocal.com" + des_url.substring(3);
                }
            }
        });

        $('#id_profile_div').click(function () {
            hide = $('#id_menu').attr('hide');
            if (hide == 'true') {
                $('#id_menu').attr('style', '');
                $('#id_menu').attr('hide', 'false');
            }
            else {
                $('#id_menu').attr('style', 'display:none;');
                $('#id_menu').attr('hide', 'true');
            }
        });

        var utmId = getParameterByName('utm');
        if (utmId) {
            mixpanel.track("utm"+utmId);
        }
    });

    </script>
</body>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57471014-1', 'auto');
  ga('send', 'pageview');
</script>

    <script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/54ffb717718339d72a00001f.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>

<!-- start Mixpanel -->
<script type="text/javascript">
(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);

var productionHost = 'www.tripalocal.';

var devToken = 'c2510512c6cb4c34b4b32bd32a0cf866';
var prodToken = 'f94e94414c9de0cc38874706d853c400';

if (window.location.hostname.toLowerCase().search(productionHost) < 0) {
    mixpanel.init(devToken);
} else {
    mixpanel.init(prodToken);
}

if ($("#user_email").val()) {
    mixpanel.identify($("#user_email").val());
}

</script>
<!-- end Mixpanel -->

<!-- start baidu statistics -->
<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?454f88ea11e1916438f7d2c491e3c401";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- end baidu statistics -->

{%if LANGUAGE != "zh-CN"%}
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){
z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2owMWFLtY3TJf5PtKGOcaVcaxAMrtupF';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
{%endif%}

</html>
