{% block head %}
    {% load staticfiles %}
    {% load i18n %}
    <link href="{% static 'app/content/signup_login.css' %}" rel="stylesheet">    
{% endblock %}

{% if user.is_authenticated %}
<!--
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

</form>-->
<ul class="menu">
    <li><a id="id_language_top" class="menu-language">{%if LANGUAGE != "zh-CN"%}中文{%else%}English{%endif%}</a></li>
    <li><a href="{{GEO_POSTFIX}}accounts/logout/">{% trans "Log out" %}</a></li>
    <li>{{ user.first_name }}</li>
    <li>
        <div class="profile-xs" id="id_profile_div">
            <!--<a href="/myprofile"></a>-->
            <img src="{%if user.socialaccount_set.all%}http://graph.facebook.com/{% for u in user.socialaccount_set.all %}{% if forloop.first %}{{ u.uid }}{% endif %}{% endfor %}/picture{% elif user.registereduser.image_url and user.registereduser.image_url.strip%}{{ MEDIA_URL }}{{user.registereduser.image_url}}{%else%} {{ MEDIA_URL }}profile_default.jpg {%endif%}"/>
        </div>
    </li>    
</ul>

<div class = "menu-host" id="id_menu" hide="true" style="display:none;">
    <div class = "menuhost-top">
        <ul>
            <li><a href="{{GEO_POSTFIX}}mylisting">{% trans "My Listing" %}</a></li>
            <li><a href="{{GEO_POSTFIX}}myreservation">{% trans "My Reservations" %}</a></li>
        </ul>
    </div>
    <div class = "menuhost-middle">
        <ul>
            <li><span class = "menutrip-logo"></span></li>
            <li><a href="{{GEO_POSTFIX}}mytrip">{% trans "My Trip" %}</a></li>
        </ul>
    </div>
    <div class = "menuhost-bottom">
        <ul>
            <li><a href="{{GEO_POSTFIX}}myprofile">{% trans "Edit Profile" %}</a></li>
            <li><a href="{{GEO_POSTFIX}}accounts/password/change/">{% trans "Account Settings" %}</a></li>
            <li><a href="{{GEO_POSTFIX}}accounts/logout/">{% trans "Log out" %}</a></li>
        </ul>
    </div>
 </div>
{% else %}

<ul class="menu">
    <li><a id="id_language_top" class="home-language">{%if LANGUAGE != "zh-CN"%}中文{%else%}English{%endif%}</a></li>
    <li><a href="{{GEO_POSTFIX}}accounts/signup/?next={{ request.path }}">{% trans "Sign up" %}</a></li>
    <li><a href="{{GEO_POSTFIX}}accounts/login/?next={{ request.path }}">{% trans "Log in" %}</a></li> <!---->
</ul>

{% endif %}