{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
	<title>{% trans "My Listing" %}</title>
    <link href="{% static 'app/content/mylisting.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="tab_area">
        <div class="container">
            <div class="tab_item">
                <a href="#" class="firstTabItem" id="active-tab">{% trans "My Listing" %}</a>
                <a href="{{GEO_POSTFIX}}mytrip">{% trans "My Trip" %}</a>
                <a href="{{GEO_POSTFIX}}myprofile">{% trans "My Profile" %}</a>
                <a href="{{GEO_POSTFIX}}accounts/password/change/">{% trans "My Account" %}</a>
            </div>
        </div>
    </div>

	<div class="row row-area">
    	<div class="content-area container">
    		<ul class="leftsubMenu">
                <li>
                    <a href="#" id="active-tab">{% trans "Managing Listing" %}</a>
                </li>
                <li>
                    <a href="{{GEO_POSTFIX}}myreservation">{% trans "My Reservation" %}</a>
                </li>
            </ul>

			<div class="rightInterface">
		        <div class="right-content-box-header">
                    <p>{% trans "All listings" %}</p>
                </div>
                <hr>
		        {% for experience in experiences %}
                <div class="listedItem edit-draft">
                    <div><img class="thumbnail" src="{{ MEDIA_URL }}thumbnails/experiences/experience{{experience.id}}_1.jpg"></div>
                    <div class="listing-status">
                        <p>{{experience.title}}</p>
                        {% if experience.status|title != "Listed" %}
                        <p id="not-pub">{% trans "Not Published" %}</p>
                        {% elif experience.status|title == "Listed" %}
                        <p id="published">{% trans "Published" %}</p>
                        {% endif %}
                    </div>
                    {% if experience.status|title != "Listed" %}
                    <a class="btn btn-primary btn-sm" role="button" id="edit-draft" href="{{GEO_POSTFIX}}manage-listing-continue/{{ experience.id }}">{% trans "Edit draft" %}</a>
                    {% elif experience.status|title == "Listed" %}
                    <a class="btn btn-primary btn-sm" role="button" id="update-listing" href="{{GEO_POSTFIX}}manage-listing-continue/{{ experience.id }}">{% trans "Update listing" %}</a>
                    {% endif %}

                </div>
                {% empty %}
                <p style="width:400px;">{% trans "You have not hosted any experience." %}</p>
		    	{% endfor %}
    		</div>
    	</div>
    </div>
{% endblock %}
