{% extends "app/layout.html" %}
{% load staticfiles %}

{% block head %}
	<title>My Listing</title>
{% endblock %}

{% block content %}

    <div class="tab_area">
        <div class="fixCenter">
            <div class="tab_item">
                <a href="#" class="firstTabItem" id="active-tab">My Listing</a>
                <a href="/mytrip">My Trip</a>
                <a href="/myprofile">My Profile</a>
                <a href="/accounts/password/change/">My Account</a>
            </div>
        </div>
    </div>

	<div class="row row-area">
    	<div class="content-area fixCenter">
    		<div class="left-nav-box">
    		    <p>
                    <a href="#" id="active-tab">Managing Listing</a>
                </p>
                <p>
                    <a href="/myreservation">My Reservation</a>
                </p>
            </div>

			<div class="right-content-box">
		        <div class="right-content-box-header">
                    <p>All listings</p>
                </div>
                <hr>
		        {% for experience in experiences %}
                <div class="listedItem edit-draft">
                    <div><img class="thumbnail" src="{{ MEDIA_URL }}thumbnails/experiences/experience{{experience.id}}_1.jpg"></div>
                    <div class="listing-status">
                        <p>{{experience.title}}</p>
                        {% if experience.status|title != "Listed" %}
                        <p id="not-pub">Not Published</p>
                        {% elif experience.status|title == "Listed" %}
                        <p id="published">Published</p>
                        {% endif %}
                    </div>
                    {% if experience.status|title != "Listed" %}
                        <a class="btn btn-primary btn-sm" role="button" id="edit-draft"
                           href="{% url 'manage_listing_continue' exp_id=experience.id %}">Edit draft</a>
                    {% elif experience.status|title == "Listed" %}
                        <a class="btn btn-primary btn-sm" role="button" id="update-listing"
                           href="{% url 'manage_listing_continue' exp_id=experience.id %}">Update listing</a>
                    {% endif %}
                </div>
                {% empty %}
                <p style="width:400px;">You have not hosted any experience.</p> 
		    	{% endfor %}
    		</div>
    	</div>
    </div>
{% endblock %}