{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
	<title>{% trans "My Profile" %}</title>
    <link href="{% static 'app/content/myprofile.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="tab_area">
        <div class="container">
            <div class="tab_item">
                <a href="{{GEO_POSTFIX}}mylisting">{% trans "My Listing" %}</a>
                <a href="{{GEO_POSTFIX}}mytrip">{% trans "My Trip" %}</a>
                <a href="#" id="active-tab">{% trans "My Profile" %}</a>
                <a href="{{GEO_POSTFIX}}accounts/password/change/">{% trans "My Account" %}</a>
            </div>
        </div>
    </div>

	<div class="row row-area">
    	<div class="content-area container">
    		<div class="leftsubMenu">
    			<p>{% trans "My Profile" %}</p>
    		</div>


			    <div class="rightInterface">
						<h2 id="right_box">{% trans "Basic" %}</h2>
						<hr>
						<form class="form-horizontal" id="my_profile_form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
								    <div class="form-group">
											<div class="col-sm-6">
												<div class="profile-lg void-profile" style="background:url({{MEDIA_URL}}{{image_url|urlencode}}); background-size: cover; background-repeat: no-repeat; background-position:center;"></div>
											</div>
											<div class="col-sm-6">
												<p class="text_grey">{% blocktrans %}Clear frontal face photos are an important way for hosts and
																														guests to learn about each other. It's not much fun to host a
																														landscape! Please upload a photo that clearly shows your face.
																														Please make sure your image is under 1MB.{% endblocktrans %}
												</p>
												{%if form.files.image%}
												<input class="form-control" id="uploadImage_1" placeholder="{{form.files.image.name}}" class="uploadImage" disabled="disabled" />
												{%else%}
												<input class="form-control" id="uploadImage_1" placeholder="{% trans "No file chosen" %}" class="uploadImage" disabled="disabled" />
												{%endif%}
												<div class="fileUpload btn btn-primary">
														<img alt="" src="{% static 'app/img/camera.gif' %}"><span>{% trans "Choose File" %}</span>
														{{form.image}}
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-6">
												<p>{% trans "First Name" %}
													<img src="{{ MEDIA_URL }}icon/lock.jpg">
												</p>
												{{form.first_name}}
												<p class="text_grey">{% blocktrans %}This is only shared once you have a confirmed booking with
																														another Tripalocal user. We only display your initial in public.{% endblocktrans %}
												</p>
											</div>
											<div class="col-sm-6">
												<p>{% trans "Last Name" %}
														<img src="{{ MEDIA_URL }}icon/lock.jpg">
												</p>
												{{form.last_name}}
												<p class="text_grey">{% blocktrans %}This is only shared once you have a confirmed booking with
																														another Tripalocal user. We only display your initial in public.{% endblocktrans %}
												</p>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-6">
												<p>{% trans "Email Address" %}
														<img src="{{ MEDIA_URL }}icon/lock.jpg">
												</p>
												{{form.email}}
												<p class="text_grey">{% trans "Your email address will not be disclosed." %}
												</p>
											</div>
											<div class="col-sm-6">
												<p>{% trans "Local Mobile Number" %}</p>
												{{form.phone_number}}
												<p class="text_grey">{% trans "This information will be available to people who have booked your<br> experience." %}
												</p>
											</div>
										</div>

										<div class="form-group">
											<div class="col-sm-6">
												<p>{% trans "Bio" %}</p>
												{{form.bio}}
											</div>
											<div class="col-sm-6" style="padding-top: 30px;">
												<p class="text_grey">
												{% blocktrans %} Tripalocal is all about like minded people doing things together.
												Your profile will help people understand your style and personality.{% endblocktrans %}
												</p>
												<p class="text_grey">
												{% blocktrans %}It's like having friends all over the world to show you around, or
												vice versa. What type of people would you like to meet up with? {% endblocktrans %}
												</p>
											</div>
										</div>
                  	<input id="id_submit" type="submit" class="btn btn-primary btn-sm" value="{% trans "Save" %}" />
									</form>
								</div>

						</div>
</div>
{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">

    $(document).ready(function(){
        $("#id_first_name").attr("disabled","disabled");
        $("#id_last_name").attr("disabled","disabled");
        $("#id_email").attr("disabled","disabled");
        //$("#id_image").attr("class","btn btn-primary btn-sm button-position");
        $("#id_image").attr("class", "upload");

        $("#id_submit").bind("click", function(e){
            e.preventDefault();
            var input, file;
            var valid = true;

            if (window.FileReader) {
                input = document.getElementById('id_image');
                if (input && input.files && input.files[0])
                {
                    file = input.files[0];
                    if(file.size > 1048576)
                    {
                        valid = false;
                    }
                    str = file.name.split(".");
                    if(['jpg', 'jpeg', 'png', 'bmp'].indexOf(str[str.length-1]) < 0)
                    {
                        valid = false;
                    }
                }
            }

            if(valid)
            {
                $("form").submit();
            }
        })
    })

    $("#id_image").change(function(){
        string = $("#id_image").val();
        index=-1;
        index = string.lastIndexOf("\\");
        if(index==-1)
        {
            index = string.lastIndexOf("/");
        }

        $("#uploadImage_1").val(string.substring(index+1));
    })
</script>
{% endblock %}
