{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
	<title>{% trans "My Profile" %}</title>
    <link href="{% static 'app/content/myprofile.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="tab_area">
        <div class="container">
            <div class="tab_item">
                <a href="{{GEO_POSTFIX}}mylisting">{% trans "My Listing" %}</a>
                <a href="{{GEO_POSTFIX}}mytrip">{% trans "My Trip" %}</a>
                <a href="#" id="active-tab">{% trans "My Profile" %}</a>
                <a href="{{GEO_POSTFIX}}accounts/password/change/">{% trans "My Account" %}</a>
            </div>
        </div>
    </div>

	<div class="row row-area">
    	<div class="content-area container">
    		<div class="leftsubMenu">
    			<p>{% trans "My Profile" %}</p>
    		</div>

            <form id="my_profile_form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
			    <div class="rightInterface">
		            <p id="right_box">{% trans "Basic" %}</p>
                    <hr>
                    <table>
                        <tr>
                            <td>
          	                    <div class="profile-lg void-profile">
                                    <img src="{{MEDIA_URL}}{{image_url}}" height="200px">
                                </div>
                            </td>
                            <td>
          	                    <div class="text_grey text-position">{% blocktrans %}Clear frontal face photos are an important way for hosts and<br>
                                                                    guests to learn about each other. It's not much fun to host a <br>
                                                                    landscape! Please upload a photo that clearly shows your face.<br>
                                                                    Please make sure your image is under 1MB.{% endblocktrans %}
                                </div>
                                {%if form.files.image%}
                                <input class="form-control" id="uploadImage_1" placeholder="{{form.files.image.name}}" class="uploadImage" disabled="disabled" />
                                {%else%}
                                <input class="form-control" id="uploadImage_1" placeholder="{% trans "No file chosen" %}" class="uploadImage" disabled="disabled" />
                                {%endif%}
                                <div class="fileUpload btn btn-primary">
                                    <img alt="" src="{% static 'app/img/camera.gif' %}"><span>{% trans "Choose File" %}</span>
                                    {{form.image}}
                                </div>
                                <!--<a class="btn btn-primary btn-sm button-position" role="button">Choose File</a>
                                <p class="no-file">No File Selected</p>-->
                            </td>
                        </tr>
                        {% if LANGUAGE != "zh-CN" %}
                        <tr>
                            <td>
                                <div>
                                    <p>{% trans "First Name" %}</p>
                                    <div class="form-group">
                                        {{form.first_name}}
        	                        </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>{% trans "Last Name" %}
                                        <img src="{{ MEDIA_URL }}icon/lock.jpg">
                                    </p>
                                    <div class="form-group">
                                        {{form.last_name}}
        	                        </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text_grey blank-text">{% blocktrans %}This is only shared once you have a confirmed booking with <br>
                                                                    another Tripalocal user. We only display your initial in public.{% endblocktrans %}
                                </div>
                            </td>
                            <td>
                                <div class="text_grey hinttext-position">{% blocktrans %}This is only shared once you have a confirmed booking with <br>
                                                                    another Tripalocal user. We only display your initial in public.{% endblocktrans %}
                                </div>
                            </td>
                        </tr>
                        {%else%}
                        <tr>
                            <td>
                                <div>
                                    <p>{% trans "Last Name" %}
                                        <img src="{{ MEDIA_URL }}icon/lock.jpg">
                                    </p>
                                    <div class="form-group">
                                        {{form.last_name}}
        	                        </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>{% trans "First Name" %}</p>
                                    <div class="form-group">
                                        {{form.first_name}}
        	                        </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text_grey hinttext-position">{% blocktrans %}This is only shared once you have a confirmed booking with <br>
                                                                    another Tripalocal user. We only display your initial in public.{% endblocktrans %}
                                </div>
                            </td>
                            <td>
                                <div class="text_grey blank-text">{% blocktrans %}This is only shared once you have a confirmed booking with <br>
                                                                    another Tripalocal user. We only display your initial in public.{% endblocktrans %}
                                </div>
                            </td>
                        </tr>
                        {%endif%}
                        <tr>
                            <td>
                                <div>
                                    <p>{% trans "Email Address" %}
                                        <img src="{{ MEDIA_URL }}icon/lock.jpg">
                                    </p>
                                </div>
                                <div class="form-group">
                                    {{form.email}}
        	                    </div>
                                <div class="text_grey hinttext-position">{% trans "Your email address will not be disclosed." %}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <p>{% trans "Local Mobile Number" %}
                                        <img src="{{ MEDIA_URL }}icon/lock.jpg">
                                    </p>
                                </div>
                                <div class="form-group">
          		                    {{form.phone_number}}
        	                    </div>
                                <div class="text_grey hinttext-position">{% trans "This information will be available to people who have booked your<br> experience." %}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
        	                    <p>{% trans "Bio" %}</p>
                                {{form.bio}}
                            </td>
                            <td>
                                <div class="bio-text-position">
                                    <div class="text_grey bio-text-position1">
        	                        {% blocktrans %} Tripalocal is all about like minded people doing things together.<br>
                                    Your profile will help people understand your style and personal-<br>
                                    ity.{% endblocktrans %}
                                    </div>
                                    <div class="text_grey bio-text-position2">
                                    {% blocktrans %}It's like having friends all over the world to show you around, or<br>
                                    vice versa. What type of people would you like to meet up with? {% endblocktrans %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p></p>
                    <input id="id_submit" type="submit" class="btn btn-primary btn-sm" value="{% trans "Save" %}" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script charset="utf-8" type="text/javascript">

    $(document).ready(function(){
        $("#id_first_name").attr("disabled","disabled");
        $("#id_last_name").attr("disabled","disabled");
        $("#id_email").attr("disabled","disabled");
        //$("#id_image").attr("class","btn btn-primary btn-sm button-position");
        $("#id_image").attr("class", "upload");

        $("#id_submit").bind("click", function(e){
            e.preventDefault();
            var input, file;
            var valid = true;

            if (window.FileReader) {
                input = document.getElementById('id_image');
                if (input && input.files && input.files[0])
                {
                    file = input.files[0];
                    if(file.size > 1048576)
                    {
                        valid = false;
                    }
                    str = file.name.split(".");
                    if(['jpg', 'jpeg', 'png', 'bmp'].indexOf(str[str.length-1]) < 0)
                    {
                        valid = false;
                    }
                }
            }

            if(valid)
            {
                $("form").submit();
            }
        })
    })

    $("#id_image").change(function(){
        string = $("#id_image").val();
        index=-1;
        index = string.lastIndexOf("\\");
        if(index==-1)
        {
            index = string.lastIndexOf("/");
        }

        $("#uploadImage_1").val(string.substring(index+1));
    })
</script>
{% endblock %}
