{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
	<title>{% trans "My Reservations" %}</title>
    <link href="{% static 'app/content/myreservation.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="tab_area">
        <div class="fixCenter">
            <div class="tab_item">
                <a href="#" class="firstTabItem" id="active-tab">{% trans "My Listing" %}</a>
                <a href="/mytrip">{% trans "My Trip" %}</a>
                <a href="/myprofile">{% trans "My Profile" %}</a>
                <a href="/accounts/password/change/">{% trans "My Account" %}</a>
            </div>
        </div>
    </div>

	<div class="row row-area">
    	<div class="content-area fixCenter">
    		<div class="left-nav-box">
    		    <p>
                    <a href="/mylisting">{% trans "Managing Listing" %}</a>
                </p>
                <p>
                    <a href="#" id="active-tab">{% trans "My Reservation" %}</a>
                </p>
            </div>

			<div class="right-content-box" style="padding:0px;">
		        <div class="right-content-box-header">
                    <p class="right-content-box-heading">{% trans "My Reservation" %}</p>
                </div>

		        {% for reservation in current_reservations %}
                <div class="listedItem flexHeight">
                    <div class="line">
                        <div class="icon-group">
                            <div id="date">
                                <div class="icon"></div>
                                <p>{{reservation.booking_datetime|date:'d-M-Y'}}</p>
                            </div>
                        </div>
                        <div class="icon-group">
                            <div id="time">
                                <div class="icon"></div>
                                <p>{{reservation.booking_datetime|date:'H:i'}}</p>
                            </div>
                        </div>
                        <div class="icon-group">
                            <div id="people">
                                <div class="icon"></div>
                                <p>{{reservation.booking_guest_number}}</p>
                            </div>
                        </div>

                        <img class="thumbnail" src="{{ MEDIA_URL }}thumbnails/experiences/experience{{reservation.experience_id}}_1.jpg">
                        <div class="reservation-info">
                            {% if reservation.booking_status|title == "Accepted" %}
                            <div class="reservation-status" id="booked">
                                <p>{% trans "Booked" %}</p>
                            </div>
                            {% elif reservation.booking_status|title == "Paid" %}
                            <div>
                                <p class="reservation-status" id="pending">{% trans "Pending" %}</p>
                                <p class="pending-reminder">{% trans "-Please check your email" %}</p>
                            </div>
                            {% elif reservation.booking_status|title == "Rejected" %}
                            <div class="reservation-status" id="canceled">
                                <p>{% trans "Cancelled" %}</p>
                            </div>
                            {% endif %}
                            <p class="reservation-info-position" style="max-width:200px;">
                                <span id="highlighted">{{reservation.experience_title}}</span><br>
                                {% trans "with" %} <span id="highlighted">{{reservation.guest_first_name|title}} {{reservation.guest_last_name|title|slice:":1"}}.</span><span> ({{reservation.guest_phone_number}})</span><br>
                                {% trans "from" %} {{reservation.payment_city}}, {{reservation.payment_country}}
                            </p>
                        </div>
                        <div class="add-note" style="display:none;">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{% trans "+ Add a note" %}">
                            </div>
                        </div>
                    </div>
                </div> 
		    	{% endfor %}
    		</div>

            <div class="right-content-box" id="completed-reservation">
		        <div class="right-content-box-header">
                    <p class="right-content-box-heading">{% trans "Past Reservation" %}</p>
                </div>

		        {% for reservation in past_reservations %}
                <div class="listedItem flexHeight">
                    <div class="line">
                        <div class="icon-group">
                            <div id="date">
                                <div class="icon"></div>
                                <p>{{reservation.booking_datetime|date:'d-M-Y'}}</p>
                            </div>
                        </div>
                        <div class="icon-group">
                            <div id="time">
                                <div class="icon"></div>
                                <p>{{reservation.booking_datetime|date:'H:i'}}</p>
                            </div>
                        </div>
                        <div class="icon-group">
                            <div id="people">
                                <div class="icon"></div>
                                <p>{{reservation.booking_guest_number}}</p>
                            </div>
                        </div>

                        <img class="thumbnail" src="{{ MEDIA_URL }}thumbnails/experiences/experience{{reservation.experience_id}}_1.jpg">
                        <div class="reservation-info">
                            {% if reservation.booking_status|title == "Accepted" %}
                            <div class="reservation-status" id="completed">
                                <p>{% trans "Completed" %}</p>
                            </div>
                            {% else %}
                            <div class="reservation-status" id="canceled">
                                <p>{% trans "Cancelled" %}</p>
                            </div>
                            {% endif %}
                        
                            <p class="reservation-info-position">
                                <span id="highlighted">{{reservation.experience_title}}</span></br>
                                {% trans "with" %} 
                                <span id="highlighted">{{reservation.guest_first_name|title}} {{reservation.guest_last_name|title|slice:":1"}}.</span>
                                {% trans "in" %} {{reservation.experience_city}}
                            </p>
                        </div>
                    </div>
                </div> 
		    	{% endfor %}
    		</div>
    	</div>
    </div>
{% endblock %}