{% extends "app/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
	<title>{% trans "My Trip" %}</title>
    <link href="{% static 'app/content/mytrip.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="tab_area">
        <div class="container">
            <div class="tab_item">
                <a href="{{GEO_POSTFIX}}mylisting">{% trans "My Listing" %}</a>
                <a href="#" id="active-tab">{% trans "My Trip" %}</a>
                <a href="{{GEO_POSTFIX}}myprofile">{% trans "My Profile" %}</a>
                <a href="{{GEO_POSTFIX}}accounts/password/change/">{% trans "My Account" %}</a>
            </div>
        </div>
    </div>

	<div class="row row-area">
    	<div class="content-area container">
    		<div class="leftsubMenu">
    			<p>{% trans "My Trip" %}</p>    
    		</div>

			<div class="rightInterface">
		        <p id="right_box">{% trans "My Trip" %}</p>

		        <hr><!--Initial Linebreak for trips page TAKE OUT IF NO BOOKING-->
		        <!-- FIRST DATE -->
		        {% for bookings_on_date in bookings_all %}
			        <!-- IF NOT firstIndex: <div style="margin-top:15px;"></div> -->
			        {% for booking in bookings_on_date %}
				        <table>
				        	<tbody>
				          		<tr>
                                    <div style="margin-top:15px;">
				          			    <td>
				            			    <div id="date" style="margin-left:28px; margin-right:0px; color:#858585;"><div class="icon" style="margin-left:22px;"></div>{{booking.datetime|date:'d-M-Y'}}<!--local date--></div>
				            		    </td>
				            		    <td>
				            			    <div id="time" style="margin-left:28px; color:#858585;"><div class="icon" style="margin-left:5px;"></div>{{booking.datetime|date:'H:i'}}<!--local time of event--></div>
				            		    </td> 
				            		    <td>
				             			    <div id="people" style="margin-left:28px; margin-right:28px; color:#858585;"><div class="icon" style="margin-left:-10px;"></div>{{booking.guest_number}}<!--number of tickets--></div>
				            		    </td>
				            		    <td>
				              			    <div id="img1"><img src="{{ MEDIA_URL }}thumbnails/experiences/experience{{booking.experience.id}}_1.jpg" width="100" height="60"></div><!--link to photo-->
				            		    </td>
				            		    <td>
				            			    <div>
                                                {% if booking.status|lower == "accepted" %}
					               			    <div class="confirm"><div style="margin-left:5px;">{% trans "Confirmed" %}</div></div>
                                                {% elif booking.status|lower == "rejected" %}
                                                <div class="cancel"><div style="margin-left:5px;">{% trans "Cancelled" %}</div></div>
                                                {% else %}
                                                <div class="request"><div style="margin-left:5px;">{% trans "Requested" %}</div></div>
                                                {% endif %}
					               			    <div class="confirm_topic" style="color:#2BC7CD;margin-top:5px;"><a href="/experience/{{booking.experience.id}}">{{ booking.experience.title }}</a></div>
					               			    <div class="confirm_topic">{% trans "with " %}<span style="color:#2BC7CD;">{% for h in booking.experience.hosts.all %}{% if forloop.first %} {{ h.first_name }} {{ h.last_name|title|slice:":1" }}. <span style="color:black;">({{ h.registereduser.phone_number }})</span>{% endif %} {% endfor %}</span></div>
					            		    </div>
				        			    </td>
                                    </div>
				        		</tr>
				        	</tbody>
				     	</table>

				        <table>
					        <tbody>
					         	<tr>
                                    <div style="margin-top:15px;">
							            <td>
							               <div>
							             	    <div class="map_box" style="margin-top:15px; margin_bottom:15px;">
								                    {% trans "Meet up location: " %}{{booking.experience.meetup_spot}}
								                    <!--<button id="map_button" class="map_button" name="{{booking.experience.meetup_spot}} {{booking.experience.city}}"> {% trans "Map" %} </button>-->
							             	    </div>
							               </div>
							            </td>
                                    </div>
					        	</tr>
					        </tbody>
				    	</table>
			    	{% endfor %}
                {% empty %}
                <p>{% trans "You have not booked any trips." %}</p>   
		    	{% endfor %}
    		</div>
    	</div>
    </div>
{% endblock %}

{%block scripts %}
<script charset="utf-8" type="text/javascript">
/*
    $(".map_button").click(function(e){
        s = e.target.name.split(" ");
        url = "https://maps.google.com?q=";
        for(i=0;i<s.length;i++)
        {
            url += s[i] + "+";
        }
        url = url.substring(0,url.length-1);

        window.open(url);
    })
*/
</script>
{%endblock%}