{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{% static 'app/content/main.css' %}" rel="stylesheet">

    <title>微信支付安全支付</title>
</head>

<body>
<h2>产品名称：{{ product_title }}</h2>

<p>价格：{{ product_price }} 澳元</p>

<div style="text-align:center;">
    <button class="btn btn-primary" type="button" onclick="callpay()">微信支付</button>
</div>
</body>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">

    function jsApiCall(){
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            {
                "appId":"{{ appId }}",
                "timeStamp": "{{ timeStamp }}",
                "nonceStr": "{{ nonceStr }}",
                "package": "{{ package }}",
                "signType": "MD5",
                "paySign": "{{ paySign }}"
            },
            function(res){
                if (res.err_msg == "get_brand_wcpay_request：ok") {
                } else {
                    alert(res.err_msg);
                }
            }
        );
    }

    function callpay() {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ) {
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            } else if ( document.attachEvent ) {
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        } else {
            jsApiCall();
        }
    }
</script>
</html>