/*list-experience.html*/
.jumbotron-list-experience {background: url(/images/img/searchbar.jpg) no-repeat;background-size: cover; height: 320px; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC;}
.list-experience-header{height: 100%; text-align: center; vertical-align: middle;}
.jumbotron-list-experience .list-experience-header p{color: black; font-family: 'EXO', sans-serif;}
#list-an-experience{font-size: 48px; margin-top: 100px;}
#list-an-experience-detail{font-size: 26px; color: #5E5E5E;}
#list-an-experience{margin-top: 100px;}
.list-experience-body{background-color: #F7F7F7; height: 480px;}
.list-experience-body p{font-family: 'EXO', sans-serif; font-size: 23px; color: #5E5E5E; float: left;}
.lsit-experience-body input[type=text]{float: left;}
#experience-title{padding-top: 60px;}
#experience-title input[type=text]{width: 100%; max-width:500px; height: 60px; border-radius: 5px; border: 1px solid #CCCCCC; margin-left: 20px; padding-left: 30px; color: #5E5E5E; font-size: 20px;}
#experience-title input[value]{padding-left: 30px; color: #5E5E5E; font-size: 20px;}
#experience-title p{padding-left: 350px; padding-top: 15px;}
#experience-duration select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(/images/icon/dropdown-button.png) no-repeat;
	float: left;
	width: 100px;
	height: 60px;
	background-position: 60px 17px;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
	border-radius: 5px;
	padding: 5px;
	color: #5E5E5E;
	font-size: 20px;
	padding-left: 30px;
	margin-left: 20px;
}
#experience-duration option{color: #5E5E5E; font-size: 20px;}
#experience-duration p{padding-left: 237px; padding-top: 15px;}
#experience-city select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(/images/icon/dropdown-button.png) no-repeat;
	float: left;
	width: 240px;
	height: 60px;
	background-position: 195px 17px;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
	border-radius: 5px;
	padding: 5px;
	color: #5E5E5E;
	font-size: 20px;
	padding-left: 30px;
	margin-left: 20px;
}
#experience-city option{color: #5E5E5E; font-size: 20px;}
#experience-city p{padding-left: 470px; padding-top: 15px;}
#experience-city{margin-top: 20px;}
#notified-info{color: #A7A7A7; font-size: 14px; padding-left: 530px; padding-top: 15px;}
#continue-button{width: 100px; height: 45px; background-color: #3ECBCB; color: #FFF; padding: 5px; border-radius: 5px; margin-left: 530px; margin-top: 20px;border: 0px;}