/*list calendar*/
#today-button{color: #666666; padding-left:10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; background-color: #FFF; border: 1px solid #D3D3D3; border-radius: 2px; margin-left: 20px; margin-right: 10px; position: relative; top: 17px;}
#back-button{position: relative; top: 17px;}
#back-button img{height: 26px; border: 1px solid #D3D3D3; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
#forward-button{position: relative; top: 17px; left:-4px;}
#forward-button img{height: 26px; border: 1px solid #D3D3D3; border-top-right-radius: 3px; border-bottom-right-radius: 4px; border-left: none;}
.show-week-dates{display: inline; color: #666666; position: relative; top: 17px; margin-left: 10px;}
#time-by-hour{float: left; color: #CDCDCD; margin-top: 33px; margin-left: 20px;}
#time-by-hour p{margin-bottom: 4px; font-size: 12px;}
#calendar-table{float: left; padding-left: 10px;}
#calendar-table table{float: left;}
#calendar-table td{border: 1px solid #CDCDCD; width: 80px; height: 5px;  border-collapse: collapse; text-decoration: none;}
#calendar-col{display: inline;}
#before-today{padding-top: 20px; padding-left: 13px; color: #CDCDCD;}
#after-today{padding-top: 20px; padding-left: 13px; color: #666666;}
#today{padding-top: 20px; padding-left: 13px; color: #666666;}
.today td{background-color: #EBF4F1;}
.creating-slot-button{width: 100%; background-color: #FFF; height: 50px;}
.creating-slot-button p{padding-top: 10px; padding-bottom: 10px; padding-left: 20px;}
.creating-slot-button strong{color: #666666; padding-left: 10px; padding-right: 10px; position: relative; top: 2px;}
.creating-slot-button-active{background-color: #F7F7F7; padding:10px;}
#create-button{color: #666666; padding: 5px; border: 1px solid #CCCCCC; background-color: #FFF; float: right; padding-left: 10px; padding-right: 10px; margin-right: 35px; border-radius: 3px;}
.next-slot{background-color: #FFF; height: 70px; width: 100%;}
.next-slot p{padding-top: 15px; padding-bottom: 10px; padding-left: 22px;}
.next-slot span{float: left; padding-left: 10px; color: #666666;}
.next-slot img{float: left;padding-top: 10px;}
.close-tag{float: right; padding-right: 15px; margin-right:10px;}
#slot-from{float: left; padding-left: 10px; padding-top: 15px; width:200px; display:inline-block;}
#slot-from p{margin-bottom: 3px; color: #666666;}
#slot-from button{background-color: #FFF; border:1px solid #999999; border-radius: 3px;}
#slot-to{float: left; padding-top: 15px; padding-left: 10px; width:200px; display:inline-block;}
#slot-to p{margin-bottom: 3px; color: #666666;}
#slot-to button{background-color: #FFF; border:1px solid #999999; border-radius: 3px;}
#repeat-checkbox{float: left; padding-left: 30px; padding-top: 25px; padding-bottom: 20px;}
#repeat-checkbox label{font-weight: 400; padding-left: 20px;}
.unavailable-occpuied{background-color: #FB0F1C; width: 75px; float: left;}
.instant-occpuied{background-color: #FECB2F; width: 75px; float: left;}
.repeat-frequency{float: left;}
.repeat-every{float: left; padding-left: 15px;}
#repeat-every-week{float: left; padding-top: 5px;}
.repeats-on{float: left; padding-left: 35px;}
.repeats-on p{margin-bottom: 18px;}
.repeats-on label{font-weight: 400; float: left; margin-right: 10px;}
.repeats-on input[type=checkbox]{margin: 2px 3px 0 0;}
#starts-on{float: left; padding-left: 30px;}
#starts-on button{background-color: #FFF; border:1px solid #999999; border-radius: 3px;}
#ends{width:200px;}
#ends label{font-weight: 400; padding-left: 10px; position:relative; top: -3px;]}
#ends input[type=radio]{-webkit-appearance:none; border: 1px solid #999999; background-color: #FFF; width: 16px; height: 16px; border-radius: 8px; background: none;}
#ends input[type=radio]:checked{background: url(/images/icon/radio-button.png) no-repeat; background-position: 3.5px 3.5px;}
#on-radio{float:left; padding-top: 30px; padding-left: 40px;}
#on-radio label{font-weight: 400; padding-left: 10px;padding-right: 10px; position: relative; top: -3px;}
#on-radio button{background-color: #FFF; border:1px solid #999999; border-radius: 3px; width: 90px; position: relative; top: -5px;}
#on-radio input[type=radio]{-webkit-appearance:none; border: 1px solid #999999; background-color: #FFF; width: 16px; height: 16px; border-radius: 8px; background: none;}
#on-radio input[type=radio]:checked{background: url(/images/icon/radio-button.png) no-repeat; background-position: 3.5px 3.5px;}
.repeat-frequency select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(/images/icon/dropdown-button.png) no-repeat;
	width: 80px;
	background-position: 60px 3px;
	border: 1px solid #999999;
	background-color: #FFF;
	border-radius: 3px;
	padding: 5px;
}

.repeat-every select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(/images/icon/dropdown-button.png) no-repeat;
	width: 50px;
	background-position: 30px 3px;
	border: 1px solid #999999;
	background-color: #FFF;
	border-radius: 3px;
	padding: 5px;
}
	/*fix calendar background color*/
.fc-future{background-color: white;}