/*list_overview.html*/
#section-overview{height: 430px;}
#section-language{height: 130px;}
#section-translation{height: 200px;}
.title-instruction{float: right; color: #999999; padding-right: 40px; padding-top: 30px;}
.title-instruction input[type=text]{width: 350px; height: 30px;}
#characters-left{float: right;}
#language-bar{margin-left: 253px; padding-top: 20px;}
#language-bar input[type=text]{border: 1px solid #999999; width: 110px; height: 30px; border-radius: 3px;}
#language-bar select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(/images/icon/dropdown-button.png) no-repeat;
	width: 110px;
	background-position: 85px 3px;
	border: 1px solid #999999;
	background-color: #FFF;
	border-radius: 3px;
	padding: 5px;
	margin-right: 10px;
}
#translation-y{padding-top: 30px;}
#translation-y p{color: #999999;}
#translation-y input[type=radio]{-webkit-appearance:none; border: 1px solid #999999; background-color: #FFF; width: 16px; height: 16px; border-radius: 8px; background: none;margin-right: 15px; float: left; margin-bottom: 30px; margin-left: 55px;}
#translation-y input[type=radio]:checked{background: url(/images/icon/radio-button.png) no-repeat; background-position: 3.5px 3.5px;}

#translation-n p{color: #999999;}
#translation-n input[type=radio]{-webkit-appearance:none; border: 1px solid #999999; background-color: #FFF; width: 16px; height: 16px; border-radius: 8px; background: none;margin-right: 15px; float: left; margin-bottom: 30px; margin-left: 55px;}
#translation-n input[type=radio]:checked{background: url(/images/icon/radio-button.png) no-repeat; background-position: 3.5px 3.5px;}