/*list-pricing.html*/
#section-add-price {height:350px;}
#group-size-section{float: right;width: 450px; padding-top: 30px;}
#group-size-section p{float: left; color: #999999; }
#group-size-section select{
	-webkit-appearance:none; -moz-appearance: none; background: url(/images/dropdown-button.png) no-repeat; float:left; width: 100px; background-position: 75px 3px; border: 1px solid #999999; background-color: #FFF; border-radius: 3px; padding: 5px 0 5px 15px; margin-top:5px;}
#group-size-heading{margin-bottom: 0px;}
#group-size-min{padding-top: 18px; padding-left: 12px; padding-right: 20px;}
#group-size-max{padding-top: 18px; padding-left: 12px; padding-right: 20px;}
#price-section{float: right; width: 450px; padding-top: 20px;}
#price-section input[type=number]{float: left; width: 100px; height:35px; border: 1px solid #AAAAAA; border-radius: 3px; background-color: #FFF; margin-top: 10px; padding-left: 25px; color: #999999; position: relative; top: -17px; z-index: 0;}
#customers-pay{color: #999999;}
#commission{color: #999999;}
.commission-price,.commission-price-2{color: #999999; padding-top: 3px; padding-left: 15px; position: relative; top: -18px; z-index: 0;}
#price-per-person{color: #999999;}
.float-left{float: left;}
.math-symbol, .math-symbol-2, .math-symbol-3{color: #999999; padding-top: 30px; padding-left: 20px; padding-right: 20px;}
.math-symbol-2{padding-left: 15px; padding-right: 15px; padding-top: 6px;}
.math-symbol-3{padding-top: 5px;}
#duration-section{float: right; color: #999999; padding-right: 280px; padding-top: 30px; clear: both; width: 450px;}
#duration-section select{
	-webkit-appearance:none; -moz-appearance: none; background: url(/images/dropdown-button.png) no-repeat; float:left; width: 110px; background-position: 85px 3px; border: 1px solid #999999; background-color: #FFF; border-radius: 3px; padding: 5px 0 5px 15px;}
#duration-hours{padding-left: 20px; padding-top: 8px;}
/*dollar sign fix (textbox)*/
#dollar-sign{position: relative; left: -90px; z-index: 1; color: #999999; top: 1px;}
/*dynamic pricing*/
#add_dynamic_price{float: right; margin-right: 40px; background-color: #6CC; color: #FFF; border-radius: 3px; border: 0px; padding: 5px 10px 5px 10px; margin-top: 30px;}
#cancel_dynamic_price{float: right; margin-right: 40px; background-color: #6CC; color: #FFF; border-radius: 3px; border: 0px; padding: 5px 10px 5px 10px; margin-top: 30px;}
#dynamic_price_heading, #dynamic_price_heading_2{width: auto; float: left; padding-left: 15px; padding-right: 15px; padding-top: 90px; color: #666666;}
#dynamic_price_div input[type=number]{width: 100px; border-radius: 3px; border: 1px solid #AAAAAA; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; margin-bottom: 10px; color: #999999;}
#no-of-pp{float: left; padding-left: 45px; padding-right: 40px; padding-top: 7px; color: #666666;}
#dollar-sign-2, #dollar-sign-3, #dollar-sign-4{position: relative; left: 17px; top: 6px; color: #999999;}
#dollar-sign-3{left: 15px; top: 6px;}
#dollar-sign-4{left: 0px; top: 5px;}
#dynamic_price_heading_2{padding-top: 30px;}
#dynamic_price_heading{padding-top: 90px;}
#dynamic_price_div_1, #dynamic_price_div_2,#dynamic_price_div_3,#dynamic_price_div_4,#dynamic_price_div_5,#dynamic_price_div_6,#dynamic_price_div_7,#dynamic_price_div_8{padding-left: 163px;}
#dynamic_price_div_9{padding-left:155px; }


/** changes on add experience -pricing page **/
.preview_listing{float: right; }
.eye-icon{background-image: url(/images/icons.png);width: 27px;height: 27px;background-size: 135px 135px;background-position: -81px -54px;position: relative;left:-150px;margin-bottom:-10px;margin-right: 30px;float: right;}