/*list-location.html*/
#location{float: left;}
#location-details{ color: #999999; padding-left: 30px; }
#meet-up-instruction{float: right; color: #999999; padding-right: 40px; padding-top: 30px;}
#meet-up-instruction textarea{width: 350px; height: 80px; border-radius: 3px; border: 1px solid #999999;}
.drop-off-instruction{float: right; color: #999999; padding-right: 40px; padding-top: 20px; clear: both;}
.drop-off-instruction textarea{width: 350px; height: 80px;}
#location-city{float: right; color: #999999; padding-right: 210px; padding-top: 30px; clear: both;}
#location-city select{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(/images/icon/dropdown-button.png) no-repeat;
	width: 110px;
	background-position: 85px 3px;
	border: 1px solid #999999;
	background-color: #FFF;
	border-radius: 3px;
	padding: 5px;
}