/*list_details.html*/
/*----- Tabs -----*/
#section-details{height: 580px;}
.activity-instruction{float: right; color: #999999; padding-right: 40px; padding-top: 30px;}
.activity-instruction textarea{width: 350px; height: 140px;}
#section-included{height: 300px;}
#included-check{color: #999999; float: right; padding-left: 30px; width: 440px;}
#included-check p{float: left; padding-top: 22px;}
#included-check textarea{width: 200px; height: 60px; margin-bottom: 20px; margin-right: 30px; float: right;}
#included-check input[type=radio]{-webkit-appearance:none; border: 1px solid #999999; background-color: #FFF; width: 16px; height: 16px; border-radius: 8px; background: none;margin-right: 32px; float: right;}
#included-check input[type=radio]:checked{background: url(/images/radio-button.png) no-repeat; background-position: 3.5px 3.5px;}
#yes-no-detail{padding-top: 30px; padding-right: 30px;}
#yes-no-check{float:left; color: #999999;padding-left: 30px;}
#yes-no-check p{float: left;}
.drop-off-instruction{float: right; color: #999999; padding-right: 40px; padding-top: 20px; clear: both;}
.drop-off-instruction textarea{width: 350px; height: 80px;}