/*experience search results page*/
.basicSearch {border-bottom: 1px #CCC solid;color: #666;}
.basicSearch .fixCenter {padding: 15px 0px;height: 100px;}
.iconHeader {float: left;width: 60px;text-align: center;padding-top: 10px;}
#date {background-position: -27px 0px;width: 27px;}
#people {background-position: -81px 0px;}
#language {background-position: -81px -27px;}
#interests {background-position: 0px -27px;}
.iconImage {background-image: url(/images/icons.png);width: 27px;height: 27px;background-size: 210px 320px;margin-left: auto;margin-right: auto;}
.iconText {margin-top: 5px;}
.formBoxes {float: right;}
.dates .formBoxes {width: 220px;float: left;margin-left: 20px;}
.people .formBoxes {width: 140px;}
.language .formBoxes {width: 140px;padding-top: 5px;}
.interests .formBoxes {width: 640px;float: left;margin-left: 20px;}
.locationSelection {color: #666;width: 210px;height: 30px;padding-left: 10px;-webkit-appearance: none;-moz-appearance: none;background: url(/images/dropdown-button.png) no-repeat;background-position: 181px 2px;background-color: #FFF;border-radius: 5px;float: left;border: solid 1px #ccc;margin-bottom: 10px;}
.startDate {float: left;width: 100px;margin-right: 10px;}
.endDate {float: left;width: 100px;}
.verticalBar {width: 10px;height: 70px;border-left: 1px solid #ccc;float: left;margin-left: 10px;}
.people {float: left;width: 220px;}
.guestNumber {-webkit-appearance: none;-moz-appearance: none;text-align: -moz-left;background: url(/images/dropdown-button.png) no-repeat;background-position: 72px 3px;width: 100px;padding-left: 10px;background-color: #fff;height: 30px;border-color: #ccc;margin-top: 10px;}
.language {float: left;width: 220px;}
#language_English_label, #language_Mandarin_label {font-weight: normal;}
#itinerary-search-button{float:right;margin-right:50px;}
.tag-box-selected {border: 1px solid #ccc;background-color: white;}
.tag-box {float: left;padding-left: 10px;padding-top: 3px;border-radius: 5px;margin-right: 5px;margin-bottom: 5px;font-weight: normal;font-size: 12px;}
.advanceSearch {border-bottom: 1px #CCC solid;}
.advanceSearch .fixCenter {padding: 15px 0px;height: 130px;}
#only_tags {float: left;width: 220px;}
.searchresult{background-color:#f7f7f7;padding-bottom: 50px;}
.searchbar{background-color:#f7f7f7; border-top:#CCC 1px solid; padding:10px 0px 30px 0px;  background-size:cover;background-position: center;}
#more-filters-div{margin-top: 10px;width:100%;height:50px;}
.expCount {float: right;font-weight: normal;margin-right: 20px;}
.expList{float:left; width:300px; margin:20px 20px 20px 0px;}
.expList p{font-size:12px;}
.expList h3{color: #333;font-size: 15px;}
.expList a:hover{text-decoration: none;border-bottom: 1px solid #333;}
#experience-count{position: absolute;right: 0}
.listingFooter{border-top: #CCC solid 1px; font-size:12px; padding-top:5px; color:#666;}
.searchresult{background-color:#f7f7f7;padding-bottom: 50px;}
.searchbar{background-color:#f7f7f7; border-top:#CCC 1px solid; padding:10px 0px 30px 0px;  background-size:cover;background-position: center;}
.destination{width: 250px;margin: auto;}
.tag-button {border:0px; background-color:transparent; margin:0 5px;  background-size: 10px;height: 10px;background-repeat: no-repeat;} 
#only_tags input[type=checkbox].css-checkbox + label.css-label {margin-bottom: 20px}
@media all and (max-width: 767px) {
    .expList{float:left; width:100%; margin:20px 20px 20px 0px;}
    .priceBox {left:0}
}