@charset "UTF-8";
/* CSS Document */

.navBox {border-bottom:1px #CCC solid;}
.basicSearch {border-bottom:1px #CCC solid; color:#666;}
.basicSearch .fixCenter{padding: 15px 0px; height:100px;}
.advanceSearch {border-bottom:1px #CCC solid;}
.advanceSearch .fixCenter{padding: 15px 0px; height:130px;}

<!--basic search-->
.dates {float:left;width:300px;}
.people {float:left;width:220px}
.language {float:left;width:220px}
#only_tags {float:left;width:190px}
.iconHeader {float:left;width:60px;text-align: center;padding-top:10px;}
.formBoxes {float:right}
.dates .formBoxes{width:220px;float:left;margin-left:20px;}
.people .formBoxes{width:140px;}
.language .formBoxes{width:140px; padding-top:10px;}

.iconImage{background-image: url(/images/icon/icons.png);width: 27px;height: 27px;background-size: 210px 320px;margin-left:auto;margin-right:auto;}
#date{background-position: -27px 0px; width:27px;}
#people{background-position: -81px 0px;}
#language{background-position: -81px -27px;}
.iconText{margin-top:5px;}

.locationSelection {
    color: #666;
    width: 210px;
    height: 30px;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(/images/icon/dropdown-button.png) no-repeat;
    background-position: 181px 2px;
    background-color: #FFF;
    border-radius: 5px;
    float: left;
    border: solid 1px #ccc;  margin-bottom: 10px;}
.startDate{float:left;width:100px;margin-right:10px;}
.endDate{float:left;width:100px;}

.guestNumber {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: -moz-left;
    background: url(/images/icon/dropdown-button.png) no-repeat;
    background-position: 72px 3px;
    width: 100px;
    padding-left: 10px;
    background-color: #fff;
    height: 30px;
    border-color: #ccc;
    margin-top: 10px;
}
#language_English_label, #language_Mandarin_label{font-weight: normal;}
.only-tag-label{font-weight: normal;}

.searchButton {margin-left: 15px;    margin-top: 15px;    float: left;}
.verticalBar{width: 10px;  height: 70px;  border-left: 1px solid #ccc;  float: left;  margin-left: 10px;}

<!--advance search-->
.interests {float:left;width:720px;}
#interests {background-position:0px -27px;}
.interests .formBoxes {width:640px;float:left;margin-left:20px;}

.tag-box {float: left; padding-left: 10px; padding-top: 3px; border-radius: 5px; margin-right: 5px; margin-bottom:5px; font-weight: normal; font-size:12px;}
.tag-box .tag-selected{font-weight: normal;   text-transform: lowercase; }
.tag-box .tag-non-selected{font-weight: normal;   text-transform: lowercase; }
.tag-box-selected{border: 1px solid #ccc;background-color: white;}
.tag-box-unselected{}

<!--other stuff-->
.bootstrap-datetimepicker-widget{  left: 320px;}
.expCount{  float: right;  font-weight: normal;  margin-right: 20px;}
.profile-sm{
    width:65px;
    height: 65px;
    margin-left: 15px
}

/** Dropdown */
.ui.dropdown {
  width: 210px;
  margin-bottom: 5px;
}

.dropdown.icon {
  background-image: none;
}

.ui.selection.dropdown {
  color: #666674;
  border-radius: 2px 2px 2px 2px;
}
.ui.dropdown .menu .item {
  font-size: 13px;
}
.ui.dropdown .menu > .item:hover {
  background: rgba(51, 203, 204, 100);
  color: #fff;
}
.ui.selection.dropdown {
  min-width: 0;
}
.ui.dropdown.smaller-box.selection {
  width: 120px;
}

.light-color {
  color: rgb(200, 200, 200);
  margin-left: 3px;
  font-weight: normal;
}

.ui.dropdown .menu > .item:hover .light-color {
  background: rgba(51, 203, 204, 100);
  color: #fff;
}

.header {
  height: auto;
  font-style: normal;
  color: rgb(200, 200, 200);
}
.ui.dropdown .menu > .header {
  text-transform: none;
  font-weight: normal;
  font-size: 13px;
  color: rgb(200, 200, 200);
}

.custom-itinerary-searchpage {
  background-image:url('../img/searchpage_banner.jpg');
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 373px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 3px;
}

.request-btn {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 45px;
}

@media only screen and (max-width: 767px) {
  .ui.selection.dropdown .menu {
    max-height: none;
  }
}
@media only screen and (min-width: 768px) {
  .ui.selection.dropdown .menu {
    max-height: none;
  }
}
@media only screen and (min-width: 992px) {
  .ui.selection.dropdown .menu {
    max-height: none;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.selection.dropdown .menu {
    max-height: none;
  }
}

@media (max-width: 767px) {
    .expBox {
        width: 90%;
    }
    .searchresult {
        padding: 0
    }
    .expList .listingImg{
        width: 120%;
        margin: 0 -10%;
    }
    .custom-itinerary {
      display: none;
    }
/*
    .expList p{
        padding-left: 20px;
    }
    .expList .profile-sm{
        padding-right: 20px;
    }
*/
}
